{% macro badge(text, variant='success', extra_class=None, bg_class=None, style=None, icon_override=None, hide_icon=false, testid=None, id=None) %}
    {# Debug: print macro parameters #}
    {% set icon = icon_override if icon_override is not none else (
        'fa-circle-question' if variant == 'default' else 'fa-check'
    ) %}
    {% set default_bg_class = 'bg-gray-200' if variant == 'default' else 'bg-green-100 text-green-800' %}
    {% set final_bg_class = bg_class if bg_class is not none else default_bg_class %}

    <span class="inline-flex gap-2 items-center px-4 py-2 rounded-full text-xs font-medium {{ final_bg_class }}{% if extra_class %} {{ extra_class }}{% endif %}"{% if style %} style="{{ style }}"{% endif %}{% if testid %} data-testid="{{ testid }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>
        {% if not hide_icon %}
            <i aria-hidden="true" class="fa-solid fa-lg {{ icon }}"></i>
        {% endif %}
        {{ text }}
    </span>    
{% endmacro %}
