{% from "components/form.html" import form_wrapper %}

{% macro banner(body, type=None, with_tick=False, delete_button=None, subhead=None, context=None, action=None) %}
  <div
    class='banner{% if type %}-{{ type }}{% endif %}{% if with_tick %}-with-tick{% else %} banner{% endif %}'
    {% if type == "dangerous" %}
      role="alert"
      aria-live="assertive"
    {% else %}
      role="status"
      aria-live="polite"
    {% endif %}
  >
    {% set ariadescribedby = 'banner-body' %}
    {% if subhead -%}
      <h1 class="banner-title"  id="banner-subhead">{{ subhead }}</h1>
      {% set ariadescribedby = [ariadescribedby, 'banner-subhead'] | join(' ') %}
    {%- endif -%}
    <span id="banner-body">
    {{ body }}
    </span>
    {% if context %}
    <p id="banner-context">
      {{ context }}
      {% set ariadescribedby = [ariadescribedby, 'banner-context'] | join(' ') %}
    </p>
    {% endif %}
    {% if delete_button %}
      {% call form_wrapper(action=action) %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="button button-red mt-4" name="delete" aria-describedby="{{ ariadescribedby }}">{{ delete_button }}</button>
      {% endcall %}
    {% endif %}
  </div>
{% endmacro %}

{% macro banner_wrapper(type=None, with_tick=False, delete_button=None, subhead=None, action=None) %}
  {{ banner(caller()|safe, type=type, with_tick=with_tick, delete_button=delete_button, subhead=subhead, action=action) }}
{% endmacro %}
