{% macro big_number(number, label, link=None, status=None, currency='', smaller=False, smallest=False) %}
  {% if link %}
    <a class="big-number-link" href="{{ link }}">
  {% endif %}
  <div class="big-number{% if status %} big-number-dark{% endif %}{% if status and link %} bg-transparent{% endif %}">
    <div class="big-number-number{% if smaller %} text-lg{% endif %}{% if smallest %} text-title{% endif %}">
      {% if number is number %}
        {% if currency %}
          {{ "{}{:,.2f}".format(currency, number) }}
        {% else %}
          {{ "{:,}".format(number) }}
        {% endif %}
      {% else %}
        {{ number }}
      {% endif %}
    </div>
    {% if label %}
      <span class="big-number-label{% if status %} pb-0gtb link:text-blue visited:text-blue{% endif %}{% if link %} underline{% endif %}">{{ label }}</span>
    {% endif %}
  </div>
  {% if link %}
    </a>
  {% endif %}
{% endmacro %}


{% macro big_number_with_status(
  number,
  label,
  failures,
  failure_percentage,
  danger_zone=False,
  failure_link=None,
  link=None,
  show_failures=True,
  smaller=False,
  smallest=False
) %}
  <div class="big-number-with-status">
    {{ big_number(number, label, link=link, status=True, smaller=smaller, smallest=smallest) }}
    {% if show_failures %}
      {% if not config["FF_BOUNCE_RATE_V1"] %}
        <div class="big-number-status{% if danger_zone %} bg-red{% endif %}{% if not failures %} p-6{% endif %}">
          {% if failures %}
            {% if failure_link %}
              <a class="p-6 big-number-status-link flex justify-between items-end border-0" href="{{ failure_link }}">
                {{ "{:,}".format(failures) }}
                {{ _('failed') }} – {{ failure_percentage }}%
                <i aria-hidden="true" class="p-1 fa-solid fa-circle-question"></i>
              </a>
            {% else %}
              {{ "{:,}".format(failures) }}
              {{ _('failed') }} – {{ failure_percentage }}%
            {% endif %}
          {% else %}
            {{ _('No failures') }}
          {% endif %}
        </div>
      {% else %}
        {% if failure_link %}
          <a class="big-number-link border-0 focus:border-b-0 " href="{{ failure_link }}">
        {% endif %}
        <div class="pb-4 big-number-status{% if danger_zone %} bg-red{% endif %}{% if not failures %} p-6{% endif %}">
          {% if failures %}
            {% if failure_link %}
              <div class="p-6 flex justify-between items-end border-0 no-underline" href="{{ failure_link }}">
                {{ failure_percentage }}%  {{_('failed') }}
                <i aria-hidden="true" class="p-1 fa-solid {% if danger_zone %}fa-triangle-exclamation{% else %}{% endif %}"></i>
              </div>
              <div class="px-6 flex justify-between items-end border-0">
                <span class="underline font-bold">{{_('Review reports') }}</span>
                <i aria-hidden="true" class="p-1 fa-solid fa-fas fa-arrow-right"></i>
              </div>
            {% else %}
              {{ "{:,}".format(failures) }}
              {{ _('failed') }} – {{ failure_percentage }}%
            {% endif %}
          {% else %}
            {{ _('No failures') }}
          {% endif %}
        </div>
        {% if failure_link %}
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% macro big_number_review_emails_with_status(
  number,
  label,
  problem_percentage,
  bounce_status="normal",
  failure_link=None,
  failure_link_label=_("Review email addresses"),
  link=None,
  pass_label=_("No problem addresses"),
  show_failures=True,
  smaller=False,
  smallest=False
) %}
  <div class="big-number-with-status">
    {{ big_number(number, label, link=link, status=True, smaller=smaller, smallest=smallest) }}

    {% if failure_link %}
      <a class="big-number-link border-0 focus:border-b-0" href="{{ failure_link }}">
    {% endif %}
    <div class="pb-4 {% if bounce_status == "critical" %}review-email-status-critical{% elif bounce_status == "warning"%}review-email-status-critical{% else%}review-email-status-normal{% endif %} {% if problem_percentage == 0 %} p-6 {% endif %}">
      {% if number >= 1 %}
          {% if failure_link %}
            <div class="p-6 review-email-label flex justify-between items-end border-0">
              <span>{{ problem_percentage }}% {{ _('problem addresses') }}</span>
              <i aria-hidden="true" class="p-1 {% if bounce_status == "warning" %}fa-solid fa-fas fa-circle-exclamation{% elif bounce_status== "critical" %}fa-solid fa-fas fa-triangle-exclamation{% endif %}"></i>
            </div>
            <div class="px-6 review-email-link flex justify-between items-end border-0">
              <span class="underline font-bold">{{ failure_link_label }}</span> 
              <i aria-hidden="true" class="p-1 fa-solid fa-fas fa-arrow-right"></i>
            </div>
          {% else %}
            {{ _('failed') }} – {{ failure_percentage }}%
          {% endif %}
        {% else %}
          {{ pass_label }}
      {% endif %}
    </div>
    {% if failure_link %}
      </a>
    {% endif %}
  </div>
{% endmacro %}


{% macro big_number_simple(number, label) %}
  <div class="big-number-dark mb-12 clear-both contain-floats">
    <div class="big-number-number text-lg">
      {% if number is number %}
        {{ "{:,}".format(number) }}
      {% else %}
        {{ number }}
      {% endif %}
    </div>
    {% if label %}
      <span class="big-number-label">{{ label }}</span>
    {% endif %}
  </div>
{% endmacro %}
