{% macro big_number(number, label, link=None, status=None, currency='', smaller=False, smallest=False, theme="dark") %}
  {% if link %}
    <a class="big-number-link" href="{{ link }}">
  {% endif %}
  <div class="big-number{% if status %} big-number-{{theme}}{% endif %}">
    <div class="big-number-number{% if smaller %} text-lg{% endif %}{% if smallest %} text-title{% endif %}">
      {% if number is number %}
        {% if currency %}
          {{ "{}{:,.2f}".format(currency, number) }}
        {% else %}
          {{ "{:,}".format(number) if session['userlang'] == 'en' else "{:,}".format(number).replace(',', ' ') }}
        {% endif %}
      {% else %}
        {{ number }}
      {% endif %}
    </div>
    {% if label %}
      <span class="big-number-label{% if status %} pb-0gtb link:text-blue visited:text-blue{% endif %}{% if link %} underline{% endif %}">{{ label }}</span>
    {% endif %}
  </div>
  {% if link %}
    </a>
  {% endif %}
{% endmacro %}


{% macro big_number_with_status(
  number,
  label,
  failures,
  failure_percentage,
  danger_zone=False,
  failure_link=None,
  link=None,
  show_failures=True,
  smaller=False,
  smallest=False
) %}
  <div class="big-number-with-status">
    {{ big_number(number, label, link=link, status=True, smaller=smaller, smallest=smallest) }}
    {% if show_failures %}
      {% if failure_link %}
        <a class="big-number-link" href="{{ failure_link }}">
      {% endif %}
      <div class="pb-4 big-number-status{% if danger_zone %} bg-red{% endif %}{% if not failures %} p-6{% endif %}">
        {% if failures %}
          {% if failure_link %}
            <div class="p-6 flex justify-between items-end no-underline">
              {{ failure_percentage + "%" if session["userlang"] == 'en' else failure_percentage|replace('.', ',')|string + " %"}} {{_('failed') }}
            </div>
            <div class="px-6 flex justify-between items-end ">
              <span class="underline">{{_('Review reports') }}</span>
              <i aria-hidden="true" class="p-1 fa-solid fa-arrow-right"></i>
            </div>
          {% else %}
            {{ "{:,}".format(failures) }}
            {{ _('failed') }} – {{ failure_percentage }}%
          {% endif %}
        {% else %}
          <span class="sr-only">{{ label }}:</span> {{ _('No failures') }}
        {% endif %}
      </div>
      {% if failure_link %}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% macro big_number_review_emails_with_status(
  number,
  label,
  problem_percentage,
  bounce_status="normal",
  below_volume_threshold=False,
  failure_link=None,
  failure_link_label=_("Review email addresses"),
  link=None,
  pass_label=_("No problem addresses"),
  smaller=False,
  smallest=False,
  theme="dark"
) %}
  {% set detailed_label = pass_label %}
  {% if number >= 1 %}
    {% if problem_percentage < 0.1 %}
      {% set detailed_label = _('Less than {}').format( "0.1% " if session['userlang'] == 'en' else "0,1&nbsp;% "|safe) ~ _('problem addresses') %}
    {% else %}
      {% set detailed_label = problem_percentage|round(1)|string ~ ("% " if session["userlang"] == 'en' else problem_percentage|round(1)|replace('.', ',')|string ~ " % ") ~ _('problem addresses') %}
    {% endif %}
  {% endif %}
  <section role="region" aria-label="{{ detailed_label }}" class="big-number-with-status">
    {{ big_number(number, label, link=link, status=True, smaller=smaller, smallest=smallest, theme=theme) }}

    <div class="block {% if below_volume_threshold %}neutral{% elif bounce_status == "critical" or bounce_status == "warning" %}critical{% else %}normal{% endif %}">
      {% if failure_link %}
        <a class="big-number-link" href="{{ failure_link }}">
      {% endif %}
      <div class="p-6 flex flex-col gap-4 no-underline text-current">
        <span class="review-email-label">{{ detailed_label }}</span>
        {% if failure_link %}
          <span class="w-full no-underline border-b-1 border-current flex gap-4 justify-between items-end">{{ failure_link_label }}<i aria-hidden="true" class="p-1 fa-solidfa-arrow-right"></i></span>
        {% endif %}
      </div>
      {% if failure_link %}
        </a>
      {% endif %}
    </div>
  </section>
{% endmacro %}


{% macro big_number_simple(number, label, theme="dark") %}
  <div class="big-number-{{ theme }} mb-8 clear-both contain-floats">
    <div class="big-number-number text-lg">
      {% if number is number %}
        {{ "{:,}".format(number) }}
      {% else %}
        {{ number }}
      {% endif %}
    </div>
    {% if label %}
      <span class="big-number-label">{{ label }}</span>
    {% endif %}
  </div>
{% endmacro %}
