{% macro browse_list(items, label) %}
  {% if items %}
    <nav class="browse-list" aria-label="{{ label }}">
      <ul>
        {% for item in items %}
          {% if item.title and item.link %}
            <li class="browse-list-item">
              <a href="{{ item.link }}" class="browse-list-link{% if item.destructive %}-destructive{% endif %}">{{ item.title }}</a>
              {% if item.hint %}
                <div class="browse-list-hint">
                  {{ _(item.hint) }}
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
