{% macro nav_button(
  href,
  label,
  aria_label=None,
  lang=None,
  class=None,
  link_img=None,
  link_img_class=None
) %}
    <a
        class="inline-flex items-center self-center py-1 px-4 line-under text-small border-b-2 border-transparent focus:outline-none focus:bg-yellow focus:border-blue hover:underline min-h-target {% if class %} {{ class }} {% endif %}"
        href="{{ href }}"
        {% if lang %} lang="{{ lang }}" {% endif %}>
        {% if aria_label and aria_label != label %} 
            <span class="sr-only">{{ aria_label }}</span>
            <span role="presentation" aria-hidden="true">{{ label }}</span>
        {% else %}
            {{ label }}
        {% endif %}
        {% if link_img %}
            <img
                aria-hidden="true"
                alt=""
                class="inline w-6 h-6 ml-2 self-center {% if link_img %} {{ link_img_class }} {% endif %}"
                src="{{ link_img }}"/>
        {% endif %}
    </a>
{% endmacro %}


{% macro primary_button_blue_lighter(label="TODO: LABEL THIS BUTTON", href="/", class=None) %}
<a
    href="{{ href }}"
    class="button button-blue-lighter mr-10 {% if class %} {{ class }} {% endif %}">
    {{ label }}
</a>
{% endmacro %}

{% macro secondary_button_transparent_white(label="TODO: LABEL THIS BUTTON", href="/", class=None) %}
<a
    href="{{ href }}"
    class="p-4 line-under text-base text-default underline text-white border-b-2 border-transparent link:text-white visited:text-white hover:no-underline focus:text-blue focus:outline-none focus:border-b-2 focus:border-white focus:no-underline {% if class %} {{ class }} {% endif %}"
    aria-label="{{ label }}"
    >
    {{ label }}
</a>
{% endmacro %}
