{% from "components/select-input.html" import select_nested, select %}

{% macro checkbox(
  field,
  hint=False,
  width='w-full md:w-2/3'
) %}
  <div class="multiple-choice">
    {{ checkbox_input(field.id, field.name, field.data, field=field) }}
    <label for="{{ field.id }}">
      {{ field.label.text }}
      {% if hint %}
        <div class="hint">
          {{ hint }}
        </div>
      {% endif %}
    </label>
  </div>
{% endmacro %}


{% macro checkboxes_nested(field, child_map, hint=None, disable=[], option_hints={}, hide_legend=True, collapsible_opts={}, legend_style="text") %}
  {{ select_nested(field, child_map, hint, disable, option_hints, hide_legend, collapsible_opts, legend_style, input="checkbox") }}
{% endmacro %}


{% macro checkboxes(field, hint=None, disable=[], option_hints={}, hide_legend=False, collapsible_opts={}, use_aria_labelledby=True) %}
  {{ select(field, hint, disable, option_hints, hide_legend, collapsible_opts, input="checkbox", use_aria_labelledby=use_aria_labelledby) }}
{% endmacro %}


{% macro checkbox_input(id, name, data=None, value="y", class="", testid=None, controls=None, field=None) %}
  <input
    id="{{ id }}" 
    name="{{ name }}" 
    type="checkbox" 
    value="{{ value }}" 
    class="{{ class }}"
    {% if data %}
      checked
    {% endif %}
    {% if testid %}
      data-testid="{{ testid }}"
    {% endif %}
    {% if controls %}
      aria-controls="{{ controls }}"
    {% endif %}
    {% if field.errors %}autofocus{% endif %}
  >
{% endmacro %}

{% macro unlabelled_checkbox(id, name, data=None, value="y", label="", field=None) %}
  <div class="multiple-choice">
  {{ checkbox_input(id, name, data, value, field=field) }}
    <label for="{{id}}">
      <span class="sr-only">{{label}}</span>
    </label>
  </div>
{% endmacro %}
