{% macro empty_list(heading, message, img="emptyFlower", link=None, linkText="") %}
  <div class="flex items-center border-dashed border-1 border-gray-400 p-6 sm:bg-{{img}} sm:bg-right bg-no-repeat bg-contain" style="background-origin: content-box;">
    <div class="w-full sm:w-3/4" tabindex="0">
      <div class="text-title text-gray-700 mb-3">{{ heading }}</div>
      <p class="mb-0 text-base text-gray-800">{{ message }}</p>
      {% if link %}
        <a class="inline-block mt-4 text-base font-bold" href="{{ link }}">{{ linkText }}</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
