{% set upload_txt = _('Choose file') %}
{% macro file_upload(
  field,
  action=None,
  button_text=upload_txt,
  alternate_link=None,
  alternate_link_text=None,
  hint=None

) %}
  <form method="post" enctype="multipart/form-data" {% if action %}action="{{ action }}"{% endif %} class="{% if field.errors %}form-group-error contain-floats{% endif %}" data-module="file-upload">
    <label class="file-upload-label" for="{{ field.name }}">
      <span class="visually-hidden">{{ field.label.text }}</span>
      {% if hint %}
        <span class="form-hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if field.errors %}
        <span class="error-message">
          {{ field.errors[0] }}
        </span>
      {% endif %}
    </label>
    <label id="file-upload-button" class="button" for="{{ field.name }}">
      {{ button_text }}
    </label>
    {{ field(**{
      'class': 'file-upload-field visually-hidden'
    }) }}
    {% if alternate_link and alternate_link_text %}
      <span class="file-upload-alternate-link">
        {{ _('or') }} <a href="{{ alternate_link }}">{{ alternate_link_text }}</a>
      </span>
    {% endif %}
    <label class="file-upload-filename" for="{{ field.name }}"></label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
{% endmacro %}
