{% macro content_link(
    label="TODO: LABEL THIS LINK",
    href="/",
    class="",
    id_key=None,
    is_external_link=False
) %}
<a
    {% if id_key %}id="{{ id_key }}"{% endif %}
    class="{{ class }}"
    href="{{ href }}"
    {% if is_external_link %}target="_blank"{% endif %}
    >{{ label }}{% if is_external_link %}<i aria-hidden="true" class="pl-2 fa-solid fa-arrow-up-right-from-square"></i>{% endif %}</a>
{% endmacro %}

{% macro nav_link_dark(
    label="TODO: LABEL THIS LINK",
    href="/",
    class=None,
    id_key=None,
    is_external_link=False
) %}
<a
    {% if id_key %}id="{{ id_key }}"{% endif %}
    href="{{ href }}"
    class="nav-link nav-link-dark {% if class %} {{ class }} {% endif %}"
    {% if is_external_link %}target="_blank"{% endif %}
    >
    {{ label }}
    {% if is_external_link %}<i aria-hidden="true" class="pl-2 fa-solid fa-arrow-up-right-from-square"></i>{% endif %}

</a>
{% endmacro %}

{% macro nav_link_light(
    label="TODO: LABEL THIS LINK",
    href="/",
    class=None,
    id_key=None,
    is_external_link=False
) %}
<a
    {% if id_key %}id="{{ id_key }}"{% endif %}
    href="{{ href }}"
    class="nav-link nav-link-light {% if class %} {{ class }} {% endif %}"
    {% if is_external_link %}target="_blank"{% endif %}
    >
    {{ label }}
    {% if is_external_link %}<i aria-hidden="true" class="pl-2 fa-solid fa-arrow-up-right-from-square"></i>{% endif %}
    
</a>
{% endmacro %}
