{# suffix_plural was added for fr strings https://github.com/cds-snc/notification-admin/pull/480 #}
{% macro message_count_label(count, template_type, suffix='sent1', suffix_plural='sent') -%}
  {% if template_type == None %}
    {%- if count == 1 -%}
      {{ _('message') }}
    {%- else -%}
    {{ _('messages') }}
    {%- endif -%}
  {% endif %}
  {%- if template_type == 'sms' -%}
    {%- if count == 0 -%}
      {%- if session["userlang"] == "fr" -%}
        {{ _('text message') }}
      {%- else -%}
        {{ _('text-messages') }}
      {%- endif -%}
    {%- elif count == 1  -%}
      {{ _('text message') }}
    {%- else -%}
      {{ _('text-messages') }}
    {%- endif -%}
  {%- elif template_type == 'email' -%}
    {%- if count == 0 -%}
      {%- if session["userlang"] == "fr" -%}
        {{ _('email') }}
      {%- else -%}
        {{ _('emails') }}
      {%- endif -%}
    {%- elif count == 1  -%}
      {{ _('email') }}
    {%- else -%}
    {{ _('emails') }}
    {%- endif -%}
  {%- elif template_type == 'letter' -%}
    {%- if count == 1 -%}
    {{ _('letter') }}
    {%- else -%}
    {{ _('letters') }}
    {%- endif -%}
  {%- endif %} 
  
  {%- if (count == 0 or count == 1) -%}
  {{" "}} {{ suffix }}
  {%- else -%}
    {%- if template_type == 'sms' -%}
        {{" "}} {{ suffix }}
    {%- else -%}
        {{" "}} {{ suffix_plural }}
    {%- endif -%}
  {%- endif %} 

{%- endmacro %}

{% macro recipient_count_label(count, template_type) -%}
  {% if template_type == None %}
    {%- if count == 1 -%}
      {{ _('recipient') }}
    {%- else -%}
    {{ _('recipients') }}
    {%- endif -%}
  {% endif %}
  {%- if template_type == 'sms' -%}
    {%- if count == 1 -%}
      {{ _('phone number') }}
    {%- else -%}
      {{ _('phone numbers') }}
    {%- endif -%}
  {%- elif template_type == 'email' -%}
    {%- if count == 1 -%}
      {{ _('email address') }}
    {%- else -%}
      {{ _('email addresses') }}
    {%- endif -%}
  {%- elif template_type == 'letter' -%}
    {%- if count == 1 -%}
      {{ _('address') }}
    {%- else -%}
      {{ _('addresses') }}
    {%- endif -%}
  {%- endif %}
{%- endmacro %}

{% macro template_label(template_type) -%}
  {%- if session["userlang"] == "fr" -%}
    {{ _("Template") }}{{" "}}
  {%- endif %}
  {%- if template_type == 'sms' -%}
    {{ _('text message') }}
  {%- elif template_type == 'email' -%}
      {{ _('email') }}
  {%- elif template_type == 'letter' -%}
    {{ _('letter') }}
  {%- endif %}
  {%- if session["userlang"] == "en" -%}
    {{" "}}{{ _("Template") }}
  {%- endif %}
{%- endmacro %}
