{% macro nav_menu_item(url=None, localised_txt=None, css_classes=None, id_key=None, external_link_img=None) %}
  {% if url and localised_txt %}
    <div class="pr-10 flex-shrink-0">
      <div
        class="flex flex-shrink-0 bg-gray">
        <a
          {% if id_key %}id="{{ id_key }}"{% endif %}
          href="{{ url }}"
          class="text-smaller text-blue bg-gray py-5 font-bold no-underline self-center hover:underline line-under border-b-4 border-transparent visited:text-blue link:text-blue focus:border-b-4 focus:bg-yellow focus:border-blue focus:outline-none {{ css_classes }}"
          {% if external_link_img %}
          target="_blank"
          aria-label="{{ localised_txt }} ({{ _('Opens in a new tab') }})"
          {% else %}
          aria-label="{{ localised_txt }}"
          {% endif %}
        >{{ localised_txt }}
          {% if external_link_img %}
            <img
              aria-hidden="true"
              src="{{ external_link_img }}"
              alt="{{ _('External link') }}"
              class="inline w-8 h-8 ml-2 self-center"/>
          {% endif %}
        </a>
      </div>
    </div>
  {% endif %}
{% endmacro %}
