{#
  @param type - One of: 'info', 'success', 'error', 'warning'
  @param message - Text to display in notice (can include HTML)
#}
{% macro notice(type, title, headingLevel=2) %}
  {# set icon/colors based on type #}
  {% 
    set display = {
      'info': {
        'icon': 'fa-circle-info',
        'label': _('Information'),
      },
      'success': {
        'icon': 'fa-circle-check',
        'label': _('Success'),
      },
      'error': {
        'icon': 'fa-triangle-exclamation',
        'label': _('Error'),
      },
      'warning': {
        'icon': 'fa-circle-exclamation',
        'label': _('Warning'),
      }
    }
  %}
  <div class="notice notice-{{ type }} flex gap-gutterHalf items-baseline" role="alert" data-testid="notice">
    <div class="notice-icon border-l-[6px] translate-x-gutterHalf self-stretch py-gutterHalf min-w-10" data-testid="notice-icon">
      <i aria-hidden="true" class="fa-solid fa-lg -translate-x-1/2 -mx-[3px] bg-white py-2 {{ display[type]['icon'] }}"></i>
      <span class="sr-only" data-testid="notice-icon-text">{{ display[type]['label'] }}: </span>
    </div>
    <div class="notice-content text-black flex flex-col gap-gutterHalf pt-gutterHalf">
        {% if headingLevel is number and headingLevel >= 1 and headingLevel <= 3 %}
            <h{{ headingLevel }} class="text-title" >{{ title }}</h{{ headingLevel }} data-testid="notice-heading">
        {% else %}
            <div class="text-large" data-testid="notice-heading">{{ title }}</div>
        {% endif %}
        <div class="*:last:mb-0" data-testid="notice-message">{{ caller() }}</div>
    </div>
  </div>
{% endmacro %}
