{% from 'components/big-number.html' import big_number %}

{% macro pill(
  items=[],
  current_value=None,
  big_number_args={'smaller': True},
  show_count=True,
  label="",
  include_id=True
) %}
  {% set ns = namespace(current_value_not_in_items=True) %}
  {% for item in items %}
    {% set option = item[1] %}
    {% if current_value == option %}
      {% set ns.current_value_not_in_items = False %}
    {% endif %}
  {% endfor %}
  <nav class='pill flex' aria-label="{{ label }}">
    {% for item in items %}
      {% set label_text = item[0] %}
      {% set option = item[1] %}
      {% set link = item[2] %}
      {% set count = item[3] %}
      {% set icon = item[4] if item|length > 4 else None %}
      {% if current_value == option or (loop.index == 1 and ns.current_value_not_in_items) %}
        <a href="{{ link }}" class='pill-selected-item'{% if include_id %} id="pill-selected-item"{% endif %} aria-current='true'>
      {% else %}
        <a href="{{ link }}" class='pill-unselected-item'>
      {% endif %}

          {% if show_count %}
            <div class="pill-content pill-count-item" role="group" aria-label="{{ count }} {{ _(label_text) }}">
              <span class="big-number-number text-lg">{{ count }}</span>
              <span class="pill-label">{% if icon %}<i class="{{ icon }} mr-4"></i>{% endif %}{{ _(label_text) }}</span>
            </div>
          {% else %}
            <div class="pill-content pill-centered-item">
              {% if icon %}<i class="{{ icon }} mr-4"></i>{% endif %}{{ _(label_text) }}
            </div>
          {% endif %}

        </a>
    {% endfor %}
  </nav>
{% endmacro %}
