{% from 'components/big-number.html' import big_number %}

{% macro pill(
  items=[],
  current_value=None,
  big_number_args={'smaller': True},
  show_count=True
) %}
  <div role='tablist' class='pill flex'>
    {% for label, option, link, count in items %}
      {% if current_value == option %}
        <a href="{{ link }}" class='pill-selected-item{% if not show_count %} pill-centered-item{% endif %}' aria-selected='true' role='tab'>
      {% else %}
        <a href="{{ link }}" class='pill-unselected-item' aria-selected='false' role='tab'>
      {% endif %}

          <div class="pill-label{% if show_count %} pill-count-item{% else %} pill-centered-item{% endif %}">
          {% if show_count %}
              <div class="inline">{{ big_number(count, **big_number_args) }}</div>
              <div class="inline">
              {% if label == "sending" %}
                  {{ _('sending') }}
              {% elif label == "delivered" %}
                {{ _('delivered') }}
              {% elif label == "total" %}
                {{ _('total') }}
              {% elif label == "failed" %}
                {{ _('failed') }}
              {% endif %}
              </div>
          {% else %}
              {{label}}
          {% endif %}
          </div>

        </a>
    {% endfor %}
  </div>
{% endmacro %}
