<div class="preview-banner mb-8 bg-yellow leading-7">
  <div class="container px-gutterHalf flex items-center pt-6 pb-4 text-xs">
    <span class="border-2 border-solid border-black bg-black py-1 px-2 mr-8 tracking-wide font-bold text-yellow">
      {{ _('PREVIEW') }}
    </span>
    <span>
      <span>
        {{ _('This is a preview of drafted content. Information on this page is subject to change.') }}
      </span>
      <br />
      <span>
        <a class="text-xs underline bg-yellow focus:bg-white focus:border-b-0 focus:outline-black" href="{{ g.preview_url }}">{{ _('Edit this page') }}</a>.
      </span>
    </span>
  </div>
</div>
