{% macro remaining_messages(header, total, used, for, muted=false) %}
  {% set near_limit = ((used/total) >= 0.8 and used/total < 1) %}
  {% set at_limit = (used/total >= 1) %}
  {% set id_from_header = header.lower().replace(' ', '_') %}
  <section role="region" aria-label="{{ for }} {{ header }}{% if near_limit %} - {{ _('You are nearing the {} limit').format(header) }}{% endif %}" class="remaining-messages{% if muted %} muted{% endif %}">
    <h3 id="{{for}}-{{id_from_header}}-type" class="rm-header mb-2">{{ header }}</h3>
    <div class="rm-message mb-2">
      <span class="rm-used">{{ "{:,}".format(used) if session['userlang'] == 'en' else "{:,}".format(used).replace(',', ' ') }}</span>
      <span class="rm-total">{{ _('of') }} {{ "{:,}".format(total) if session['userlang'] == 'en' else "{:,}".format(total).replace(',', ' ') }}</span>
      <span class="visually-hidden">{{ header }}</span>
      {% if near_limit or at_limit %}
          <span id="{{for}}-{{id_from_header}}-near" class="visually-hidden"> - {{ _('You are nearing the {} limit').format(header) }}</span>
        {% endif %}
    </div>
    
    <div class="rm-bar">
      <div class="rm-bar-usage {{ 'text-red-300' if near_limit or at_limit else 'text-green-300' }}" style="--usage: {{ (used/total)*100 }}%;">
        
      </div>
    </div>
  </section>  
{% endmacro %}
