{% macro site_map(sitemap=None)  %}
  {% if sitemap %}
    {% for group in sitemap.groups %}
      {% if not group.must_be_logged_in or current_user.is_authenticated %}
        <ul>
          <li class="flex flex-wrap items-baseline w-full border-t-2 border-gray-300 py-gutter gap-y-gutterHalf">
            <h2 class="w-full sm:w-2/5 heading-medium m-0" data-testid="sitemap-group">{{ group.title }}</h2>
            <ul class="w-full sm:w-3/5 flex flex-wrap items-baseline gap-y-gutterHalf">
              {% for page in group.pages|sort(attribute='link_text') %}
                <li class="w-full md:w-1/2 pr-gutter">
                  <a class="inline-flex text-balance" href="{{ page.href }}" {% if page.target %}target="_blank"{% endif %}>{{ page.link_text | safe }}{% if page.target %}<i aria-hidden="true" class="pl-2 fa-solid fa-arrow-up-right-from-square"></i>{% endif %}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
        </ul>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
