{% macro site_map(pages=None)  %}
  {% if pages %}
    {% for group in pages.groups %}
      <div class="flex w-full border-t-4 border-gray pt-12 pb-12">
        <div class="w-2/5">
          <h2 class="heading-medium m-0">{{ group.title }}</h2>
        </div>
        <div class="w-3/5 flex flex-wrap items-center">
          {% for page in group.pages %}
            <div class="w-1/2 p-4">
              <a href="{{ page.href }}">{{ page.link_text }}</a>
            </div>
          {% endfor %}
        </div>
      </div> 
    {% endfor %}
  {% endif %}
{% endmacro %}
