{% from "components/big-number.html" import big_number %}
{% from "components/empty-list.html" import empty_list %}

{% macro mapping_table(caption='', field_headings=[], field_headings_visible=True, caption_visible=True, equal_length=False, font_size="table-font-xsmall", testid=None) -%}
  <section class="scrollable-table" tabindex="0">
   <table class="table {{fontsize}}"{% if testid %} data-testid="{{ testid }}"{% endif %}>
    <caption class="heading-medium table-heading{{ ' visuallyhidden' if not caption_visible }}">
      {{ caption }}
    </caption>
    {% if field_headings | length > 0 %}
      <thead class="table-field-headings{% if field_headings_visible %}-visible{% endif %}">
        <tr>
          {% for field_heading in field_headings %}
            {% if field_heading == '' %}
            <td class="table-field-index"></td>
            {% else %}
              <th scope="col" class="table-field-heading{% if loop.first and not equal_length %}-first{% endif %}{% if not field_headings_visible %} border-0{% endif %}" {% if equal_length %}{{ 'style=\"width: {0}%\"'.format((100 / field_headings|length)|int)|safe }}{% endif %}>
                {% if field_headings_visible %}
                  {{ field_heading }}
                {% else %}
                  <span class="visuallyhidden">{{ field_heading }}</span>
                {% endif %}
              </th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
     {% endif %}
      <tbody>
        {{ caller() }}
      </tbody>
    </table>
  </section>
{%- endmacro %}

{% macro list_table(items, caption='', empty_message='', field_headings=[], field_headings_visible=True, caption_visible=True, equal_length=False, testid=None) -%}
  {% set parent_caller = caller %}

  {% call mapping_table(caption, field_headings, field_headings_visible, caption_visible, equal_length, testid=testid) %}
    {% for item in items %}
      {% call row(item.id) %}
        {{ parent_caller(item, loop.index + 1) }}
      {% endcall %}
    {% endfor %}
    {% if not items %}
      {% call row() %}
        <td class="table-empty-message h-10" colspan="10">
          {{ empty_list(heading=empty_message) }}
        </td>
      {% endcall %}
    {% endif %}
  {%- endcall %}

{%- endmacro %}

{% macro row(id=None, classes=None) -%}
  <tr class="table-row {{ classes if classes }}" {% if id and id is string %}id="cds{{id}}"{% endif %}>
    {{ caller() }}
  </tr>
{%- endmacro %}

{% macro row_group(id=None) %}
  <tbody class="table-row-group" {% if id %}id="cds{{id}}"{% endif %}>
    {{ caller() }}
  </tbody>
{%- endmacro %}

{% macro settings_row(if_has_permission='', alt_cond=True) -%}
  {% set parent_caller = caller %}
  {% if if_has_permission in current_service.permissions and alt_cond %}
    {% call row() %}
      {{ parent_caller() }}
    {% endcall %}
  {% endif %}
{%- endmacro %}

{% macro field(align='left', status='', cell_width=None, border=True) -%}

    {% set field_alignment = 'table-field-right-aligned' if align == 'right' else 'table-field-left-aligned' %}
    {% set border = '' if border else 'table-field-noborder' %}

    <td class="{{ [field_alignment, border]|join(' ')}}{{ cell_width if cell_width }}">
      {% if status %}
        <div class="{{ 'table-field-status-' + status }}">{{ caller() }}</div>
      {% else %}
        {{ caller() }}
      {% endif %}
    </td>
{%- endmacro %}

{% macro row_heading(cell_width=None, rowspan="1") -%}
<th class="table-field {{ cell_width if cell_width}}" scope="row" rowspan="{{ rowspan }}">
    {{ caller() }}
  </th>
{%- endmacro %}

{% macro index_field(text=None) -%}
  <td class="table-field-index">
    {{ text if text != None else caller()  }}
  </td>
{%- endmacro %}

{% macro text_field(text, status='', truncate=false, date_format=None, cell_width=None, attributes=None) -%}
  {% call field(status=status, cell_width=cell_width) %}
    {% if text is iterable and text is not string %}
      <ul>
        {% for item in text %}
          {% if item %}
            <li>{{ item }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      {% if truncate %}
        {% if date_format %}
          <time class="truncate-text {{date_format if date_format}}" {% if attributes %} {{ attributes }} {% endif %}>{{text}}</time>
        {% else %}
          <div class="truncate-text {{date_format if date_format}}" {% if attributes %} {{ attributes }} {% endif %}>{{text}}</div>
        {% endif %}
      {% else %}
        {% if date_format %}
          <time class="do-not-truncate-text {{date_format}}" {% if attributes %} {{ attributes }} {% endif %}>{{text}}</time>
        {% else %}
          <div class="do-not-truncate-text" {% if attributes %} {{ attributes }} {% endif %}>{{text}}</div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endcall %}
{%- endmacro %}

{% macro optional_text_field(text, default=_('Not set'), truncate=false) -%}
  {{ text_field(
    text or default,
    status='' if text else 'default',
    truncate=truncate
  ) }}
{%- endmacro %}

{% macro link_field(text, link) -%}
  {% call field() %}
    <a href="{{ link }}">{{ text }}</a>
  {% endcall %}
{%- endmacro %}

{% macro edit_field(text, link, permissions=[], attributes="", for=false) -%}
  {% call field(align='right') %}
    {% if not permissions or current_user.has_permissions(*permissions) %}
      <a {{attributes}} href="{{ link }}">{{ text }}{% if for %}<span class="sr-only"> {{ for }}</span>{% endif %}</a>
    {% endif %}
  {% endcall %}
{%- endmacro %}

{% macro boolean_field(value, suffix='') -%}

  {% set on_txt = _('On') %}
  {% set off_txt = _('Off') %}

  {{ text_field((on_txt if value else off_txt) + (' ' + suffix if suffix else '')) }}
{%- endmacro %}

{% macro right_aligned_field_heading(text) %}
  <span class="table-field-heading-right-aligned">{{ text }}</span>
{%- endmacro %}

{% macro hidden_field_heading(text) %}
  <span class="visuallyhidden">{{ text }}</span>
{%- endmacro %}


{% macro notification_status_field(notification) %}

  {% set displayed_on_single_line = notification.status in ['created', 'pending', 'pending-virus-check', 'sending', 'sent', 'delivered', 'returned-letter', 'accepted', 'received'] %}

  {% if not notification %}
    {% call field(align='right') %}{% endcall %}
  {% else %}
    {% call field(
      status=notification.status|format_notification_status_as_field_status(notification.notification_type),
      align='right'
    ) %}
      {% if displayed_on_single_line %}<span class="align-with-message-body">{% endif %}
      {% if notification.status|format_notification_status_as_url(notification.notification_type) %}
        <a href="{{ notification.status|format_notification_status_as_url(notification.notification_type) }}">
      {% endif %}
      {{ notification.status|format_notification_status(notification.template.template_type, notification.provider_response, notification.feedback_subtype) }}
      {% if notification.status|format_notification_status_as_url(notification.notification_type) %}
        </a>
      {% endif %}
      <span class="status-hint">
        {% if notification['notification_type'] == "letter" %}
          {% if notification.status == 'permanent-failure' %}
            {{ (notification.updated_at) }}
          {% else %}
            {{ (notification.created_at) }}
          {% endif %}
        {% else %}
          {{ notification.status|format_notification_status_as_time(
            notification.created_at,
            (notification.updated_at or notification.created_at)
          )|safe }}
        {% endif %}
      </span>
      {% if displayed_on_single_line %}</span>{% endif %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro spark_bar_field(
  count,
  max_count,
  id=None
) %}
  {% call field(align='right') %}
    <div {% if id %}id="cds{{ id }}"{% endif %} class="spark-bar" style="--data: {{ count / max_count * 100 }}%">
        {{ big_number(
          count,
          smallest=True
        ) }}
    </div>
  {% endcall %}
{% endmacro %}
