{% macro task_list_item(status, label, link, link_id=None) %}
  <li class="task-list-item">
    <span>
      {% if link %}
        <a href="{{ link }}" aria-describedby="{{ label|id_safe }}" {% if link_id %}id="{{ link_id }}"{% endif %}>{{ label }}</a>
      {% else %}
        {{ label }}
      {% endif %}
    </span>
    {% if status == "in-progress" %}
      <strong class="task-list-indicator-not-completed" id="{{ label|id_safe }}" aria-live="polite">
        {{ _('In progress') }}
      </strong>
    {% elif status %}
      {{ task_list_item_complete(label) }}
    {% else %}
      {{ task_list_item_not_complete(label) }}
    {% endif %}
  </li>
{% endmacro %}

{% macro task_list_wrapper() %}
  <ul class="task-list">
    {{ caller() }}
  </ul>
{% endmacro %}

{% macro task_list_item_complete(label, testid=None) %}
  <strong class="task-list-indicator-completed" id="{{ label|id_safe }}" aria-live="polite"{%if testid %} data-testid="{{ testid }}"{% endif %}>
    <i class="fa-solid fa-check" aria-hidden="true"></i>
    {{ _('Completed') }}
  </strong>
{% endmacro %}

{% macro task_list_item_not_complete(label, testid=None) %}
  <strong class="task-list-indicator-not-completed" id="{{ label|id_safe }}" aria-live="polite"{%if testid %} data-testid="{{ testid }}"{% endif %}>
    <i class="fa-solid fa-times" aria-hidden="true"></i>
    {{ _('Not completed') }}
  </strong>
{% endmacro %}