{% macro task_shortcut(description, link_url, link_text, title=false, icon=false) %}

  {% set external = icon == "arrow-up-right-from-square" %}{# Defensive way of ensuring this icon is used appropriately #}

  <div class="border border-gray-300 border-b-4 p-gutterHalf flex-1 flex flex-col">
    {% if title %}
      <h2 class="text-sans font-title">
          {{ title }}
      </h2>
    {% endif %}
    <p>{{ description }}</p>
      <div class="mt-auto flex-none">
        <a class="flex mr-auto justify-between items-end" href="{{ link_url }}" {% if external %}target="_blank"{% endif %}>
          {{ link_text }}
          {% if external %}
            <span class="sr-only">
              {{ _("Opens in a new tab") }}
            </span>
          {% endif %}
          {% if icon %}
            <i aria-hidden="true" class="p-1 fa-solid fa-{{icon}}"></i>
          {% endif %}
        </a>
        
      </div>    
    </div>
{% endmacro %}
