{% macro task_shortcut(title, img_src, description, button_url, button_text) %}
  <div class="border border-blue p-gutterHalf flex-1 flex flex-col">
    <div class="flex mb-8">
      <img 
        class="flex-none w-10 h-10" 
        aria-hidden="true" 
        src="{{ img_src }}"
      />
      <h2 class="font-bold text-base ml-2 flex-1">
        {{ title }}
      </h2>
    </div>
    <p>{{ description }}</p>
      <div class="mt-auto flex-none">
        <a class="button" href="{{ button_url }}">
          {{ button_text }}
        </a>
      </div>    
    </div>
{% endmacro %}
