
{# 
    Macro: sample_template_name
    --------------------------
    Renders a sample template block with the given template name.  If the template name begins with 'en|fr' or 'fr|en', the language code will be displayed more distinctly.

    Parameters:
        tmpl_name (str): The name of the template to be rendered or referenced.

    Usage:
        Call this macro with the desired template name to include or display a specific template section.        
#}

{% from "components/badge.html" import badge %}

{% macro sample_template_name(tmpl_name) %}
  {% set t = tmpl_name or '' %}
  {% set prefix = t[:5].lower() %}
  {% if prefix in ['en|fr', 'fr|en'] %}
    {{ badge(t[:5], variant='purple' if prefix == 'en|fr' else 'rose', class="min-w-[60px]") -}}{{ t[6:] | e }}
  {% else %}
    {{ t | e }}
  {% endif %}
{% endmacro %}
