{% macro template_category(field, expanded=false) %}
    {% set field_text = dict(field.choices).get(field.data) %}
    {% if field_text == None %}
        {% set field_text = _('Other') %}
    {% endif %}
    <div id="tc_button_container" class="mb-gutter {% if expanded %}hidden{% endif %}" data-testid="tc_button_container">
        {{ badge(field_text, variant='lime', icon='fa-tag', icon_label=_("Category")) }}
        <h3 class=" mt-0 pt-0 heading-small">{{ _('Does the category still apply?') }}</h3>
        <button type="button" class="button button-secondary" data-testid="tc_expand_button">{{ _('Change category') }}</button>
    </div>
    <div id="tc_radios" class="{% if not expanded %}hidden{% endif %}" data-testid="tc_radios">
        {{ caller() }}
    </div>
{% endmacro %}
