{% macro textbox(
  field,
  label=None,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  colour_preview=False,
  help_link=None,
  help_link_text=None,
  width='w-full md:w-3/6',
  suffix=None,
  safe_error_message=False,
  rows=8,
  required=true,
  is_page_heading=false,
  testid=None,
  label_class=None
) %}
  <div
    class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter{% if field.errors %} form-group-error{% endif %}"
    data-module="{% if autofocus %}autofocus{% elif colour_preview %}colour-preview{% endif %}"
  >
    {% set describedby = '' %}

    {% if is_page_heading %}
    <h1><label class="form-label heading-large{% if label_class %} {{ label_class }} {% endif %}" for="{{ field.name }}" >
    {% else %}
    <label class="form-label{% if label_class %} {{ label_class }} {% endif %}" for="{{ field.name }}" >
    {% endif %}
      {% if label %}
        {{ label }}
      {% else %}
        {{ field.label.text }}
      {% endif %}
      {% if not required %}
      <span id="{{ field.name }}-optional" class="form-hint inline-block">
        ({{ _("Optional") }})
      </span>
      {% endif %}
    </label>
    {% if is_page_heading %}</h1>{% endif %}
    
    {% if hint %}
    {% set describedby = describedby + field.name + '-hint ' %}
      <span id="{{ field.name }}-hint" class="form-hint">
        {{ hint }}
      </span>
    {% endif %}
    {% if field.errors %}
    {% set describedby = describedby + field.name + '-error-message ' %}
      <span id="{{ field.name }}-error-message" class="error-message" data-module="track-error" data-error-type="{{ field.errors[0] }}" data-error-label="{{ field.name }}">
        {% if not safe_error_message %}{{ _(field.errors[0]) }}{% else %}{{ field.errors[0]|safe }}{% endif %}
      </span>
    {% endif %}
    {%
      if highlight_tags
    %}
      {% set field_class = '{} textbox-highlight-textbox'.format(width) %}
    {% else %}
      {% set field_class = '{} {}'.format(width, 'text-right' if suffix else '') %}
    {% endif %}
    <span></span>

    {% set field_class = 'form-control ' + field_class + (
      ' form-control-error' if field.errors else ''
    ) %}

    {% set field_class = field_class + " input focus:shadow-outline" %}

    {{ field(
      class=field_class,
      data_module='highlight-tags' if highlight_tags else '',
      rows=rows|string if field.type == 'TextAreaField' else false,
      aria_invalid='true' if field.errors else false,
      required='' if required != false else false,
      aria_required='true' if required != false else false,
      aria_describedby=describedby|trim if describedby != '' else false,
      data_testid=testid,
      **kwargs
    ) }}

    {% if suffix %}
      <span>{{ suffix }}</span>
    {% endif %}
    {% if help_link and help_link_text %}
      <p class="textbox-help-link m-0 mt-4">
        <a href='{{ help_link }}'>{{ help_link_text }}</a>
      </p>
    {% endif %}
  </div>
{% endmacro %}

{% macro textbox_search(
  field,
  label=None,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  colour_preview=False,
  width='',
  suffix=None,
  safe_error_message=False,
  rows=8,
  required=true
) %}
  <div
    class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter{% if field.errors %} form-group-error{% endif %}"
    data-module="{% if autofocus %}autofocus{% elif colour_preview %}colour-preview{% endif %}">
    <div>
      {% set describedby = '' %}
      <label class="form-label" for="{{ field.name }}">
        {% if label %}
          {{ label }}
        {% else %}
          {{ field.label.text }}
        {% endif %}
      </label>
      {% if hint %}
        {% set describedby = describedby + field.name + '-hint ' %}
        <span id="{{ field.name }}-hint" class="form-hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if field.errors %}
        {% set describedby = describedby + field.name + '-error-message ' %}
        <span id="{{ field.name }}-error-message" class="error-message" data-module="track-error" data-error-type="{{ field.errors[0] }}" data-error-label="{{ field.name }}">
          {% if not safe_error_message %}{{ _(field.errors[0]) }}{% else %}{{ field.errors[0]|safe }}{% endif %}
        </span>
      {% endif %}
    </div>

    {% set field_class = '{}'.format(width) %}

    {% set field_class = 'form-control input focus:shadow-outline min-h-target ' + field_class + (
        ' form-control-error' if field.errors else ''
    ) %}
    <div class="w-full flex gap-x-2">
        {{ field(
          class=field_class,
          data_module='highlight-tags' if highlight_tags else '',
          rows=rows|string if field.type == 'TextAreaField' else false,
          invalid='' if field.errors else false,
          required='' if required != false else false,
          aria_required='true' if required != false else false,
          aria_describedby=describedby|trim if describedby != '' else false,
          **kwargs
        ) }}

      <div class="box-border">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="button w-full min-h-target shadow-none">{{ _('Search') }}</button>
      </div>
    </div>

  </div>
{% endmacro %}


{% macro textbox_localized(
  name,
  fields,
  legend,
  hint=None,
  describedby=""
) %}
  <fieldset class="localized-field">
    <legend>{{ legend }}</legend>
    {% if hint %}
    {% set describedby = describedby + name + '-hint ' %}
      <span id="{{ name }}-hint" class="form-hint">
        {{ hint }}
      </span>
    {% endif %}
    <div class="localized-field-fields flex w-full">
      {% for lang, localized_field in fields.items() %}
        {% set error_msg = "" %}
        {% if localized_field.validators | length > 0 %}
          {% set error_msg = localized_field.validators[0].message %}
        {% endif %}
        {{ textbox(localized_field, localized_field.label.text, width='w-full', data_error_msg=error_msg, lang=lang, testid=name + "-" + lang) }}
      {% endfor %}
    </div>
  </fieldset>
{% endmacro %}