{% macro textbox_search(
  field,
  label=None,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  colour_preview=False,
  width='',
  suffix=None,
  safe_error_message=False,
  rows=8
) %}
  <div
    class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter{% if field.errors %} form-group-error{% endif %}"
    data-module="{% if autofocus %}autofocus{% elif colour_preview %}colour-preview{% endif %}">
    <div>
      <label class="form-label" for="{{ field.name }}">
        {% if label %}
          {{ label }}
        {% else %}
          {{ field.label.text }}
        {% endif %}
        {% if hint %}
          <span class="form-hint">
            {{ hint }}
          </span>
        {% endif %}
        {% if field.errors %}
          <span class="error-message" data-module="track-error" data-error-type="{{ field.errors[0] }}" data-error-label="{{ field.name }}">
            {% if not safe_error_message %}{{ _(field.errors[0]) }}{% else %}{{ field.errors[0]|safe }}{% endif %}
          </span>
        {% endif %}
      </label>
    </div>
    
    {% set field_class = '{}'.format(width) %}

    {%
      set field_class = 'form-control input focus:shadow-outline ' + field_class + (
        ' form-control-error' if field.errors else ''
      )
    %}

    <div class="w-full grid grid-cols-4 gap-x-2">
      <div class="col-span-3">
        {{ field(
          class=field_class,
          data_module='highlight-tags' if highlight_tags else '',
          rows=rows|string,
          **kwargs
        ) }}
      </div>

      <div class="box-border">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="button w-full h-full" style="padding:unset; box-shadow:unset">{{ _('Search') }}</button>
      </div>
    </div>

  </div>
{% endmacro %}
