{% macro textbox(
  field,
  label=None,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  colour_preview=False,
  help_link=None,
  help_link_text=None,
  width='w-full md:w-3/6',
  suffix=None,
  safe_error_message=False,
  rows=8,
  required=true
) %}
  <div
    class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter{% if field.errors %} form-group-error{% endif %}"
    data-module="{% if autofocus %}autofocus{% elif colour_preview %}colour-preview{% endif %}"
  >
    {% set describedby = '' %}

    <label class="form-label" for="{{ field.name }}" >
      {% if label %}
        {{ label }}
      {% else %}
        {{ field.label.text }}
      {% endif %}
    </label>
    {% if hint %}
    {% set describedby = describedby + field.name + '-hint ' %}
      <span id="{{ field.name }}-hint" class="form-hint">
        {{ hint }}
      </span>
    {% endif %}
    {% if field.errors %}
    {% set describedby = describedby + field.name + '-error-message ' %}
      <span id="{{ field.name }}-error-message" class="error-message" data-module="track-error" data-error-type="{{ field.errors[0] }}" data-error-label="{{ field.name }}">
        {% if not safe_error_message %}{{ _(field.errors[0]) }}{% else %}{{ field.errors[0]|safe }}{% endif %}
      </span>
    {% endif %}
    {%
      if highlight_tags
    %}
      {% set field_class = '{} textbox-highlight-textbox'.format(width) %}
    {% else %}
      {% set field_class = '{} {}'.format(width, 'text-right' if suffix else '') %}
    {% endif %}
    <span></span>

    {% set field_class = 'form-control ' + field_class + (
      ' form-control-error' if field.errors else ''
    ) %}

    {% set field_class = field_class + " input focus:shadow-outline" %}

    {{ field(
      class=field_class,
      data_module='highlight-tags' if highlight_tags else '',
      rows=rows|string if field.type == 'TextAreaField' else false,
      invalid='' if field.errors else false,
      required='' if required != false else false,
      aria_required='true' if required != false else false,
      aria_describedby=describedby|trim if describedby != '' else false,
      **kwargs
    ) }}
    
    {% if suffix %}
      <span>{{ suffix }}</span>
    {% endif %}
    {% if help_link and help_link_text %}
      <p class="textbox-help-link m-0 mt-4">
        <a href='{{ help_link }}'>{{ help_link_text }}</a>
      </p>
    {% endif %}
  </div>
{% endmacro %}

{% macro textbox_search(
  field,
  label=None,
  hint=False,
  highlight_tags=False,
  autofocus=False,
  colour_preview=False,
  width='',
  suffix=None,
  safe_error_message=False,
  rows=8,
  required=true
) %}
  <div
    class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter{% if field.errors %} form-group-error{% endif %}"
    data-module="{% if autofocus %}autofocus{% elif colour_preview %}colour-preview{% endif %}">
    <div>
      {% set describedby = '' %}
      <label class="form-label" for="{{ field.name }}">
        {% if label %}
          {{ label }}
        {% else %}
          {{ field.label.text }}
        {% endif %}
      </label>
      {% if hint %}
        {% set describedby = describedby + field.name + '-hint ' %}
        <span class="form-hint">
          {{ hint }}
        </span>
      {% endif %}
      {% if field.errors %}
        {% set describedby = describedby + field.name + '-error-message ' %}
        <span class="error-message" data-module="track-error" data-error-type="{{ field.errors[0] }}" data-error-label="{{ field.name }}">
          {% if not safe_error_message %}{{ _(field.errors[0]) }}{% else %}{{ field.errors[0]|safe }}{% endif %}
        </span>
      {% endif %}
    </div>
    
    {% set field_class = '{}'.format(width) %}

    {% set field_class = 'form-control input focus:shadow-outline ' + field_class + (
        ' form-control-error' if field.errors else ''
    ) %}
    <div class="w-full grid grid-cols-4 gap-x-2">
      <div class="col-span-3">
        {{ field(
          class=field_class,
          data_module='highlight-tags' if highlight_tags else '',
          rows=rows|string if field.type == 'TextAreaField' else false,
          invalid='' if field.errors else false,
          required='' if required != false else false,
          aria_required='true' if required != false else false,
          aria_describedby=describedby|trim if describedby != '' else false,
          **kwargs
        ) }}
      </div>

      <div class="box-border">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="button w-full h-full" style="padding:unset; box-shadow:unset">{{ _('Search') }}</button>
      </div>
    </div>

  </div>
{% endmacro %}
