{% set true_txt = _('Can') %}
{% set false_txt = _('Cannot') %}
{% set done_txt = _('Done:') %}
{% set not_done_txt = _('Not done:') %}

{% macro tick_cross(yes, label, truthy_hint=true_txt, falsey_hint=false_txt) %}
  <li>
    {% if yes %}
      <span class="tick-cross-tick">
        <span class="visually-hidden">{{ truthy_hint }}</span>
        {{ label}}
      </span>
    {% else %}
      <span class="tick-cross-cross">
        <span class="visually-hidden">{{ falsey_hint }}</span>
        {{ label}}
      </span>
    {% endif %}
  </li>
{% endmacro %}

{% macro tick_cross_done_not_done(yes, label) %}
  {{ tick_cross(yes, label, truthy_hint=done_txt, falsey_hint=not_done_txt) }}
{% endmacro %}
