{% from "components/links.html" import content_link %}

{% macro tou_prompt(title) %}

  <h1 class="heading-large mt-0 mb-4" tabindex="0" data-testid="tou-heading" autofocus>{{ _('Before you continue') }}</h1>
  <div id="tou-prompt" data-testid="tou-prompt" class="mt-16 mb-10">
    <h2 class="heading-medium">{{ _('Review your activity') }}</h1>
    <p>{{ _('Our records show that these are the last 3 times you signed into this account:') }}</p>
    <table>
      <tbody>
        {% for event in session[events_key] %}
          <tr>
            <td>
              <strong style="font-weight:bold">
                <time class="relative-time-past">{{ event.created_at }}</time>
              </strong>
            </td>
            <td class="format-ua">
              {{ parse_ua(event.data["user-agent"]) }}
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <p>
    {{ _('If this is not correct, ') }}<a href="{{ url_for('main.contact') }}" target="_blank">{{ _('contact us') }}</a>.
    </p>
  </div>
  <div id="tou-prompt" data-testid="tou-prompt" class="mt-16">
    <h2 class="heading-medium mt-0 mb-6" data-testid="tou-heading">{{ _('Know your responsibilities') }}</h2>
    <div id="tou-terms" data-testid="tou-terms">
      <p>{{ _('By using GC Notify, you accept our terms of use. This includes your agreement to:') }}</p>
      <ul class="list list-bullet ml-5">
        
        <li><a href="">{{ content_link(_('Accept conditions, including those in our Privacy notice'), gca_url_for('terms') + '#h-accept-conditions-including-those-in-our-privacy-notice-nbsp', is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Accept sending limits'), gca_url_for('terms') + "#h-accept-sending-limits", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Accept risks when sending text messages'), gca_url_for('terms') + "#h-accept-risks", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Manage and protect personal information of your recipients'), gca_url_for('terms') + "#h-manage-and-protect-personal-information-of-your-recipients", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Get consent before sending messages'), gca_url_for('terms') + "#h-get-consent-before-sending-messages", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Keep accurate contact information'), gca_url_for('terms') + "#h-keep-accurate-contact-information", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Send information that’s unclassified or Protected A only'), gca_url_for('terms') + "#h-send-information-that-s-unclassified-or-protected-a-only", is_external_link=True) }}</a></li>
        <li>{{ content_link(_('Practice continuous security'), gca_url_for('terms') + "#h-practice-continuous-security", is_external_link=True) }}</a></li>


      </ul>
    </div>
    <form action="/agree-terms" method="post" class="mt-10">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="next" value="{{ request.path }}" />
      <div id="terms-error" class="error-message hidden mb-5" tabindex="0" data-testid="tou-error-message">
        {{ _('Read and accept GC Notify\'s terms of use to continue.') }}
      </div>
      <div class="flex">
        <button
          type="submit"
          class="button text-base outline-none focus:shadow-outline"
          name="button_pressed"
          value="agree"
          data-testid="tou-agree-button"
          id="tou-accept"
        >
          {{ _('Agree and continue') }}
        </button>
        <!-- link that looks like a button to sign out -->
        <a
          href="{{ url_for('main.sign_out') }}"
          class="button button-secondary text-base ml-5"
          data-testid="tou-sign-out-button"
          id="tou-sign-out">Sign out</a>
      </div>
    </form>
  </div>
{% endmacro %}
