{% macro tou_dialog(title) %}
  <div id="tou-dialog" class="rounded-2xl border-1 border-[#D1D5DB] bg-white p-10 my-10" data-testid="tou-dialog">
    <h1 class="heading-large mt-0 mb-4 p-4" tabindex="0" data-testid="tou-heading" autofocus>{{ _('Know your responsibilities') }}</h1>
    <div id="tou-terms" class="p-4" data-testid="tou-terms">
      <p>{{ _('By using GC Notify, you agree to accept our terms of use, including to:') }}</p>
      <ul class="ml-8 p-4">
        <li>Accept conditions, including those in our Privacy notice</li>
        <li>Accept sending limits</li>
        <li>Accept risks when sending text messages</li>
        <li>Manage and protect personal information of your recipients</li>
        <li>Get consent before sending messages</li>
        <li>Keep accurate contact information</li>
        <li>Send information that’s unclassified or Protected A only</li>
        <li>Practice continuous security</li>
      </ul>
      
    </div>
    <form action="/agree-terms" method="post" class="mt-10">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="next" value="{{ request.path }}" />
      <div id="terms-error" class="error-message hidden mb-5" tabindex="0" data-testid="tou-error-message">
        {{ _('Read and accept GC Notify\'s terms of use to continue.') }}
      </div>
      <div class="flex">
        <div class="w-1/5">
          <button
            type="submit"
            class="button text-base outline-none focus:shadow-outline"
            name="button_pressed"
            value="agree"
            data-testid="tou-agree-button"
            id="tou-accept"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current checkmark text-white mr-3" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
            {{ _('Agree') }}
          </button>
        </div>
      </div>
    </form>
  </div>
{% endmacro %}
