{% from "components/task-list.html" import task_list_item_complete, task_list_item_not_complete with context %}
{% from "components/terms.html" import terms_of_use%}

{% set error_msg = _('You must read and accept the terms to continue') %}

{% macro tou_dialog() %}  
  <dialog id="tou-dialog" class="max-w-screen-lg p-6 pt-6 md:pb-20 md:px-20 flex flex-col w-full" data-testid="tou-dialog" data-error-prefix="{{ _('Terms of use:') }}" data-error-msg="{{ error_msg }}">
    <button id="tou-close" class="absolute top-0 right-0 p-4 mr-10 mt-6" data-testid="tou-close-button">
      <i aria-hidden="true" class="mr-2 fa-solid fa-fas fa-xmark"></i> 
      <span class="sr-only">{{ _('Close') }}</span>
    </button>
    <h2 id="tou-heading" class="heading-medium md:heading-large mt-0 mb-4 py-4" data-testid="tou-heading">{{ _('Read and agree to the terms of use') }}</h2>
    <div id="tou-terms" class="overflow-y-scroll overflow-x-hidden p-4 lg:p-8" tabindex="0" data-testid="tou-terms" aria-describedby="tou-heading">
      {{ terms_of_use() }}
    </div>
    <div class="mt-12 flex">
      <button
        type="button"
        class="button text-base outline-none focus:shadow-outline disabled"
        name="button_pressed"
        value="agree"
        data-testid="tou-agree-button"
        disabled
        id="tou-accept"
      >
        {{ _('Agree') }}
      </button>
      <button
        type="button"
        class="button button-secondary text-base outline-none focus:shadow-outline ml-6"
        name="button_pressed"
        value="agree"
        data-testid="tou-cancel-button"
        id="tou-cancel"
      >
        {{ _('Cancel') }}
      </button>
    </div>
  </dialog>
  {% block page_script %}
    <script nonce="{{ request_nonce }}" src="{{ asset_url('javascripts/touDialog.min.js') }}"></script>
  {% endblock %}
{% endmacro %}

{% macro tou_dialog_trigger(button_text, is_in_error_state=false) %}
  <div id="tou_trigger_element" class="form-group {{ 'form-group-error' if is_in_error_state }}" data-testid="tou_trigger_element">
    {% if is_in_error_state %}
      <span id="tou-error-message" class="error-message" data-testid="tou-error-message">
        {{ error_msg }}
      </span>
    {% endif %}
    <ul class="task-list mt-6">
      <li class="task-list-item">
        <a href="#" class="font-bold" id="tou-dialog-trigger" aria-describedby="tou-status" data-testid="tou-dialog-trigger">{{ button_text }}</a>
        <span id="tou-status">
          {{ task_list_item_complete('tou-complete', testid='tou-complete') }}
          {{ task_list_item_not_complete('tou-not-complete', testid='tou-not-complete') }}
        </span>
      </li>
    </ul>
  </div>
{% endmacro %}
