{% macro validation_summary(form=None)  %}
  {% if form and form.errors %}
    <div role="alert" tabindex="-1" class="border-4 border-red mb-10 px-10 py-6" id="validation-summary" data-testid="validation_summary" autofocus>
      <h2 class="heading-large">{{ _('Please correct the errors on this page') }}</h2>
      <ol class="list list-number list-inside">
        {% for field in form.errors %}
          <li>
            <a href="#{{ field }}">
              <span class="font-bold text-red">{{ form[field].label.text}}</span>: 
              {{ form.errors[field][0] }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
