{% macro validation_summary(form=None)  %}
  {% if form and form.errors %}
    <div role="alert" tabindex="-1" class="border-4 border-red focus:outline-yellow mb-gutter p-gutter space-y-gutterHalf" id="validation-summary" data-testid="validation_summary" autofocus>
      <h2 class="heading-medium m-0">{{ _('There was a problem') }}</h2>
      <ol class="list list-number list-outside m-0">
        {% for field in form.errors %}
          <li>
            <a class="link:text-red text-red visited:text-red" href="#{{ field }}">
              <span class="font-bold">{{ form[field].label.text}}</span>: 
              {{ form.errors[field][0] }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
