{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  {{ _('GC Notify data sharing and financial agreement') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="w-5/6 float-left py-0 px-0 px-gutterHalf box-border">

    {{ page_header(
      _('GC Notify data sharing and financial agreement'),
      back_link=url_for('main.service_accept_agreement', service_id=current_service.id)
    ) }}

    {% call form_wrapper(class='mt-12 block clear-both contain-floats') %}

      {% if current_service.organisation.agreement_signed_on_behalf_of_name and current_service.organisation.agreement_signed_on_behalf_of_email_address %}
        <p>
          {{ _('I confirm that I have the legal authority to accept the GC Notify data sharing and financial agreement') }} (version {{ current_service.organisation.agreement_signed_version }}) {{ _('on behalf of') }} {{ current_service.organisation.agreement_signed_on_behalf_of_name }} ({{ current_service.organisation.agreement_signed_on_behalf_of_email_address }}) {{ _('and that') }} {{ current_service.organisation.name }} {{ _('will be bound by it.') }}
        </p>
      {% else %}
        <p>
          {{ _('I confirm that I have the legal authority to accept the GC Notify data sharing and financial agreement') }} (version {{ current_service.organisation.agreement_signed_version }}) {{ _('and that') }} {{ current_service.organisation.name }} {{ _('will be bound by it.') }}
        </p>
      {% endif %}
      {% set button_txt = _('We’ll send you a security code by text message') %}
      {{ page_footer(button_txt) }}

    {% endcall %}

  </div>
</div>

{% endblock %}
