{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
{{ _('GC Notify data sharing and financial agreement') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-five-sixths">
    {% set txt = _('GC Notify data sharing and financial agreement') %}
    {{ page_header(
      txt,
      back_link=url_for('main.request_to_go_live', service_id=current_service.id)
    )}}
    <p>
      {{ _('Your organisation') }} ({{ current_service.organisation.name }}) {{ _('has already accepted the GC Notify data sharing and financial agreement. You can') }}
      <a href="{{ url_for('main.service_download_agreement', service_id=current_service.id) }}">{{ _('download a copy') }}</a>.
    </p>
    <p>
      {{ _('The agreement is confidential and should not be shared outside your organisation.') }}
    </p>

  </div>
</div>

{% endblock %}
