{% extends "admin_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block service_page_title %}
 {{ _('GC Notify data sharing and financial agreement') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
    {% set txt = _('GC Notify data sharing and financial agreement') %}
    {{ page_header(
      txt,
      back_link=url_for('main.request_to_go_live', service_id=current_service.id)
    )}}

    <p>
      {{ _('Before you can go live on GC Notify, your organisation needs to accept our data sharing and financial agreement.') }}
    </p>
    <p>
      {{ _('There are different agreements for crown and non-crown organisations.') }}
    </p>
    <p>
      <a href="{{ url_for('main.contact') }}">{{ _('Contact us') }}</a> {{ _('to tell us whether or not you work for a crown organisation. If you’re not sure we’ll help you work it out.') }}
    </p>

  </div>
</div>

{% endblock %}
