{% from "components/nav_menu_item_mobile.html" import nav_menu_item_mobile with context %}

<!-- account menu dropdown / mobile -->
<div class="md:hidden md:flex">
  <button
    aria-label="{{ _('Your account and language') if current_user.is_authenticated else _('Sign-in and language') }}"
    aria-expanded="false"
    id="account-icon-mobile"
    class="p-2 min-w-target min-h-target border-2 border-solid border-gray flex items-center justify-center line-under leading-none text-blue text-smaller underline hover:no-underline "
    data-module="menu"
    data-menu-items="account-menu-mobile"
    type="button">
      <img
        src="{{ asset_url('images/account-icon.svg') }}"
        alt=""
        class="w-10 h-10"/>
      <img alt="" aria-hidden="true" class="account-menu-arrow ml-2 inline arrow self-center" src="{{ asset_url('images/arrow-licorice.svg') }}" width="15"/>
  </button>
</div>
  <ul
    id="account-menu-mobile"
    class="absolute flex flex-col mt-3_4 content-end divide-y divide-gray mobile-menu-container text-left rounded bg-white shadow hidden z-50">
          {% if current_user.platform_admin %}
            {{ nav_menu_item_mobile(url=url_for('main.live_services'), localised_txt=_('Admin panel'), is_active=main_navigation.is_selected('live_services')) }}
          {% endif %}
          {{ nav_menu_item_mobile(url=url_for('main.choose_account'), localised_txt=_('Your services'), is_active=main_navigation.is_selected('choose_account')) }}
          {{ nav_menu_item_mobile(url=url_for('main.user_profile'), localised_txt=_('Your profile'), is_active=main_navigation.is_selected('user_profile')) }}
          {{ nav_menu_item_mobile(url=url_for('main.sign_out'), localised_txt=_('Sign out'), is_active=main_navigation.is_selected('sign_out')) }}
    </ul>

<!-- account menu dropdown / mobile / END -->