{% from "components/nav_menu_item.html" import nav_menu_item with context %}

<!-- Large screen menu dropdown -->
<li class="md:visible md:flex grid-flow-row relative justify-end inline-block w-full text-left text-blue visited:text-blue
link:text-blue no-underline text-small">
  <button
    aria-controls="account-menu-options"
    aria-expanded="false"
    class="nav-menu-item"
    id="account-menu"
    data-module="menu"
    aria-controls="account-menu-options"
    type="button">
      {{ _('Your account') }}
      <img alt="" aria-hidden="true" class="account-menu-arrow ml-2 inline arrow self-center" src="{{ asset_url('images/arrow-licorice.svg') }}" width="15"/>
  </button>
  <ul
    id="account-menu-options"
    class="menu-overlay absolute flex flex-col content-end divide-y divide-gray right-0 top-full w-auto text-right bg-white shadow hidden z-50"
    hidden>
    {% for key, item in header_navigation.get_user_nav().items() %}
    {# Controller in navigation.py #}
        <li class="flex-shrink-0">
            {{ nav_menu_item(url=item.url or url_for('main.' + item.view), localised_txt=item.label, is_external_link=item.external or False, is_active=header_navigation.is_selected(key)) }}
        </li>
    {% endfor %}
    {% for key, item in header_navigation.get_account_nav().items() %}
    {# Controller in navigation.py #}
        <li class="flex-shrink-0">
            {{ nav_menu_item(url=item.url or url_for('main.' + item.view), localised_txt=item.label, is_external_link=item.external or False, is_active=main_navigation.is_selected(key)) }}
        </li>
    {% endfor %}
  </ul>
</li>
<!-- Large screen dropdown END -->