<!-- Large screen menu dropdown -->
<li class="relative">
  <button
    aria-controls="account-menu-options"
    aria-expanded="false"
    class="nav-menu-item w-max"
    id="account-menu"
    data-module="menu"
    data-menu-items="account-menu-options"
    type="button">
      {{ _('Your account') }}
      <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
  </button>
  <ul
    id="account-menu-options"
    class="absolute flex flex-col content-end divide-y divide-gray-300 px-4 right-0 top-full w-max text-right bg-white border-1 border-gray-300 hidden z-50"
    hidden>
    {% for item in account_navigation %}
      <li class="flex justify-start">
        <a id="{{ item.key }}" href="{{ item.url }}" class="nav-menu-item block w-full text-left {% if main_navigation.is_selected(item.key) %} menu--active {% endif %}">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</li>
<!-- Large screen dropdown END -->