<!-- account menu dropdown / mobile -->
<div class="md:hidden md:flex grid-flow-row relative justify-end inline-block text-left text-blue visited:text-blue
link:text-blue no-underline text-small">
  <button
    aria-label="{{ _('Your account and language') if current_user.is_authenticated else _('Sign-in and language') }}"
    aria-expanded="false"
    role="button"
    id="account-icon-mobile"
    class="inline-flex p-1 h-14 border-2 border-solid border-gray rounded-lg"
    data-module="menu"
    data-menu-items="account-menu-mobile">
      <img
        src="{{ asset_url('images/account-icon.svg') }}"
        alt=""
        class="w-10 h-10"/>
      <img alt="" aria-hidden="true" class="account-menu-arrow ml-2 inline arrow self-center" src="{{ asset_url('images/arrow-licorice.svg') }}" width="15"/>
  </button>

  <ul
    id="account-menu-mobile"
    class="absolute flex flex-col content-end divide-y divide-gray right-0 top-full text-center rounded bg-white shadow hidden z-50">
          {% if current_user.platform_admin %}
            <li >
              <a
                aria-label="{{ _('Admin panel') }}"
                href="{{ url_for('main.live_services') }}"
                class="flex justify-end items-center min-h-target px-8 py-4 leading-none no-underline text-smaller border-transparent border-b-0 focus:border-b-0 focus:outline-none focus:shadow-insetLine2 {% if main_navigation.is_selected('choose_account') %} menu--active {% endif %}">
                {{ _('Admin panel') }}
              </a>
            </li>
          {% endif %}
          <li>
            <a
              aria-label="{{ _('Your services') }}"
              href="{{ url_for('main.choose_account') }}"
              class="flex justify-end items-center min-h-target px-8 py-4 leading-none no-underline text-smaller border-transparent border-b-0 focus:border-b-0 focus:outline-none focus:shadow-insetLine2 {% if main_navigation.is_selected('choose_account') %} menu--active {% endif %}">
              {{ _('Your services') }}
            </a>
          </li>
          <li>
            <a
              aria-label="{{ _('Your profile') }}"
              href="{{ url_for('main.user_profile') }}"
              class="flex justify-end items-center min-h-target px-8 py-4 leading-none no-underline text-smaller border-transparent border-b-0 focus:border-b-0 focus:outline-none focus:shadow-insetLine2 {% if main_navigation.is_selected('choose_account') %} menu--active {% endif %}">
              {{ _('Your profile') }}
            </a>
          </li>
          <li >
            <a
              aria-label="{{ _('Sign out') }}"
              href="{{ url_for('main.sign_out') }}"
              class="flex justify-end items-center min-h-target px-8 py-4 leading-none no-underline text-smaller border-transparent border-b-0 focus:border-b-0 focus:outline-none focus:shadow-insetLine2 {% if main_navigation.is_selected('choose_account') %} menu--active {% endif %}">
              {{ _('Sign out') }}
            </a>
          </li>
        </ul>
      </div>

<!-- account menu dropdown / mobile / END -->