{% from "components/buttons.html" import nav_button, secondary_button_transparent_white %}
{% from "components/links.html" import nav_link_dark, nav_link_light with context %}

<footer aria-label="{{ _('footer menu') }}">
  <div class="bg-blue">
    <nav id="footer-primary" class="container px-gutterHalf" aria-label="{{ _('main footer') }}">
      <div class="py-24 grid lg:grid-cols-3 md:grid-cols-2 smaller:grid-cols-1 gap-4">
        <div class="flex-1 grid grid-cols-1 gap-y-1 grid-rows-4 place-items-start">
          <span class="text-white text-base font-bold">{{ _("About") }}</span>
          {% if nav_items %}
            {% for i in nav_items %}
              {% if 'footer:about' in i.description %}
                {{ nav_link_dark(i.title, href=i.url, class="-ml-2", is_external_link=i.target) }}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ nav_link_dark(label=_("Why GC Notify"), href=url_for('main.why-notify'), class="-ml-2") }}
            {{ nav_link_dark(label=_("Features"), href=url_for('main.features'), class="-ml-2") }}
            {{ nav_link_dark(label=_("Activity on GC Notify"), href=url_for('main.activity'), class="-ml-2") }}
          {% endif %}
        </div>
        <div class="flex-1 grid grid-cols-1 gap-y-1 md:grid-rows-4 place-items-start">
          <span class="text-white text-base font-bold">{{ _("Using GC Notify") }}</span>
          {% if nav_items %}
            {% for i in nav_items %}
              {% if 'footer:using' in i.description %}
                {{ nav_link_dark(i.title, href=i.url, class="-ml-2", is_external_link=i.target) }}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ nav_link_dark(label=_("API documentation"), href=documentation_url(), is_external_link=True, class="-ml-2") }}
            {{ nav_link_dark(label=_("Guidance"), href=url_for('main.guidance'), class="-ml-2") }}
          {% endif %}
        </div>
        <div class="flex-1 grid grid-cols-1 gap-y-1 lg:grid-rows-4 place-items-start">
          <span class="text-white text-base font-bold">{{ _("Support") }}</span>
          {% if nav_items %}
            {% for i in nav_items %}
              {% if 'footer:support' in i.description %}
                {{ nav_link_dark(i.title, href=i.url, class="-ml-2", is_external_link=i.target) }}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ nav_link_dark(label=_("Contact us"), href=url_for('main.contact'), class="-ml-2") }}
          {% endif %}
        </div>
      </div>
    </nav>
  </div>

  <!-- start section 9 -->
  <div class="bg-gray">
    <nav
      id="footer-secondary"
      class="container px-gutterHalf
       grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-16 md:gap-4 py-24"
      aria-label="{{ _('secondary footer') }}">

      <div class="flex flex-col gap-4 lg:flex-row lg:items-center md:col-span-2">
        <div class="flex-shrink mr-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Privacy"), href=url_for('main.privacy')) }}
        </div>
        <div class="hidden lg:visible lg:inline-block self-center lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center"
            src="{{ asset_url('images/bullet.svg') }}"
          />
        </div>
        <div class="flex-shrink lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Security"), href=url_for('main.security')) }}
        </div>
        <div class="hidden lg:visible lg:inline-block self-center lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center"
            src="{{ asset_url('images/bullet.svg') }}"
          />
        </div>
        <div class="flex-shrink lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Accessibility"), href=url_for('main.a11y')) }}
        </div>
        <div class="hidden lg:visible lg:inline-block self-center lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center"
            src="{{ asset_url('images/bullet.svg') }}"
          />
        </div>
        <div class="flex-shrink lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Terms of use"), href=url_for('main.terms')) }}
        </div>
        <div class="lg:hidden mt-10">
          <div class="inline-block">
            {{ nav_button(
              href="#top",
              label=_('Top of page'),
              aria_label=_('Top of page'),
              link_img=asset_url('images/arrow-licorice.svg'),
              class="text-blue pl-0",
              link_img_class="transform rotate-180"
            ) }}
          </div>
        </div>
      </div>

      <div class="sm:self-start md:self-end lg:self-center col-span-1">
        <img
          alt="{{ _('Government of Canada') }}"
          class="float-left md:float-right"
          src="{{ asset_s3_url('goc--footer-logo.svg') }}"
          width="150"
        />
      </div>
    </nav>
  </div>
</footer>
