{% from "components/buttons.html" import nav_button, secondary_button_transparent_white %}
{% from "components/links.html" import nav_link_dark, nav_link_light %}

<footer aria-label="{{ _('footer menu') }}">
  <div class="bg-blue">
    <nav id="footer-primary" class="container lg:px-10 md:px-8 sm:px-4 smaller:px-4 xs:px-4" aria-label="footer links">
      <div class="py-24 grid lg:grid-cols-3 md:grid-cols-2 smaller:grid-cols-1 gap-4">
        <div class="flex-1 grid grid-cols-1 gap-y-1 grid-rows-4">
          <div>
            <span class="text-white text-base font-bold">{{ _("About") }}</span>
          </div>
          <div>
            {{ nav_link_dark(label=_("Why GC Notify"), href=url_for('main.why-notify'), class="-ml-2") }}
          </div>
          <div>
            {{ nav_link_dark(label=_("Features"), href=url_for('main.features'), class="-ml-2") }}
          </div>
          <div>
            {{ nav_link_dark(label=_("Activity on GC Notify"), href=url_for('main.activity'), class="-ml-2") }}
          </div>
        </div>
        <div class="flex-1 grid grid-cols-1 gap-y-1 md:grid-rows-4">
          <div>
            <span class="text-white text-base font-bold">{{ _("Using GC Notify") }}</span>
          </div>
          <div>
            {{ nav_link_dark(label=_("API documentation"), href=documentation_url(), external_link_img=asset_url('images/external-white.svg'), class="-ml-2") }}
          </div>
        </div>
        <div class="flex-1 grid grid-cols-1 gap-y-1 lg:grid-rows-4">
          <div>
            <span class="text-white text-base font-bold">{{ _("Support") }}</span>
          </div>
          <div class="lg:row-span-3">
            {{ nav_link_dark(label=_("Contact us"), href=url_for('main.contact'), class="-ml-2") }}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- start section 9 -->
  <div class="bg-gray">
    <nav
      id="footer-secondary"
      class="container lg:px-10 md:px-8 sm:px-4 smaller:px-4 xs:px-4
       grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-16 md:gap-4 py-24"
      aria-label="footer secondary links">

      <div class="flex flex-col gap-4 lg:flex-row lg:items-center md:col-span-2">
        <div class="flex-shrink mr-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Privacy"), href=url_for('main.privacy')) }}
        </div>
        <div class="hidden lg:visible lg:inline-block self-center lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center"
            src="{{ asset_url('images/bullet.svg') }}"
          />
        </div>
        <div class="flex-shrink lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Security"), href=url_for('main.security')) }}
        </div>
        <div class="hidden lg:visible lg:inline-block self-center lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center"
            src="{{ asset_url('images/bullet.svg') }}"
          />
        </div>
        <div class="flex-shrink lg:mx-5">
          <img
            aria-hidden="true"
            alt="{{ _('Separator') }}"
            class="self-center lg:hidden inline mr-3"
            src="{{ asset_url('images/bullet.svg') }}"
          />
          {{ nav_link_light(label=_("Terms of use"), href=url_for('main.terms')) }}
        </div>
        <div class="lg:hidden p-5 mt-10">
          <div class="inline-block">
            {{ nav_button(
              href="#top",
              label=_('Top of page'),
              aria_label=_('Top of page'),
              link_img=asset_url('images/arrow-licorice.svg'),
              class="text-blue bg-white",
              link_img_class="transform rotate-180"
            ) }}
          </div>
        </div>
      </div>

      <div class="sm:self-start md:self-end lg:self-center col-span-1">
        <img
          alt="{{ _('Government of Canada') }}"
          class="float-left md:float-right"
          src="{{ asset_s3_url('goc--footer-logo.svg') }}"
          width="150"
        />
      </div>
    </nav>
  </div>
</footer>
