{% from "components/nav_menu_item.html" import nav_menu_item with context %}

<hr class="m-0 md:hidden bg-blue border-blue border-0 border-b-2"/>
{% if withnav %}
  <nav class="md:bg-gray flex" aria-label="{{ _('Main menu') }}">
    <div class="container md:px-gutterHalf relative flex flex-nowrap">
      <button
        id="menu"
        type="button"
        aria-expanded="false"
        aria-haspopup="true"
        class="nav-menu-item md:hidden bg-blue text-white focus:text-black justify-center px-4 w-full"
        data-module="menu" 
        data-menu-items="proposition-links">
        {{ _("Menu") }}
        <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
      </button>
      <ul id="proposition-links" class="hidden menu-overlay md:flex flex-nowrap flex-grow items-baseline gap-gutterHalf">
        {% if nav_items %}
            {% for i in nav_items %}
            {# Menu configured in GC Articles #}
              {% if 'main' in i.description %}
                <li class="flex-shrink-0">
                  {{ nav_menu_item(i.url, i.title, is_external_link=i.target, is_active=i.active) }}
                </li>
              {% endif %}
            {% endfor %}
          {% else %}
          {% for key, item in header_navigation.get_nav().items() %}
          {# Controller in navigation.py #}
            {% if item.context or item.context is undefined %}
              <li class="flex-shrink-0">
                {{ nav_menu_item(url=item.url or url_for('main.' + item.view), localised_txt=item.label, is_external_link=item.external or False, is_active=header_navigation.is_selected(key)) }}
              </li>
            {% endif %}
          {% endfor %}
          {% endif %}
      </ul>
      <button id="more-menu" type="button"
        aria-expanded="false" aria-haspopup="true"
        class="nav-menu-item justify-end w-min"
        data-module-menu-container="more-menu-container" data-has-items="false"
        data-module="more-menu" data-module-menu-items="proposition-links">
        {{ _("More") }}
        <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
      </button>
      <div id="more-menu-container" class="relative self-end hidden">
        <ul id="more-menu-items" class="menu-overlay absolute right-0 text-right empty:hidden w-max top-full"></ul>
      </div>
    </div>
  </nav>
{% endif %}
