{% from "components/nav_menu_item.html" import nav_menu_item %}

{% set lang_switch = 'EN' %}

{% if session["userlang"] == "en" %}
  {% set lang_switch = 'FR' %}
{% endif %}

<hr class="m-0 md:hidden bg-blue" style="height: 4px"/>
<nav class="md:hidden" aria-label="{{ _('mobile navigation') }}">
  <div class="container px-gutterHalf">
    <!-- Mobile menu and nav bar -->
    <div class="grid grid-cols-2">
      <div class="flex">
        <div class="mr-5 p-4 bg-blue flex-shrink">
          <a
            aria-expanded="false"
            aria-haspopup="true"
            href="#"
            id="menu"
            data-module="menu-overlay"
            data-menu-overlay-content="mobile-menu-content"
            data-menu-overlay-close="mobile-menu-close"
            class="text-white visited:text-white link:text-white no-underline focus:outline-none">
            {{ _('Menu') }}
          </a>
        </div>
      </div>
      {# This include of mobile popup overlay needs to be here for the HTML natural ordering #}
      {# to be determined properly for tab navigating and accessibility purposes. #}
      <!--  start mobile navigation -->
      {% include 'partials/nav/gc_header_nav_mobile.html' %}
      <!--  end mobile navigation -->
      <div aria-label="{{ _('language and sign-in') }}" class="flex justify-end self-center">
        {% if current_user.is_authenticated %}
          {% include 'partials/nav/account_menu_mobile.html' %}
        {% else %}
          <div class="self-center flex-shrink-0">
            <a
              href="{{ url_for('main.sign_in' ) }}"
              class="px-5 line-under leading-none inline-block text-blue visited:text-blue link:text-blue text-small underline hover:no-underline">
              {{ _('Sign in') }}
            </a>
          </div>
        {% endif %}
        <div class="pl-5">
          <div class="h-14 p-1 border-2 border-solid border-gray rounded-lg">
            <a
              aria-label="{{ lang_switch }}"
              class="px-1 line-under leading-none inline text-blue visited:text-blue link:text-blue text-small underline hover:no-underline"
              href="{{ url_for('main.set_lang') }}?from={{ request.path }}">
              {{ lang_switch }}
            </a>
          </div>
        </div>
      </div>
      <!-- Mobile menu and nav bar END -->
      <!-- MD-LG menu and nav bar -->
    </div>
  </div>
</nav>
{% if withnav %}
  <nav class="bg-gray xs:hidden smaller:hidden sm:hidden md:flex" aria-label="{{ _('main navigation') }}">
    <div class="container px-gutterHalf">
      <div id="proposition-links" class="flex flex-no-wrap">
        {% if not current_user.is_authenticated %}
          {{ nav_menu_item('/',_('Home'),'pl-0 header--'+header_navigation.is_selected('home')) }}
          {{ nav_menu_item(url_for('main.why-notify'),_('Why GC Notify'),'header--'+header_navigation.is_selected('why-notify')) }}
          {{ nav_menu_item(url_for('main.features'),_('Features'),'header--'+header_navigation.is_selected('features')) }}
          {{ nav_menu_item(documentation_url(),_('API documentation'),'header--'+header_navigation.is_selected('documentation'), external_link_img=asset_url('images/external.svg')) }}
          {{ nav_menu_item(url_for('main.contact'),_('Contact us'),'header--'+header_navigation.is_selected('contact')) }}
        {% else %}
          {% if not current_user.platform_admin %}
            {% if current_user.has_permissions() %}
              {% if current_user.has_permissions('view_activity') %}
                {{ nav_menu_item(url_for('main.service_dashboard', service_id=current_service.id),_('Dashboard'),'pl-0 header--'+header_navigation.is_selected('dashboard')) }}
              {% endif %}
              {{ nav_menu_item( url_for('main.choose_template', service_id=current_service.id),_('Templates'),'header--'+header_navigation.is_selected('templates')) }}
              {% if not current_user.has_permissions('view_activity') %}
                {{ nav_menu_item(url_for('main.view_notifications', service_id=current_service.id, status='sending,delivered,failed'),_('Sent messages'),'header--'+header_navigation.is_selected('sent-messages')) }}
                {% if current_service.has_jobs %}
                  {{ nav_menu_item(url_for('main.view_jobs', service_id=current_service.id),_('Bulk sends'),'header--'+header_navigation.is_selected('bulk-sends')) }}
                {% endif %}
              {% endif %}
              {% if current_user.has_permissions('manage_api_keys') %}
                {{ nav_menu_item(url_for('main.api_integration', service_id=current_service.id),_('API integration'),'header--'+header_navigation.is_selected('api-integration')) }}
              {% endif %}
              {{ nav_menu_item(url_for('main.manage_users', service_id=current_service.id),_('Team members'),'header--'+header_navigation.is_selected('team-members')) }}
              {% if current_user.has_permissions('manage_api_keys', 'manage_service') %}
                {{ nav_menu_item(url_for('main.service_settings', service_id=current_service.id),_('Settings'),'header--'+header_navigation.is_selected('settings')) }}
              {% endif %}
            {% else %} {# not current_user.has_permissions, i.e. services not in context #}
              {{ nav_menu_item(url_for('main.choose_account'),_('Your services'),'header--'+header_navigation.is_selected('choose_account'),id_key='choose_account') }}
              {{ nav_menu_item(url_for('main.contact', service_id=current_service.id),_('Contact us'),'header--'+header_navigation.is_selected('contact')) }}
            {% endif %}
          {% else %} {# current_user.platform_admin #}
            {% if not platform_admin_view_ind %}
              {% if current_user.has_permissions() %}
                {{ nav_menu_item(url_for('main.live_services', service_id=current_service.id), _('Admin panel'), 'pl-0') }}
                {{ nav_menu_item(url_for('main.service_dashboard', service_id=current_service.id),_('Dashboard'),'header--'+header_navigation.is_selected('dashboard')) }}
                {{ nav_menu_item( url_for('main.choose_template', service_id=current_service.id),_('Templates'),'header--'+header_navigation.is_selected('templates')) }}
                {{ nav_menu_item(url_for('main.api_integration', service_id=current_service.id),_('API integration'),'header--'+header_navigation.is_selected('api-integration')) }}
                {{ nav_menu_item(url_for('main.manage_users', service_id=current_service.id),_('Team members'),'header--'+header_navigation.is_selected('team-members')) }}
                {{ nav_menu_item(url_for('main.service_settings', service_id=current_service.id),_('Settings'),'header--'+header_navigation.is_selected('settings')) }}
              {% else %} {# not current_user.has_permissions, i.e. services not in context #}
                {{ nav_menu_item(url_for('main.choose_account'),_('Your services'),'pl-0 header--'+header_navigation.is_selected('choose_account'),id_key='choose_account') }}
                {{ nav_menu_item(url_for('main.live_services', service_id=current_service.id),_('Admin panel')) }}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
        <div
          aria-expanded="false"
          aria-haspopup="true"
          id="more-menu"
          data-module="more-menu"
          data-module-menu-items="proposition-links"
          data-module-menu-container="more-menu-container"
          class="hidden flex-shrink-0 text-center bg-gray self-center">
          <a
            href="#"
            aria-hidden="false"
            class="text-smaller text-blue py-5 visited:text-blue link:text-blue font-bold no-underline focus:outline-none focus:bg-yellow focus:border-b-4 focus:border-blue">
            {{ _('More') }}
            <img
              alt="{{ _('More options') }}"
              aria-hidden="true"
              class="account-menu-arrow ml-2 inline arrow self-center"
              src="{{ asset_url('images/arrow-licorice.svg') }}"
              width="15"
            />
          </a>
        </div>
      </div>
      <!-- MD-LG menu and nav bar END -->
    </div>
  </nav>
  <div id="more-menu-container" class="container hidden">
  </div>
{% endif %}
