{% from "components/buttons.html" import nav_button %}

<div class="container px-gutterHalf">
  <!-- start sub nav -->
  <div class="pt-5 lg:justify-between flex flex-wrap items-center gap-gutterHalf">
      <img
          alt="{{ _('Government of Canada') }}"
          width="250"
          class="focus:bg-yellow focus:outline-yellow focus:border-yellow focus:border-2 mr-auto"
          src="{{ asset_s3_url(_('gov-canada-en.svg')) }}"
        />
    <nav aria-label="{{ _('Your account and language') if current_user.is_authenticated else _('Sign-in and language') }}"
         class="flex self-justify-end w-full sm:w-max max-sm:border-t-1 border-gray-300">
      <ul class="flex gap-gutterHalf w-full justify-between">
        {% if current_user.is_authenticated %}
          {% include 'partials/nav/account_menu.html' %}
        {% else %}
          <li>
            <a href="{{ url_for('main.sign_in') }}" class="nav-menu-item" aria-label="{{ _('Sign in to GC Notify') }}">
              {{_('Sign in')}}
            </a>
          </li>
        {% endif %}
        {% set set_lang_url = lang_url or request.full_path.rstrip('?') %}
        <li>
            <a id="header-lang" href="{{ url_for('main.set_lang') ~ '?from=' ~ set_lang_url }}" lang="{{_('fr-CA')}}" class="nav-menu-item">
              {{_('Français')}}
            </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="py-gutterHalf">
      
        {% if not current_user.is_authenticated or current_user.is_authenticated and not current_user.has_permissions()
        and not platform_admin_view_ind %}
        <a href="/" id="gc-title" class="text-titlelarge min-h-target hover:underline focus:underline">
          {{ _("GC Notify") }}
        </a>
        {% else %}
        <a href="/" id="gc-title" class="underline hover:underline text-base">
          {{ _("GC Notify") }}
        </a>
        {% endif %}
    {% set url_text = current_service.name %}
    {% if platform_admin_view_ind %}
      {% set url_text = _('Admin panel') %}
    {% endif %}

    {% if current_user.is_authenticated and current_user.has_permissions() or platform_admin_view_ind %}
      <div class="max-md:flex max-md:flex-col flex-wrap gap-gutterHalf text-titlelarge text-black text-balance">
        {{ url_text }}
        {% if current_user.has_permissions() and not platform_admin_view_ind and current_service.trial_mode %}
        <a
          class="flex md:inline-flex md:ml-4 gap-2 items-baseline text-xs relative md:top-[-3px] border-0 focus:border-0"
          href="{{ url_for('main.request_to_go_live', service_id=current_service.id) }}">
            {{ badge(_('Trial'), variant='blue', id='live-banner') }}
            <span class="underline">
              {% if current_service.pending_live %}
                {{ _('Request being reviewed') }}
              {% else %}
                {{ _('Request to go live') }}
              {% endif %}
            </span>
        </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
