{% from "components/menu-button.html" import menu_button %}

{% set lang_switch = 'EN' %}
{% set long_lang_switch = 'English' %}

{% if session["userlang"] == "en" %}
  {% set lang_switch = 'FR' %}
  {% set long_lang_switch = 'Français' %}
{% endif %}

<div class="container lg:px-10 md:px-8 sm:px-4 smaller:px-4 xs:px-4 ">
  <!-- start sub nav -->
  <div class="pt-5 lg:justify-between grid md:grid-cols-2">
    <div>
      {% if session["userlang"] == "en" %}
        <img
          alt="{{ _('Government of Canada') }}"
          width="250"
          class="focus:bg-yellow focus:outline-yellow focus:border-yellow focus:border-2"
          src="{{ asset_s3_url('gov-canada-en.svg') }}"
        />
      {% else %}
        <a href="/">
          <img
            alt="{{ _('Government of Canada') }}"
            width="250"
            class="focus:bg-yellow focus:outline-yellow focus:border-yellow focus:border-2"
            src="{{ asset_s3_url('gov-canada-fr.svg') }}"
          />
        </a>
      {% endif %}
    </div>
    <!-- start sub nav -->
    <nav aria-label="{{ _('language and sign-in') }}"
         class="xs:hidden smaller:hidden sm:hidden md:flex justify-end">
      {% if current_user.is_authenticated %}
        {% include 'partials/nav/account_menu.html' %}
      {% else %}
        {{ menu_button(
          href=url_for('main.sign_in'),
          label=_('Sign in')
        ) }}
      {% endif %}
      {{ menu_button(
        href=url_for('main.set_lang') + "?from=" + request.path,
        label=long_lang_switch,
        aria_label=long_lang_switch,
        lang=lang_switch,
        style="mr-10 ml-5"
      ) }}
    </nav>
    <!-- end sub nav -->
  </div>
  <div>
    <div class="">
      <a href="/" class="py-1 no-underline focus:outline-none focus:border-b-2 focus:border-blue focus:text-blue">
        {% if not current_user.is_authenticated or current_user.is_authenticated and not current_user.has_permissions()
        and not platform_admin_view_ind %}
          <span id="gc-title"
                class="text-titlelarge text-black visited:text-black"
          >
          {{ _("GC Notify") }}
        </span>
        {% else %}
          <span id="gc-title"
                class="text-base text-black visited:text-black"
          >
          {{ _("GC Notify") }}
        </span>
        {% endif %}
      </a>
    </div>
  </div>

  {% set url_text = current_service.name %}
  {% if platform_admin_view_ind %}
    {% set url_text = _('Admin panel') %}
  {% endif %}

  {% if current_user.is_authenticated and current_user.has_permissions() or platform_admin_view_ind %}
    <div>
      <h2 class="font-bold text-lg text-black inline">
        {{ url_text }}
      </h2>
      <a
        class="self-end mb-2 py-2 px-1 inline-block align-middle focus:outline-none focus:border-b-2 focus:border-blue "
        href="{{ url_for('main.request_to_go_live', service_id=current_service.id) }}"
        role="button">
        <div class="flex flex-initial flex-row text-base">
          {% if current_user.has_permissions() and not platform_admin_view_ind and current_service.trial_mode %}
            <div
              id="live-banner"
              class="button px-6 py-1 bg-blue text-white text-small font-bold hover:bg-blue-selected inline-block mr-4">
              {{ _('Trial') }}
            </div>
            <div class="inline-block text-small underline visited:text-blue link:text-blue">
              {% if current_service.pending_live %}
                {{ _('Request being reviewed') }}
              {% else %}
                {{ _('Request to go live') }}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </a>
    </div>
  {% endif %}
</div>
