{% extends "contact_template.html" %}

{% block contact_form_content %}
    <p>{{_("To learn about our load time, delivery speed and delivery information, read our <a href='{}'>Service level objectives: What to expect from GC Notify.</a>").format(gca_url_for('service-level-objectives')) }}</p>
    <p>{{_("To check our current operations, incidents, and service interruptions, visit <a href='{}'>System status</a>").format("https://status.notification.canada.ca")}}</p>
    <p>{{_("For other questions about GC Notify, use this form.")}}</p>
    {% if not current_user.is_authenticated %}
        {{ textbox(form.name, width='md:w-2/3', autocomplete='name') }}
        {{ textbox(form.email_address, width='md:w-2/3', autocomplete='email') }}
    {% endif %}
        {{ radios(form.support_type, use_aria_labelledby=False) }}
{% endblock %}