{% extends  "admin_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}

{% block per_page_title %}
  {{ _("Contact us") }}
{% endblock %}

{% block maincolumn_content %}
  {% set sub_text = None %}
  {% if step_hint %}
    {% set sub_text = _("Step {} of {}").format(step_hint, total_steps_hint) %}
  {% endif %}

  {{ page_header(
    page_title,
    back_link=back_link,
    sub_text=sub_text
  ) }}
  <div class="grid-row contain-floats">
    <div class="float-left w-full py-0 px-0 px-gutterHalf box-border">
      {% call form_wrapper(action=url_for('.contact', current_step=current_step), autocomplete=True) %}

        {% if current_step == "identity" %}
        
          {% if not current_user.is_authenticated %}
            {{ textbox(form.name, width='md:w-2/3', autocomplete='name') }}
            {{ textbox(form.email_address, width='md:w-2/3', autocomplete='email') }}
          {% endif %}
          {{ radios(form.support_type) }}
          
        {% endif %}

        {% if current_step == "message" %}
          {{ textbox(form.message, width='md:w-2/3',label=message_label, hint='', rows=10) }}
          

        {% endif %}

        {% if current_step == "set_up_demo.org_details" %}
          {{ textbox(form.department_org_name, width='md:w-2/3') }}
          {{ textbox(form.program_service_name, width='md:w-2/3') }}
          {{ radios(form.intended_recipients) }}
        {% endif %}

        {% if current_step == "set_up_demo.primary_purpose" %}
          {{ radios(form.main_use_case) }}
          {{ textbox(form.main_use_case_details, width='md:w-2/3', rows=5) }}
        {% endif %}

        {% if next_step != None %}
          {{ page_footer(_('Continue')) }}
        {% else %}
          <div id="captcha_container" data-module="recaptcha-language" class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter {% if form.recaptcha.errors %}form-group-error contain-floats{% endif %}">
          {{ form.recaptcha}}
          {% if form.recaptcha.errors %}
          <span class="error-message" data-module="track-error" data-error-type="{{ form.recaptcha.errors[0] }}" data-error-label="reCaptcha">
            {{ _('Check the CAPTCHA before submitting the form') }}
          </span>
          {% endif %}
          </div>
          {{ page_footer(_('Send')) }}
        {% endif %}

      {% endcall %}
    </div>
  </div>
{% endblock %}
