{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/honeypot-field.html" import honeypotfield %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _("Ask a question or give feedback") }}
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">
      {{ _("Ask a question or give feedback") }}
    </h1>
    <div class="grid-row contain-floats">
      <div id="contact-form" class="w-full md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
        {% call form_wrapper() %}
          {% set name_label = _('Your name') %}
          {{ textbox(form.name, label=name_label,  width='w-full') }}

          <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
            <label class="form-label" for="support_type">
              {{ _('Request type') }}
            </label>

            <select class="form-control w-full " name="support_type">
              {% for option in form.support_type %}

              {% set checked = "" %}
              {% if option.checked %}
                {% set checked = "selected" %}
              {% endif %}

              <option {{checked}} value="{{ option.data }}">{{ option.label.text }}</option>
              {% endfor %}
            </select>
          </div>

          {% set email_label = _('Your email') %}
          {{ textbox(form.email_address, label=email_label, width='w-full') }}

          {% set message_label = _('Message') %}
          {{ textbox(form.feedback, width='w-full', label=message_label, hint='', rows=10) }}
          {% set send_text = _('Send') %}
        {{ page_footer(send_text) }}
        {% endcall %}
      </div>
    </div>

{% endblock %}
