{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  {{ _("Contact us") }}
{% endblock %}

{% block maincolumn_content %}
    {% set back_link = url_for('.contact', current_step=previous_step) %}

    {% if current_step == "message" and form.support_type.data == "other" %}
      {% set page_title = _("Tell us more") %}
      {% set message_label = _("Your message") %}

    {% elif current_step == "message" and form.support_type.data == "give_feedback" %}
      {% set page_title = _("Give feedback") %}
      {% set message_label = _("How can we do better?") %}

    {% elif current_step == "message" and form.support_type.data == "technical_support" %}
      {% set page_title = _("Get technical support") %}
      {% set message_label = _("Describe the problem.") %}

    {% elif current_step == "message" and form.support_type.data == "ask_question" %}
      {% set page_title = _("Ask a question") %}
      {% set message_label = _("Your question") %}

    {% elif current_step == "message" and form.support_type.data == "decide_notify_appropriate" %}
      {% set page_title = _("Tell us more") %}

    {% elif current_step in ["set_up_demo.org_details", "set_up_demo.primary_purpose"] %}
      {% set page_title = _("Set up a demo") %}

    {% else %}
      {% set page_title = _("Contact us") %}
      {% set back_link = None %}
    {% endif %}

    {% set sub_text = None %}
    {% if step %}
      {% set sub_text = _("Step {} out of {}").format(step, total_steps) %}
    {% endif %}

    {{ page_header(
      page_title,
      back_link=back_link,
      sub_text=sub_text
    ) }}
    <div class="grid-row contain-floats">
      <div id="contact-form" class="float-left w-full py-0 px-0 px-gutterHalf box-border">
        {% call form_wrapper(action=url_for('.contact', current_step=current_step)) %}

          {% if current_step == "identity" %}
            {{ textbox(form.name, width='md:w-2/3') }}
            {{ textbox(form.email_address, width='md:w-2/3') }}
            {{ radios(form.support_type) }}
            {{ page_footer(_('Continue')) }}
          {% endif %}

          {% if current_step == "message" %}
            {{ textbox(form.message, width='md:w-2/3',label=message_label, hint='', rows=10) }}
            {{ page_footer(_('Send')) }}
          {% endif %}

          {% if current_step == "set_up_demo.org_details" %}
            {{ textbox(form.department_org_name, width='md:w-2/3') }}
            {{ textbox(form.program_service_name, width='md:w-2/3') }}
            {{ radios(form.intended_recipients) }}
            {{ page_footer(_('Continue')) }}
          {% endif %}

          {% if current_step == "set_up_demo.primary_purpose" %}
            {{ radios(form.main_use_case) }}
            {{ textbox(form.main_use_case_details, width='md:w-2/3', rows=5) }}
            {{ page_footer(_('Continue')) }}
          {% endif %}

        {% endcall %}
      </div>
    </div>

{% endblock %}
