
{% extends "contact_template.html" %}
{% from "components/confirmation-preview.html" import confirmation_preview %}

{% set message_label = _("Message") %}

{% block contact_form_content %}
    {% set protected_link = '<a href="{url}" target="_blank">{title}</a>'.format(title=_("protected"), url=_("https://www.tbs-sct.canada.ca/pol/doc-eng.aspx?id=32614")) | safe %}
    {% set hint_message = _("Do not include {} or personal information.").format(protected_link) %}
    
    {{ textbox(form.message, width='md:w-2/3',label=message_label, hint=hint_message|safe, rows=10) }}
    
    <div id="sanitize-pii" class="focus:outline-yellow mb-gutter" style="display: none" tabindex="0" >
        {% call confirmation_preview() %}
            <p class="m-0">{{_("Some message content may be protected information. You can edit your message or we'll remove the following before sending:")}}</p>
            <ul class="list-disc pl-gutterHalf"></ul>
        {% endcall %}
    </div>
{% endblock %}