{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  {{ _('Thanks for contacting us') }}
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">
      {{ _('Thanks for contacting us') }}
    </h1>

    <p class="mb-10">
      {{ _("We'll be in touch within 2 business days.") }}
    </p>

    <p>
      {{ _('Learn more about GC Notify:') }}
    </p>

    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li class="mb-5">
        <a href="{{ url_for('.features') }}">{{ _('Features') }}</a><br>
        <p>{{ _("What you can do with GC Notify") }}</p>
      </li>
      <li class="mb-5">
        <a href="{{ url_for('.documentation') }}">{{ _('Documentation') }}</a><br>
        <p>{{ _("How to connect your system to GC Notify") }}</p>
      </li>
    </ul>

{% endblock %}
