{% extends "admin_template.html" %}
{% from "components/banner.html" import banner %}
{% from "components/ajax-block.html" import ajax_block %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/problem-email-checkbox.html" import problem_email_checkbox %}
{% from "components/empty-list.html" import empty_list  %}

{% block service_page_title %}
  {% if job.job_status == 'scheduled' %}
    {{ _('Scheduled messages') }}
  {% else %}
    {{ _('Delivery report') }}
  {% endif %}
     - {{ uploaded_file_name }}
{% endblock %}

{% block maincolumn_content %}
  
    {% if job.job_status == 'scheduled' %}
      <h1 class="heading-large">
          {{ _('Scheduled messages') }}
      </h1>
      <div class="flex flex-wrap mb-8">
        <div class="w-full sm:w-1/4 border-solid font-bold sm:font-normal sm:border-b-1 border-gray-600-1 pt-4 pb-4">
          {{ _('Scheduled by') }}
        </div>
        <div class="w-full sm:w-3/4 border-solid border-b-1 border-gray-600-1 pt-4 pb-4">
          {% if job.api_key %}
            {{ _("API key '<a href='{}'>{}</a>'").format(url_for('.api_keys', service_id=current_service.id), job.api_key.name) }}
          {% else %}
            {{ job.created_by.name }}
          {% endif %}
        </div>
        <div class="w-full sm:w-1/4 border-solid font-bold sm:font-normal sm:border-b-1 border-gray-600-1 pt-4 pb-4">
          {{ _('Scheduled for') }}
        </div>
        <div class="w-full sm:w-3/4 border-solid border-b-1 border-gray-600-1 pt-4 pb-4">
          <time class="local-datetime-short">{{ job.scheduled_for }}</time>
        </div>
        <div class="w-full sm:w-1/4 border-solid font-bold sm:font-normal sm:border-b-1 border-gray-600-1 pt-4 pb-4">
          {% if job.api_key %}
            {{ _('API request name')}} 
          {% else %}
            {{ _('Spreadsheet') }}
          {% endif %}
        </div>
        <div class="w-full sm:w-3/4 border-solid border-b-1 border-gray-400-1 pt-4 pb-4">
          {{ job.original_file_name }}
        </div>
        <div class="w-full sm:w-1/4 border-solid font-bold sm:font-normal sm:border-b-1 border-gray-400-1 pt-4 pb-4">
          {{ _('Sending to') }}
        </div>
        <div class="w-full sm:w-3/4 border-solid border-b-1 border-gray-400-1 pt-4 pb-4">
          {{ _('{} recipient(s)').format(job.notification_count) }}
        </div>
        <div class="w-full sm:w-1/4 border-solid font-bold sm:font-normal sm:border-b-1 border-gray-400-1 pt-4 pb-4">
          {{ _('Template') }}
        </div>
        <div class="w-full sm:w-3/4 border-dashed border-b-1 border-gray-400-1 pt-4 pb-4">
          <a href="{{ url_for('.view_template_version', service_id=current_service.id, template_id=template_id, version=job['template_version']) }}">{{ template_name }}</a>
        </div>
      </div>

      {{ ajax_block(partials, updates_url, 'notifications_header', finished=finished) }}

    {% else %}
      <h1 class="heading-large">
        {{ _('Delivery report') }}
      </h1>
      
      {% if just_sent %}
        {{ banner(just_sent_message, type='default', with_tick=True) }}
      {% else %}
        {{ ajax_block(partials, updates_url, 'status', finished=finished) }}
      {% endif %}

      {{ ajax_block(partials, updates_url, 'counts', finished=finished) }}

      {% if not job.archived %}
        {{ ajax_block(partials, updates_url, 'notifications_header', finished=finished) }}
        {{ ajax_block(partials, updates_url, 'notifications', finished=finished) }}
      {% else %}
      
      {{ empty_list(
          _("GC Notify disposed of the information in this report on <time class='local-datetime-short'>{}</time>").format(job.updated_at), 
          _('After {} days, we keep only non-identifying statistics.').format(svc_retention_days), 
          'emptyBirdHole'
        ) 
      }}
      {% endif %}
      
    {% endif %}
    
    
    {% if can_cancel_letter_job %}
      <div class="js-stick-at-bottom-when-scrolling">
        <div class="page-footer">
          <span class="page-footer-delete-link page-footer-delete-link-without-button">
              <a href="{{ url_for('main.cancel_letter_job', service_id=current_service.id, job_id=job_id) }}">Cancel sending these letters</a>
          </span>
    {% else %}
      <div>&nbsp;</div>
    {% endif %}

{% endblock %}
