{% from "components/previous-next-navigation.html" import previous_next_navigation %}
{% extends "admin_template.html" %}

{% block service_page_title %}
  {{ _('Bulk sends') }}
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">{{ _('Bulk sends') }}</h1>

  <div class="dashboard">
    {% if scheduled_jobs %}
      <h2 class="heading-medium mt-8">{{ _("Scheduled messages") }}</h2>
      {{ scheduled_jobs | safe }}
    {% endif %}

    {% if jobs %}
      <h2 class="heading-medium mt-8">{{ _("Sent messages") }}</h2>
      {% include 'views/dashboard/_jobs.html' %}
    {% endif %}

    {{ previous_next_navigation(prev_page, next_page) }}
  </div>
{% endblock %}
