@layer components {
  /*! purgecss start ignore */
  .multiple-choice {
    @apply block float-none clear-left relative p-0 mb-4;
    padding-left: 38px;
  }
  @screen sm {
    .multiple-choice {
      @apply float-left;
    }
  }

  .multiple-choice input {
    @apply absolute cursor-pointer left-0 top-0 outline-none opacity-0;
    width: 38px;
    height: 38px;
    z-index: 1;
  }

  .multiple-choice label {
    @apply cursor-pointer block;
    /* remove 300ms pause on mobile */
    padding: 8px 15px 9px 12px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  @screen sm {
    .mutiple-choice label {
      @apply float-left;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  .multiple-choice [type=radio] + label:before {
    content: "";
    @apply bg-transparent border-2 border-solid border-black absolute top-0 left-0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
  }
  .multiple-choice [type=radio] + label:after {
    content: "";
    @apply border-10 border-solid w-0 h-0 absolute opacity-0;
    top: 9px;
    left: 9px;
    border-radius: 50%;
  }

  .multiple-choice [type=checkbox] + label:before {
    content: "";
    width: 34px;
    height: 34px;
    @apply bg-transparent absolute top-0 left-0 border-2 border-solid border-black;
  }
  .multiple-choice [type=checkbox] + label:after {
    content: "";
    border-width: 0 0 5px 5px;
    width: 17px;
    height: 7px;
    top: 10px;
    left: 8px;
    border-top-color: transparent;
    @apply border-solid bg-transparent absolute opacity-0 transform -rotate-45;
  }

  /* Focus state */
  .multiple-choice [type=radio]:focus + label:before {
    @apply shadow-outline4;
  }
  .multiple-choice [type=checkbox]:focus + label:before {
    @apply shadow-outline;
  }

  /* Selected state */
  .multiple-choice input:checked + label:after {
    @apply opacity-100;
  }

  /* disabled state */
  .multiple-choice input:disabled {
    @apply cursor-default;
  }
  .multiple-choice input:disabled + label {
    @apply opacity-50 cursor-default;
  }

  .multiple-choice:last-child,
  .multiple-choice:last-of-type {
    @apply mb-0;
  }

  .inline .multiple-choice {
    @apply clear-none;
  }
  @screen sm {
    .inline .multiple-choice {
      @apply mb-0 mr-gutter;
    }
  }
  /*! purgecss end ignore */
}