@layer components {
  /*! purgecss start ignore */
  fieldset.after-error-summary {
    margin-top: -15px;
  }
  @screen sm {
    fieldset.after-error-summary {
      margin-top: -30px;
    }
  }

  textarea {
    @apply block;
  }

  .form-label,
  .form-label-bold {
    padding-bottom: 2px;
    @apply block text-black;
  }
  .form-label {
    @apply mb-2 text-smaller leading-tight font-normal;
  }
  .form-label.heading-small {
    @apply text-smaller leading-tight font-bold;
  }
  .form-label .hint {
    margin-top: -5px;
    @apply block mb-2;
  }
  .form-label-bold {
    @apply font-bold;
  }

  .form-hint {
    margin-top: -2px;
    padding-bottom: 2px;
    @apply text-smaller leading-tight font-normal block text-gray-grey1;
  }
  .form-label .form-hint,
  .form-label-bold .form-hint {
    @apply mt-0 pb-0;
  }

  .input {
    border-color: #000;
    @apply border-solid border-2 py-3 px-2 text-smaller;
  }
  /* By default, form controls are 50% width for desktop,
     and 100% width for mobile
  */
  .form-control {
    padding: 5px 4px 4px;
    @apply box-border text-smaller leading-tight font-normal font-body w-full border-2 border-solid border-black;
  }
  @screen md {
    .form-control {
      @apply w-1/2;
    }
    .form-control.form-control-1-1 {
      @apply w-full;
    }
  }

  .form-control-5em {
    @apply w-full;
  }
  @screen md {
    .form-control-5em {
      width: 5em;
    }
  }

  input.form-control,
  textarea.form-control {
    -webkit-appearance: none;
    border-radius: 0;
  }
  textarea.form-control {
    @apply bg-none opacity-100;
  }

  option:active,
  option:checked,
  select:focus::-ms-value {
    @apply text-white bg-blue-govukblue;
  }

  #add_template_by_template_type legend {
    font-size: 1.2em;
    @apply font-bold;
  }

  /*! purgecss end ignore */
}