{% extends "withoutnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

<style>
    /* inline this as the */
    .form-wrap .form-group .form-label{
      font-weight:bold;
    }
</style>

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
  <span class="form-hint">
    Step {{ step_num }} of {{ step_max }}
  </span>
    {% if current_step == "choose_service_name" %}
      {% include "partials/add-service/step-create-service.html" %}
    {% elif current_step == "choose_email_from" %}
      {% include "partials/add-service/step-choose-email.html" %}
    {% elif current_step == "choose_logo" %}
      {% include "partials/add-service/step-choose-logo.html" %}
    {% endif %}
  </div>
</div>

{% endblock %}
