{% extends "withoutnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

<style>
    /* inline this as the */
    .form-wrap .form-group .form-label{
      font-weight:bold;
    }
</style>

<div class="grid-row contain-floats">
  <div class="column-two-thirds">
    {% if current_step == "choose_service_name" %}
      {% include "partials/add-service/step1-create-service.html" %}
    {% elif current_step == "choose_logo" %}
      {% include "partials/add-service/step2-choose-logo.html" %}
    {% endif %}
  </div>
</div>

{% endblock %}
