{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  {{ _('Inbound SMS number added successfully') }}
{% endblock %}

{% block maincolumn_content %}


    <h1 class="heading-large">
      {{ _('Inbound SMS number added successfully') }}
    </h1>

    <div class="mb-12 clear-both-2 contain-floats">
      {% set link_txt = _('Back to inbound SMS numbers') %}
      {{ _('You have added:' ) }} {{ number }}
      {{ page_footer(
        secondary_link=url_for('.inbound_sms_admin'),
        secondary_link_text=link_txt
      ) }}

    </div>

{% endblock %}
