{% from "components/table.html" import mapping_table, row, text_field, edit_field, field, row_heading with context %}
{% extends  "admin_template.html" %}

{% block per_page_title %}
  {{ _('Callback documentation') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">

    <h1 class="heading-large">{{ _('Callback documentation') }}</h1>
    <p>{{ _('A callback lets you receive messages from GC Notify to a URL you choose.') }}</p>
    <p>{{ _('You’ll need to provide a bearer token, for security. We’ll add this to the authorisation header of the callback request.') }}</p>
    <p>{{ _('The callback message is in JSON.') }}</p>

    <h2 class="heading-medium">{{ _('Email and text message delivery receipts') }}</h2>
    <p>{{ _('When you send an email or text message through GC Notify, we can send a receipt to your callback URL to tell you if we were able to deliver it or not.') }}</p>
    <div class="mb-12 clear-both contain-floats">
      {% call mapping_table(
        caption='Callback message format',
        field_headings=[_('Key'), _('Description'), _('Format')],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for key, description, format in [
          ('id', _('GC Notify’s id for the status receipts'), 'UUID'),
          ('reference', _('The reference sent by the service'), '12345678'),
          ('to', _('The email address of the recipient'), 'hello@gov.uk'),
          ('status', _('The status of the notification'), 'delivered | permanent-failure | temporary-failure | technical-failure'),
          ('created_at', _('The time the service sent the request'), '2017-05-14T12:15:30.000000Z'),
          ('completed_at', _('The last time the status was updated'), '2017-05-14T12:15:30.000000Z'),
          ('sent_at', _('The time the notification was sent'), '2017-05-14T12:15:30.000000Z or nil'),
          ('notification_type', _('The notification type'), 'email | sms | letter')
        ] %}
          {% call row() %}
            {% call row_heading() %} {{ key }} {% endcall %}
            {{ text_field(description) }}
            {{ text_field(format) }}
          {% endcall %}
        {% endfor %}
      {% endcall %}
    </div>

    <h2 class="heading-medium">{{ _('Text messages you receive') }}</h2>
    <p>{{ _('If your service receives text messages in GC Notify, we can forward them to your callback URL as soon as they arrive.') }}</p>
    <div class="mb-12 clear-both contain-floats">
      {% call mapping_table(
        caption=_('Callback message format'),
        field_headings=[_('Key'), _('Description'), _('Format')],
        field_headings_visible=True,
        caption_visible=False
      ) %}
        {% for key, description, format in [
          ('id', _('GC Notify’s id for the received message'), 'UUID'),
          ('source_number', _('The phone number the message was sent from'), '447700912345'),
          ('destination_number', _('The number the message was sent to (your number)'), '07700987654'),
          ('message', _('The received message'), 'Hello Notification!'),
          ('date_received', _('The UTC datetime that the message was received by GC Notify'), '2017-05-14T12:15:30.000000Z')
        ] %}
          {% call row() %}
            {% call row_heading() %} {{ key }} {% endcall %}
            {{ text_field(description) }}
            {{ text_field(format) }}
          {% endcall %}
        {% endfor %}
      {% endcall %}
    </div>
{% endblock %}
