{% extends "withoutnav_template.html" %}
{% block per_page_title %}{{ _('Invitation has been cancelled') }}{% endblock %}
{% block maincolumn_content %}
    <div class="grid-row contain-floats">
      <div class="column-two-thirds">
        <h1 class="heading-large">
          {{ _('The invitation you were sent has been cancelled') }}
        </h1>
        <p>
          {{ from_user }} {{ _('decided to cancel this invitation.') }}
        </p>
        <p>
          {{ _('If you need access to') }} {{ service_name or organisation_name }}{{ _(', you’ll have to ask them to invite you again.') }}
        </p>
      </div>
    </div>
{% endblock %}
