{% extends  "admin_template.html" %}
{% from "components/render_test_codes_in_dev.html" import render_test_codes_in_dev  %}

{% block per_page_title %}
  {{ _('Check your email') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">{{ _('Check your email​') }}</h1>
  <p>{{ _('An email has been sent to') }} {{ new_email }}.</p>
  <p>{{ _('Click the link in the email to confirm the change to your email address.') }}</p>
  
  {{ render_test_codes_in_dev(verify_url) }}
  
{% endblock %}
