{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Documentation') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Documentation') }}</h1>
    <p>{{ _('Notification API to send messages automatically.') }}</p>
  <h2 class="heading-medium">{{ _('Clients') }}</h2>
    <p>{{ _('Choose a client to integrate our API with your web application or back office system. Links to documentation open in a new tab.') }}</p>
  
  <h2>{{ _('Maintained by CDS:') }}</h2> 
  <ul class="list list-bullet">
    {% for key, label in [
      ('java', 'Java'),
    ] %}
      {% set url = _('Java-API-Library-Documentation') %}
      <li><a href="https://github.com/cds-snc/notification-api/wiki/{{url}}" target="_blank" rel="noopener">{{ label }}</a></li>
    {% endfor %}
  </ul>

  <h2>{{ _('Maintained by GOV.UK:') }}</h2>
  <ul class="list list-bullet">
    {% for key, label in [
      ('net', '.NET'),
      ('node', 'Node JS'),
      ('php', 'PHP'),
      ('python', 'Python'),
      ('ruby', 'Ruby'),
    ] %}
      <li><a href="https://docs.notifications.service.gov.uk/{{ key }}.html" target="_blank" rel="noopener">{{ label }}</a></li>
    {% endfor %}
  </ul>
  <!--
    <p>{{ _('A developer should be able to set up the API client and start sending test messages in around 30 minutes. A full integration can take a few days, depending on the other systems you’re using.') }}</p>
  <h2>{{ _('Integrating directly with the API') }}</h2>
    <p>{{ _('We recommend using the client libraries rather than integrating directly with the API.') }}</p>
    <p>{{ _('There’s no documentation for using the API in this way. You’ll still need to read the client documentation to understand:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('what the API client does') }}</li>
    <li>{{ _('what development work you’ll need to do') }}</li>
  </ul>
  <p>{{ _('To send a message you’ll need to create an HTTPS request and add an authorisation header with your API key. The API key is encoded with JSON Web Tokens (JWT).') }}</p>
-->
{% endblock %}
