{% extends "content_template.html" %} {% block per_page_title %}
{{ _("Technical documentation") }}
{% endblock %} {% block content_column_content %}
<h1 class="heading-large">{{ _("Technical documentation") }}</h1>
<p>{{ _("Integrate the API to send messages automatically.") }}</p>

<h2 class="heading-medium">{{ _("Set up the client") }}</h2>
<p>
  {{
    _(
      "The API is available using clients developed by <a href=https://www.notifications.service.gov.uk/ >GOV.UK</a>."
    )
  }}
</p>
{% if current_lang == "fr" %}
<div class="border-box">
  <strong>{{ _("À noter : ") }}</strong>{{ _("Avant d'intégrer l'API avec les clients de Notification ci-dessous, vous devez modifier votre point de terminaison vers <a href=https://api.notification.alpha.canada.ca>https://api.notification.alpha.canada.ca</a>.") }}
  <a     
  class="button-blue"
  href= "https://github.com/cds-snc/notification-api/wiki/Comment-changer-votre-point-de-terminaison-d'API%3F"
      >{{ _("Comment changer votre point de terminaison") }}</a
    >
  </div>
{% else %}
<div class="border-box">
  <strong>{{ _("Note: ") }}</strong>{{ _("Before integrating the API, using the GC Notify clients below, you need to change your endpoint to <a href=https://api.notification.alpha.canada.ca>https://api.notification.alpha.canada.ca</a>.") }}
  <a 
  class="button-blue"
  href="https://github.com/cds-snc/notification-api/wiki/How-to-change-your-API-endpoint%3F"
    >{{ _("How to change your endpoint") }}</a>
</div>
{% endif %}

<p>{{ _("Choose a client to integrate the API with your system:") }}</p>
<ul class="list list-bullet">
  {% for key, label in [ ('java', 'Java'), ('net', '.NET'), ('node', 'Node JS'), ('php', 'PHP'),
  ('python', 'Python'), ('ruby', 'Ruby'), ] %}
  <li>
    <a
      href="https://docs.notifications.service.gov.uk/{{ key }}.html"
      target="_blank"
      rel="noopener"
      >{{ label }}</a
    >
  </li>
  
  {% endfor %}
  <li> 
    <a
    href="https://docs.notifications.service.gov.uk/rest-api.html"
    target="_blank"
    rel="noopener"
    >{{ _("Direct connection to API") }}</a>
  </li>
</ul>


{% endblock %}
