{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer_two_submit_buttons %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/task-shortcut.html" import task_shortcut %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(
    heading,
    back_link=url_for('main.view_template', service_id=current_service.id, template_id=template.id) if template else url_for('main.create_template', service_id=current_service.id, template_folder_id=template_folder_id),
    back_link_aria_label=_('Back to template {}').format(template.name) if template else _('Back')
  ) }}

  {% call form_wrapper() %}
    <div class="grid-row contain-floats md:flex my-gutterAndAHalf">
      <div class="md:max-w-2/3 px-gutterHalf mb-gutterHalf">
        {{ task_shortcut(
            description=_("You can put double brackets around a variable to insert custom&nbsp;content."),
            link_url=gca_url_for('personalisation_guide'),
            link_text=_("Guide: Send messages with custom content"),
            icon="arrow-up-right-from-square"
          )
        }}
      </div>
    </div>

    <div class="grid-row contain-floats">
      <div class="md:w-2/3 px-gutterHalf">
        {{ textbox(form.name, width='w-full', hint=_('This will not show in the message. Use a name that helps you find the template when you need it.')) }}
      </div>
      <div class="md:w-2/3 px-gutterHalf">
        {{ textbox(form.template_content, highlight_tags=True, width='w-full', rows=5, hint=_('Maximum 612 characters. Some messages may be too long due to custom content.')) }}
        {% if current_user.platform_admin %}
          {{ radios(form.process_type, hint=_('This is only manageable by platform admins')) }}
        {% endif %}
        {{ sticky_page_footer_two_submit_buttons(_('Save'), "save", _("Preview"), "preview") }}
      </div>
    </div>
  {% endcall %}
{% endblock %}
