{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer, sticky_page_footer_two_submit_buttons %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(
    heading,
    back_link=url_for('main.view_template', service_id=current_service.id, template_id=template.id) if template else url_for('main.create_template', service_id=current_service.id, template_folder_id=template_folder_id)
  ) }}

  {% call form_wrapper() %}
    <div class="md:w-5/6 form-group mb-gutterHalf md:mb-gutter">
      {{ _("A template allows you to send the same message to many people. To tailor messages for each recipient, visit the <a href='{}' target='_blank'>Personalisation guide<span class='sr-only'> (Opens in a new tab)</span><img aria-hidden='true' role='presentation' class='inline w-6 h-6 ml-2 self-center' src='{}'/></a>.").format(url_for('.personalise'), asset_url('images/external.svg')) }}
    </div>

    <div class="grid-row contain-floats">
      <div class="md:w-2/3 px-gutterHalf">
        {{ textbox(form.name, width='w-full', hint=_('Your recipients will not see this template name.')) }}
      </div>
      <div class="md:w-2/3 px-gutterHalf">
        {{ textbox(form.template_content, highlight_tags=True, width='w-full', rows=5) }}
        {% if current_user.platform_admin %}
          {{ radios(form.process_type, hint=_('This is only manageable by platform admins')) }}
        {% endif %}
        {{ sticky_page_footer_two_submit_buttons(_('Save'), "save", _("Preview"), "preview") }}
      </div>
    </div>
  {% endcall %}
{% endblock %}
