{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ heading_action }} {{ _('text message template') }}
{% endblock %}

{% block maincolumn_content %}
    {% set txt = _('text message template') %}
    {% set action = heading_action + " " +txt %}
    {{ page_header(
      action,
      back_link=url_for('main.view_template', service_id=current_service.id, template_id=template.id) if template else url_for('main.choose_template', service_id=current_service.id, template_folder_id=template_folder_id)
    ) }}

    {% call form_wrapper() %}
      <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
        <a href="{{ url_for('main.templates') }}" target="_blank">{{ _('How to format your message') }}</a>
      </div>
      {% set txt = _('Your recipients will not see this template name.') %}
      <div class="grid-row contain-floats">
        <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
          {{ textbox(form.name, width='w-full', hint=txt) }}
        </div>
        <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
          {{ textbox(form.template_content, highlight_tags=True, width='w-full', rows=5) }}
          {% if current_user.platform_admin %}
            {{ radios(form.process_type, hint=_('This is only manageable by platform admins')) }}
          {% endif %}
          {% set txt = _('Save') %}
          {{ sticky_page_footer(
            txt
          ) }}
        </div>
      </div>
    {% endcall %}


{% endblock %}
