{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
{{ _('Resend security code') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">{{ _('Resend security code') }}</h1>
    <p>{{ _('Sometimes email messages take a few minutes to arrive. If you don’t receive the email, you can resend it.') }}</p>
    <p>
  		<a class="button" href="{{url_for('main.resend_email_link')}}" role="button">{{ _('Resend security code') }}</a>
  	</p>
    <p>{{ _('Has your email address changed since you joined GC Notify? Please ask your account manager to reset it.') }}</p>
  </div>
</div>

{% endblock %}