{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
{{ _('Re-send security code') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('Re-send security code') }}</h1>
    <p>{{ _('Sometimes email messages take a few minutes to arrive. If you don’t receive the email, you can re-send it.') }}</p>
    <p>
  		<a class="button" href="{{url_for('main.resend_email_link')}}" role="button">{{ _('Re-send security code') }}</a>
  	</p>
    <p>{{ _('Has your email address changed since you joined GC Notify? Please ask your account manager to reset it.') }}</p>
  </div>
</div>

{% endblock %}