{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  {{ _('Emails') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading heading-large">{{ _('Emails') }}</h1>
  <p>{{ _('Send an unlimited number of free emails with GC Notify.') }}</p>
  {% if not current_user.is_authenticated %}
    <p><a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('and try it for yourself.') }}</p>
  {% endif %}

  <h2 class="heading heading-medium">{{ _('Features') }}</h2>
  <p>{{ _('GC Notify makes it easy to:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('create reusable email templates') }}</li>
    <li>{{ _('personalise the content of your emails') }}</li>
    <li>{{ _('send and schedule bulk messages') }}</li>
  </ul>
  <p>{{ _('Your developers can also') }} <a href="{{ url_for('.documentation') }}">{{ _('integrate with our API') }}</a> {{ _('to send emails automatically.') }}</p>

  <h3 class="heading heading-small">{{ _('Add a reply-to address') }}</h3>
  <p>{{ _('GC Notify lets you choose the email address where users can send their reply.') }}</p>
  <p>{{ _('Emails with a reply-to address seem more trustworthy and are less likely to be labelled as spam.') }}</p>
  <p>{{ _('You can add reply-to addresses in your service settings.') }}</p>
  <h2 class="heading heading-medium">{{ _('Pricing') }}<h2>
  <p>{{ _('It’s free to send emails through GC Notify.') }}</p>

{% endblock %}
