{% extends "content_template.html" %}


{% block per_page_title %}
  {{ _('Features') }}
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">{{ _('Features') }}</h1>

  <p>
    {{ _('Keep users of your service informed by sending email and text message updates through GC Notify.') }}
  </p>
  {% if not current_user.is_authenticated %}
    <p><a href="{{ url_for('main.register') }}">{{ _('Create an account and try it for yourself') }}</a></p>
  {% endif %}

  <h2 class="heading-medium">{{ _('Create reusable templates') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('Write and send emails and text messages to many people from one single template. In GC Notify, you’ll create a message template that you can edit and reuse as often as you need. This way you won’t need to write a new message each time.') }}</p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          alt="An illustration that shows how a message template can be created."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('text-messages-no-variables-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration montrant comment un gabarit de message peut être créé."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('text-messages-no-variables-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>

  <h2 class="heading-medium">{{ _('Personalise messages') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('Tailor your messages with relevant information to each recipient based on a single template using variables. Variables add placeholders, such as a recipient’s name and reference number, that can be filled each time you send a message.') }}</p>
      <p><a href="{{ url_for('.templates') }}">{{ _('Learn more about template formatting') }}</a></p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          alt="An illustration that shows how a reminder message can be personalised using variables such as first name, date and time of appointment."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('personalise-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration montrant comment un message de rappel peut peut être personalisé à l'aide de variables comme le prénom, la date et l'heure du rendez-vous."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('personalise-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>

  <h2 class="heading-medium">{{ _('Send in bulk or automatically') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('Send up to 50,000 messages at once or automate sending when an action is triggered. To send in bulk, upload an Excel spreadsheet with a list of contacts and schedule the date and time up to 72 hours in advance. To automate sending, integrate the API with your web application or back office system.') }}</p>
      <p><a href="{{ documentation_url() }}">{{ _('Learn more about API integration') }}</a></p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          alt="An illustration that shows an example of code with an automated notification being sent by email when a reminder is due."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('send-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration montrant un exemple de code avec une notification automatisée envoyée en guise de rappel."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('send-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>

  <h2 class="heading-medium">{{ _('Track bounceback messages') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('See how many of your messages get delivered. Track the current status of any message to learn when it’s delivered, when it’s not, and why it failed. Check these stats in a real-time dashboard for up to 7 days after sending, and download reports for your records.') }}</p>
      <p><a href="{{ url_for('main.messages_status') }}">{{ _('Learn more about message delivery status') }}</a></p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          alt="An illustration that shows a dashboard with the number of emails and text messages sent and the number that failed to send."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('dashboard-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration d'un tableau de bord montrant le nombre de courriels et de messages texte envoyés ainsi que le nombre de messages dont l'envoi a été un échec."
          loading="lazy"
          width="400"
          src="{{ asset_s3_url('dashboard-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>

  <h2 class="heading-medium">{{ _('Assign team roles') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('Set different permission access for different team members to control which people can see, create, edit, and send messages. GC Notify also lets you invite stakeholders from other government organisations to your team.') }}</p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          loading="lazy"
          alt="An illustration that shows possible team member permissions including seeing the dashboard, sending messages, editing templates, managing settings and integrating the API."
          width="400"
          class=""
          src="{{ asset_s3_url('assign-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration montrant les autorisations possibles pour les membres de l'équipe, notamment pour voir le tableau de bord, envoyer des messages, modifier les gabarits, gérer les paramètres et intégrer l'API."
          loading="lazy"
          width="400"
          class=""
          src="{{ asset_s3_url('assign-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>

  <h2 class="heading-medium">{{ _('Customise your name and branding') }}</h2>
  <div class="flex flex-col lg:flex-row mb-20 lg:mb-0">
    <div class="lg:w-3/4">
      <p>{{ _('Use the default Government of Canada look and feel provided by default, or customise your branding for your department or organisation. You can choose the name that messages come from and the email address that users reply to.') }}</p>
    </div>
    <div class="lg:-mt-20 lg:pl-12">
      {% if session["userlang"] == "en" %}
        <img
          loading="lazy"
          alt="An illustration that shows an example of an email notification. The example is a message confirming that an application was received and outlining next steps in the process."
          width="390"
          class=""
          src="{{ asset_s3_url('custom-branding-en.svg') }}"
        />
      {% else %}
        <img
          alt="Illustration montrant un exemple d'une notification par courriel. L'exemple est un accusé de réception d'une demande décrivant les prochaines étapes du processus."
          loading="lazy"
          width="390"
          class=""
          src="{{ asset_s3_url('custom-branding-fr.svg') }}"
        />
      {% endif %}
    </div>
  </div>
{% endblock %}
