{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{ _('Product features') }}
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">{{ _('Product features') }}</h1>
<p>{{ _('If you work for the federal government, you can use GC Notify to update your users.') }}</p>
<p>{{ _('GC Notify makes it easy to create, customize and send:') }}</p>
<ul class="list list-bullet">
  <li><a href="{{ url_for('main.features_email') }}">{{ _('emails') }}</a></li>
  <li><a href="{{ url_for('main.features_sms') }}">{{ _('text messages') }}</a></li>
  <!-- <li><a href="{{ url_for('main.features_letters') }}">letters</a></li> -->
</ul>
<p>{{ _('You do not need technical knowledge to use GC Notify.') }}</p>
{% if not current_user.is_authenticated %}
  <p><a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('for free and try it yourself.') }}</p>
{% endif %}

<h2 class="heading-medium">{{ _('Reusable message templates') }}</h2>
<p>{{ _('To send an email or text with GC Notify, you need to create a message template first.') }}</p>
<p>{{ _('Templates let you send the same thing to lots of people, as often as you need, without writing a new message each time.') }}</p>

<h2 class="heading-medium">{{ _('Personalised content') }}</h2>
<p>{{ _('GC Notify makes it easy to send personalised messages from a single template.') }}</p>
<p>{{ _('If you want to include personalised content in your message, you can add a placeholder. Each time you send a message, you can fill the placeholder with details such as a name or reference number. You can do this manually or upload a list of personal details and let GC Notify do it for you.') }}</p>

<h2 class="heading-medium">{{ _('Bulk sending') }}</h2>
<p>{{ _('To send a batch of messages at once, upload a list of contact details. You can also schedule the date and time for sending emails or text messages.') }}</p>

<h2 class="heading-medium">{{ _('Application Programming Interface (API) integration') }}</h2>
<p>{{ _('You can integrate GC Notify’s API with your web application or back-office system to send messages automatically.') }}</p>
<p>{{ _('Read our') }} <a href="{{ url_for('.documentation') }}">{{ _('API documentation') }}</a> {{ _('for more information.') }}</p>

<h2 class="heading-medium">{{ _('Message delivery status') }}</h2>
<p>{{ _('The real-time dashboard lets you see the number of messages sent. You can also check the current status of any message to learn when it was delivered.') }}</p>
<p>{{ _('Read more about how') }} <a href="{{ url_for('main.message_status') }}">{{ _('message status') }}</a> {{ _('works.') }}</p>

<h2 class="heading-medium">{{ _('Permissions') }}</h2>
<p>{{ _('Control which members of your team can see, create, edit, and send messages.') }}</p>
<p>{{ _('GC Notify lets you:') }}</p>
<ul class="list list-bullet">
  <li>{{ _('set different permission levels for each team member') }}</li>
  <li>{{ _('invite team members who don’t have a government email address') }}</li>
  <li>{{ _('choose who else can manage team members') }}</li>
</ul>

<h2 class="heading-medium">{{ _('Security') }}</h2>
<p>{{ _('GC Notify protects and manages data to meet the needs of government services.') }}</p>

<h3 class="heading-small">{{ _('Hide sensitive information') }}</h3>
<p>{{ _('GC Notify lets you redact personal information from your messages after they’ve been sent. Only the recipient can see their personal information.') }}</p>

<h3 class="heading-small">{{ _('Two-factor authentication') }}</h3>
<p>{{ _("GC Notify uses two-factor authentication (2FA) to keep your account secure. When you sign in, we'll send a unique one-time code to your phone and ask you to enter it before we let you use your account.") }}</p>
<p>{{ _('Read more about') }} <a href="{{ url_for('main.security') }}">{{ _('security') }}</a>.

{% endblock %}
