{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{ _('Features') }}
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">{{ _('Features') }}</h1>
<p>{{ _('Keep users of your service informed by sending email and text message updates through GC Notify.') }}</p>
{% if not current_user.is_authenticated %}
  <p><a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('for free and try it yourself.') }}</p>
{% endif %}

<h2 class="heading-medium">{{ _('Create reusable templates') }}</h2>
<p>{{ _('Write and send emails and text messages to many people from one single template. In GC Notify, you’ll create a message template that you can edit and reuse as often as you need. This way you won’t need to write a new message each time.') }}</p>
<p><a href="{{ url_for('main.templates') }}"></a>{{ _('Learn more about template formatting') }}</a></p>

<h2 class="heading-medium">{{ _('Personalise messages') }}</h2>
<p>{{ _('Tailor your messages with relevant information to each recipient based on a single template using variables. Variables add placeholders, such as a recipient’s name and reference number, that can be filled each time you send a message.') }}</p>

<h2 class="heading-medium">{{ _('Send in bulk or automatically') }}</h2>
<p>{{ _('Send up to 50,000 messages at once or automate sending when an action is triggered. To send in bulk, upload an Excel spreadsheet with a list of contacts and schedule the date and time up to 72 hours in advance. To automate sending, integrate the API with your web application or back office system.') }}</p>
<p><a href="{{ url_for('main.documentation') }}"></a>{{ _('Learn more about API integration') }}</a></p>


<h2 class="heading-medium">{{ _('Track bounceback messages') }}</h2>
<p>{{ _('See how many of your messages get delivered. Track the current status of any message to learn when it’s delivered, when it’s not, and why it failed. Check these stats in a real-time dashboard for up to 7 days after sending, and download reports for your records.') }}</p>
<p><a href="{{ url_for('main.messages_status') }}">{{ _('Learn more about message delivery status') }}</a></p>

<h2 class="heading-medium">{{ _('Assign team roles') }}</h2>
<p>{{ _('Control which members of your team can see, create, edit, and send messages.') }}</p>
<p>{{ _('GC Notify lets you:') }}</p>
<ul class="list list-bullet">
  <li>{{ _('set different permission levels for each team member') }}</li>
  <li>{{ _('invite team members who don’t have a government email address') }}</li>
  <li>{{ _('choose who else can manage team members') }}</li>
</ul>

<h2 class="heading-medium">{{ _('Customise your name and branding') }}</h2>
<p>{{ _('GC Notify protects and manages data to meet the needs of government services.') }}</p>

<h3 class="heading-small">{{ _('Hide sensitive information') }}</h3>
<p>{{ _('GC Notify lets you redact personal information from your messages after they’ve been sent. Only the recipient can see their personal information.') }}</p>

<h3 class="heading-small">{{ _('Two-factor authentication') }}</h3>
<p>{{ _("GC Notify uses two-factor authentication (2FA) to keep your account secure. When you sign in, we'll send a unique one-time code to your phone and ask you to enter it before we let you use your account.") }}</p>
<p>{{ _('Read more about') }} <a href="{{ url_for('main.security') }}">{{ _('security') }}</a>.

{% endblock %}
