{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('You need a new password') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('You need a new password') }}</h1>

    <p>{{ _('As a security precaution, all users of GC Notify must change their password.') }}</p>

    <p>{{ _("Check your email. If you did not receive the link,") }} <a href= "{{ url_for('.contact') }}"> {{_("contact support")}} </a></p>

    <p>{{ _("To learn why you need to change your password, read") }}<a href = "{{ url_for('.system-status') }}"> {{_("incidents and service interruptions.")}}</a></p>

  </div>
</div>

{% endblock %}
