{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('You need to create a new password') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('You need to create a new password') }}</h1>

    <p>{{ _('GC Notify needs you to create a new password for this account.') }}</p>

    <p>{{ _('Check your email. We sent you a password reset link.') }}</p>

    <details>
      <summary>{{ _('Why we are asking you to create a new password') }}</summary>
      <div class="details-body">
        <p>{{ _("GC Notify has expired all users' passwords out of an abundance of caution following the discovery of a potential security risk on March 29, 2022.") }}</p>
        <p>{{ _("If you don't receive a password reset link in your inbox,") }} <a href= "{{ url_for('.contact') }}"> {{_("please contact our support team.")}} </a></p>
      </div>
    </details>
  </div>
</div>

{% endblock %}
