{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  {{ _('Sign-in history') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="w-full float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('Sign-in history') }}</h1>
    <p>{{ _('Our records show that these are the last 3 times you signed into this account:') }}</p>
    <table>
      <tbody>
        {% for event in events %}
          <tr>
            <td>
              <strong style="font-weight:bold">
                <span class="relative-time-past">{{ event.created_at }}</span>
              </strong>
            </td>
            <td class="format-ua">
              {{ parse_ua(event.data["user-agent"]) }}
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>

    <br />
    <p>
    {{ _('If this is not correct, ') }}<a href="{{ url_for('main.contact') }}" target="_blank">{{ _('contact us right away') }}</a>.
    </p>
    <a href="{{next}}" class="button">{{ _('Continue') }}</a>
    {{ page_footer(
      secondary_link=url_for('main.email_not_received'),
      secondary_link_text=link_txt
    ) }}
  </div>
</div>
<script>
  var csrf_token = "{{ csrf_token() }}";
</script>

{% endblock %}
