{% extends "admin_template.html" %}
{% from "components/table.html" import list_table, row, field, hidden_field_heading %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/tick-cross.html" import tick_cross %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}

{% block service_page_title %}
  {{ _('Team members') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-medium">
    {{ _('Team members') }}
  </h1>

{% if not has_team_members and current_user.has_permissions('manage_service') %}
  <p>
    {{ _("You should have at least two team members who can manage settings.") }}
  </p>
{% endif %}

{% if show_search_box %}
  <div data-module="autofocus">
    {{ live_search(target_selector='.user-list-item', show=True, form=form) }}
  </div>
{% endif %}

  {% if current_user.has_permissions('manage_service') %}
    <div>
      <a href="{{ url_for('.invite_user', service_id=current_service.id) }}" class="button button-secondary">{{ _('Invite someone to join your team') }}</a>
    </div>
  {% endif %}

  <div class="user-list">


    {% for user in users %}
      <div class="user-list-item">

        <h2 title="{{ user.email_address }}">
          {%- if user.name -%}
            <span class="heading-small inline">{{ user.name }}</span>&ensp;
          {%- endif -%}
          <span class="hint">
            {%- if user.status == 'pending' -%}
              <span class="inline">{{ user.email_address }}</span> ({{ _('invited') }})
            {%- elif user.status == 'cancelled' -%}
              <span class="inline">{{ user.email_address }}</span> ({{ _('cancelled invite') }})
            {%- elif user.id == current_user.id -%}
              <span class="inline">({{ _('you') }})</span>
            {% else %}
              <span class="inline">{{ user.email_address }}</span>
            {% endif %}
          </span>
        </h2>
        <div class="tick-cross-list grid-row contain-floats relative">
          <div class="tick-cross-list-permissions md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
            <ul>
              {% for permission, label in permissions %}
                {{ tick_cross(
                  user.has_permission_for_service(current_service.id, permission),
                  label
                ) }}
              {% endfor %}
            </ul>
            {# only show if the service has folders #}
            {% if current_service.all_template_folders %}
              <div class="tick-cross-list-hint">
                {% set folder_count = user.template_folders_for_service(current_service) | length %}

                {% if folder_count == 0 %}
                {{ _('Cannot see any folders') }}
                {% elif folder_count != current_service.all_template_folders | length %}
                  Can see {{ folder_count }} folder{% if folder_count > 1 %}s{% endif %}
                {% else %}
                {{ _('Can see all folders') }}
                {% endif%}
              </div>
            {% endif %}
            {% if current_service.has_permission('email_auth') %}
              <div class="tick-cross-list-hint">
                {% if user.security_keys|length > 0  %}
                {{ _('Logs in with a Fido2 key') }}
                {% elif user.auth_type == 'sms_auth'  %}
                {{ _('Logs in with a text message code') }}
                {% else %}
                {{ _('Logs in with an email code') }}
                {% endif %}
              </div>
            {% endif %}
          </div>
          {% if current_user.has_permissions('manage_service') %}
            <ul>
              <li class="tick-cross-list-edit-link">
                {% if user.status == 'pending' %}
                  <a href="{{ url_for('.cancel_invited_user', service_id=current_service.id, invited_user_id=user.id)}}">{{ _('Cancel invitation') }}</a>
                {% elif user.state == 'active' and current_user.id != user.id %}
                  <a href="{{ url_for('.edit_user_permissions', service_id=current_service.id, user_id=user.id)}}">{{ _('Change details') }}</a>
                {% endif %}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
