{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% block per_page_title %}
  {{ _('Message status') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Message status') }}</h1>
  <p>{{ _('The real-time dashboard lets you check when your message was delivered. You can also check the status of your messages') }}</p>
  <p>{{ _('For') }} <a href="{{ url_for("main.security") }}">{{ _('security') }}</a>, {{ _('this information is only available for 7 days after a message has been sent. You can download a report, including a list of sent messages, for your own records.') }}</p>

  <img
      src="{{ asset_url('images/message-sending-flow.svg') }}"
      alt="{{ _('A picture of the sending flow of messages, showing the three states of Sending, Delivered, and Failed. Also shows the next steps when messages fail, deleting data and trying a new method for permanent failures, and trying again or trying a new method for temporary failures') }}"
      style="width: 100%;"
  >
  <h2 id="messagestatus" class="heading-medium">{{ _('Types of message status') }}</h2>
  <p>{{ _('GC Notify has the following types of message status (API message status may be different and is found in') }} <a href="{{ url_for('.documentation') }}">{{ _('technical documentation') }}</a>):</p>
  

  <h3 id="email-statuses" class="heading-small">{{ _('Emails') }}</h3>
  {% set the_caption = _('Message statuses – emails') %}
  {% set heading1 = _('Status') %}
  {% set heading2 = _('Description') %}
  <div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption=the_caption,
      field_headings=[heading1, heading2],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% set sending_heading = _('Sending') %}
      {% set sending_text = _('GC Notify has sent the message to the email provider.') %}

      {% set delivered_heading = _('Delivered') %}
      {% set delivered_text = _('The message was successfully delivered. GC Notify will not tell you if a user has opened or read a message.') %}

      {% set email_heading = _('Email address does not exist') %}
      {% set email_text = _('The provider could not deliver the message because the email address was wrong. You should remove this email address from your database.') %}

      {% set inbox_heading = _('Inbox not accepting messages right now') %}
      {% set inbox_text = _('The provider could not deliver the message after trying for 72 hours. This can happen when the recipient’s inbox is full. You can try to send the message again.') %}

      {% set technical_heading = _('Technical failure') %}
      {% set technical_text = _('There was a connection problem between GC Notify and the email provider. You’ll have to try sending your messages again.') %}
      
      
      {% for message_length, charge in [
        (sending_heading, sending_text),
        (_('Delivered'), delivered_text),
        (email_heading, email_text),
        (inbox_heading, inbox_text),
        (technical_heading, technical_text),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <h3 id="sms-statuses" class="heading-small">{{ _('Text messages') }}</h3>
  <div class="bottom-gutter-3-2">
      {% set phone_caption = _('Message statuses – text messages') %}
    {% call mapping_table(
      caption=phone_caption,
      field_headings=[heading1, heading2],
      field_headings_visible=True,
      caption_visible=False
    ) %}

    {% set sending_phone_heading = _('Sending') %}
    {% set sending_phone_text = _('GC Notify has sent the message to the cellular provider.') %}

    {% set sent_phone_heading = _('Sent internationally') %}
    {% set sent_phone_text = _('The message was sent to an international number. The mobile networks in some countries do not provide any more delivery information.') %}

    {% set delivered_phone_heading = _('Delivered') %}
    {% set delivered_phone_text = _('The message was successfully delivered. GC Notify will not tell you if a user has opened or read a message.') %}

    {% set number_phone_heading = _('Phone number does not exist') %}
    {% set number_phone_text = _('The provider could not deliver the message because the phone number was wrong. You should remove this phone number from your database. You’ll still be charged for text messages to numbers that do not exist.') %}

    {% set accepting_phone_heading = _('Phone number not accepting messages right now') %}
    {% set accepting_phone_text = _('The provider could not deliver the message after trying for 72 hours. This can happen when the recipient’s phone is off. You can try to send the message again. You’ll still be charged for text messages to phones that are not accepting messages.') %}

    {% set technical_phone_heading = _('Technical failure') %}
    {% set technical_phone_text = _('There was a connection problem between GC Notify and the cellular provider. You’ll have to try sending your message again. You will not be charged for text messages that are affected by a technical failure.') %}

      {% for message_length, charge in [
        (sending_phone_heading, sending_phone_text),
        (sent_phone_heading, sent_phone_text),
        (delivered_phone_heading, delivered_phone_text),
        (number_phone_heading, number_phone_text),
        (accepting_phone_heading, accepting_phone_text),
        (technical_phone_heading, technical_phone_text),
      ] %}
        {% call row() %}
          {{ text_field(message_length) }}
          {{ text_field(charge) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>
{% endblock %}
