{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Message delivery status') }}
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">{{ _('Message delivery status') }}</h1>

  <div class="grid-row contain-floats">
    <div class="w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
      {% if session["userlang"] == "en" %}
      {% include "partials/messages-status-en.html" %}
      {% else %}
      {% include "partials/messages-status-fr.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
