{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _('Create a new password') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    {% if user %}
      <h1 class="heading-large">
        {{ _('Create a new password') }}
      </h1>
      {% if user.password_expired==True %}
        <p>
          {{ _('GC Notify needs you to create a new password for this account.') }}
          <a href="google.com"> {{_("Read why we are asking you to create a new password.")}}</a>
        </p>
      {% else %}
        <p>
          {{ _('You can now create a new password for your account.') }}
        </p>
      {% endif %}

      {% call form_wrapper() %}
        {% set txt = _('Continue') %}
        {% set hint_txt = _('Must be at least 8 characters and hard to guess') %}
        {{ textbox(form.new_password, hint=hint_txt, autocomplete="false") }}
        {{ page_footer(txt) }}
      {% endcall %}
    {% else %}
      <p>
        {{ _('Email address does not exist.') }}
      </p>
    {% endif %}
  </div>
</div>

{% endblock %}
