{% extends "content_template.html" %}

{% block per_page_title %}
  {% if g.preview_url %}
    [{{ _('PREVIEW') }}]
  {% endif %}
  {{ title }}
{% endblock %}


{% block body_classes %}wp {{ "overflow-x-hidden" if slug == "home" }}{% endblock %}
{% block main_content_class %}{{ "py-10" if slug != "home" }}{% endblock %}


{% block maincolumn_content %}
  {% if slug != "home" %}
    <h1 class="heading-large">{{ title }}</h1>
  {% endif %}
  <div class="{{ 'space-y-doubleGutter' if slug == 'home' }} page-content {{ slug }}">
    {{ html_content|safe  }}
  </div>
{% endblock %}
