{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  {{ _('Privacy notice: how we use your data') }}
{% endblock %}

  {% block maincolumn_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ _('Privacy') }}</h1>
      <p>{{ _('GOV.UK developed the') }} <a href="https://github.com/alphagov/notifications-admin" target="new">{{ _('original notification system') }}</a> {{ _('and its UK') }} <a href="https://www.notifications.service.gov.uk/privacy">{{ _('privacy protections') }}.</a>
      <p>
          {{ _('The GC Notify team is reviewing privacy requirements under the')}} <a href={{ _('https://laws-lois.justice.gc.ca/eng/acts/P-21/index.html') }}>{{ _('Privacy Act') }}</a>. {{ _('If your service has specific privacy needs, ') }}<a href="{{ url_for('.feedback', ticket_type='ask-question-give-feedback') }}">{{ _('please let us know')}}</a>.
      </p>
     
    </div>
  </div>
{% endblock %}
