{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Create an account') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="column-two-thirds">
    <h1 class="heading-large">{{ _('Create an account') }}</h1>
    <p>{{ _('Your account will be created with this email:') }}{{invited_org_user.email_address}}</p>
    {% call form_wrapper() %}
      {{ textbox(form.name, width='3-4') }}
      <div class="extra-tracking">
        {% set txt = _('We’ll send you a security code by text message') %}
        {{ textbox(form.mobile_number, width='3-4', hint=txt) }}
      </div>
      {% set txt = _('At least 8 characters') %}
      {{ textbox(form.password, hint=txt, width='3-4', autocomplete='new-password') }}
      {% set txt = _('Continue') %}
      {{ page_footer(txt) }}
      {{form.organisation}}
      {{form.email_address}}
    {% endcall %}
  </div>
</div>

{% endblock %}
