{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Create an account') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('Create an account') }}</h1>
    {% call form_wrapper(autocomplete=True) %}
      {{ textbox(form.name, width='w-full md:w-3/4') }}
      {% set hint_txt = _('Must be a federal government email address') %}
      {{ textbox(form.email_address, hint=hint_txt, width='w-full md:w-3/4', safe_error_message=True, autocomplete='email') }}
      <div class="extra-tracking">
        {% set hint_txt = _('We’ll send you a security code by text message') %}
        {{ textbox(form.mobile_number, width='w-full md:w-3/4', hint=hint_txt) }}
      </div>
      <input class="visually-hidden" aria-hidden="true" tabindex="-1" id="defeat-chrome-autocomplete">
      {% set txt = _('At least 8 characters') %}
      {{ textbox(form.password, hint=txt, width='w-full md:w-3/4', autocomplete='new-password') }}
      {{form.auth_type}}
      {% set txt = _('Continue') %}
      {{ page_footer(txt) }}
    {% endcall %}

    <div style="display:inline-block;margin-top:20px;"></div>

    <hr />
    
    <h3 class="heading-small">{{_('Privacy') }}</h3>
    <p>
    {{ _("You're creating an account for GC Notify, so you can choose to stop using it at any time for any reason") }}
    </p>

    <p>
      {{ _("We (the Canadian Digital Service) will make sure your data and correspondence are confidential, which means they will not be linked back to anyone") }}
    </p>

    <p>{{ _("Your participation will not impact your relationship with the Canadian Digital Service or any part of the Government of Canada.") }}</p>

    <p>{{ _("Please read our <a href='https://digital.canada.ca/legal/privacy'>Privacy Statement</a>. We handle all personal information in accordance with the Privacy Act.") }}</p>

    
  </div>
</div>

{% endblock %}
