{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Create an account')  }} 
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('Create an account') }}</h1>
    <p>
      {{ _('Your account will be created with this email address:') }}
      <span class="whitespace-no-wrap">{{invited_user.email_address}}</span>
    </p>
    {% call form_wrapper() %}
      {{ textbox(form.name, width='w-full md:w-3/4') }}
      {% if invited_user.auth_type == 'sms_auth' %}
        {% set txt = _('We’ll send you a security code by text message') %}
        <div class="extra-tracking">
          {{ textbox(form.mobile_number, width='w-full md:w-3/4', hint=txt) }}
        </div>
      {% endif %}
      {% set txt = _('Must be at least 8 characters and hard to guess') %}
      {{ textbox(form.password, hint=txt, width='w-full md:w-3/4', autocomplete='new-password') }}
      {% set txt = _('Continue') %}
      {{ page_footer(txt) }}
      {{form.service}}
      {{form.email_address}}
      {{form.auth_type}}
    {% endcall %}
  </div>
</div>

{% endblock %}
