{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Create an account') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="md:w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    <h1 class="heading-large">{{ _('Create an account') }}</h1>
    {% call form_wrapper(autocomplete=True) %}
      {{ textbox(form.name, width='w-full md:w-3/4') }}
      {% set hint_txt = _('Must be a federal government email address') %}
      {{ textbox(form.email_address, hint=hint_txt, width='w-full md:w-3/4', safe_error_message=True, autocomplete='email') }}
      <div class="extra-tracking">
        {% set hint_txt = _('We’ll send you a security code by text message') %}
        {{ textbox(form.mobile_number, width='w-full md:w-3/4', hint=hint_txt) }}
      </div>
      <input class="visually-hidden" aria-hidden="true" tabindex="-1" id="defeat-chrome-autocomplete">
      {% set txt = _('Must be at least 8 characters and hard to guess') %}
      {{ textbox(form.password, hint=txt, width='w-full md:w-3/4', autocomplete='new-password') }}
      <p>
        {{ _("By creating an account, you agree to the <a href='{}'>terms of use</a>.").format(url_for('main.terms')) }}
      </p>
      {{form.auth_type}}
      {% set txt = _('Continue') %}
      {{ page_footer(txt) }}
    {% endcall %}
</div>

{% endblock %}
