{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}
{% from "components/message-count-label.html" import recipient_count_label %}
{% set txt = _('Choose a list of email addresses from Amazon S3') %}

{% block service_page_title %}
  {{ txt }}
{% endblock %}
{% block maincolumn_content %} 
  {{
    page_header(
      txt,
      back_link=url_for(
        'main.send_one_off', 
        service_id=current_service.id,
        template_id=template.id
      )
    ) 
  }}

  <div class="grid-row contain-floats">
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
      {% call form_wrapper() %}
        {{ radios(
          form.s3_files,
          hide_legend=True
        ) }}
        {{ page_footer(_('Continue')) }}
      {% endcall %}
    </div>
  </div>


  {% include "partials/csv-send.html" %}

{% endblock %}
