{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  Security
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">{{ _('Security') }}</h1>
  <p>
    {{ _('GOV.UK developed the original <a href="https://github.com/topics/govuk-notify" target="new">notification system</a> and its UK <a href="https://www.notifications.service.gov.uk/features/security" target="new">security protections</a>.')}}
  </p>
  <p>
    {{ _('The Canadian notification team is reviewing the security protections needed to run the system within a Government of Canada context. If your service has specific security needs, ')}}<a href="{{ url_for('.feedback', ticket_type='ask-question-give-feedback') }}">{{ _('please let us know')}}</a>.
  </p>
{% endblock %}
