{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  {{ _('Security') }}
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">{{ _('Security') }}</h1>
  <section>
    <p>
      {{ _('GC Notify is built for the needs of government services. It has processes in place to:') }}
    </p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>{{ _('protect user data.') }}</li>
      <li>{{ _('keep systems secure.') }}</li>
      <li>{{ _('manage risks around information.') }}</li>
    </ul>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Data') }}</h2>
    <p>
      {{ _('On GC Notify, data is encrypted:') }}</a>
    </p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>{{ _('when it passes through the service.') }}</li>
      <li>{{ _('when it’s stored on the service.') }}</li>
    </ul>
    <p>
      {{ _('To protect data, GC Notify does not store it longer than it needs to. All data, including email addresses, phone numbers, and information in personalised messages are stored within the system database for 7 days by default. The exception is data files uploaded to the system. These are held for 30 days to allow for advanced scheduling of emails. This means that if there ever were a data breach, the impact would be limited to only 7-30 days.') }}
    </p>
    <p>
      {{ _('See the ') }}<a href='{{ url_for("main.privacy") }}'>{{ _('Privacy statement') }}</a> {{ _('for more information on how personal information is handled by GC Notify.') }}
    </p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Technical security') }}</h2>
    <p>{{ _('GC Notify is hosted in an Amazon Web Services (AWS) cloud instance located in 3 availability zones in the Montreal region, with Shared Services Canada (SSC) guardrails designed to create a Protected B medium availability, medium integrity (PBMM) environment.') }}</p>
    <p>{{ _('Other technical security controls include') }}</p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>
        {{ _('implementation of security controls from') }}
        <ul style="list-style-type: circle; margin-left: 2em;">
          <li>{{ _('Treasury Board of Canada Secretariat (TBS) cloud guardrails') }}</li>
          <li>{{ _('TBS security playbook') }}</li>
          <li>{{ _('Canadian Centre for Cyber Security (CCCS) Information Technology Security Guidance (ITSG-33)') }}</li>
        </ul>
      </li>
      <li>{{ _('protective monitoring to record activity, and raise alerts about any suspicious activity') }}</li>
      <li>{{ _('the option to use JSON Web Tokens instead of API keys when your service talks to GC Notify') }}</li>
    </ul>

    <h3 class="heading-small">{{ _('Protect sensitive information') }}</h3>
    <p>{{ _('Some messages include sensitive information like security codes or password reset links.') }}</p>
    <p>{{ _('If you’re sending a message with sensitive information, you can choose to hide those details on the GC Notify dashboard once the message has been sent. This means that only the message recipient will be able to see that information.') }}</p>
    <p>{{ _('GC Notify also has alarms in place that flag if administrators access services with notifications that might be sensitive.') }}</p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('User permissions and signing in') }}</h2>
    <p>{{ _('You can set different user permissions in GC Notify. This lets you control who in your team has access to certain parts of the service.') }}</p>

    <h3 class="heading-small">{{ _('Two-factor authentication') }}</h3>
    <p>{{ _('To create an account on GC Notify, you’ll need to enter:') }}</p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>{{ _('your email address and password') }}</li>
      <li>{{ _('a code that GC Notify sends to your email or phone') }}</li>
    </ul>
    <p>{{ _('Once you have signed in, you can add a hardware-based security key to further increase the security of your account.') }}</p>
    <p>{{ _('If you are having issues creating or accessing your account, email our support team at ') }} <a href="mailto:assistance@cds-snc.ca">assistance@cds-snc.ca</a>.</p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Information risk management') }}</h2>
    <p>
      {{ _('Our approach to information risk management follows TBS guidance. It assesses:') }}
    </p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>{{ _('how GC Notify is built.') }}</li>
      <li>{{ _('the infrastructure GC Notify is built upon.') }}</li>
      <li>{{ _('support for the GC Notify service.') }}</li>
    </ul>
    <p>
      {{ _('This approach also applies to the service providers GC Notify uses to send messages.') }}
    </p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('How we manage risks on GC Notify') }}</h2>
    <p>
      {{ _('Things we do to manage risks include:') }}
    </p>
    <ul style="list-style-type: disc; margin-left: 2em; margin-bottom: 20px;">
      <li>{{ _('internal and third-party security audits.') }}</li>
      <li>{{ _('formal risk assessments based on TBS and CCCS guidance.') }}</li>
      <li>{{ _('residual risk statement preparation and active management of the risk treatment plan.') }}</li>
      <li>{{ _('security impact assessments.') }}</li>
      <li>{{ _('third-party penetration testing.') }}</li>
    </ul>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Authority to Operate') }}</h2>
    <p>
      {{ _('GC Notify has been assessed and authorized for operation by the CDS Chief Executive Officer, as the senior authorizing official for the service. This ATO will be re-assessed on at least an annual basis.') }}
    </p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Data Categorization') }}</h2>
    <p>
      {{ _('You can use GC Notify to send messages designated up to and including “Protected A” per the <a href=https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=32614>Standard on Security Categorization</a>.') }}
    </p>
    <p>
      {{ _('Messages should not include “Protected B” information as both emails and text messages sent to the public are not end-to-end encrypted.') }}
    </p>
  </section>

  <section>
    <h2 class="heading-medium">{{ _('Security Disclosure') }}</h2>
    <p>
      {{ _('Should an incident happen, we have a comprehensive incident response and customer notification procedures in place.') }}
    </p>
    <p>
      {{ _('Should you suspect a security breach or have discovered a vulnerability in the service, email us at ') }} <a href="mailto:{{ security_email }}">{{ security_email }}</a> {{ _('and we’ll investigate immediately.') }}
    </p>
  </section>

{% endblock %}
