{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/message-count-label.html" import recipient_count_label %}
{% set txt = _('Upload a list of') + " " + recipient_count_label(999, template.template_type) %}

{% block service_page_title %}
  {{ txt }}
{% endblock %}
{% block maincolumn_content %} 
  {{ 
    page_header( 
      txt,
      back_link=url_for(
        'main.send_one_off', 
        service_id=current_service.id,
        template_id=template.id
      )
    ) 
  }}

  <div class="page-footer bottom-gutter">
    {% set txt = _('Choose a file') %} {{file_upload( form.file, button_text=txt
    )}}
  </div>

  {% include "partials/csv-send.html" %}

{% endblock %}
