{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/message-count-label.html" import recipient_count_label %}
{% set txt = template.template_type|get_csv_upload_text %}

{% block service_page_title %}
  {{ txt }}
{% endblock %}
{% block maincolumn_content %} 
  {{ 
    page_header( 
      txt,
      back_link=url_for(
        'main.send_one_off', 
        service_id=current_service.id,
        template_id=template.id
      )
    ) 
  }}

  <div class="page-footer bottom-gutter contain-floats">
    {% set txt = _('Choose a file') %} {{file_upload( form.file, button_text=txt
    )}}
  </div>

  {% include "partials/csv-send.html" %}

<script>
  function isIE() {
    var ua = navigator.userAgent;
    /* MSIE used to detect old browsers and Trident used to newer ones*/
    var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

    return is_ie;
  }

  /* Alert if browser is IE */
  /* 
  note this is in sent-test.html + send.html 
  the target el to replace is different
  */
  if (isIE()) {
    var text =
      "We do not support Internet Explorer. Please try again using a different web browser, such as Google Chrome, Mozilla Firefox, or Microsoft Edge.";

    if (window.APP_LANG == "fr") {
      text =
        "Nous ne supportons pas Internet Explorer. Veuillez réessayer en utilisant un autre navigateur Web, tel que Google Chrome, Mozilla Firefox ou Microsoft Edge.";
    }

    var element = document.getElementById("file-upload-button");
    var newEl = document.createElement("p");
    
    newEl.innerHTML = '<span style="color:red;">'+text+'</span>';
    
    element.parentNode.replaceChild(newEl, element);
  }
</script>

{% endblock %}
