{% extends "withnav_template.html" %}
{% from "components/table.html" import mapping_table, row, settings_row, text_field, optional_text_field, edit_field, field, boolean_field with context %}

{% block service_page_title %}
  {{ _('Settings') }}
{% endblock %}

{% set change_txt = _('Change') %}

{% block maincolumn_content %}

    <h1 class="heading-medium">{{ _('Settings') }}</h1>

    <div class="mb-12 clear-both contain-floats settings-table body-copy-table">
      {% set caption = _('General') %}
      {% set heading_1 = _('Label') %}
      {% set heading_2 = _('Value') %}
      {% set heading_3 = _('Action') %}

      {% call mapping_table(
        caption=caption,
        field_headings=[heading_1, heading_2, heading_3],
        field_headings_visible=False,
        caption_visible=False
      ) %}

        {% call row() %}
          {% set txt = _('Service name') %}
          {{ text_field(txt) }}
          {{ text_field(current_service.name) }}
          {{ edit_field(
              change_txt,
              url_for('.service_name_change', service_id=current_service.id),
              permissions=['manage_service']
            )
          }}
        {% endcall %}

        {% call row() %}
          {% set txt = _('Sign-in method') %}
          {{ text_field(txt) }}
          {% set txt = _('Email code or text message code') %}
          {% set else_txt = _('Text message code') %}
          {{ text_field(
            txt
            if 'email_auth' in current_service.permissions
            else else_txt
          ) }}
          {{ edit_field(
              change_txt,
              url_for('.service_set_auth_type',
              service_id=current_service.id),
              permissions=['manage_service']
            )
          }}
        {% endcall %}

        {% call settings_row(if_has_permission='upload_document') %}
          {% set txt = _('Contact details') %}
          {{ text_field(txt) }}
          {{ text_field(current_service.contact_link, truncate=true) }}
          {{ edit_field(
              change_txt,
              url_for('.service_set_contact_link',
              service_id=current_service.id),
              permissions=['manage_service']
            )
          }}
        {% endcall %}

      {% endcall %}


      {% set caption = _('Email settings') %}
      {% set heading_1 = _('Label') %}
      {% set heading_2 = _('Value') %}
      {% set heading_3 = _('Action') %}

      {% call mapping_table(
        caption=caption,
        field_headings=[heading_1, heading_2, heading_3],
        field_headings_visible=False,
        caption_visible=True
      ) %}

        {% call row() %}
          {% set txt = _('Send emails') %}
          {{ text_field(txt) }}
          {{ boolean_field('email' in current_service.permissions) }}
          {{ edit_field(
            change_txt,
            url_for(
              '.service_set_channel',
              channel='email',
              service_id=current_service.id
            ),
            permissions=['manage_service']
          )}}
        {% endcall %}

        {% call settings_row(if_has_permission='email') %}
          {% set txt = _('Reply-to email addresses') %}
          {% set not_set = _('Not set') %}
          {{ text_field(txt) }}
          {% call field(status='default' if current_service.count_email_reply_to_addresses == 0 else '') %}
            {{ current_service.default_email_reply_to_address or not_set }}
            {% if current_service.count_email_reply_to_addresses > 1 %}
              <div class="hint">
                {{ current_service.count_email_reply_to_addresses|get_and_n_more_text }}
              </div>
            {% endif %}
          {% endcall %}
          {% set txt = _('Manage') %}
          {{ edit_field(
              txt,
              url_for('.service_email_reply_to',
              service_id=current_service.id),
              permissions=['manage_service','manage_api_keys']
            )
          }}
        {% endcall %}
        {% call settings_row(if_has_permission='email') %}
          {% set txt = _('Email branding') %}
          {{ text_field(txt) }}
          {% set txt = _('Your branding<br> ({})') %}
          {{ text_field(txt.format(current_service.email_branding_name)|safe if current_service.email_branding else _(current_service.email_branding_name)) }}
          {{ edit_field(
            change_txt,
            url_for('.branding_request', service_id=current_service.id),
            permissions=['manage_service'],
            attributes=""
          )}}
        {% endcall %}

      {% endcall %}

      {% set caption = _('Text message settings') %}
      {% set heading_1 = _('Label') %}
      {% set heading_2 = _('Value') %}
      {% set heading_3 = _('Action') %}

      {% call mapping_table(
        caption=caption,
        field_headings=[heading_1, heading_2, heading_3],
        field_headings_visible=False,
        caption_visible=True
      ) %}

        {% call row() %}
          {% set txt = _('Send text messages') %}
          {{ text_field(txt) }}
          {{ boolean_field('sms' in current_service.permissions) }}
          {{ edit_field(
            change_txt,
            url_for(
              '.service_set_channel',
              service_id=current_service.id,
              channel='sms'
            ),
            permissions=['manage_service']
          )}}
        {% endcall %}

        {% call settings_row(if_has_permission='sms') %}
          {% set txt = _('Text message senders') %}
          {% set default = _('default') %}
          {{ text_field(txt) }}
          {% call field(status=default if current_service.default_sms_sender == "None" else '') %}
            {{ current_service.default_sms_sender | string | nl2br | safe if current_service.default_sms_sender else 'None'}}
            {% if current_service.count_sms_senders > 1 %}
              <div class="hint">
                {{ current_service.count_sms_senders|get_and_n_more_text }}
              </div>
            {% endif %}
          {% endcall %}
          {% set txt = _('Manage') %}
          {{ edit_field(
              txt,
              url_for('.service_sms_senders',
              service_id=current_service.id),
              permissions=['manage_service','manage_api_keys']
          )
          }}
        {% endcall %}

        {% call settings_row(if_has_permission='sms') %}
          {% set txt = _('Start text messages with service name') %}
          {{ text_field(txt) }}
          {{ boolean_field(current_service.prefix_sms) }}
          {{ edit_field(
              change_txt,
              url_for('.service_set_sms_prefix',
              service_id=current_service.id),
              permissions=['manage_service']
          )
          }}
        {% endcall %}

        {% call settings_row(if_has_permission='sms') %}
          {% set txt = _('Send international text messages') %}
          {{ text_field(txt) }}
          {{ boolean_field('international_sms' in current_service.permissions) }}
          {{ edit_field(
              change_txt,
              url_for('.service_set_international_sms',
              service_id=current_service.id),
              permissions=['manage_service']
          )
          }}
        {% endcall %}
        {% call settings_row(if_has_permission='sms') %}
          {% set txt = _('Receive text messages') %}
          {{ text_field(txt) }}
          {{ boolean_field('inbound_sms' in current_service.permissions) }}
          {{ edit_field(
              change_txt,
              url_for('.service_set_inbound_sms',
              service_id=current_service.id),
              permissions=['manage_service']
          )
          }}
        {% endcall %}
      {% endcall %}

    {% if current_service.trial_mode %}
      <h2 class="heading-medium mt-0 contain-floats">{{ _('Your service is in trial mode') }}</h2>

      <ul class='list list-bullet'>
        <li>{{ _('you can only send messages to yourself') }}</li>
        <li>{{ _('you can add people to your team, then you can send messages to them too') }}</li>
        <li>{{ _('you can only send') }} {{ current_service.message_limit }} {{ _('messages per day') }}</li>
      </ul>

      <p>
        {% if current_user.has_permissions('manage_service') %}
          {{ _('To remove these restrictions, you can')}} <a href="{{ url_for('.contact') }}">{{ _('contact us') }}</a>.
        {% else %}
          {{ _('Your service manager can ask to have these restrictions removed.') }}
        {% endif %}
        </p>

    {% else %}
      <h2 class="heading-medium mt-0 contain-floats">{{ _('Your service is live') }}</h2>

      <p>
        {{ _('You can send up to') }}
        {{ "{:,}".format(current_service.message_limit) }} {{ _('messages per day.') }}
      </p>
      <p>
        {{ _('Problems or comments?') }}
        <a href="{{ url_for('.contact') }}">{{ _('Give feedback') }}</a>.
      </p>

    {% endif %}

    {% if current_user.platform_admin %}

      <div class="settings-table body-copy-table mt-16 block clear-both contain-floats">

        <h2 class="heading-medium">{{ _('Platform admin settings') }}</h2>

        {% set caption = _('Settings') %}
        {% set heading_1 = _('Label') %}
        {% set heading_2 = _('Value') %}
        {% set heading_3 = _('Action') %}

        {% call mapping_table(
          caption=caption,
          field_headings=[heading_1, heading_2, heading_3],
          field_headings_visible=False,
          caption_visible=False
        ) %}

          {% call row() %}
            {% set txt = _('Live') %}
            {{ text_field(txt)}}
            {% if current_service.trial_mode and not current_service.organisation %}
              {% set txt = _('No (organisation must be set first)') %}
              {{ text_field(txt) }}
              {{ text_field('') }}
            {% else %}
              {{ boolean_field(not current_service.trial_mode) }}
              {{ edit_field(change_txt, url_for('.service_switch_live', service_id=current_service.id)) }}
            {% endif %}
          {% endcall %}

          {% call row() %}
            {% set txt = _('Count in list of live services') %}
            {% set yes_txt = _('Yes') %}
            {% set no_txt = _('No') %}
            {{ text_field(txt)}}
            {{ text_field(yes_txt if current_service.count_as_live else no_txt) }}
            {{ edit_field(change_txt, url_for('.service_switch_count_as_live', service_id=current_service.id)) }}
          {% endcall %}

          {% call row() %}
            {% set txt = _('Organisation') %}
            {{ text_field(txt)}}
            {% call field() %}
              {% if current_service.organisation_id %}
                <a href="{{ url_for('main.organisation_dashboard', org_id=current_service.organisation_id) }}">
                  {{ current_service.organisation.name }}
                </a>
              {% else %}
                {% set txt = _('Not set') %}
                <span class="table-field-status-default">{{txt}}</span>
              {% endif %}
              {% if current_service.organisation_type %}
                <div class="hint">
                  {{ current_service.organisation_type_label }}
                </div>
              {% endif %}
            {% endcall %}
            {{ edit_field(change_txt, url_for('.link_service_to_organisation', service_id=current_service.id)) }}
          {% endcall %}

          {% call row() %}
            {% set txt = _('Daily message limit') %}
            {{ text_field(txt)}}
            {{ text_field('{:,}'.format(current_service.message_limit)) }}
            {{ edit_field(change_txt, url_for('.set_message_limit', service_id=current_service.id)) }}
          {% endcall %}
          {% call row() %}
            {% set txt = _('API rate limit per minute') %}
            {{ text_field(txt)}}
            {{ text_field('{:,}'.format(current_service.rate_limit)) }}
            {{ text_field('')}}
          {% endcall %}
          {% call row() %}
            {% set txt = _('Free text message allowance') %}
            {{ text_field(txt)}}
            {{ text_field('{:,}'.format(current_service.free_sms_fragment_limit)) }}
            {{ edit_field(change_txt, url_for('.set_free_sms_allowance', service_id=current_service.id)) }}
          {% endcall %}
          {% call row() %}
            {% set txt = _('Email branding') %}
            {{ text_field(txt)}}
            {{ text_field(_(current_service.email_branding_name)) }}
            {{ edit_field(change_txt, url_for('.service_set_email_branding', service_id=current_service.id)) }}
          {% endcall %}
          {% call row() %}
            {% set txt = _('Letter branding') %}
            {{ text_field(txt)}}
            {{ optional_text_field(current_service.letter_branding.name) }}
            {{ edit_field(change_txt, url_for('.service_set_letter_branding', service_id=current_service.id)) }}
          {% endcall %}
          {% call row() %}
            {% set txt = _('Data retention') %}
            {{ text_field(txt)}}
            {% call field() %}
                {{ current_service.data_retention | join(', ', attribute='notification_type') }}
            {% endcall %}
            {{ edit_field(change_txt, url_for('.data_retention', service_id=current_service.id)) }}
          {% endcall %}

          {% for permission in service_permissions %}
            {% if not service_permissions[permission].requires or current_service.has_permission(service_permissions[permission].requires) %}
              {% call row() %}
                {{ text_field(_(service_permissions[permission].title))}}
                {{ boolean_field(current_service.has_permission(permission)) }}
                {{ edit_field(change_txt, url_for(service_permissions[permission].endpoint or '.service_set_permission', service_id=current_service.id, permission=permission if not service_permissions[permission].endpoint else None)) }}
              {% endcall %}
            {% endif %}
          {% endfor %}

          {% call row() %}
          {% set txt = _('Sending domain') %}
          {{ text_field(txt) }}
          {% set txt = _('{}') %}
          {{ text_field(txt.format(current_service.sending_domain)|safe if current_service.sending_domain else sending_domain) }}
          {{ edit_field(
            change_txt,
            url_for('.service_sending_domain', service_id=current_service.id),
            permissions=['manage_service'],
            attributes=""
          )}}
          {% endcall %}

        {% endcall %}

      </div>

    {% endif %}

    {% if current_service.active and (current_service.trial_mode or current_user.platform_admin) %}
      <p class="mt-gutterHalf block clear-both contain-floats">
        <span class="page-footer-delete-link page-footer-delete-link-without-button">
          <a href="{{ url_for('.archive_service', service_id=current_service.id) }}">
            {{ _('Delete this service') }}
          </a>
        </span>
        {% if current_user.platform_admin %}
          <span class="page-footer-delete-link">
            <a href="{{ url_for('.suspend_service', service_id=current_service.id) }}" class="page-footer-delete-link">
                {{ _('Suspend service') }}
              </a>
          </span>
        {% endif %}
      </p>
    {% endif %}
    {% if (not current_service.active) and current_user.platform_admin %}
      <p>
        <div class="hint mb-12 clear-both contain-floats">
          {{ _('Service suspended') }}
        </div>
        <span class="page-footer-delete-link page-footer-delete-link-without-button">
          <a href="{{ url_for('.resume_service', service_id=current_service.id) }}">
            {{ _('Resume service') }}
          </a>
        </span>
      </p>
    {% endif %}


{% endblock %}
}
