{% extends "fullwidth_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block meta %}
  <meta name="description" content="Notification lets you send emails and text messages to your users.">
{% endblock %}

{% block page_title %}
  {{ _('Notification') }}
{% endblock %}

{% block maincolumn_content %}
  <!-- intro -->
  <div class="product-page-intro">
    <div class="product-page-intro-wrapper override-elements-content" id="content">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1>
            {{ _('Send emails and text messages to your users') }}
          </h1>
          <p>
            {{ _('Try Notification if you work in the federal government.') }}
          </p>
          <div class="button-container">
            <a class="button button-start" href='{{ url_for('.register' )}}'>{{ _('Create an account') }}</a>
            {{ _('or') }} <a href="{{ url_for('.sign_in' )}}">{{ _('sign in') }}</a> {{ _('if you’ve used it before') }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end intro -->

  <!-- section 1 -->
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        {% if current_lang == "fr" %}
          <img src="{{ asset_url('images/product/01-dashboard-fr.svg') }}" alt="" />
        {% else %}
          <img src="{{ asset_url('images/product/01-dashboard-en.png') }}" alt="" />
        {% endif %}
      </div>
      <div class="column-half">
        <h2>Header</h2>
        <p>Text here.</p>
      </div>
    </div>
  </div>
  <!-- end section 1 -->

  <!-- section 2 -->
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
          <h2>Header</h2>
          <p>Text here.</p>
      </div>
      <div class="column-half">
        {% if current_lang == "fr" %}
        <img src="{{ asset_url('images/product/01-templates-fr.svg') }}" alt="" />
        {% else %}
        <img src="{{ asset_url('images/product/01-templates.svg') }}" alt="" />
        {% endif %}
      </div>
    </div>
  </div>
  <!-- end section 2 -->

  <!-- background colour swap -->
  <div class="homepage-colour-swap">
  <!-- section 3 -->
  <div class="product-page-section">
      <div class="grid-row">
        <div class="column-half">
          {% if current_lang == "fr" %}
            <img src="{{ asset_url('images/product/01-spreadsheet-fr.svg') }}" alt="" />
          {% else %}
            <img src="{{ asset_url('images/product/01-templates.svg') }}" alt="" />
          {% endif %}
        </div>
        <div class="column-half">
          <h2>Header</h2>
          <p>Text here.</p>
        </div>
      </div>
    </div>
    <!-- end section 3 -->
    
  
    <!-- section 4 -->
    <div class="product-page-section">
      <div class="grid-row">
        <div class="column-half">
            <h2>Header</h2>
            <p>Text here.</p>
        </div>
        <div class="column-half">
          <img src="{{ asset_url('images/product/01-code.svg') }}" alt="" />
        </div>
      </div>
    </div>
    <!-- end section 4 -->

  </div>
  <!-- end background colour swap -->


     <!-- contact us -->
     <div class="product-page-section">
        <div class="grid-row">
          <div class="column-half">
              <h2>Contact US</h2>
             
              {% call form_wrapper() %}
               {{ textbox(form.name, width='1-1') }}
               {{ textbox(form.email_address, width='1-1') }}
               {{ textbox(form.feedback, width='1-1', hint='', rows=10) }}
              {{ page_footer(
                'Send',
              ) }}
          {% endcall %}


          </div>
          <div class="column-half">
          </div>
        </div>
      </div>
      <!-- end contact us -->



  
  


{% endblock %}
