{% extends "fullwidth_template.html" %}

{% block meta %}
  <meta name="description" content="Notification lets you send emails and text messages to your users.">
{% endblock %}

{% block page_title %}
  {{ _('Notification') }}
{% endblock %}

{% block maincolumn_content %}

  <div class="product-page-intro">
    <div class="product-page-intro-wrapper override-elements-content" id="content">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1>
            {{ _('Send emails and text messages to your users') }}
          </h1>
          <p>
            {{ _('Try Notification if you work in the federal government.') }}
          </p>
          <div class="button-container">
            <a class="button button-start" href='{{ url_for('.register' )}}'>{{ _('Create an account') }}</a>
            {{ _('or') }} <a href="{{ url_for('.sign_in' )}}">{{ _('sign in') }}</a> {{ _('if you’ve used it before') }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <h2>
          {{ _('Control your content') }}
        </h2>
        <p>
          {{ _('You don’t need any technical knowledge to create email or text message templates.') }}
        </p>
      </div>
      <div class="column-half">
        {% if current_lang == "fr" %}
          <img src="{{ asset_url('images/product/01-templates-fr.svg') }}" alt="" />
        {% else %}
          <img src="{{ asset_url('images/product/01-templates.svg') }}" alt="" />
        {% endif %}
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <h2 class="with-keyline">
      {{ _('Send messages manually or automatically') }}
    </h2>
    <div class="grid-row">
      <div class="column-half">
        <p>
          {{ _('Upload a spreadsheet of email addresses or phone numbers and Notification sends the messages.') }}
        </p>
        {% set alt = _('A screenshot of a spreadsheet with columns for email address, name and colour') %}
        {% if current_lang == "fr" %}
          <img src="{{ asset_url('images/product/03-spreadsheet-fr.svg') }}" alt="" />
        {% else %}
          <img src="{{ asset_url('images/product/03-spreadsheet.svg') }}" alt="" />
        {% endif %}
      </div>
      <div class="column-half">
        <p>
          {{ _('Integrate Notification with your web application or back office system.') }}
        </p>
        {% set alt = _('A screenshot of some computer code with a notify.send_email function') %}
        <img
          src="{{ asset_url('images/product/04-api.svg') }}"
          alt=alt
        >
      </div>
    </div>
  </div>
  
  <div class="product-page-section">
    <div class="grid-row">
      <div class="column-half">
        <p>
          <a href="{{ url_for('.feedback', ticket_type='ask-question-give-feedback') }}">{{ _('Contact us') }}</a> {{ _('if you have a question or want to give feedback.') }}
        </p>
      </div>
      <div class="column-half">
      </div>
    </div>
  </div>


{% endblock %}
