{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _('Sign in') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    {% if again %}
      <h1 class="heading-large">{{ _('You need to sign in again') }}</h1>
      {% if other_device %}
        <p>
          {{ _('We signed you out because you signed in to GC Notify on another device.') }}
        </p>
      {% else %}
        <p>
          {{ _('We signed you out because you haven’t used GC Notify for a while.') }}
        </p>
      {% endif %}
    {% else %}
      <h1 class="heading-large">{{ _("Sign in") }}</h1>
      <p>
        {{ _('If you do not have an account, you can') }}
        <a href="{{ url_for('.register') }}">{{ _('create one now') }}</a>.
      </p>
    {% endif %}
    {% set forgot = _('Forgot your password?') %}
    {% set btn = _('Continue') %}
    {% call form_wrapper(autocomplete=True) %}
      {{ textbox(form.email_address, autocomplete='email') }}
      {{ textbox(form.password, autocomplete='current-password') }}
      {{ page_footer(btn, secondary_link=url_for('.forgot_password'), secondary_link_text=forgot) }}
    {% endcall %}
  </div>
</div>

{% endblock %}
