{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Terms of use') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Terms of use') }}</h1>

  <p>
    {{ _('The following terms apply to use of GC Notify, a product operated by the Canadian Digital Service (CDS). GC Notify is available for use by Canadian federal departments and agencies to send service transaction updates.') }}
  </p>
  <p>
    {{ _('As a service owner, you must accept these terms prior to being able to use GC Notify to communicate with the public.') }}
  </p>

  <p>{{ _('To use the GC Notify service, you and your service team must:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('Get individuals’ consent to send messages and to use data they provide for this purpose.') }}</li>
    <li>{{ _("Ensure that your use of GC Notify complies with your organisation’s privacy requirements (including the <a id='link-terms-privacy' href='https://laws-lois.justice.gc.ca/ENG/ACTS/P-21/index.html'>Privacy Act</a> and any relevant departmental legislation or policies).") }}</li>
    <li>{{ _('Ensure that the data you add to GC Notify are accurate, and comply with applicable information management and data retention requirements.') }}</li>
    <li>{{ _('Complete all applicable privacy and security steps required by your organisation.') }}</li>
    <li>{{ _('Not send messages containing information above the classification level assessed for GC Notify (currently Protected A).') }}</li>
    <li>{{ _('Tell CDS immediately if you have any security breaches, and comply with applicable privacy requirements.') }}</li>
    <li>{{ _('Keep your API (application programming interface) keys secure.') }}</li>
    <li>{{ _('Pay for any SMS text message usage above the free allowance (currently 25,000 text messages per year).') }}</li>
  </ul>

  <p>{{ _("Using GC Notify also includes accepting the applicable <a id='link-terms-aws' href='https://aws.amazon.com/service-terms/'>terms of use of Amazon Web Services</a>, the underlying infrastructure provider.") }}</p>

  <p>{{ _('Departments and agencies using SMS text messages will pay for all text messages sent through GC Notify at the cost-rate charged by the provider to CDS, unless these messages are part of the free allocation. Each organisation can send 25,000 free text messages per year from each service created.') }}</p>

  <p>
    {{ _('Service teams can leave GC Notify at any time by emailing ') }} <a href="mailto:assistance+notification@cds-snc.ca">assistance+notification@cds-snc.ca</a>. <strong>{{ _('CDS reserves the right to stop sending notifications on behalf of departments and agencies if they do not follow the terms listed above') }}</strong>{{ _(', in order to protect GC Notify’s technical infrastructure and other users of the service.') }}
  </p>

  <p>
    {{ _("For questions related to these terms of use, or to report an issue, <a id='link-terms-contact' href='{}'>contact us.</a>").format(url_for('main.contact')) }}
  </p>

{% endblock %}
