{% extends "content_template.html" %}
{% from "components/banner.html" import banner_wrapper %}

{% block per_page_title %}
  {{ _('Terms of use') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Terms of use') }}</h1>

  <p>
    {{ _('These terms apply to use of Notification. Your account manager must accept them.') }}
  </p>

  <h2 class="heading-medium">{{ _('When using Notification') }}</h2>
 
  <p>{{ _('Follow Canadian law with regard to the privacy act when using this software.') }}</p>
  <p>{{ _('You must:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('complete all security steps required by your organization.') }}</li>
    <li>{{ _('tell us immediately if you have any security breaches.') }}</li>
    <li>{{ _('keep your API (Application Programming Interface) codes secure. API technology allows different software applications to communicate with each other.') }}</li>
    <li>{{ _('get consent to send messages and to use data. This consent must meet standards set by privacy legislation including the federal Privacy Act.') }}</li>
    <li>{{ _('check that the data you add to Notification is accurate and complies with privacy legislation including the federal Privacy Act.') }}</li>
    <li>{{ _('not send messages containing any personally or commercially sensitive information.
      <li>{{ _('not send unsolicited messages.') }}</li>
  </ul>
  <p>{{ _('If you don’t follow these terms, we may need to stop sending your messages.') }}</p>

  <p>{{ _('Notification will:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('send the messages you write, as long as these messages comply with our terms of use.') }}</li>
    <li>{{ _('keep your data <a href="/features/security">secure</a>.') }}</li>
    <li>{{ _('give you one month’s notice by email if we change our terms of use or delivery providers.') }}</li>
  </ul>

  <h2 class="heading-medium">{{ _('Leaving Notification') }}</h2>
  <p>{{ _('You can leave Notification at any time. Just') }} <a href="{{url_for('.feedback', ticket_type='ask-question-give-feedback')}}">{{ _('contact us') }}</a> {{ _('and we’ll close your account.') }}</p>
  <p>{{ _('We’ll delete all your data when we close your account.')}} </p>

{% endblock %}
