{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Check your mobile number') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row contain-floats">
  <div class="column-two-thirds">
    <h1 class="heading-large">{{ _('Check your mobile number') }}</h1>

    <p class="phone-confirm">{{ _('Check your mobile phone number is correct and then re-send the security code.') }}</p>
    {% set txt = _('Re-send security code') %}
      {% call form_wrapper() %}
        {{ textbox(form.mobile_number) }}
        {{ page_footer(txt) }}
      {% endcall %}
  </div>
</div>

{% endblock %}
