{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Trial mode') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Trial mode') }}</h1>

  <p>{{ _('When you set up a new service it will start in trial mode. This lets you try out GC Notify, with a few restrictions.') }}</p>
  <p>{{ _('A service in trial mode can only:') }}</p>
    <ul class="list list-bullet">
     <li>{{ _('send 50 text messages and emails per day') }}</li>
      <li>{{ _('send messages to you and other people in your team') }}</li>
     <li>{{ _('create letter templates, but not send them') }}</li>
   </ul>

  <p>
    {{ _('To remove these restrictions, you can') }}
    {% if current_service and current_service.trial_mode %}

      <a href="{{ url_for('.feedback', ticket_type='ask-question-give-feedback') }}">contact us</a>.
    {% else %}
      {{ _('send us a request to go live.') }}
    {% endif %}
  </p>

  <p>{{ _('Before you can request to go live, you must:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('sign our GC Notify data sharing and financial agreement') }}</li>
    <li>{{ _('accept our terms of use') }}</li>
    <li>{{ _('set up your service so you’re ready to send and receive messages') }}</li>
  </ul>
  <p>
    {{ _('When we receive your request we’ll get back to you within one working day.') }}
  </p>

{% endblock %}
