{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Text verification') }}
{% endblock %}

{% block maincolumn_content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">{{ _('Check your phone messages') }}</h1>
    {% set continue = _('Continue') %}
    {% set link_txt = _('Not received a text message?') %}
    <p>{{ _('We’ve sent you a text message with a security code.') }}</p>
    {% call form_wrapper(class="extra-tracking") %}
      {{ textbox(
        form.two_factor_code,
        width='5em',
        autofocus=True
      ) }}
      {{ page_footer(
        continue,
        secondary_link=url_for('main.check_and_resend_text_code'),
        secondary_link_text=link_txt
      ) }}
    {% endcall %}
  </div>
</div>

{% endblock %}
