{% extends  "admin_template.html" %}
{% from "components/table.html" import list_table, row, field %}
{% from "components/table.html" import mapping_table, row, text_field, optional_text_field, edit_field, field, boolean_field with context %}
{% from "components/profile-item.html" import profile_item %}

{% block per_page_title %}
  {{ _('Your profile') }}
{% endblock %}

{% block maincolumn_content %}

  {% set change = _('Change') %}

  <h1 class="heading-large">{{ _('Your profile') }}</h1>

  {% if config["FF_AUTH_V2"] %}
    <div class="pb-8">
      {{ profile_item(_('Name'), text_field(current_user.name), '.user_profile_name') }}
      {{ profile_item(_('Email address'), text_field(current_user.email_address), '.user_profile_email' if can_see_edit else None) }}
      {{ profile_item(_('Contact number'), optional_text_field(current_user.mobile_number), '.user_profile_mobile_number', None  if current_user.mobile_number else _('Add number')) }}
    </div>

    <h2 class="heading-large">{{ _("Security") }}</h2>
    <div>
      {{ profile_item(_('Password'), text_field(_('Last changed ') + " " + current_user.password_changed_at|format_delta ), '.user_profile_password') }}
      {% if current_user.auth_type == 'email_auth' %}
        {{ profile_item(_('Two-step verification method'), text_field(_("Code by email") + " (" + current_user.email_address + ")"), '.user_profile_2fa') }}
      {% elif current_user.auth_type == 'sms_auth' %}
        {{ profile_item(_('Two-step verification method'), text_field(_("Code by text message") + " (" + current_user.mobile_number + ")"), '.user_profile_2fa') }}
      {% elif current_user.auth_type == 'security_key_auth' %}
        <!-- This auth_type does not exist yet -->
        {{ profile_item(_('Two-step verification method'), text_field(_("Security key") + " (" + current_security_key_name + ")"), '.user_profile_2fa') }}
      {% endif %}

      {{ profile_item(_('Security keys'), text_field(_("{} security key").format(num_keys) if num_keys == 1 else _("{} security keys").format(num_keys)), '.user_profile_security_keys') }}
      {% if current_user.platform_admin or session.get('disable_platform_admin_view') %}
        {{ profile_item(_('Use platform admin view'), text_field(_('Yes') if not session.get('disable_platform_admin_view') else _('No')), '.user_profile_disable_platform_admin_view') }}
      {% endif %}
    </div>
  {% else %}
    {{ profile_item(_('Name'), text_field(current_user.name), '.user_profile_name') }}
    {{ profile_item(_('Email address'), text_field(current_user.email_address), '.user_profile_email' if can_see_edit else None) }}
    {{ profile_item(_('Mobile number'), optional_text_field(current_user.mobile_number), '.user_profile_mobile_number', None  if current_user.mobile_number else _('Add number')) }}
    {{ profile_item(_('Password'), text_field(_('Last changed ') + " " + current_user.password_changed_at|format_delta ), '.user_profile_password') }}
    {{ profile_item(_('Security keys'), text_field(num_keys), '.user_profile_security_keys') }}

    {% if current_user.platform_admin or session.get('disable_platform_admin_view') %}
      {{ profile_item(_('Use platform admin view'), text_field(_('Yes') if not session.get('disable_platform_admin_view') else _('No')), '.user_profile_disable_platform_admin_view') }}
    {% endif %}
  {% endif %}
{% endblock %}
