{% extends  "admin_template.html" %}

{% block per_page_title %}
  {{ _('Welcome to GC Notify') }}
{% endblock %}

{% block maincolumn_content %}

    <div class="pb-16">
        <h1 class="heading-large">{{ _('Welcome to GC Notify') }}</h1>
        <p class="pt-4">{{ _('To get started, you’ll need to create a service. A service is a shared space where you and your team can write messages and track sending. Your service will start out in <b>trial mode</b>.')}}</p>
        <p class="pt-4 mb-4">{{ _('In <b>trial mode</b>, you can:') }}</p>
        <ul class="list-disc ml-10">
            <li class="pt-4 leading-tight">{{ _('Send messages to yourself and team members') }}</li>
            <li class="pt-4 leading-tight">{{ _('Send up to {} messages per day').format(default_limit | format_number) }}</li>
        </ul>
        <p class="pt-10">{{ _("Once you've set up your team and tried out sending, you can request to go live in Settings") }}</p>
        <a href="{{ url_for('main.add_service', first='first') }}" class="mt-4 button">{{ _('Create your first service') }}</a>
    </div>

{% endblock %}
