{% extends  "admin_template.html" %}

{% block per_page_title %}
  {{ _('Welcome to GC Notify') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large pb-8">{{ _('Welcome to GC Notify') }}</h1>
  <h2 class="heading-medium">{{ _('Create a service to get started') }}</h2>
  <div class="space-y-6">
    <p class="mb-0">{{ _('A service is a shared space where your team can write messages and track sending.') }}</p>
    <p>{{ _('Your service starts in trial mode.') }}</p>
    <p>{{ _('In <strong>trial mode</strong>, you can:') }}</p>
    <ul class="list-disc ml-10">
      <li>{{ _('Send messages to yourself and members of your team.') }}</li>
      <li>{{ _('Send up to 50 messages per day.') }}</li>
    </ul>
  </div>
  <p class="pt-10">{{ _("When you’re ready to send more than 50 messages per day, you can request to go live in settings.") }}</p>
  <a href="{{ url_for('main.add_service', first='first') }}" class="button">{{ _('Create your first service') }}</a>

  <h2 class="heading-medium pt-12">{{ _('Join an existing service') }}</h2>
  <div class="space-y-6">
    <p data-testid="guidance-join-existing-service">{{ _("Check your email for an invitation from the team for that service. GC Notify staff cannot send these invitations.") }}</p>
    <p>{{ _('If you do not have an invitation, ask your team.') }}</p>
  </div>
{% endblock %}
