{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% from "components/sub-navigation.html" import sub_navigation %}

{% block per_page_title %}
  {{ _('Why use GC Notify') }}
{% endblock %}

{% block content_column_content %}

<h1 class="heading-large">{{ _('Why use GC Notify') }}</h1>
<p>{{ _('GC Notify is designed in a way that meets the needs of government services.') }}</p>

<h2 class="heading-medium">{{ _('Build modern, cloud-first services') }}</h2>
<p>{{ _('GC Notify is a scalable cloud platform with a robust API that allows you to connect to other services. For example, connect to electronic mailing list software like Listserv or other applications to send password resets, email confirmations, or responses to forms.') }}</p>

<h2 class="heading-medium">{{ _('Comply with communications requirements') }}</h2>
<p>{{ _('GC Notify provides a bilingual interface and bilingual options for Government of Canada signature branding in email messages by default to ensure you are compliant with the Federal Identity Program.') }}</p>

<h2 class="heading-medium">{{ _('Protect personal information') }}</h2>
<p>{{ _('GC Notify does not store contact lists and only stores information about recipients for 7 days. You can also hide sensitive information by redacting personal details from messages after they’ve been sent, so that only recipients see their personal information.') }}</p>
<p><a href="{{ url_for('main.privacy') }}">{{ _('Learn more about privacy protection') }}</a></p>


<h2 class="heading-medium">{{ _('Keep data secure') }}</h2>
<p>{{ _('GC Notify keeps your account secure with two-factor authentication. This means you’ll need to enter a code that gets sent to your phone or email when you sign in. GC Notify is authorized for Protected A information. Data is encrypted whenever it passes through GC Notify and when it is stored in the system.') }}</p>
<p><a href="{{ url_for('main.security') }}">{{ _('Learn more about security') }}</a>.

<h2 class="heading-medium">{{ _('Skip the procurement process') }}</h2>
<p>{{ _('GC Notify is a government-run service, using it does not require any external procurement. You can send up to 10 million emails and 10,000 text messages per year for free for each of your Government of Canada services. No set up fee and no cost to use.') }}</p>

<h2 class="heading-medium">{{ _('Experiment safely with trial mode') }}</h2>
<p>{{ _('Try out GC Notify before committing. When you create an account you will start in trial mode allowing you to experiment by sending messages to yourself and other people on your team. Once you’ve updated your settings and added examples of messages you want to send, you can request go live with your service to send to more recipients.') }}</p>

{% endblock %}
