@layer components {

  /* Note: Buttons are <a> sometimes, which is why :link and : visted styles exist */

  .button, .button:link, .button:visited {
    padding: .526315em .789473em .263157em;
    background-color: theme("colors.green.default");
    box-shadow: 0 2px 0 theme("colors.green.border");
    @apply no-underline inline-block text-white text-smaller leading-tight align-top;
  }
  
  .btn-blue, .btn-blue:link, .btn-blue:visited {
    background-color: theme("colors.blue.lighter");
    @apply px-5 py-4 border-b-2 border-black font-bold text-black text-base;
  }
  
  .button:hover {
    background-color: theme("colors.green.hover");
  }

  .button:focus {
    outline: 3px solid theme("colors.yellow.default");
  }

  .button-red {
    background-color: theme("colors.red.default");
    box-shadow: 0 2px 0 theme("colors.red.border");
  }
  .button-red:hover {
    background-color: theme("colors.red.hover");
  }

  .button-secondary, .button-secondary:visited, .button-secondary:link {
    background-color: theme("colors.gray.button");
    box-shadow: 0 2px 0 theme("colors.gray.border");
    font-size: 1em;
    @apply text-black;
  }

  .button-secondary:hover {
    background-color: theme("colors.gray.hover");
  }

  /* Homepage Button */
  #contact-form .button {
    color: theme("colors.green.darker");
    border-color: theme("colors.green.darker");
    background-color: theme("colors.white.default");
    @apply px-6 py-4 border-b-4 font-bold border-2;
    border-bottom: 4px solid;
    box-shadow: none;
  }
  #contact-form .button:hover {
    @apply bg-gray-selected;
  }

  .button.disabled {
    @apply opacity-50 cursor-default;
  }

}