@layer components {
  .form-control.list-form-control {
    padding-left: 1.84em;
    @apply mb-0 w-full;
  }

  .list-entry {
    @apply relative align-middle mb-6;
  }

  .list-entry-remove {
    @apply block mb-6 mt-2 static overflow-hidden text-smaller leading-tight;
  }
  @media (min-width: theme('screens.sm')) {
    .list-entry-remove {
      left:100%;
      @apply inline-block m-0 ml-4 absolute top-0;
    }
  }

  .text-box-number-label {
    width: 1.6em;
    margin: 6px -1.6em 0 0;
    left: 10px;
    @apply text-smaller relative pointer-events-none float-left font-bold text-gray-grey1;
  }
}