@layer components {
  .sms-message-wrapper {
    max-width: 464px;
    word-wrap: break-word;
    @apply relative w-full box-border p-gutterHalf rounded-lg whitespace-normal m-0 mb-gutter clear-both bg-gray-button border-gray-button border-solid border;
  }

  .sms-message-wrapper:after {
    content: "";
    bottom: -5px;
    right: -20px;
    border-width: 10px;
    border-left-width: 13px;
    border-right-width: 13px;
    transform: rotate(20deg);
    @apply block absolute border-solid border-transparent border-b-gray-button border-l-gray-button;
  }

  .sms-message-sender, .sms-message-recipient {
    padding-top: 2px;
    padding-bottom: 8px;
    
    @apply text-smaller leading-tight font-normal text-gray-grey1 m-0 pb-2;
  }

  .email-message-table {
    @apply text-smaller leading-tight font-normal align-top border-0 border-b border-solid border-b-gray-grey2;
  }

  .email-message-meta td {
    width: 99%;
    @apply pr-doubleGutter break-words;
  }

  /*
    These classes style html which is shared with the API and
    final email sends. We can't safely change that file without
    affecting email formats.

    We overwrite a few styles here for the purposes of preview.
  */
  .email-message-body table td {
    font-family: inherit !important;
    @apply border-0 p-0;
  }

  .email-message-body li:first-child {
    margin-top: 0 !important;
  }
}