@import "./tailwind.css";
@import "./typography.css";
@import "./layout.css";
@import "./page-footer.css";
@import "./table.css";
@import "./fullscreen-table.css";
@import "./buttons.css";
@import "./checkboxes-radios.css";
@import "./api-key.css";
@import "./big-number.css";
@import "./list-entry.css";
@import "./email_sms_message.css";
@import "./message.css";
@import "./textbox.css";

/* views */
@import "./views/dashboard.css";
@import "./views/users.css";

@-ms-viewport {
  width: device-width;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #dee0e2;
  -ms-overflow-style: scrollbar;
}

body {
  @apply leading-normal font-normal;
  font-size: 160%;
  background: white;
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
button,
input,
table,
td,
th {
  @apply font-body;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  @apply m-0 p-0 align-baseline;
}

main {
  @apply block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.hidden,
.js-enabled .js-hidden {
  @apply hidden invisible;
}

.visually-hidden,
.visuallyhidden {
  @apply absolute overflow-hidden top-auto;
  left: -9999em;
  width: 1px;
  height: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  @apply h-auto m-0 overflow-visible static w-auto;
  clip: auto;
}

h1 {
  @apply text-xl font-sans pb-10;
}

h2 {
  @apply text-lg font-sans pb-6;
}

p {
  @apply text-base leading-tight;
}

li {
  @apply text-base leading-tight;
}

.input {
  border-color: #000;
  @apply border-solid border-2 py-3 px-2 text-smaller;
}

.flip {
  transform: rotate(-180deg);
  transition: all 0.5s ease;
  padding-top: 2px;
}

label {
  @apply block text-smaller pb-2;
}

.group:before,
.group:after {
  content: "\0020";
  @apply block h-0 overflow-hidden;
}

.group:after {
  @apply clear-both;
}

.group {
  zoom: 1;
}

.content-fixed {
  @apply fixed top-0;
}

.shim {
  display: block;
}

@variants focus {
  .input {
    @apply outline-none;
  }
}

.line-under {
  text-underline-position: under;
}

.feature-box {
  @apply w-3/4;
}

@screen lg {
  .feature-box {
    @apply w-1/3;
  }
}

.quote-box {
  @apply text-small mb-10;
}

.quote-box div:first-child {
  @apply font-bold italic mb-2;
}

/* form(s) */
.form-group {
  @apply mb-4;
}

.form-group-error {
  @apply mr-4 pl-4 border-l-4 border-red;
}

.form-control-error {
  @apply border-4 border-red;
}

.error-message {
  @apply block text-red text-base;
}

/* honeypot field*/
.phone {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.skiplink:focus {
  @apply outline-yellow bg-yellow;
}

.skiplink {
  @apply absolute;
  left: -9999em;
}

.skiplink:focus,
.skiplink:visited {
  color: #0b0c0c;
}

.skiplink:focus {
  left: 0;
  z-index: 1;
}

#skiplink-container {
  text-align: center;
  background: #0b0c0c;
}

#skiplink-container div {
  text-align: left;
  margin: 0 auto;
  max-width: 1020px;
}

#skiplink-container .skiplink {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0.75em 0 0 30px;
}

@layer components {
  .research-mode {
    @apply font-bold inline-block bg-blue-govukblue text-white py-2 px-4 rounded;
  }

  .js-enabled .live-search {
    @apply block visible;
  }

  .live-search .form-group {
    margin-bottom: 20px;
  }
}