{% from "components/table.html" import mapping_table, row, text_field, field, row_heading %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}

{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Pricing') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Pricing') }}</h1>
  <p>{{ _('To use GC Notify, there’s:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('no monthly charge') }}</li>
    <li>{{ _('no setup fee') }}</li>
    <li>{{ _('no procurement cost') }}</li>
  </ul>

  <p>
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('then set up as many different services as you need to.') }}</p>
    {% else %}
      {{ _('You can set up as many different services as you need to.') }}
    {% endif %}
  </p>

  <p>{{ _('When you set up a new service it will start in trial mode') }}.</p>

  <h2 class="heading-medium">{{ _('Emails') }}</h2>
  <p>{{ _('It’s free to send emails through GC Notify.') }}</p>

  <h2 class="heading-medium">{{ _('Text messages') }}</h2>
  <p>{{ _('Each service you set up in GC Notify has a free annual allowance.') }}</p>
  <h3 class="heading-small">{{ _('International SMS rates') }}</h3>

  {{ live_search(target_selector='#international-rates tbody tr', show=True, form=search_form, label=_('Search by country name'), hint=False) }}

  <table id="international-rates" class="table">
    <colgroup>
      <col class="col-code" />
      <col class="col-country" />
      <col class="col-rate" />
    </colgroup>
    <thead>
      <tr>
        <th>{{ _('Country code') }}</th>
        <th>{{ _('Country') }}</th>
        <th>{{ _('Rate multiplier') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for cc, country_name, billable_units in international_sms_rates %}
      <tr>
        <td>
          +{{ cc }}
          <span class="live-search-relevant visually-hidden">{{ cc }} {{ country_name }} {{ billable_units }}</span>
        </td>
        <td>{{ country_name }}</td>
        <td>{{ billable_units }}x</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
