{% from "components/table.html" import mapping_table, row, text_field, field, row_heading %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}

{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Pricing') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">{{ _('Pricing') }}</h1>
  <p>{{ _('To use GC Notify, there’s:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('no monthly charge') }}</li>
    <li>{{ _('no setup fee') }}</li>
    <li>{{ _('no procurement cost') }}</li>
  </ul>

  <p>
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('then set up as many different services as you need to.') }}</p>
    {% else %}
      {{ _('You can set up as many different services as you need to.') }}
    {% endif %}
  </p>

  <p>{{ _('When you set up a new service it will start in') }} <a href="{{ url_for('main.trial_mode_new') }}">{{ _('trial mode') }}</a>.</p>

  <h2 class="heading-medium">{{ _('Emails') }}</h2>
  <p>{{ _('It’s free to send emails through GC Notify.') }}</p>

  <h2 class="heading-medium">{{ _('Text messages') }}</h2>
  <p>{{ _('Each service you set up in GC Notify has a free annual allowance.') }}</p>

{% endblock %}
