[tool.black]
line-length = 130
target-version = ['py37', 'py38', 'py39', 'py310']

[tool.poetry]
name = "notification-admin"
version = "0.1.0"
description = "Notifications admin application."
authors = ["Canadian Digital Service"]
license = "MIT license"
readme = "README.md"
packages = []

[build-system]
requires = ["poetry>=1.3.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.10.8"
timeago = "1.0.15"
Flask = "2.2.2"
Flask-WTF = "1.0.1"
Flask-Login = "0.6.2"
Flask-Caching = "1.11.1"
environs = "9.5.0"

apig-wsgi = "2.15.0"
blinker = "1.5"
pyexcel = "0.7.0"
pyexcel-io = "0.6.4"
pyexcel-xls = "0.7.0"
pyexcel-xlsx = "0.6.0"
pyexcel-ods3 = "0.6.0"
xlrd = "1.2.0" # this is pinned so that we can continue to support .xslm files; see https://github.com/pyexcel/pyexcel-xls/issues/53
pytz = "2021.3"
gunicorn = "20.1.0"
gevent = "22.10.2"
notifications-python-client = "6.4.1"

Babel = "2.11.0"
boto3 = "1.26.10"
Flask-Babel = "2.0.0"
newrelic = "6.10.0.165"
python-dotenv = "0.21.0"
pwnedpasswords = "2.0.0"
PyYAML = "5.4.1"
translate-toolkit = "3.7.4"
ua-parser = "0.16.1"
user-agents = "2.2.0"
WTForms = "3.0.0a1"
email-validator = "1.3.0"
Werkzeug = "2.2.2"
greenlet = "2.0.0"
mixpanel = "4.10.0"
redis = "3.5.3" # pinned for now

# PaaS
awscli-cwlogs = "^1.4.6"

# Putting upgrade on hold due to v1.0.0 using sha512 instead of sha1 by default
itsdangerous = "2.1.2"  # pyup: <1.0.0

notifications-utils = { git = "https://github.com/cds-snc/notifier-utils.git", tag = "50.1.0"}

rsa = "^4.1" # not directly required, pinned by Snyk to avoid a vulnerability

[tool.poetry.group.test.dependencies]
isort = "5.10.1"
pytest = "7.2.0"
pytest-env = "0.8.1"
pytest-cov = "2.12.1"
pytest-mock = "3.10.0"
pytest-xdist = "2.5.0"
coveralls = "1.11.1"
beautifulsoup4 = "4.11.1"
freezegun = "1.2.1"
flake8 = "4.0.1"
flake8-print = "5.0.0"
requests-mock = "1.10.0"
# used for creating manifest file locally
jinja2-cli = {version = "^0.8.2", extras = ["yaml"]}
black = "22.10.0"
mypy = "0.991"

# stubs libraries to keep mypy happy
types-python-dateutil = "2.8.2"
types-pytz = "2021.3.8"
types-requests = "2.28.11.5"