# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Werkzeug==2.0.2
Flask==2.0.2
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-Login==0.5.0
Flask-WTF==0.15.1

blinker==1.4
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
pyexcel-ods3==0.6.0
pytz==2021.1
gunicorn==20.1.0
eventlet==0.30.2
notifications-python-client==6.0.2
sentry-sdk[flask]==1.0.0
timeago==1.0.15

Babel==2.9.1
boto3==1.17.58
newrelic==6.2.0.156
python-dotenv==0.17.1
pwnedpasswords==2.0.0
PyYAML==5.4.1
translate-toolkit==3.3.6
ua-parser==0.10.0
user-agents==2.2.0
WTForms==3.0.0a1
email-validator==1.1.2
greenlet==1.1.2

# PaaS
awscli-cwlogs>=1.4.6,<1.5

# Putting upgrade on hold due to v1.0.0 using sha512 instead of sha1 by default
itsdangerous==2.0

git+https://github.com/cds-snc/notifier-utils.git@46.4.0#egg=notifications-utils

rsa>=4.7.2 # not directly required, pinned by Snyk to avoid a vulnerability
