-r requirements.txt
black==21.5b2
beautifulsoup4==4.10.0
coveralls==3.3.0
flake8==3.9.2
flake8-print==3.1.4
freezegun==1.1.0
isort==5.10.0
# used for creating manifest file locally
jinja2-cli[yaml]==0.7.0
mypy==0.910
pytest==3.10.1  # pyup: <4.0.0
pytest-env==0.6.2
pytest-cov==2.9.0
pytest-mock==3.2.0
pytest-xdist==1.27.0
requests-mock==1.9.3
types-freezegun==1.1.0