{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _('Confirm change of mobile number') }}
{% endblock %}

{% block maincolumn_content %}
{% set header_txt = _('Confirm change of mobile number') %}
{{ page_header(
  header_txt,
  back_link=url_for('.edit_user_mobile_number', service_id=service_id, user_id=user.id)
) }}

<div class="grid-row">
  <div class="column-whole">
  {% call form_wrapper() %}
    <p>{{ _('New mobile number:') }}</p>
    <div class="panel panel-border-wide bottom-gutter contain-floats">
      <p>{{ new_mobile_number }}</p>
    </div>
    <p>{{ _('We will send') }} {{ user.name }} {{ _('a text message to tell them about the change.') }}</p>
    {% set txt = _('Confirm') %}
    {{ page_footer(txt) }}
  {% endcall %}
  </div>
</div>

{% endblock %}
