// Layout
// ==========================================================================

// Content
// ==========================================================================

// Allow an ID here, this is useful as it matches the GOV.UK template skiplink
// scss-lint:disable IdSelector
#content {
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter * 3;
  }

  // DEPRECATED: Tabindex on #content
  // https://github.com/alphagov/govuk_elements/pull/534
  // We no longer recommend using tabindex on #content
  outline: none;
}
