{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/table.html" import list_table, field, hidden_field_heading %}

{% block service_page_title %}
  {{ _('SMTP integration') }}
{% endblock %}

{% block maincolumn_content %}
  {% if delete %}
    {{ banner(
      'Are you sure you want to remove?',
      type='dangerous',
      delete_button='Yes, remove',
      action=url_for('.delete_smtp', service_id=current_service.id)
    ) }}
  {% endif %}

  <h1 class="heading-medium bottom-gutter-3-2 contain-floats">
    {{ _('SMTP integration') }}
  </h1>

  {% if data['domain'] %}
    <ul>
      <li class="api-notifications-item-meta api-notifications">Sending Domain:</li>
      <li style="margin:10px 0">{{ data['domain'] }}</li>
      <li class="api-notifications-item-meta api-notifications">Server Name:</li>
      <li style="margin:10px 0">{{ data['name'] }}</li>
      <li class="api-notifications-item-meta api-notifications">Port:</li>
      <li style="margin:10px 0">{{ data['port'] }}</li>
      <li class="api-notifications-item-meta api-notifications">Use Transport Layer Security (TLS):</li>
      <li style="margin:10px 0">{{ data['tls'] }}</li>
      <li class="api-notifications-item-meta api-notifications">User Name:</li>
      <li style="margin:10px 0">{{ data['username'] }}</li>
      <li class="api-notifications-item-meta api-notifications">Password:</li>
      <li style="margin:10px 0">
        {% if data['password'] %}
          {{ data['password'] }}
        {% else %}
          {{ _('Generate a new password if you forgot it.') }}
        {% endif %}
      </li>
    </ul>
    <div style="padding-top:20px;">
    {{ page_footer(
      '',
      delete_link=url_for('.smtp_integration', service_id=current_service.id, delete='yes'),
      delete_link_text=_('Remove SMTP relay')
    ) }}
    </div>
  {% else %}
    <nav class="grid-row bottom-gutter-1-2 contain-floats">
        <div class="column-one-third">
          <a class="button success" href="{{ url_for('.manage_smtp', service_id=current_service.id) }}">{{ _('Add SMTP Relay') }}</a>
        </div>
    </nav>
  {% endif %}

  {% endblock %}