{% extends "withnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}


{% from "components/table.html" import list_table, field, hidden_field_heading %}

{% block service_page_title %}
  {{ _('Create SMTP relay') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-medium mb-12 clear-both contain-floats">
    {{ _('Create SMTP relay') }}
  </h1>

  {% call form_wrapper() %}
    {{ textbox(
      form.name,
      width='1-1',
      hint=_('enter a name'),
      safe_error_message=True
    ) }}

    {% set button_txt = _('Submit') %}
    {{ page_footer(button_txt) }}
  {% endcall %}
  {% endblock %}