{% extends "admin_template.html" %}

{% block per_page_title %}
  {{ _('Subscribe to newsletter') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large pb-8">{{ _('Subscribe to the GC Notify newsletter') }}</h1>
  
  <div class="space-y-6">
    <p>{{ _('Stay up to date with the latest features, improvements, and news from GC Notify.') }}</p>
  </div>

  <form method="post" action="{{ url_for('main.newsletter_subscribe') }}" class="pt-6">
    {{ form.csrf_token }}
    
    <div class="mb-6">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control w-full") }}
      {% if form.email.errors %}
        <span class="error-message">{{ form.email.errors[0] }}</span>
      {% endif %}
    </div>

    <div class="mb-6">
      {{ form.language.label(class="form-label") }}
      <div class="multiple-choice">
        {% for subfield in form.language %}
          <div class="mb-2">
            {{ subfield(class="form-control") }}
            {{ subfield.label(class="block-label") }}
          </div>
        {% endfor %}
      </div>
      {% if form.language.errors %}
        <span class="error-message">{{ form.language.errors[0] }}</span>
      {% endif %}
    </div>

    <button type="submit" class="button">{{ _('Subscribe') }}</button>
  </form>

{% endblock %}
