{% from "components/big-number.html" import big_number %}
{% from "components/message-count-label.html" import message_count_label %}
{% from 'components/remaining-messages.html' import remaining_messages %}
{% from "components/show-more.html" import show_more %}

<div class="ajax-block-container" data-testid="annual-usage">
    <h2 id="annual-usage-label" class="heading-medium mt-8" aria-describedby="annual-usage-desc">
      {{ _('Annual usage') }}
    </h2>
    <p id="annual-usage-desc" class="text-gray-600 text-small font-normal">
      {% set current_year = current_year or (now().year if now().month < 4 else now().year + 1) %}
      {{ _('resets on April 1, ') ~ current_year }}
    </p> 
    <div class="grid-row contain-floats mb-10">
      <div class="{{column_width}}">
        {{ remaining_messages(header=_('emails'), total=current_service.email_annual_limit, used=statistics_annual['email'], for=_('Annual usage'), muted=true) }}
      </div>
      <div class="{{column_width}}">
        {{ remaining_messages(header=_('text messages'), total=current_service.sms_annual_limit, used=statistics_annual['sms'], for=_('Annual usage'), muted=true) }}
      </div>
    </div>
    {{ show_more(url_for('.monthly', service_id=current_service.id), _('Visit usage report')) }}
</div>

