{% from "components/big-number.html" import big_number_with_status, big_number, big_number_simple %}
{% from "components/pill.html" import pill %}
{% from "components/table.html" import list_table, field, hidden_field_heading, right_aligned_field_heading, row_heading %}
{% from "components/message-count-label.html" import message_count_label %}
{% from 'components/remaining-messages.html' import remaining_messages %}

{% extends "admin_template.html" %}

{% block service_page_title %}
  {{ _('Usage report') }}
  {{ selected_year }} {{ _('to') }} {{ selected_year + 1 }} {{ _('fiscal year') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ _('Usage report') }}
  </h1>

  <div class="mb-12">
    {{ pill(
      items=years,
      current_value=selected_year,
      big_number_args={'smallest': True},
      label=_("Filter by year")
    ) }}
  </div>

  {% if config["FF_ANNUAL_LIMIT"] %}
    <h2 class="heading-medium mt-12">
      {% if selected_year == current_financial_year %}
        {{ _('Annual limit overview') }}
      {% else %}
        {{ _('Annual overview') }}
      {% endif %}
      <br />
      <small class="text-gray-600 text-small font-normal" style="color: #5E6975">
        {{ _('Fiscal year begins April 1, ') ~ selected_year ~ _(' and ends March 31, ') ~ (selected_year + 1) }}
      </small> 
    </h2>
    <div class="grid-row contain-floats mb-10">
      {% if selected_year == current_financial_year %}
        <div class="w-1/2 float-left py-0 px-0 px-gutterHalf box-border">
          {{ remaining_messages(header=_('emails'), total=current_service.email_annual_limit, used=annual_data['email']) }}
        </div>
        <div class="w-1/2 float-left py-0 px-0 px-gutterHalf box-border">
          {{ remaining_messages(header=_('text messages'), total=current_service.sms_annual_limit, used=annual_data['sms']) }}
        </div>
      {% else %}
        <div class="w-1/2 float-left py-0 px-0 px-gutterHalf box-border">
          {{ big_number_simple(
              annual_data['email'],
              _('emails'),
              
            )
          }}
        </div>
        <div class="w-1/2 float-left py-0 px-0 px-gutterHalf box-border">
          {{ big_number_simple(
              annual_data['sms'],
              _('text messages'),
              
            )
          }}
        </div>
      {% endif %}
    </div>
    <h2 class="heading-medium mt-12">
      {{ _('Month by month totals') }}
    </h2>
  {% endif %}

  {% if months %}
   {% set spend_txt = _('Total spend') %}
   {% set heading_1 = _('Month') %}
   {% set heading_2 = _('Emails') %}
   {% set heading_3 = _('Text messages') %}
    <div class="body-copy-table" id='pill-selected-item'>
      {% call(month, row_index) list_table(
        months,
        caption=spend_txt,
        caption_visible=False,
        empty_message='',
        field_headings=[
          heading_1,
          heading_2,
          heading_3,
        ],
        field_headings_visible=False,
        equal_length=True
      ) %}
        {% if not month.future %}
          {% call row_heading() %}
            {{ month.name }}
          {% endcall %}
          {% for counts, template_type in [
            (month.email_counts, 'email'),
            (month.sms_counts, 'sms'),
          ] %}
            {% call field(align='left') %}
              {{ big_number(
                counts.requested,
                message_count_label(counts.requested, template_type, suffix=''),
                smallest=True,
              ) }}
              {% if counts.failed == 1 %}
              <span class="{{ 'failure-highlight' if counts.show_warning else '' }}">
                {{ counts.failed | format_number }} {{ _('failure') }}
              </span>
              {% elif counts.failed > 1 %}
              <span class="{{ 'failure-highlight' if counts.show_warning else '' }}">
                {{ counts.failed | format_number }} {{ _('failures') }}
              </span>
              {% else %}
                –
              {% endif %}
            {% endcall %}
          {% endfor %}
        {% endif %}
      {% endcall %}
    </div>
  {% endif %}

  <p class="align-with-heading-copy">
    {{ _('Fiscal year ends 31 March.') }}
  </p>

{% endblock %}
