{% from "components/big-number.html" import big_number %}
{% from "components/message-count-label.html" import template_label %}
{% from "components/big-number.html" import big_number %}
{% from "components/table.html" import list_table, field, right_aligned_field_heading, row_heading, spark_bar_field %}

<div class='dashboard-table'>
  {% set template_used = _('Templates used') %}
  {% set template_txt = _('Template') %}
  {% set messages_txt = _('Messages sent') %}
  {% call(item, row_number) list_table(
    template_statistics,
    caption=template_used,
    caption_visible=False,
    empty_message='',
    field_headings=[
      template_txt,
      messages_txt
    ],
    field_headings_visible=True
  ) %}

    {% call row_heading() %}
      <a class="file-list-filename" href="{{ url_for('.view_template', service_id=current_service.id, template_id=item.template_id) }}">{{ item.template_name }}</a>
      <span class="file-list-hint">
        {{ template_label(item.template_type)|capitalize }}
      </span>
    {% endcall %}
    {% if template_statistics|length > 1 %}
      {{ spark_bar_field(item.count, most_used_template_count, id=item.template_id) }}
    {% else %}
      {% call field() %}
        <div id='a{{item.template_id}}' class="heading-small">
          {{ big_number(
            item.count,
            smallest=True
          ) }}
          </div>
      {% endcall %}
    {% endif %}
  {% endcall %}
</div>
