/* container / controls */
.rich-text-wrapper {
  border: 2px solid #d9d9d9;
  border-radius: 0.25rem;
}
.editor-input {
  padding: 1rem;
}

.toolbar-container {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
}
button.active.toolbar-item.peer {
  background: #d3e3fd;
}
.editor:focus-visible {
  outline: none;
  border: none;
}
.toolbar-item {
  margin: 0.15rem;
  padding: 0.5rem 0.15rem 0.15rem 0.15rem;
  width: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
.toolbar-item:hover {
  background: rgba(68,71,70,.08);
}
.double.toolbar-item .svg-inline--fa {
  transform: scale(0.85);
  padding: 0px;
  padding-bottom: 0.15rem
}
/* rendered markup */
.editor p {
  margin: 0 0 1.5rem 0;
}

.editor-heading-h2 {
  font-size: 27px;
  line-height: 35px;
  font-weight: bold;
  color: #0b0c0c;
  margin: 0 0 1.5rem 0;
}

.editor-heading-h3 {
  line-height: 26px;
  color: #0b0c0c;
  font-size: 24px;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

ul.editor-list-ul {
  margin: 0 0 1.5rem 20px;
  padding: 0;
  list-style-type: disc;
}

ol.editor-list-ol {
  margin: 0 0 1.5rem 20px;
  padding: 0;
  list-style-type: decimal;
}

ol li.editor-listitem,
ul li.editor-listitem {
  padding-left: 0.5rem;
}

/* Link editor */
.link-editor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
}

.link-editor button.active,
.toolbar button.active {
  background-color: #fff;
}

.link-editor .link-input {
  display: inline-block;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #eee;
  font-size: 15px;
  color: #050505;
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor button.link-edit {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor .link-input span {
  color: #216fdb;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .font-size-wrapper,
.link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: #00000013;
  border-radius: 4px;
}
