{% from 'components/message-count-label.html' import message_count_label %}

<div>
  {% if template._template.archived %}
    <p class="hint">
      {{ _('This template was deleted') }} <span class="relative-time-past">{{ template._template.updated_at }}</span>.
    </p>
  {% elif not current_user.has_permissions('send_messages', 'manage_api_keys', 'manage_templates', 'manage_service') or not user_has_template_permission %}
    <p class="mt-4 block {% if template.template_type != 'sms' %}mb-12{% endif %}">
      {{ _('If you need to send this') }}
      {{ message_count_label(1, template.template_type, suffix='') }}
      {{ _('or edit this template, contact your service manager.') }}
    </p>
  {% else %}
    {% if current_user.has_permissions('send_messages', restrict_admin_usage=True) %}
    <h2 class="heading-medium">{{ _('Ready to send?') }}</h2>

    <div class="mb-12">
      <a href="{{ url_for('.add_recipients', service_id=current_service.id, template_id=template.id) }}" class="button">
        {{ _('Add recipients') }}
      </a>
      <a href="{{ url_for('.send_test', service_id=current_service.id, template_id=template.id) }}" class="button button button-secondary">{{ _('Send test message to yourself') }}</a>
    </div>
    {% endif %}
  {% endif %}
</div>

<div class="w-full template-container">
  {{ template|string|translate_preview_template }}
</div>


