{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% extends "admin_template.html" %}

{% block service_page_title %}
  {{ _('Add new template or folder') }}
{% endblock %}

{% block maincolumn_content %}
    {% set button_txt = _('Continue') %}
    <h1 class="heading-large">{{ _('What do you want to add?') }}</h1>

    {% call form_wrapper() %}
      {{ radios(form.template_type) }}
      {{ page_footer(
        button_txt
      ) }}
    {% endcall %}

{% endblock %}
