{% extends "admin_template.html" %}

{% block service_page_title %}
  {{ _('Previous versions') }}
{% endblock %}

{% block maincolumn_content %}
  <h1 class="heading-large">{{ _('Previous versions') }}</h1>
  <div class="grid-row contain-floats">
    <ol reversed class="list-decimal list-inside">
    {% for template in versions %}
      <li class="w-full py-0 px-0 px-gutterHalf box-border">
        {% with show_title=True, total_versions=loop.length %}
          {% include 'views/templates/_template_history.html' %}
        {% endwith %}
      </li>
    {% endfor %}
  </ol>
  </div>
  <p>
    <a href="{{ url_for(".choose_template", service_id=current_service.id) }}">{{ _('Back to current templates') }}</a>
  </p>
{% endblock %}
