{% from "components/folder-path.html" import copy_folder_path, page_title_folder_path %}
{% from "components/live-search.html" import live_search %}

{% extends "admin_template.html" %}

{% block service_page_title %}
  {{ _('Copy an existing template') }} {{ _("into") }} {{ current_service.name }}
{% endblock %}

{% block maincolumn_content %}

    <div class="mb-12 clear-both contain-floats">
      <h1 class="heading-large">{{ _('Copy an existing template') }} {{ _("into") }} {{ current_service.name }}</h1>
      {{ copy_folder_path(template_folder_path, current_service.id, from_service, current_user) }}
    </div>
    <h1 class="heading-medium">{{ _('Example Service') }}</h1>
    {% for item in example_service %}
      <div class="template-list-item {% if item.ancestors %}template-list-item-hidden-by-default{% endif %} {% if not item.ancestors %}template-list-item-without-ancestors{% endif %}">
        <h2 class="message-name">
          {% for ancestor in item.ancestors %}
            {% if ancestor.is_service %}
              <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=ancestor.service_id) }}" class="template-list-folder">
            {% else %}
              <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_folder=ancestor.id) }}" class="template-list-folder">
            {% endif %}
              {{ ancestor.name }}
            </a> <span class="message-name-separator"></span>
          {% endfor %}
          {% if item.is_service %}
            <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=item.service_id) }}" class="template-list-folder">
              <span class="live-search-relevant">{{ item.name }}</span>
            </a>
          {% elif item.is_folder %}
            <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=item.service_id, from_folder=item.id) }}" class="template-list-folder">
              <span class="live-search-relevant">{{ item.name }}</span>
            </a>
          {% else %}
            <a href="{{ url_for('.copy_template', service_id=current_service.id, template_id=item.id, from_service=item.service_id) }}">
              {{ _("Copy") }} <span class="live-search-relevant">{{ item.name }}</span> <span class="sr-only">{{ _("into") }} {{ current_service.name }}</span>
            </a>
          {% endif %}
        </h2>
        <p class="message-type">
          {{ _("{} template").format(_(item.hint)) | capitalize if item.type else _(item.hint) }}
        </p>
      </div>
    {% endfor %}
    {% if not services_templates_and_folders.templates_to_show %}
      <p class="template-list-empty">
        {{ _('This folder is empty') }}
      </p>
    {% else %}
      {{ live_search(target_selector='#template-list .template-list-item', show=True, form=search_form) }}
      <nav id="template-list" aria-label="{{ _('Templates and folders') }}">
        {% for item in services_templates_and_folders %}
          <div class="template-list-item {% if item.ancestors %}template-list-item-hidden-by-default{% endif %} {% if not item.ancestors %}template-list-item-without-ancestors{% endif %}">
            <h2 class="message-name">
              {% for ancestor in item.ancestors %}
                {% if ancestor.is_service %}
                  <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=ancestor.service_id) }}" class="template-list-folder">
                {% else %}
                  <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_folder=ancestor.id) }}" class="template-list-folder">
                {% endif %}
                  {{ ancestor.name }}
                </a> <span class="message-name-separator"></span>
              {% endfor %}
              {% if item.is_service %}
                <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=item.service_id) }}" class="template-list-folder">
                  <span class="live-search-relevant">{{ item.name }}</span>
                </a>
              {% elif item.is_folder %}
                <a href="{{ url_for('.choose_template_to_copy', service_id=current_service.id, from_service=item.service_id, from_folder=item.id) }}" class="template-list-folder">
                  <span class="live-search-relevant">{{ item.name }}</span>
                </a>
              {% else %}
                <a href="{{ url_for('.copy_template', service_id=current_service.id, template_id=item.id, from_service=item.service_id) }}">
                  {{ _("Copy") }} <span class="live-search-relevant">{{ item.name }}</span> <span class="sr-only">{{ _("into") }} {{ current_service.name }}</span>
                </a>
              {% endif %}
            </h2>
            <p class="message-type">
              {# Compose hint + "template" IF it has a type. ELSE just print the hint #}
              {{ _("{} template").format(_(item.hint)) | capitalize if item.type else _(item.hint) }}
            </p>
          </div>
        {% endfor %}
      </nav>
    {% endif %}

{% endblock %}
