{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  Change postage
{% endblock %}

{% block maincolumn_content %}

    {{ page_header(
      'Change postage',
      back_link=url_for('.view_template', service_id=service_id, template_id=template_id)
    ) }}
    {% call form_wrapper() %}
      <div class="grid-row contain-floats">
        <div class="w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
          {{ radios(form.postage) }}
          {{ page_footer(_('Save')) }}
        </div>
        <aside class="w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
          {% include "partials/templates/guidance-postage.html" %}
        </aside>
      </div>
    {% endcall %}

{% endblock %}
