{% extends "admin_template.html" %}
{% from "components/folder-path.html" import folder_path, page_title_folder_path %}
{% from "components/page-footer.html" import sticky_page_footer_two_submit_buttons %}
{% from "components/page-header.html" import page_header %}

<!-- {% block service_page_title %}
  {{ page_title_folder_path(current_service.get_template_path(template._template)) }}
{% endblock %} -->

{% block maincolumn_content %}
  <div>
    {{ page_header(
        template._template.name,
        back_link=url_for(".edit_service_template", service_id=current_service.id, template_id=template.id)
    ) }}
  </div>

  <div class="w-full template-container">
    {{ template|string|translate_preview_template }}
  </div>

  <form method='post'>
    {{ sticky_page_footer_two_submit_buttons(_('Save'), 'save', _('Edit'), 'edit') }}
  </form>
{% endblock %}
