{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/live-search.html" import live_search %}

{% block per_page_title %}
  {{ _('Template categories') }}
{% endblock %}

{% block platform_admin_content %}

  <div id="sticky-banner" tabindex="-1" class="z-50 flex justify-between w-full p-4 border-b border-gray-200 bg-red text-white rounded-lg">
    <div class="flex items-center mx-auto">
      <span>This page is being tested and is not yet functional.</span>
    </div>
  </div>
  {{ page_header(_('Template categories'), id_text='template_cats') }}
  {{ live_search(target_selector='.template-cat', show=True, form=search_form) }}

  <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200">
    {% for cat in template_categories %}
      <li class="template-cat w-full border-b border-gray-200">
        <a class="flex no-underline p-gutterHalf items-center space-x-4 hover:bg-gray-100" href="{{ url_for('main.template_category', template_category_id=cat.id)}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 20px; fill: #5e6975"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>
          <span>
            {{ cat.title or 'Unnamed' }}
            <span class="block text-small">
              {{ cat.hint }}
            </span>
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="js-stick-at-bottom-when-scrolling">
    <a href="#" class="mt-6 button button">{{ _('Add category') }}</a>
  </div>

{% endblock %}
