{% extends "withnav_template.html" %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/folder-path.html" import folder_path, page_title_folder_path %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/api-key.html" import api_key %}

{% block service_page_title %}
  {{ page_title_folder_path(current_service.get_template_path(template._template)) }}
{% endblock %}

{% block maincolumn_content %}

  {% if show_redaction_message %}
    <div class="bottom-gutter">
      {% set question_txt = _('Are you sure you want to hide personalisation after sending?') %}
      {% call banner_wrapper(type='dangerous', subhead=question_txt) %}
        <ul class="list list-bullet banner-list-bullet">
          <li>
            {{ _('You will not be able to see personalised content in GC Notify for this template') }}
          </li>
          <li>
            {{ _('You cannot undo this') }}
          </li>
        </ul>
        <form method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="button button-red" name="delete">{{ _('Confirm') }}</button>
        </form>
      {% endcall %}
    </div>
  {% else %}
    <div class="grid-row">
      <div class="column-whole">
        {{ folder_path(
          folders=current_service.get_template_path(template._template),
          service_id=current_service.id,
          template_type='all',
          current_user=current_user
        ) }}
      </div>
    </div>
  {% endif %}

  <div class="grid-row">
    {% include 'views/templates/_template.html' %}
  </div>

  <div class="bottom-gutter-1-2">
    {% if template._template.updated_at %}
      <h2 class="heading-small bottom-gutter-2-3 inline-block">
        {% set last_edited = _('Last edited') %}
        {{ last_edited }}
        {{ template._template.updated_at|format_delta }}
      </h2>

      &emsp;
      {% set version_txt = _('See previous versions') %}
      <a href="{{ url_for('.view_template_versions', service_id=current_service.id, template_id=template.id) }}">{{ version_txt }}</a>
      &emsp;
      <br/>
    {% endif %}
    {% if current_user.has_permissions('manage_templates') and user_has_template_permission %}
      {% if not template._template.archived %}
        {% set delete_txt = _('Delete this template') %}
        <span class="page-footer-delete-link page-footer-delete-link-without-button bottom-gutter-2-3">
          <a href="{{ url_for('.delete_service_template', service_id=current_service.id, template_id=template.id) }}">{{ delete_txt }}</a>
        </span>
        &emsp;
      {% endif %}
      {% if template.template_type != 'letter' %}
        {% if not template._template.redact_personalisation %}
          {% set personalization = _('Hide personal information from screen and logs after sending') %}
          <span class="page-footer-delete-link page-footer-delete-link-without-button">
            <a href="{{ url_for('.confirm_redact_template', service_id=current_service.id, template_id=template.id) }}">{{ personalization }}</a>
          </span>
        {% else %}
          {% set personalization_hidden = _('Personalisation is hidden after sending') %}
          <p class="hint">{{ personalization_hidden }}</p>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

  {% if current_user.platform_admin %}
    <p>{{ _('Template version') }}: {{template._template.version}}</p>
  {% endif %}
  <div class="bottom-gutter-1-2">
    {{ api_key(template.id, name="Template ID", thing='template ID') }}
  </div>

{% endblock %}
