{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/live-search.html" import live_search %}
{% from "components/form.html" import form_wrapper %}
{% from "components/textbox.html" import textbox, textbox_localized %}
{% from "components/radios.html" import radios %}

{% block per_page_title %}
  {{ _('Template categories') }}
{% endblock %}

{% block platform_admin_content %}
  <div class="p-gutterHalf">
    {{ page_header(_('Update category') if template_category else _('Create category'), id_text='template_cats') }}
    {% call form_wrapper() %}
      <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">

        <div class="mb-gutterHalf md:mb-gutter">
          {{ textbox_localized(
          "name",
          fields=({"en": form.name_en, "fr": form.name_fr}),
          legend=_("Category name")
          ) }}
        </div>
        <div class="mb-gutterHalf md:mb-gutter">
          {{ textbox_localized(
          "desc",
          fields=({"en": form.description_en, "fr": form.description_fr}),
          legend=_("Category description")
          ) }}
        </div>

        {{ radios(form.hidden) }}
        {{ radios(form.email_process_type) }}
        {{ radios(form.sms_process_type) }}
        {{ radios(form.sms_sending_vehicle)}}

        <div class="js-stick-at-bottom-when-scrolling">
          {{ page_footer(
            _('Save'),
            button_name='operation',
            button_value='email-branding-details',
            delete_link=url_for('.delete_template_category', template_category_id=template_category.id) if template_category else None,
          ) }}
        </div>
      </div>
    {% endcall %}
  </div>

{% endblock %}
