{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('Email logo'),
      back_link='#'
    ) }}
    <div class="grid-row contain-floats">
      <div class="py-0 px-0 px-gutterHalf box-border">
        <p>{{ _('This preview shows how your logo will appear to recipients') }}</p>
        {% include 'views/email-branding/_preview.html' %}
        <a href="{{ url_for('main.edit_branding_settings', service_id=current_service.id) }}" class="button mt-12">
            {{ _('Change logo') }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}
