{% extends "withnav_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(
    _('Choose a logo for your service'),
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  <div class="grid-row">
    <div class="column-three-quarters">
      <p>{{ _('Consistent branding helps to instill trust in the email messages you send to  people.') }}</p>

      <h2 class="heading-medium">{{ _('Use the federal government signature') }}</h2>
      <p>{{ _('To help build trust in government, use the Government of Canada signature for more consistent communications.') }}</p>
      
      {% call form_wrapper() %}
        <div class="form-group">
          {{ radios(form.branding_style, hide_legend=True) }}
          {% if using_custom_branding %}
            <p> {{ _('If you switch to one of the default GC logos you will have to re-upload your custom logo to return to it later.') }}</p>
          {% endif %}
          {{ page_footer(
            button_text=_('Save'),
            button_name='operation',
            button_value='email-branding-details'
          ) }}
        </div>
      {% endcall %}

      {% if using_custom_branding %}
        <h2 class="heading-medium">{{ _('Replace custom logo') }}</h2>
      {% else %}
        <h2 class="heading-medium">{{ _('Upload new custom logo') }}</h2>
      {% endif %}
      <p>{{ _('Make sure your logo is a PNG file and exactly 108 pixels tall to fit correctly in email messages.') }}</p>

      {% if upload_filename %}
        <div>
          <p>{{ _('Your logo has been uploaded, and a branding request has been made to our support team.') }}</p>
        </div>
        <div id="logo-img">
          <img src="https://{{ cdn_url }}/{{ upload_filename }}"/>
        </div>
      {% endif %}

      {{ file_upload(form.file, button_text=_('Upload logo')) }}
      <br/>
      <p>{{ _('We will review and implement your new logo.') }}</p>
    </div>

{% endblock %}
