{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}

  {% if upload_filename %}
        <div>
         {{ page_header(_('Your logo is being reviewed'), back_link=url_for('main.service_settings', service_id=current_service.id)) }}

          <p>{{ _("We’ll review and implement your new logo. Expect to hear from our support team about the change shortly and in no more than 2 business days.") }}</p>
        </div>
        <div id="logo-img">
          <img src="https://{{ cdn_url }}/{{ upload_filename }}"/>
        </div>

  {% else %}

    {{ page_header(
      _('Change your email branding'),
      back_link=url_for('main.service_settings', service_id=current_service.id)
    ) }}

    <div class="grid-row contain-floats">
      <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
        <p>{{ _('Consistent branding helps instill trust in the email messages you send.') }}</p>

        <h2 class="heading-medium">{{ _('Change the default language of email branding') }}</h2>
        <p>{{ _('GC Notify offers the Government of Canada signatures by default.') }}</p>

        {% call form_wrapper() %}
          <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
            {{ radios(form.branding_style, hide_legend=True) }}
            {% if using_custom_branding %}
              <p> {{ _('If you switch to one of the default GC logos you will have to re-upload your custom logo to return to it later.') }}</p>
            {% endif %}
            {{ page_footer(
              button_text=_('Save'),
              button_name='operation',
              button_value='email-branding-details'
            ) }}
          </div>
        {% endcall %}

        {% if using_custom_branding %}
          <h2 class="heading-medium">{{ _('Replace custom logo') }}</h2>
        {% else %}
          <h2 class="heading-medium">{{ _('Upload new custom logo') }}</h2>
        {% endif %}
        <p>{{ _('Make sure your logo is a PNG file and exactly 108 pixels tall to fit correctly in email messages.') }}</p>

        {{ file_upload(form.file, button_text=_('Upload logo')) }}
        <br/>
        <p>{{ _('We will review and implement your new logo.') }}</p>
      </div>
    </div>
  {% endif %}

{% endblock %}
