.error-list {
  font-size: 1.4rem;
  padding: 15px;
  background: #f3e9e8;
  border-left: 4px solid #af3c43;
  margin-top: 15px;
  margin: 0;
  margin-bottom: 1rem;
}

.error-list a {
  font-size: 1.5rem;
}

.error-list__header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.error-list ol,
.error-list ul {
  padding-left: 40px;
}

.error-list li:not(:last-of-type) {
  padding-bottom: 0;
}

.Calendar {
  border: 0.125rem solid #000;
  display: inline-block;
  padding: 0.625rem;
  position: relative;
  width: 100%;
  min-height: 24rem;
  max-width: 35rem;
  margin-bottom: 2rem;
}

.Calendar-nav {
  display: flex;
  padding: 0.125rem;
  justify-content: space-between;
  align-items: center;
}

.Nav--month {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.Calendar-nav--button {
  background-color: #fff;
  border: 0.063rem solid currentColor;
  cursor: pointer;
}

.Calendar-nav--button {
  color: var(--selected-color);
  font-size: 2.4rem;
  font-weight: bold;
  height: 4rem;
  width: 4rem;
  border: 0;
}

.Calendar-nav--button--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  color: #000;
  opacity: 0.2;
  pointer-events: none;
  background-color: white;
  outline: none;
  border: 0;
}

.Calendar-nav--button:last-of-type {
  margin-right: 0;
}

.Calendar-nav--button:focus,
.Calendar-item:hover:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty),
.Calendar-item:focus:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty) {
  outline: black inset;
  outline-offset: -4px;
  outline-offset: -4px;
}

.Calendar-item.Calendar-item--day,
.Calendar-item.Calendar-item--empty {
  background-color: white;
}

.Calendar-row {
  display: flex;
  text-align: center;
}

.Calendar-item {
  background: var(--available-color);
  border: 0;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 200%;
  position: relative;
  height: 5rem;
  width: 5rem;
}

.Calendar-item[aria-pressed] {
  cursor: pointer;
}

.Calendar-item[aria-pressed="true"] {
  background-color: var(--selected-color);
  color: #fff;
}

.Calendar-days {
  color: #666;
}

.Calendar-item--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  opacity: 0.5;
  pointer-events: none;
  background-color: white;
  outline: none;
  border: 0;
}

.Calendar-item.Calendar-item--unavailable:focus {
  outline: dotted;
  outline-offset: -4px;
  outline-offset: -4px;
}

.Calendar-item:not(.Calendar-item--unavailable):hover {
  background-color: var(--hover-color);
}

.Calendar-item.Calendar-item--empty:hover,
.Calendar-item.Calendar-item--day:hover {
  background-color: white;
}

.Calendar-item.Calendar-item--day {
  height: 5rem;
}

.toggle-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border: 2px solid transparent;
}

.toggle-label {
  padding: 0.8rem;
  color: #000;
}

.toggle-label-active {
  font-weight: bold;
}

.toggle-label:first-child {
  padding-left: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 8px;
  background-color: var(--selected-color);
  color: #a5bfaf;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  outline: none;
  border: none;
}

.switch.off,
.switch.on {
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.switch.off:before,
.switch.off:after {
  -webkit-transition: 0.3s;
  transition: all 0.3s;
}

.switch.on:before,
.switch.on:after {
  -webkit-transition: 0.3s;
  transition: all 0.3s;
}

.switch.off:before,
.switch.on:before {
  display: block;
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 0px;
  top: -6px;
  background-color: #fff;
  border: 1px solid #666666;
  -webkit-transition: 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  border-radius: 50%;
}

.switch.on:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.toggle-holder-active {
  border: 2px solid currentColor;
}

:root {
  --selected-color: #005da5;
  --hover-color: rgba(43, 139, 196, 0.5);
  --available-color: #d5e8f3;
}

.schedule {
  display: flex;
}

.column {
  margin-left: 20px;
}

.Nav--selects {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Nav--select {
  height: 2.75rem;
  position: relative;
  width: 100%;
}

.Nav--select::after {
  border-top: 0.063rem solid black;
  border-right: 0.063rem solid black;
  border-width: 0.188rem;
  content: "";
  display: block;
  height: 0.625rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  width: 0.625rem;
}

.Nav--select select {
  -webkit-appearance: none;
  background-image: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  height: 2.75rem;
  padding: 0 0.5rem;
  width: 100%;
}

.Nav--select select:focus {
  outline: black inset;
  outline-offset: -4px;
  outline-offset: -4px;
}

.Nav--select select:focus {
  outline: block inset;
  outline-offset: -2px;
  outline-offset: -2px;
}

.Nav--select {
  background-color: #fff;
  border: 0.063rem solid currentColor;
  cursor: pointer;
  margin-right: 0.5rem;
}

.date-display {
  font-weight: bold;
  padding-top: 0.3rem;
  margin-bottom: 0.8rem;
  width: 28rem;
}

.selected-date-time-box {
  display: inline-flex;
  margin-top: 4rem;
  margin-left: 1rem;
  background-color: var(--available-color);
  padding: 0.8rem 2rem 0px 2rem;
}

.date-time-box {
  margin-left: 1rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 48em) {
  .selected-date-time-box .triangle {
    width: 0px;
    height: 0px;
    margin-top: 1.3rem;
    margin-left: -3.4rem;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 25px solid var(--available-color);
  }
}

.visually-hidden {
  background-color: #005493;
  clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
  color: #fff;
  font-size: 0.063rem;
  height: 0.5px;
  overflow: hidden;
  position: absolute;
  top: 0.5rem;
  white-space: nowrap;
  width: 0.5px;
}

/* radios */
.choice__item {
  font-size: 1.8rem;
  line-height: 1.25;
  display: inline-block;
  position: relative;
  min-height: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.choice__item > input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}

.choice__item > input:checked + label:after {
  opacity: 1;
}

.choice__item > input:focus + label:before {
  box-shadow: 0 0 0 1px #000;
}

.choice__item > input + label {
  display: inline-block;
  margin-bottom: 0;
  padding: 2px 15px 5px 7px;
  cursor: pointer;
  touch-action: manipulation;
  font-weight: 400;
}

.choice__item > input + label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid;
  background: transparent;
}

.choice__item > input + label:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.choice--radios {
  margin-top: 20px;
}

.choice--radios .choice__item > input[type="radio"] {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.choice--radios .choice__item > input[type="radio"] + label:before {
  border-radius: 50%;
}

.choice--radios .choice__item > input[type="radio"] + label:after {
  top: 6px;
  left: 6px;
  width: 0;
  height: 0;
  border: 9px solid;
  border-radius: 50%;
  background: currentColor;
}

.messageTextStyle {
  font-size: 20px;
  line-height: 1.25;
  color: #0b0c0c;
  max-width: 706px;
}
.confirmationWrapper {
  margin-bottom: 20px;
}

.confirmation {
  padding: 0.75rem 1rem;
}
.confirmation > p {
  margin-top: 0;
}
.confirmation.set {
  background: rgba(255, 221, 0, 0.25);
  border-left: 5px solid #ffdd00;
}
.confirmation.unset {
  background: rgba(235, 87, 87, 0.35);
  border-left: 5px solid #eb5757;
}
