:root {
  --color-gray-100: #f0f2f5;
  --color-gray-300: #afb9c3;
  --color-gray-700: #49535d;
  --color-gray-800: #343c45;
  --selected-color: #26374a;
  --hover-color: #425a76;
  --available-color: #d7e5f5;
  --color-focus: #f6be00;
  --dimension-gutterHalf: 0.9375rem;
  --dimension-gutter: 1.875rem;
}

.error-list {
  font-size: 1rem;
  padding: var(--dimension-gutterHalf);
  background: #f3e9e8;
  border-left: 4px solid #af3c43;
  margin-top: var(--dimension-gutterHalf);
  margin: 0;
  margin-bottom: 1rem;
}

.error-list a {
  font-size: 1rem;
}

.error-list__header {
  margin-top: var(--dimension-gutterHalf);
  margin-bottom: var(--dimension-gutterHalf);
}

.error-list ol,
.error-list ul {
  padding-left: var(--dimension-gutter);
}

.error-list li:not(:last-of-type) {
  padding-bottom: 0;
}

.Calendar {
  border: 1px solid var(--color-gray-300);
  display: inline-block;
  padding: 2px;
  max-width: 100%;
}

.Calendar-nav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-100);
}

.Nav--month {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.Calendar-nav--button {
  cursor: pointer;
}

.Calendar-nav--button {
  color: var(--selected-color);
  font-size: 1.25rem;
  height: 45px;
  width: 45px;
  border: 0;
}

.Calendar-nav--button--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  pointer-events: none;
  color: var(--color-gray-700);
  outline: none;
  border: 0;
}

.Calendar-nav--button:last-of-type {
  margin-right: 0;
}

.Calendar-nav--button:focus,
.Calendar-item:focus:not(.Calendar-item--day):not(
    .Calendar-item--unavailable
  ):not(:empty) {
  outline: var(--color-focus) 3px solid;
}
.Calendar-item:hover:not(.Calendar-item--day):not(
    .Calendar-item--unavailable
  ):not(:empty) {
  background-color: var(--hover-color);
  color: white;
}

.Calendar-item.Calendar-item--day,
.Calendar-item.Calendar-item--empty {
  background-color: white;
}

.Calendar-row {
  display: flex;
  text-align: center;
  gap: 4px;
  padding: 2px;
}

.Calendar-item {
  background: var(--available-color);
  border: 0;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1.25rem;
  position: relative;
  height: 45px;
  width: 45px;
}

.Calendar-item[aria-pressed] {
  cursor: pointer;
}

.Calendar-item[aria-pressed="true"] {
  background-color: var(--selected-color);
  color: #fff;
}
.Calendar-item--active[aria-pressed="false"] {
  border-bottom: 2px solid var(--selected-color);
}

.Calendar-days {
  color: var(--color-gray-700);
}

.Calendar-item--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  opacity: 0.5;
  pointer-events: none;
  background-color: white;
  outline: none;
  border: 0;
}

.Calendar-item.Calendar-item--unavailable:focus {
  outline: dotted;
  outline-offset: -4px;
  outline-offset: -4px;
}

.Calendar-item:not(.Calendar-item--unavailable):hover {
  background-color: var(--hover-color);
}

.Calendar-item.Calendar-item--empty:hover,
.Calendar-item.Calendar-item--day:hover {
  background-color: white;
}

.Calendar-item.Calendar-item--day {
  height: 45px;
  font-weight: bold;
}

.MessageTextStyle,
.schedule {
  margin-bottom: 0.1875rem;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dimension-gutter) var(--dimension-gutterHalf);
}

.Nav--selects {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Nav--select {
  display: inline-flex;
  position: relative;
}

.Nav--select::after {
  border-bottom: 0;
  border-left: 0;
  border-top: 0.063rem solid black;
  border-right: 0.063rem solid black;
  border-width: 0.188rem;
  content: "";
  display: block;
  height: 0.625rem;
  position: absolute;
  right: 0.625rem;
  top: 50%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  width: 0.625rem;
}

.Nav--select select {
  -webkit-appearance: none;
  border: 2px solid black;
  padding: 0.3125rem 0.1875rem;
  padding-inline-end: var(--dimension-gutter);
  width: 100%;
}
.Nav--select select:focus {
  outline: 3px solid var(--color-focus);
}

.selected-date-time-box {
  padding: 0 var(--dimension-gutterHalf);
  border-left: 3px solid var(--color-gray-300);
}

.date-time-box {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--dimension-gutterHalf);
}

.date-time {
  max-width: 100%;
}

.visually-hidden {
  background-color: #005493;
  clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
  color: #fff;
  font-size: 0.063rem;
  height: 0.5px;
  overflow: hidden;
  position: absolute;
  top: 0.5rem;
  white-space: nowrap;
  width: 0.5px;
}

/* radios */

.choice--radios {
  display: flex;
  gap: var(--dimension-gutter);
}
.choice__item {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  height: 38px;
  position: relative;
}

.choice__item > input {
  width: 38px;
  height: 38px;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
}

.choice__item > input:checked + label:after {
  opacity: 1;
}

.choice__item > input:focus + label:before {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.choice__item > input + label {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.3125rem 0;
  cursor: pointer;
  touch-action: manipulation;
}

.choice__item > input + label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid;
  background: transparent;
}

.choice__item > input + label:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.choice--radios .choice__item > input[type="radio"] {
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

.choice--radios .choice__item > input[type="radio"] + label:before {
  border-radius: 50%;
}

.choice--radios .choice__item > input[type="radio"] + label:after {
  top: 9px;
  left: 9px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-radius: 50%;
  background: currentColor;
}

.confirmationWrapper {
  margin-top: var(--dimension-gutter);
  margin-bottom: var(--dimension-gutter);
}

.confirmationIcon {
  padding: 0.5rem 0;
  color: var(--color-gray-800);
}
.confirmationMessage {
  display: flex;
  flex-direction: column;
}
.confirmationMessage > * + * {
  margin-top: var(--dimension-gutterHalf);
}
.confirmationTime {
  font-size: 1.5rem;
}
.confirmation {
  padding: var(--dimension-gutterHalf);
  display: flex;
  gap: var(--dimension-gutterHalf);
}
.confirmation p {
  margin-top: 0;
  margin-bottom: 0;
}
.confirmation.set {
  background: var(--color-gray-100);
  border-left: 3px solid var(--color-gray-300);
}
.confirmation.unset {
  background: rgba(235, 87, 87, 0.35);
  border-left: 5px solid #eb5757;
}
