
{% extends  "admin_template.html" %}


{% from "components/page-footer.html" import page_footer %}

{% from "components/file-upload.html" import file_upload %}

{% set page_title = _('Prepare spreadsheet') %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}
{% block maincolumn_content %}
  
  <h1 class="heading-large">{{ _("Prepare spreadsheet") }}</h1>
    <p>
      {{ _('GC Notify can help create your spreadsheet or you can use a spreadsheet from your files.')}}
    </p>

  <h2 class="heading-medium">{{ _('Use your own spreadsheet') }}</h2>

  {% macro acronym(acronym, expanded) %}
     <span class="sr-only">{{ expanded }}</span><span aria-hidden="true">{{ acronym }}</span>
  {% endmacro %}

  <p>{{ _('For compatibility with GC Notify, spreadsheets must:') }}</p>
  <ol class="list list-bullet">
    <li>{{ _('Use {}, {}, {} or Excel format.').format(
      acronym(_('CSV'), _('Comma Separated Values')), 
      acronym(_('TSV'), _('Tab Separated Values')), 
      acronym(_('ODS'), _('Open Document Spreadsheet'))
    ) }}</li>
  </ol>

  {{ form.file_upload(**{ 'class': 'file-upload-field__native', 'accept': ".csv,.tsv,.ods,.xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,text/csv,text/tab-separated-values"}) }}


  <h2 class="heading-medium">You are currently testing the file upload B</h2>
  <a href="_prototype-file-upload-a">Try the other file upload prototype</a>
{% endblock %}
