<p>{{ _("You can change the name and email address later in Settings.") }}</p>
<p>{{ _("When GC Notify sends your emails, the ‘From’ field shows the name followed by the email address.") }}</p>

<details>
  <summary>{{ _('Learn more about the ‘From’ field') }}</summary>
  <div class="details-body">
    <p>{{ _("Recipients can check the name and email address to confirm the message comes from your service.") }}</p>
    <p>{{ _("In this example, a government service has chosen the name ‘Renew your license’ and the email address ’renew@notification.canada.ca’:") }}</p>
    <p>{{ _("Service name: <b>Renew your license | Renouveler votre permis</b>") }}
    <br>{{ _("Email address: <b>renew</b>@notification.canada.ca") }}
    </p>
  </div>
</details>

<h2 class="heading-medium">{{ _("Service name") }}</h2>
<p>{{ _("GC Notify also shows the service name at the start of every text message.") }}</p>

<div class="form-wrap">
  {% call form_wrapper() %}
    {% set hint_txt = _('Use a name that recipients will recognize. Maximum 255 characters.') %}

    {{ textbox(form.name, hint=hint_txt, maxlength=255) }}

    <h2 class="heading-medium">{{ _("Email address") }}</h2>
    <p>{{ _("The email address always ends with ‘@notification.canada.ca’.") }}
      {% set hint_txt = _('Maximum 64 characters with no spaces. Characters can include letters, numbers, dots, dashes, and underscores.') %}

      {{ textbox(form.email_from, hint=hint_txt, suffix=suffix_txt, width='1-2', maxlength=64) }}

      <span id="preview" style="display: none">
        {{ _("Your service’s email address will be:") }}
        <b><span id="fixed-email-address"></span>@canada.notification.ca</span></b>
      </span>
  </p>
  <p>{{ _("This email address cannot receive replies. In Settings, you can enter a different email for replies. Currently your service is set to prevent replies.") }}</p>

  {% set button_txt = _('Create service') %}
  {{ page_footer(button_txt) }}

  {% endcall %}
</div>