{% from "components/radios.html" import radios %}
{% from "components/autocomplete.html" import autocomplete %}

<p>{{ _("This information helps us understand how GC Notify is being used so we can better meet your needs.") }}</p>

<div data-module="url-typer" class="form-wrap">
  {% call form_wrapper() %}

    <div class="mb-gutterAndAHalf">
      {{ autocomplete(autocomplete_items_pt[current_lang], "pt", "Name of your province or territory") }}
    </div>  

      <label for="department"><strong>Name of your province or territory</strong></label>
      <select data-module="autocomplete" id="pt">
        <option value=""></option>
        {% for label in autocomplete_items_pt[current_lang] %}
          <option value="{{ label }}">{{ label }}</option>
        {% endfor %}
      </select>
    </div>  

    {{ textbox(form.org_name, hint="Optional: provide more detailed information", maxlength=255) }}

    {% set button_txt = _('Create service') %}
    {{ page_footer(button_txt) }}

  {% endcall %}
</div>