<p>{{ _('GC Notify displays your service name:') }}</p>
<p>
<ul class="list-bullet">
  <li>{{ _('as the ‘from’ address on emails you send') }}</li>
  <li>{{ _('at the start of every text message') }}</li>
</ul>
</p>

<p>{{ _('In the Government of Canada, your service name must include both English and French.') }}
<br/><br/>
  {{ _('For example:') }} {{ _('Renew your passport | Renouveler votre passeport') }}
</p>

<h2 class="heading-medium">{{ _('What’s your service called?') }}</h2>
<p>
  {{ _('A good service name uses words service users recognize.') }}
</p>

<div class="form-wrap">
  {% call form_wrapper() %}
    {% set hint_txt = _('Up to 255 characters') %}

    {{ textbox(form.name, hint=hint_txt, maxlength=255) }}
    {% set button_txt = _('Continue') %}
    {{ page_footer(button_txt) }}

  {% endcall %}
</div>