{% set header_txt = heading %}
{{ page_header(header_txt) }}

<p>{{ _('Your sending email address helps to build trust with recipients. A good email address is bilingual, recognizable, and as concise as possible.') }}</p>

<p>{{ _('For example: renew.passport.renouveler.passeport@notification.canada.ca') }}</p>

<div class="form-wrap">
  {% call form_wrapper() %}
    {% set hint_txt = _('Up to 64 characters') %}
    {% set suffix_txt = '@' + sending_domain %}

    {{ textbox(form.email_from, hint=hint_txt, suffix=suffix_txt, width='1-2') }}
    {{ form.current_step }}
    {{ form.name }}

    {% set button_txt = _('Continue') %}
    {{ page_footer(button_txt) }}
  {% endcall %}
</div>
