{% from "components/radios.html" import radios %}

<p>{{ _("This information helps us understand how GC Notify is being used so we can better meet your needs.") }}</p>

<div data-module="url-typer" class="form-wrap">
  {% call form_wrapper() %}

    <!-- TODO: move this into a reusable component -->
    <div class="w-full md:w-1/2 form-group contain-floats box-border mb-gutterAndAHalf">
      <label for="department"><strong>Name of your department or organisation</strong></label>
      <span id="department-hint" class="form-hint">For example: Canadian Army</span>
      <select data-module="autocomplete" id="department">
        <option value=""></option>
        {% for label in autocomplete_items_combined[current_lang] %}
          <option value="{{ label }}">{{ label }}</option>
        {% endfor %}
      </select>
      <a href="{{ url_for('.add_service', current_step='choose_organisation', government_type='other') }}">
        Can't find your department or organisation?
      </a>
    </div>  


    
    {{ textbox(form.org_name, hint="For example: Cadets", maxlength=255) }}

    {% set button_txt = _('Create service') %}
    {{ page_footer(button_txt) }}

  {% endcall %}
</div>