@layer components {
  /*! purgecss start ignore */
  /* Cover */
  .wp-block-cover {
    position: relative;
    color: var(--text);
  }

  /* Theming the cover blocks with our tokens */
  .wp-block-cover.bg-blue-slightlight {
    --bg: theme("colors.blue.slightlight");
    --text: theme("colors.white.default");
    --interactive: theme("colors.blue.lighter");
  }
  .wp-block-cover.bg-gray {
    --bg: theme("colors.gray.default");
    --text: theme("colors.black.default");
    --interactive: theme("colors.blue.default");
  }

  .wp-block-cover a:not(.button):not(:focus) {
    color: var(--interactive);
  }

  .wp-block-cover > span {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: var(--bg);
  }

  .wp-block-cover .wp-block-cover__inner-container {
    position: relative;
    @apply py-20;
  }
  .wp-block-cover.flow
    .wp-block-cover__inner-container
    > :not(template)
    + :not(template) {
    @apply mt-doubleGutter;
  }

  /* Columns */

  /* Columns plural */
  /* Stacked layout (responsive) */
  .wp-block-columns {
    flex-direction: column;
  }
  /* Gives some flow spacing for all columns when stacked */
  .wp-block-columns > :not(template) + :not(template) {
    @apply mt-gutter;
  }

  /*  stack-swap usage:
  *   In a two column layout:
  *   - One column has all the content as you'd want it on a smaller screen.
  *   - One column contains a duplicate of the image from the other column.
  *   
  *   stack-swap will:
  *   - remove the usual flow spacing on smaller screens
  *   - hide the image if it is the only child in a column
  */
  .wp-block-columns.stack-swap > :not(template) + :not(template) {
    @apply mt-0;
  }

  /* Gives space to columns when columns isn't first child */
  .page-content > * + .wp-block-columns {
    @apply mt-doubleGutter;
  }

  /* Single column */

  .wp-block-column > h1:first-child,
  .wp-block-column > h2:first-child,
  .wp-block-column > h3:first-child {
    @apply mt-0;
  }

  @media (max-width: theme("screen.lg")) {
    /* Overwrite the flex basis when in a stacked layout */
    .wp-block-column[style*="flex-basis"] {
      flex-basis: 100% !important;
    }
  }

  /* 3 rem wide icons */
  .wp-block-column[style*="3rem"] {
    box-sizing: content-box;
    display: flex;
    height: 3rem;
    align-items: center;
  }

  /* Hide wp-block-image if only child of a column */
  .stack-swap .wp-block-column > .wp-block-image:only-child {
    @apply hidden;
  }

  @screen lg {
    /* Columns plural */
    .wp-block-columns {
      display: flex;
      flex-direction: row;
      width: calc(100% + theme("spacing.gutter"));
      @apply -mx-gutterHalf;
    }
    .wp-block-columns > :not(template) + :not(template) {
      @apply mt-0;
    }

    /* Single column */
    .wp-block-column {
      flex-grow: 0;
      @apply px-gutterHalf;
    }
    .wp-block-column > :not(template) + :not(template) {
      @apply mt-gutter;
    }

    /* On lg screens: Show wp-block-image if only child of a column */
    .stack-swap .wp-block-column > .wp-block-image:only-child {
      @apply block;
    }
    /* On lg screens: Hide wp-block-image if it isn't the first child */
    .stack-swap .wp-block-column * + .wp-block-image {
      @apply hidden;
    }
  }
  .has-text-align-center {
    @apply text-center mx-auto;
  }

  /* Button blocks */
  .wp-block-buttons {
    display: flex;
  }
  .wp-block-buttons > *:not(:last-child) {
    @apply mr-gutter;
  }

  .wp-block-button a,
  .wp-block-button a:link,
  .wp-block-button a:visited {
    text-decoration: inherit;
    color: inherit;
  }

  /* panels using wp-columns */
  .wp-block-columns.panel-container {
    max-width: 80ch;
    @apply mx-0 w-full;
  }

  .wp-block-columns.panel-container .panel-preview *:first-child {
    @apply mt-0;
  }

  /* Semantic styling for content pages */
  .page-content ul {
    @apply list list-bullet pl-8;
  }
  .page-content ul ul {
    list-style-type: circle;
  }
  .page-content ul ul ul {
    list-style-type: square;
  }

  .page-content ul li + li {
    @apply pt-4;
  }

  .page-content blockquote {
    padding: 0.7895em;
    margin-bottom: 0.7895em;
    border-left: solid;
    @apply box-border clear-both border-gray-grey2;
    border-left-width: 10px;
  }

  /* Semantic styling for specific pages */
  .wp .page-content.home a {
    @apply text-base;
  }

  .wp .page-content.home p + ul {
    margin-top: -0.5rem;
  }
  /*! purgecss end ignore */
}
