<div class="flex flex-col lg:flex-row mb-20">
    <div class="w-full lg:w-1/2 bg-gray py-10 px-6 mb-6 lg:mb-0 lg:mr-3">
      <div class="font-bold text-title extra-tight font-sans h-24">{{ _('Total notifications sent') }}</div>
      <div data-test-id="totals" class="font-sans text-lg lg:text-xxl font-bold mb-4">{{ notifications_total | format_number }}</div>
      <div class="w-56 h-1 bg-gray-border mb-6"></div>
      <div class="font-sans">{{ _('This includes status updates, appointment reminders, and password resets sent by email and text message.') }}</div>
    </div>

    <div class="w-full lg:w-1/2 bg-gray py-10 px-6 lg:ml-3">
      <div class="font-bold text-title extra-tight font-sans h-24">{{ _('Programs and services using GC Notify') }}</div>
      <div data-test-id="services" class="font-sans text-lg lg:text-xxl font-bold mb-4">{{ live_services | format_number }}</div>
      <div class="w-56 h-1 bg-gray-border mb-6"></div>
      <div class="font-sans">{{ _('This includes services offered by federal departments, and provinces and territories.') }}</div>
    </div>
  </div>