{% from "components/page-footer.html" import page_footer %}
{% from "components/previous-next-navigation.html" import previous_next_navigation %}
{% from "components/table.html" import list_table, field, text_field, link_field, right_aligned_field_heading, hidden_field_heading, row_heading, notification_status_field %}
{% from "components/is-problem-email.html" import is_probem_email %}
{% from "components/empty-list.html" import empty_list  %}
<div class="ajax-block-container" id='pill-selected-item'>
  {% set empty_txt = empty_list(_('You haven’t sent messages recently'), _('Messages sent within the last {} days will show up here. Start with one of your templates to send messages.'), 'emptyFlower', url_for('main.choose_template', service_id=service_id), _('Go to your templates')) %}
  {% set heading_1 = _('Recipient') %}
  {% set heading_2 = _('Review Address') %}
  {% set heading_3 = right_aligned_field_heading(_('Status')) %}

  {% if notifications %}
    <div class='dashboard-table'>
  {% endif %}
    
    {% call(item, row_number) list_table(
      notifications,
      caption="Recent activity",
      caption_visible=False,
      empty_message=empty_txt.format(limit_days)|safe,
      field_headings=[heading_1,heading_2,heading_3],
      field_headings_visible=False if not notifications else True
    ) %}
      {% call row_heading() %}
        {% if item.status in ('pending-virus-check', 'virus-scan-failed') %}
          <span class="file-list-filename">{{ item.to }}</span>
        {% else %}
          <a class="file-list-filename" href="{{ url_for('.view_notification', service_id=current_service.id, notification_id=item.id) }}">{{ item.to }}</a>
        {% endif %}
        <p class="file-list-hint">
          {{ item.preview_of_content }}
        </p>
      {% endcall %}
      
      {% call field() %}
        {{ is_probem_email(item) }}
      {% endcall %}

      {{ notification_status_field(item) }}

    {% endcall %}
  {% if notifications %}
    </div>
  {% endif %}

  {{ previous_next_navigation(prev_page, next_page) }}

</div>
