{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="md:w-1/4 float-left py-0 px-0 px-gutterHalf box-border">
      <p class="heading-medium">
        Platform admin
      </p>
      <nav class="navigation">
          {% for link_text, url in [
          ('Live services', url_for('main.live_services')),
          ('Trial mode services', url_for('main.trial_services')),
          (_('Live API keys'), url_for('main.live_api_keys')),
          ('Email branding', url_for('main.email_branding')),
          ('Find services by name', url_for('main.find_services_by_name')),
          ('Find users by email', url_for('main.find_users_by_email')),
          ('Email complaints', url_for('main.platform_admin_list_complaints')),
          ('Reports', url_for('main.platform_admin_reports')),
          ('Inbound SMS numbers', url_for('main.inbound_sms_admin')),
          ('Providers', url_for('main.view_providers')),
          ('Clear cache', url_for('main.clear_cache')),
        ] %}
          <li>
            <a href="{{ url }}">
              {{ link_text }}
            </a>
          </li>
        {% endfor %}
      </nav>
    </div>
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
      {% block platform_admin_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
