{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}
{% set platform_admin_view_ind = True %}
{% block maincolumn_content %}

  <div class="flex flex-col md:flex-row items-stretch gap-gutter">
    <div class="relative md:border-r-1">
    <button
        id="admin-menu"
        type="button"
        aria-expanded="false"
        aria-haspopup="true"
        class="nav-menu-item md:hidden bg-gray-200"
        data-module="menu" 
        aria-controls="admin-menu-links">
        {{ _("Admin tools") }}
        <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
      </button>
    <ul id="admin-menu-links" class="menu-overlay hidden md:flex flex-col gap-2" role="menu">
          {% for link_text, view in [
          ('Your services', 'choose_account'),
          ('Live services', 'live_services'),
          ('Trial services', 'trial_services'),
          ('Organisations', 'organisations'),
          ('Live API keys', 'live_api_keys'),
          ('Email branding', 'email_branding'),
          ('Template categories', 'template_categories'),
          ('Search for service', 'find_services_by_name'),
          ('Search for user', 'find_users_by_email'),
          ('Search for ids', 'find_ids'),
          ('Email complaints', 'platform_admin_list_complaints'),
          ('Reports', 'platform_admin_reports'),
          ('Inbound SMS numbers', 'inbound_sms_admin'),
          ('Providers', 'view_providers'),
          ('Clear cache', 'clear_cache'),
        ] %}
        <li class="">
            <a
              aria-label="{{ _(link_text) }}" 
              href="{{ url_for('main.'+view) }}"
              class="nav-menu-item py-2 pl-2 hover:bg-gray-100 w-full focus:border-b-0 border-0 border-l-4 no-underline [&[aria-current]]:bg-gray-100 [&[aria-current]]:border-blue"
              {% if admin_navigation.is_selected(view) %}aria-current="page"{% endif %}
              >
              {{ _(link_text) }}
              
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class="w-full">
      {% block platform_admin_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
