{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-footer.html" import page_footer %}
{% set platform_admin_view_ind = True %}
{% block maincolumn_content %}

  <div class="flex flex-row">
    <div class="xs:hidden smaller:hidden sm:hidden md:flex flex-col">
          {% for link_text, view in [
          ('Your services', 'choose_account'),
          ('Live services', 'live_services'),
          ('Trial services', 'trial_services'),
          ('Organisations', 'organisations'),
          ('Live API keys', 'live_api_keys'),
          ('Support stats', 'platform_admin_stats'),
          ('Email branding', 'email_branding'),
          ('Search for service', 'find_services_by_name'),
          ('Search for user', 'find_users_by_email'),
          ('Email complaints', 'platform_admin_list_complaints'),
          ('Reports', 'platform_admin_reports'),
          ('Inbound SMS numbers', 'inbound_sms_admin'),
          ('Providers', 'view_providers'),
          ('Clear cache', 'clear_cache'),
        ] %}
          <div class="pl-10 pr-5 py-2 adminnav--{{ admin_navigation.is_selected(view) }} ">
            <a
              aria-label="{{ _(link_text) }}" 
              href="{{ url_for('main.'+view) }}"
              class="no-underline text-blue visited:text-blue link:text-blue text-smaller">
              {{ _(link_text) }}
            </a>
          </div>
        {% endfor %}
    </div>
    <div class="border-l-1 p-5 w-full">
      {% block platform_admin_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
