{% from "components/badge.html" import badge %}
{% from "views/storybook/storybook-components.html" import component_code_example, macro_prop_table %}


{% block maincolumn_content %}
    
    <div class="heading-large">Badge component examples</div>

    {{ macro_prop_table("badge", [
        "text:string", 
        "variant:string='default' | 'success'", 
        "extra_class:string=None", 
        "bg_class:string=None", 
        "style:string=None", 
        "icon_override:string=None", 
        "hide_icon:boolean=false", 
        "testid:string=None", 
        "id:string=None"
        ]) }}

    <p>The badge component is used to highlight new or important information. It can be used with or without an icon. When the label is meaningful for the understanding of the content it relates to, you should find a way to include the badge text in the accessible name.</p>
    <p>Moderate use of this component is key to its success, if there are too many badges, they become overwhelming.</p>

    <p>Techniques for making badge text accessible:</p>
    <ul class="list-disc list-inside">
        <li>Don't use a badge if you can use a more descriptive label instead</li>
        <li>Include the badge text in the accessible name of the related element</li>
        <li>Pass an id to the badge, and reference it through aria-describedby on the related element.</li>
    </ul>

    <h2 class="heading-medium mt-8">Examples</h2>

    {% call component_code_example([badge('Default', 'default'), badge('Custom', 'success', bg_class='bg-blue-300'), badge('Sent', 'default', icon_override='fa-paper-plane'), badge('No Icon', hide_icon=true)]) %}
{% raw %}
{{ badge('Default', 'default') }}
{{ badge('Custom', 'success', bg_class='bg-blue-300') }}
{{ badge('Sent', 'default', icon_override='fa-paper-plane') }}
{{ badge('No Icon', hide_icon=true) }}
{% endraw %}
    {% endcall %}
{% endblock %}
