{% from "components/big-number.html" import big_number_with_status, big_number_review_emails_with_status %}
{% from "components/message-count-label.html" import problem_email_label %}
{% from "views/storybook/storybook-components.html" import macro_prop_table %}

<h1 class="heading-large">Big Number</h1>

<h2 class="heading-medium">Big Number with Status</h2>
{{ macro_prop_table("big_number_with_status", [
  "number:string",
  "label:string",
  "failures:number",
  "failure_percentage:number",
  "danger_zone:boolean=False",
  "failure_link:string=None",
  "link:string=None",
  "show_failures:boolean=True",
  "smaller:boolean=False",
  "smallest:boolean=False"
]) }}

<p>Component for displaying a large number with an optional label and link. Can also display a status message below the number.</p>
<div class="grid grid-cols-2 gap-4" data-testid="big-number-simple">
  {{ big_number_with_status(123456, _('item one'), link="#") }}
    {{ big_number_with_status(123456, _('item two'), failures=1, failure_percentage="0.1", failure_link="#") }}
    {{ big_number_with_status(123456, _('item three'), failures=12, failure_percentage="1", danger_zone=True, failure_link="#") }}
    {{ big_number_with_status(123456, _('item four'), failures=1234, failure_percentage="10", danger_zone=True, failure_link="#") }}
    {{ big_number_with_status(123456, _('item five'), failures=0, failure_percentage="0", failure_link="#") }}
    {{ big_number_with_status(123456, _('item six'), failures=0, failure_percentage="0", show_failures=False) }}
    {{ big_number_with_status(123456, _('item seven'), link="#", smaller=True) }}
    {{ big_number_with_status(123456, _('item eight'), link="#", smallest=True) }}
</div>

<h2 class="heading-medium">Big Number for problem emails</h2>
{{ macro_prop_table("big_number_review_emails_with_status", [
  "number:number",
  "label:string",
  "problem_percentage:number",
  "bounce_status:(critical|warning|normal)=normal",
  "below_volume_threshold:boolean=False",
  "failure_link:string=None",
  "failure_link_label:string=_('Review email addresses')",
  "link:string=None",
  "pass_label:string=_('No problem addresses')",
  "smaller:boolean=False",
  "smallest:boolean=False"
]) }}

<p>Displaying Problem emails with a variation of the big number component.</p>

<div class="grid grid-cols-2 gap-4" data-testid="big-number-review-emails-with-status">
    {{ big_number_review_emails_with_status(0, problem_email_label(0), problem_percentage=0, bounce_status="normal", below_volume_threshold=True, failure_link="#") }}
    {{ big_number_review_emails_with_status(1, problem_email_label(1), problem_percentage=100, bounce_status="normal", below_volume_threshold=True, failure_link="#") }}
    {{ big_number_review_emails_with_status(100, problem_email_label(100), problem_percentage=1, bounce_status="normal", below_volume_threshold=False, failure_link="#") }}
    {{ big_number_review_emails_with_status(300, problem_email_label(300), problem_percentage=10, bounce_status="warning", below_volume_threshold=False, failure_link="#") }}
    {{ big_number_review_emails_with_status(50, problem_email_label(50), problem_percentage=45, bounce_status="critical", below_volume_threshold=False, failure_link="#") }}
    {{ big_number_review_emails_with_status(70, problem_email_label(70), problem_percentage=60, bounce_status="critical", below_volume_threshold=False, failure_link="#") }}
</div>

