<h2 class="heading-medium">Disclosure Menu</h2>
With class of <code>menu-overlay</code>
<nav class="relative" aria-label="Disclosure Menu Story 1">
    <button aria-expanded="false" aria-haspopup="true" id="menu-overlay" data-module="menu"
            aria-controls="disclosure-menu-story"
            class="nav-menu-item gap-2 px-4"
            type="button">
            {{ _("Menu") }}
            <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
    </button>
    <ul id="disclosure-menu-story" class="hidden menu-overlay">
        {% for item in ["Home", "Terms", "Sitemap"] %}
            <li>
                <a href="/{{ item }}" class="nav-menu-item">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>


<h2 class="heading-medium">Disclosure Menu Bar</h2>
With many items in a row
<nav aria-label="Disclosure Menu Story 2">
    <ul class="flex border-b-1 border-gray-300">
        <li class="relative">
    <button aria-expanded="false" aria-haspopup="true" id="menu_2" data-module="menu"
            aria-controls="disclosure-menu-story-2"
            class="nav-menu-item gap-2 px-4"
            type="button">
            {{ _("Menu") }}
            <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
    </button>
    <ul id="disclosure-menu-story-2" class="hidden menu-overlay">
        {% for item in ["Menu item 1", "Menu item 2", "Menu item 3"] %}
            <li>
                <a href="#" class="nav-menu-item">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
<li class="relative">
    <button aria-expanded="false" aria-haspopup="true" id="template_menu" data-module="menu"
            aria-controls="disclosure-menu-story-templates"
            class="nav-menu-item gap-2 px-4"
            type="button">
            {{ _("Templates") }}
            <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
    </button>
    <ul id="disclosure-menu-story-templates" class="hidden menu-overlay">
        {% for item in ["Menu item 1", "Menu item 2", "Menu item 3"] %}
            <li>
                <a href="#" class="nav-menu-item">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </li>
    <li class="relative">
    <button aria-expanded="false" aria-haspopup="true" id="service_menu" data-module="menu"
            aria-controls="disclosure-menu-story-services"
            class="nav-menu-item gap-2 px-4"
            type="button">
            {{ _("Services") }}
            <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
    </button>
    <ul id="disclosure-menu-story-services" class="hidden menu-overlay">
        {% for item in ["Menu item 1", "Menu item 2", "Menu item 3"] %}
            <li>
                <a href="#" class="nav-menu-item">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
    </ul>
</nav>

<h2 class="heading-medium">Disclosure Menu Bar</h2>
With custom appearance. This one opens without blocking content behind it.

<nav class="relative" aria-label="Disclosure Menu Story 3">
    <button aria-expanded="false" aria-haspopup="true" id="menu-overlay-3" data-module="menu"
            aria-controls="disclosure-menu-story-3"
            class="button gap-2 px-4"
            type="button">
            {{ _("Menu") }}
            <i aria-hidden="true" class="fa-solid fa-angle-down"></i>
    </button>
    <ul id="disclosure-menu-story-3" class="hidden w-max border-1 border-gray-300">
        {% for item in ["Menu item 1", "Menu item 2", "Menu item 3"] %}
            <li>
                <a href="#" class="nav-menu-item border-b-0 border-l-4 focus:border-b-0 px-4">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>