{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/select-input.html" import select %}
{% from "components/form.html" import form_wrapper %}

{% block story_content %}
  <h2 class="heading-medium">Full form example</h2>
  {% call form_wrapper(action='#', autocomplete=True, show_validation_summary=False, form=full_form) %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ textbox(full_form.name, label='Full name', hint='As it appears on official documents', autocomplete='name', autofocus=True) }}
    {{ textbox(full_form.email, label='Email address', hint='We will send notifications here', autocomplete='email') }}

    {{ select(full_form.contact_method, hint='How should we contact you?', input='radio') }}

    <div class="mt-4">
      <button class="button" type="submit">Submit</button>
    </div>
  {% endcall %}
{% endblock %}
