{% from "components/indicator.html" import indicator %}
{% from "components/badge.html" import badge %}
{% from "components/task-shortcut.html" import task_shortcut %}
{% from 'components/remaining-messages.html' import remaining_messages with context %}


{% block maincolumn_content %}
    <div class="heading-large">Indicator component examples</div>
    <hr />
    <p>The indicator component wraps any element and displays a badge in the corner.</p>

    <h2 class="heading-medium mt-8">Button with "New" Badge</h2>
    <div class="bg-gray-100 px-8 py-16 rounded-md">
        {{ indicator('<button type="button" class="button">Inbox</button>', badge('New', bg_class='bg-blue-100', hide_icon=true)) }}
        <h3 class="heading-small mb-2">Code</h3>
        <div class="bg-gray-200 px-8 pb-8 rounded-md border-1 border-gray-300">
            <pre><code>{% raw %}
{{ indicator(
    '&lt;button type="button" class="button"&gt;Inbox&lt;/button&gt;',
    badge('New', bg_class='bg-blue-100', hide_icon=true)
) }}
{% endraw %}</code></pre>
        </div>
    </div>

    <h2 class="heading-medium mt-8">Task Shortcut with Badge</h2>
    <div class="bg-gray-100 px-8 py-16 rounded-md">
        {{ indicator(
            task_shortcut(
                description=_("Start here to write a new message."),
                link_url="#",
                link_text=_("Create template"),
                icon="plus"
            ),
            badge('New', bg_class='bg-blue-100', hide_icon=true)
        ) }}
        <h3 class="heading-small mb-2">Code</h3>
        <div class="bg-gray-200 px-8 pb-8 rounded-md border-1 border-gray-300">
            <pre><code>{% raw %}
{{ indicator(
    task_shortcut(
        description=_("Start here to write a new message."),
        link_url="#",
        link_text=_("Create template"),
        icon="plus"
    ),
    badge('New', bg_class='bg-blue-100', hide_icon=true)
) }}
{% endraw %}</code></pre>
    </div>
</div>
{% endblock %}
