<!-- macro to display the component menu -->

{% macro storybook_menu() %}
    {% set components = [
        {
            'name': 'Remaining Messages Summary',
            'path': 'remaining-messages-summary'
        },
        {
            'name': 'Remaining Messages',
            'path': 'remaining-messages'
        },
        {
            'name': 'Notice component',
            'path': 'notice'
        }
    ] %}
    <ul class="list list-bullet ml-10">
        <!-- loop through components -->
        {% for component in components %}
            <li><a href="{{ url_for('main.storybook', component=component.path) }}"
                class="text-blue-500 hover:underline">{{ component.name }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
