{% macro macro_prop_table(macro_name, props) %}
<details class="mb-8">
  <summary class="no-underline font-mono">{{macro_name}}(...)</summary>
  <table class="">
    <caption class="sr-only">Properties for {{ macro_name }} macro</caption>
    <thead>
        <tr>
            <th scope="col">Property</th>
            <th scope="col">Type</th>
            <th scope="col">Default value</th>
        </tr>
    </thead>
    <tbody>
        {% for prop in props %}
        <tr>
            <td class="font-mono border-b border-b-gray-300 py-2">{{ prop.split(':')[0] }}</td>
            <td class="font-mono italic text-gray-700 border-b border-b-gray-300 py-2">{{ prop.split(':')[1].split('=')[0] }}</td>
            <td class="font-mono border-b border-b-gray-300 py-2">{{ prop.split(':')[1].split('=')[1] or "None (Implicit)" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</details>
{% endmacro %}

{% macro component_code_example(example) %}
    <div class="bg-white border-1 border-black p-0">
        <div class="p-4 border-b-1 border-black {% if example is not string %}flex flex-wrap gap-gutterHalf{% endif %}">
            {% if example is not string %}
                {% for ex in example %}
                    {{ ex | safe}}
                {% endfor %}
            {% else %}
                {{ example | safe}}
            {% endif %}
        </div>
        <h3 class="heading-small p-4 m-0 w-full border-black">Code example</h3>
        <div class="bg-gray-200 p-4 border-0 border-t-1 border-black">
            <pre><code class="whitespace-break-spaces">{{ caller() }}</code></pre>
        </div>
    </div>
{% endmacro %}