{% extends "content_template.html" %}

{% block per_page_title %}
  {{ _('Email formatting guide') }}
{% endblock %}

{% block content_column_content %}
  <h1 class="heading heading-large">{{ _('Email formatting guide') }}</h1>
  <p>
    {{ _('Use this guide to write email message templates. Make sure to send yourself a message before sending to recipients to ensure formatting looks good.') }}
  </p>
  <p>
    {{ _("To tailor messages to each recipient, read the <a id='link-format-guide' href='{}' target='_blank'>personalisation guide</a>.").format(url_for('.personalise')) }}
  </p>

  {% include "partials/guidance/formatting.html" %}
  {% include "partials/guidance/links.html" %}
  {% include "partials/guidance/language-attribute.html" %}
{% endblock %}
