{% extends "admin_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/banner.html" import banner_wrapper %}
{% from "components/table.html" import list_table, field, text_field, index_field, hidden_field_heading %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/links.html" import content_link %}
{% from "components/page-header.html" import govuk_back_link %}
{% from "components/message-count-label.html" import message_count_label %}

{% set prefix_txt = _('a column called') %}
{% set prefix_plural_txt = _('columns called') %}

{% if send_exceeds_annual_limit %}
  {% set page_title = _('These messages exceed the annual limit') %}
{% elif send_exceeds_daily_limit and (sms_parts_remaining <= 0) %}
  {% set page_title = _('These messages exceed your daily limit') %}
{% elif send_exceeds_daily_limit or recipients.more_rows_than_can_send %}
  {% set page_title = _('These messages exceed your daily limit') %}
{% else %}
  {% set page_title = _('Check there’s a column for each variable') %}
{% endif %}

{% set file_contents_header_id = 'file-preview' %}
{% macro skip_to_file_contents() %}
  <p class="visually-hidden">
    <a href="#{{ file_contents_header_id }}">{{ _('Skip to file contents') }}</a>
  </p>
{% endmacro %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}


{% block maincolumn_content %}

{{
    page_header(
      page_title,
      back_link
    )
  }}

  <div class="mb-12 clear-both contain-floats">
    

      {% if recipients.too_many_rows %}
        {% call banner_wrapper(type='dangerous') %}
          <h2 class='banner-title' data-module="track-error" data-error-type="Too many rows" data-error-label="{{ upload_id }}">
            {{ _('Include only {} recipients per spreadsheet.').format(recipients.max_rows | format_number) }}
          </h2>
          <p class="mb-0">
            {{ _('To upload and send, return to the template and repeat the steps for each spreadsheet separately.') }}
          </p>
        {% endcall %}
      {% elif not count_of_recipients %}
        {% call banner_wrapper(type='dangerous') %}
          <h2 class='banner-title' data-module="track-error" data-error-type="No rows" data-error-label="{{ upload_id }}">
            {% if recipients.missing_column_headers %}
            {{ _('Your spreadsheet is missing columns and needs at least 1 row with recipient information.') }}
            {% else %}
            {{ _('Spreadsheets need at least 1 row with recipient information.') }}
            {% endif %}

          </h2>
          {% if recipients.missing_column_headers %}
            <p class="mb-0">
              {{ _('Add {} as well as 1 row for each recipient.').format(recipients.missing_column_headers | sort() | formatted_list(
                prefix=prefix_txt,
                prefix_plural=prefix_plural_txt
              )) }}
            </p>
          {% else %}
            <p class="mb-0">
              {{ _('Add a row for each recipient.') }}
            </p>
          {% endif %}
        {% endcall %}

      {% elif not recipients.has_recipient_columns %}
        {% call banner_wrapper(type='dangerous') %}
          <h2 class='banner-title' data-module="track-error" data-error-type="Missing recipient columns" data-error-label="{{ upload_id }}">
            {{ _('Your spreadsheet is missing') }} {{ (
              recipients.missing_column_headers
              if template.template_type == 'letter' else required_recipient_columns
            ) | formatted_list(
              conjunction=and_txt,
              prefix=prefix_txt,
              prefix_plural=prefix_plural_txt
            ) }}.
          </h2>
          <p class="mb-0">
            {{ _('Add the missing column.') }}
          </p>
        {% endcall %}
      {% elif recipients.duplicate_recipient_column_headers %}
        {% call banner_wrapper(type='dangerous') %}
          {% set or_txt = _('or') %}
          <h2 class='banner-title' data-module="track-error" data-error-type="Duplicate recipient columns" data-error-label="{{ upload_id }}">
            {{ _('Spreadsheets can only have one column called') }} {{ (
              recipients.duplicate_recipient_column_headers
            ) | formatted_list(
              conjunction=or_txt,
              prefix='',
              prefix_plural=''
            ) }}
          </h2>
          <p class="mb-0">
            {{ _('Delete or rename one of the columns for') }} {{ (
              recipients.duplicate_recipient_column_headers
            ) | formatted_list(
              conjunction=or_txt,
              prefix='',
              prefix_plural=''
            ) }}.
          </p>
        {% endcall %}
      {% elif recipients.missing_column_headers %}
        {% call banner_wrapper(type='dangerous') %}
          {% set and_txt = _('and') %}
          <h2 class='banner-title' data-module="track-error" data-error-type="Missing placeholder columns" data-error-label="{{ upload_id }}">
            {{ _('Your spreadsheet is missing') }} {{ recipients.missing_column_headers | formatted_list(
              conjunction=and_txt,
              prefix=prefix_txt,
              prefix_plural=prefix_plural_txt
            ) }}.
          </h2>
          <p class="mb-0">
            {% if recipients.missing_column_headers | length > 1 %}
              {{ _('Add the missing columns.') }}
            {% else %}
              {{ _('Add the missing column.') }}
            {% endif %}
          </p>
        {% endcall %}
      {% elif sent_previously %}
        {% call banner_wrapper(type='dangerous') %}
          {% include "partials/check/sent-previously.html" %}
        {% endcall %}
      {% elif not recipients.allowed_to_send_to %}
        {% call banner_wrapper(type='dangerous') %}
          {% with
            count_of_recipients=count_of_recipients,
            template_type_label=recipients.recipient_column_headers[0]
          %}
            {% include "partials/check/not-allowed-to-send-to.html" %}
          {% endwith %}
        {% endcall %}
      {% elif trying_to_send_letters_in_trial_mode %}
        {% call banner_wrapper(type='dangerous') %}
          <div class="mb-12 clear-both contain-floats">
            {% with
              count_of_recipients=count_of_recipients
            %}
              {% include "partials/check/trying-to-send-letters-in-trial-mode.html" %}
            {% endwith %}
          </div>
        {% endcall %}
      {% elif send_exceeds_daily_limit %}
        {% call banner_wrapper(type='dangerous') %}
          {% include "partials/check/too-many-sms-message-parts.html" %}
        {% endcall %}
        <h2 class="heading-medium">{{ _('You cannot send all these text messages today') }}</h2>
          <p>
            {{ _("You can try sending these messages after {} Eastern Time. Check {}.").format(time_to_reset[current_lang],
            content_link(_("your current local time"), _('https://nrc.canada.ca/en/web-clock/'), is_external_link=true))}}
          </p>
      {% elif send_exceeds_annual_limit %}
        {% call banner_wrapper(type='dangerous') %}
          {% include "partials/check/too-many-messages-annual.html" %}
        {% endcall %}
      {% elif recipients.more_rows_than_can_send %}
        {% call banner_wrapper(type='dangerous') %}
          {% include "partials/check/too-many-email-messages.html" %}
        {% endcall %}
        <h2 class="heading-medium">{{ _('You cannot send all these email messages today') }}</h2>
        <p>
          {{ _("You can try sending these messages after {} Eastern Time. Check {}.").format(time_to_reset[current_lang],
          content_link(_("your current local time"), _('https://nrc.canada.ca/en/web-clock/'), is_external_link=true))}}
        </p>
      {% endif %}
  </div>

  {% if not send_exceeds_daily_limit %}
    <div class="form-group contain-floats box-border">
      {% set button_txt = _('Re-upload your file') %}
      {% if not request.args.from_test %}
        {{ file_upload(
          form.file,
          action=url_for('.send_messages', service_id=current_service.id, template_id=template.id),
          button_text=_('Choose file')
        ) }}
      {% endif %}
    </div>
  {% endif %}

  {% if not request.args.from_test %}
    <section class="clear-both contain-floats">
      {% set column_headers = recipients._raw_column_headers if recipients.duplicate_recipient_column_headers else recipients.column_headers %}

      <h2 class="heading-medium" id="{{ file_contents_header_id }}">{{ _('Current spreadsheet') }}</h2>
      {% if recipients.too_many_rows %}
        <p class="table-show-more-link">
            {{ _('Only showing the first') }} {{ count_of_displayed_recipients }} {{ _('rows') }}.
        </p>
      {% elif count_of_displayed_recipients < count_of_recipients %}
        <p>
          {% if row_errors and not recipients.missing_column_headers %}
            {{ _('Only showing the first') }} {{ count_of_displayed_recipients }} {{ _('rows with errors') }}.
          {% else %}
            {{ _('Only showing the first') }} {{ count_of_displayed_recipients }} {{ _('rows') }}.
          {% endif %}
        </p>
      {% elif row_errors and not recipients.missing_column_headers %}
        <p>
          {{ _('Only showing rows with errors') }}.
        </p>
      {% endif %}

      <div class="fullscreen-content{{ ' table-truncated' if count_of_displayed_recipients < count_of_recipients }}" data-module="fullscreen-table">
        {% call(item, row_number) list_table(
          recipients.displayed_rows,
          caption=original_file_name,
          caption_visible=False,
          field_headings=[
            '<span class="visually-hidden">Row in file</span><span aria-hidden="true">1</span>'|safe
          ] + column_headers
        ) %}
          {% call index_field() %}
            <span>
              {% set displayed_index = item.index + 2 %}
              {% if (
                trying_to_send_letters_in_trial_mode and
                (not errors or recipients.more_rows_than_can_send) and
                displayed_index != preview_row
              ) %}
                <a href="{{ url_for('.check_messages', service_id=current_service.id, template_id=template.id, upload_id=upload_id, row_index=displayed_index, original_file_name=original_file_name) }}">{{ displayed_index }}</a>
              {% else %}
                {{ displayed_index }}
              {% endif %}
            </span>
          {% endcall %}
          {% for column in column_headers %}
            {% if item[column].error and not recipients.missing_column_headers %}
              {% call field() %}
                <span>
                  <span class="table-field-error-label">{{ _(item[column].error) }}</span>
                  {{ item[column].data if item[column].data != None }}
                </span>
              {% endcall %}
            {% elif item[column].ignore %}
              {{ text_field(item[column].data or '', status='default') }}
            {% else %}
              {{ text_field(item[column].data or '') }}
            {% endif %}
          {% endfor %}
          {% if item[None].data %}
            {% for column in item[None].data %}
              {{ text_field(column, status='default') }}
            {% endfor %}
          {% endif %}
        {% endcall %}
      {% endif %}
    </div>
    {% if count_of_displayed_recipients < count_of_recipients %}
      {% include "views/check/table-overflow.html" %}
    {% endif %}
  </section>
  <section>
    <h2 class="heading-medium">{{ _('Preview of') }} {{ template.name }}</h2>
    {{ template|string|translate_preview_template }}
  </section>
{% endblock %}
