{% extends "withnav_template.html" %}
{% from "components/table.html" import list_table, field, text_field, index_field, hidden_field_heading %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/message-count-label.html" import message_count_label %}

{% set file_contents_header_id = 'file-preview' %}
{% macro skip_to_file_contents() %}
  <p class="visually-hidden">
    <a href="#{{ file_contents_header_id }}">{{ _('Skip to file contents') }}</a>
  </p>
{% endmacro %}

{% block service_page_title %}
  {{ _("Preview of") + " " + template.name }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    _('Preview of') + " " + template.name,
    back_link=back_link
  ) }}

  {{ skip_to_file_contents() }}

  {{ template|string|translate_preview_template }}

  {% if not request.args.from_test %}
  <h2 class="heading-medium">{{ _('Recipients') }}</h2>
  <h3 class="file-name" id="{{ file_contents_header_id }}">{{ original_file_name }}</h3>

  <div class="fullscreen-content" data-module="fullscreen-table">
    {% call(item, row_number) list_table(
      recipients.displayed_rows,
      caption=original_file_name,
      caption_visible=False,
      field_headings=[
        '<span class="visually-hidden">Row in file</span><span aria-hidden="true">1</span>'|safe
      ] + recipients.column_headers
    ) %}
      {% call index_field() %}
        <span>
          {% if (item.index + 2) == preview_row %}
            {{ item.index + 2 }}
          {% else %}
            <a href="{{ url_for('.check_messages', service_id=current_service.id, template_id=template.id, upload_id=upload_id, row_index=(item.index + 2), original_file_name=original_file_name) }}">{{ item.index + 2 }}</a>
          {% endif %}
        </span>
      {% endcall %}
      {% for column in recipients.column_headers %}
        {% if item[column].ignore %}
          {{ text_field(item[column].data or '', status='default') }}
        {% else %}
          {{ text_field(item[column].data or '') }}
        {% endif %}
      {% endfor %}
      {% if item[None].data %}
        {% for column in item[None].data %}
          {{ text_field(column, status='default') }}
        {% endfor %}
      {% endif %}
    {% endcall %}
  </div>

  {% endif %}


  <div class="mb-12 clear-both contain-floats">
    <form method="post" enctype="multipart/form-data" action="{{url_for('main.start_job', service_id=current_service.id, upload_id=upload_id, original_file_name=original_file_name)}}" class='page-footer'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" id="scheduled_for" name="scheduled_for" value=""/>
      <div class="form-group ">
        <h2 class="heading-medium">{{ _('Schedule notifications') }}</h2>
        <fieldset id="send_now_later">
          <legend class="form-label">{{ _('When would you like to send') }} {{"{}?".format(template.name)}}</legend>
          <div class="multiple-choice">
            <input id="send_now_later-0" name="send_now_later" type="radio" value="1" checked="">
            <label class="block-label" for="send_now_later-0">{{ _('Now') }}</label>
          </div> 
          <div class="multiple-choice">
            <input id="send_now_later-1" name="send_now_later" type="radio" value="2">
            <label class="block-label" for="send_now_later-1">{{ _('Later') }}</label>
          </div>
        </fieldset>
      </div>
      <div id="schedule-send-at" class="hidden"></div>

      {% if template.template_type != 'letter' or not request.args.from_test %}
      <button type="submit" class="button" id="submit-button">{{ _('Send now') }}</button>
      {% else %}
        <a href="{{ url_for('main.check_messages_preview', service_id=current_service.id, template_id=template.id, upload_id=upload_id, filetype='pdf') }}" download class="button">{{ _('Download as a PDF') }}</a>
      {% endif %}
    </form>
  </div>

  {% if count_of_displayed_recipients < count_of_recipients %}
    <p class="table-show-more-link">
      {{ _('Only showing the first')}} {{ count_of_displayed_recipients }} {{ _('rows') }}
    </p>
  {% endif %}

{% endblock %}
