{% extends "admin_template.html" %}
{% from "components/table.html" import list_table, field, text_field, index_field, hidden_field_heading %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/banner.html" import banner %}

{% set page_title = _('Review before sending') %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(page_title, back_link=back_link) }}

  {{
    banner(
      _("'{}' was uploaded.").format(original_file_name),
      'default',
      with_tick=True
    )
  }}

  {% if not request.args.from_test %}
  <h2 class="heading-medium">{{ _('Recipients') }}</h2>
  <p>
    {% if count_of_recipients > 1 %}
      {{ _("{} recipients from {}.").format(count_of_recipients, original_file_name) }}
    {% else %}
      {{ _("1 recipient from {}.").format(original_file_name) }}
    {% endif %}
  </p>

  <div class="fullscreen-content" data-module="fullscreen-table">
    {% call(item, row_number) list_table(
      recipients.displayed_rows,
      caption=original_file_name,
      caption_visible=False,
      field_headings=[
        '<span class="visually-hidden">Row in file</span><span aria-hidden="true">1</span>'|safe
      ] + recipients.column_headers
    ) %}
      {% call index_field() %}
        <span>
          <a href="{{ url_for('.check_messages', service_id=current_service.id, template_id=template.id, upload_id=upload_id, row_index=(item.index + 2), original_file_name=original_file_name) }}" class="text-small">{{ item.index + 2 }}</a>
        </span>
      {% endcall %}
      {% for column in recipients.column_headers %}
        {% if item[column].ignore %}
          {{ text_field(item[column].data or '', status='default') }}
        {% else %}
          {{ text_field(item[column].data or '') }}
        {% endif %}
      {% endfor %}
      {% if item[None].data %}
        {% for column in item[None].data %}
          {{ text_field(column, status='default') }}
        {% endfor %}
      {% endif %}
    {% endcall %}
  </div>

  {% if count_of_displayed_recipients < count_of_recipients %}
    <p>
      {{ _('Only showing the first')}} {{ count_of_displayed_recipients }} {{ _('rows') }}
      <a href="?original_file_name={{ original_file_name }}&show={{ count_of_displayed_recipients + 10 }}">Show the next 10 recipients</a>
    </p>
  {% endif %}

  {% endif %}


  <h2 class="heading-medium">{{ _('Message preview') }}</h2>

  <p>
    {{ _("The example below previews one recipient (row {} from {}).").format(preview_row, original_file_name) }}
  </p>

  {{ template|string|translate_preview_template }}


  <div class="mb-12 clear-both contain-floats">
    <form method="post" enctype="multipart/form-data" action="{{url_for('main.start_job', service_id=current_service.id, upload_id=upload_id, original_file_name=original_file_name)}}" class='page-footer'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" id="scheduled_for" name="scheduled_for" value=""/>
      <button type="submit" class="button" id="js-send-now-button">{{ _('Send now') }}</button>
      <button type="submit" class="button button-secondary" id="js-send-later-button">
        {{ _('Schedule for later') }}
      </button>
      <div
        id="js-schedule-send-at"
        class="hidden mt-12"
        data-module="webpack-loader"
        data-webpack-loader="Scheduler">
      </div>
      <button type="submit" class="button hidden" id="js-schedule-button">
        {{ _('Schedule') }}
      </button>
    </form>
  </div>

  <script type="text/javascript" src="{{ asset_url('javascripts/scheduler.min.js') }}"></script>

{% endblock %}
