{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer, sticky_page_footer_two_submit_buttons %}
{% from "components/form.html" import form_wrapper %}

{% set title =  _('Add or change your ') + _('mobile number') %}
{% block per_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

{{ page_header(
  title,
  back_link=back_url
) }}
  <div class="grid-row contain-floats">
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
      {% call form_wrapper() %}

        {% if from_send_page == 'send_test' %}
          <p>{{ _("If you add a number to your profile, you can text yourself test messages. We’ll text you a code to verify this number.") }} </p>
        {% endif %}

        <p>
          {{ _("To receive text messages you need a North American mobile phone number.") }}
          {{ _("MS Teams, landlines, and some international numbers cannot receive texts.") }}
        </p>

        {{ textbox(form_field, safe_error_message=True, autocomplete='change-value') }}
        {{ page_footer(_('Save'), cancel_button_link=back_url) }}

      {% endcall %}
    </div>
  </div>

{% endblock %}
