{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% set title = _("Check your phone messages") %}

{% block per_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    title,
    back_link=url_for('.user_profile')
  ) }}

  <div class="grid-row contain-floats">
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
      <p>
        {{ _('We’ve sent you a security code by text message.') }}
      </p>
      {% call form_wrapper() %}
        {{ textbox(
          form_field,
          width='form-control-5em',
          autofocus=True
        ) }}
        {{ page_footer(_('Confirm'), cancel_button_link=url_for('.user_profile')) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
