{% extends "withoutnav_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _('Change your ') + thing }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    _('Change your ') + thing,
    back_link=url_for('.user_profile')
  ) }}

  <div class="grid-row contain-floats">
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">
      <p>
        {{ _('We’ve sent a security code to your ') + thing }}.
      </p>
      {% call form_wrapper() %}
        {{ textbox(
          form_field,
          width='5em',
          autofocus=True
        ) }}
        {{ page_footer(_('Confirm')) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
