{% extends  "admin_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/radios.html" import radios %}

{% block per_page_title %}
  _('Use platform admin view')
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="md:w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
      {{ page_header(
        _('Use platform admin view')
        back_link=url_for('.user_profile')
      ) }}

      {% call form_wrapper() %}
        {{ radios(form.enabled) }}
        {{ page_footer(_('Save')) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
