<h2 class="heading-medium">{{ _('Titles') }}</h2>
<p class="bottom-gutter-1-3">
  {{ _('To add a title to your message, use the number sign (#) followed by a space. Try to make your title an answer rather than a question. For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input bottom-gutter">
    <p>
      # {{ _('This is a title') }}
    </p>
    <p>
      {{ _('This is plain paragraph text') }}
    </p>
  </div>
  <div class="panel-preview panel-border-wide bottom-gutter">
    <!-- This might need an aria label so it's not confused with page landmarks -->
    <h3 class="heading-medium">
      {{ _('This is a title') }}
    </h3>
    <p>
      {{ _('This is plain paragraph text') }}
    </p>
  </div>
</div>

<h2 class="heading-medium">{{ _('Sections') }}</h2>
<p class="bottom-gutter-1-3">
  {{ _('To separate the message into sections, use three underscores (___) to create a horizontal line. This can help recipients take in information at a glance. For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input bottom-gutter">
    <p>
      {{ _('Section 1') }}
    </p>
    <p>
      ___
    </p>
    <p>
      {{ _('Section 2') }}
    </p>
  </div>
  <div class="panel-preview panel-border-wide bottom-gutter">
    <p>
      {{ _('Section 1') }}
    </p>
    <hr>
    <p>
      {{ _('Section 2') }}
    </p>
  </div>
</div>

<h2 class="heading-medium">{{ _('Bulleted lists') }}</h2>
<p class="bottom-gutter-1-3">
  {{ _('To add bullet points, use asterisks (*) followed by a space. Bullet points help recipients identify important information quickly. For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input bottom-gutter">
    <p>
      * {{ _('point 1') }}<br/>
      * {{ _('point 2') }}<br/>
      * {{ _('point 3') }}<br/>
    </p>
  </div>
  <div class="panel-preview panel-border-wide bottom-gutter">
    <ul class="list list-bullet">
      <li>{{ _('point 1') }}</li>
      <li>{{ _('point 2') }}</li>
      <li>{{ _('point 3') }}</li>
    </ul>
  </div>
</div>

<h2 class="heading-medium">{{ _('Emphasis') }}</h2>
<p class="bottom-gutter-1-3">
  {{ _('To emphasize part of your message like a block quote, use a caret (^) followed by a space in front of the text to add a vertical grey bar beside the text. For example:To emphasize text, use a caret. There will be a grey bar beside the text you want to emphasize:') }}
</p>
<div class="panel-container">
  <div class="panel-input bottom-gutter">
    <p>
      ^ {{ _('Text to emphasize') }}
    </p>
  </div>
  <div class="panel-preview panel-border-wide bottom-gutter">
    <p class="panel panel-border-wide">
      {{ _('Text to emphasize') }}
    </p>
  </div>
</div>
