<h2 class="heading-medium">Formatting</h2>
<p>
  {{ _('To put a heading in your template, use a hash:') }}
</p>
<div class="panel panel-border-wide">
  <p>
    {{ _('# This is a heading') }}
  </p>
</div>
<p>
  {{ _('To make bullet points, use asterisks:') }}
</p>
<div class="panel panel-border-wide">
  <p>
    {{ _('point 1') }}<br/>
    {{ _('point 2') }}<br/>
    {{ _('point 3') }}<br/>
  </p>
</div>
<p>
  {{ _('To insert a page break, use three asterisks:') }}
</p>
<div class="panel panel-border-wide">
  <p>
    {{ _('Content on page 1') }}<br/>
    <br/>
    ***<br/>
    <br/>
    {{ _('Content on page 2') }}<br/>
  </p>
</div>
