<h2 class="heading-medium">
  {{ _('Documents') }}
</h2>
<p>
  {{ _('To add a link to a downloadable document, you will need to use the API to upload the document and use double brackets to link to it in the message. For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input mb-12 clear-both contain-floats" aria-label="{{ _('An example of the input to link to a document. Double brackets surround the link: ((link_to_document)).') }}">
    <p>
      {{ _('Download your document at:') }} ((<span class="placeholder-no-brackets">{{ _('link_to_document') }}</span>))
    </p>
  </div>
  <div class="panel-preview panel-border-wide mb-12 clear-both contain-floats" aria-label="{{ _('A preview shows a clickable link to a document with ‘Annual-report-2019-pdf’ underlined and in blue.') }}">
    <p>
      {{ _('Download your document at:') }} <a href="">{{ _('Annual-report-2019.pdf') }}</a>
    </p>
  </div>
</div>
