<h2 class="heading-medium">{{ _('Format') }}</h2>
<p class="bottom-gutter-1-3">
  {{ _('To put a title in your template, use a hash:') }}
</p>
<div class="panel panel-border-wide bottom-gutter">
  <p>
    {{ _('# This is a title') }}
  </p>
</div>
<p class="bottom-gutter-1-3">
  {{ _('To make bullet points, use asterisks:') }}
</p>
<div class="panel panel-border-wide bottom-gutter">
  <p>
    {{ _('* point 1') }}<br/>
    {{ _('* point 2') }}<br/>
    {{ _('* point 3') }}<br/>
  </p>
</div>
<p class="bottom-gutter-1-3">
  {{ _('To emphasize text, use a caret. There will be a grey bar beside the text you want to emphasize:') }}
</p>
<div class="panel panel-border-wide bottom-gutter">
  <p>
    ^ {{ _('You must tell us if your circumstances change') }}
  </p>
</div>
<p class="bottom-gutter-1-3">
  {{ _('To add a horizontal line, use three dashes:') }}
</p>
<div class="panel panel-border-wide">
  <p>
    {{ _('First paragraph') }}
  </p>
  <p style="letter-spacing: 1px;">
    ---
  </p>
  <p>
    {{ _('Second paragraph') }}
  </p>
</div>
