<h2 class="heading-medium">
  {{ _('Variables') }}
</h2>
<p>
 {{ _('To add personalised information about the message recipients, use double brackets around the variable name. Recipients are more likely to trust information that’s relevant and clearly meant for them. For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input mb-12" aria-label="{{ _('An example of the input for variables. Double brackets surround placeholder text such as ((given name)) or ((appointment date)) to be replaced with recipient information.') }}">
    <p>
      {{ _('Hello') }} ((<span class="placeholder-no-brackets">{{ _('given name')}}</span>)),
    </p>
    <p>
      {{ _('This is a confirmation message for your appointment on') }} ((<span class="placeholder-no-brackets">{{_('appointment date')}}</span>))
    </p>
  </div>
  <div class="panel-preview panel-border-wide mb-12" aria-label="{{ _('A preview shows the variables filled in with given name placeholder replaced by Anna and the appointment date placeholder replaced by December 11.') }}">
    <p>
      {{ _('Hello Anna') }},
    </p>
    <p>
      {{ _('This is a confirmation message for your appointment on') }} {{ _('December 11, 2020.') }}
    </p>
  </div>
</div>
<p>
  {{ _('When you send your message, you’ll be able to replace the placeholder variables with personalised content. You can do this manually for one recipient or upload a list of contacts with personal details and let GC Notify do it for you.')}}
</p>
