<h2 class="heading-medium">
  {{ _('Optional content') }}
</h2>
<p>{{ _('You can enter optional content in your template by uploading a spreadsheet with information about your users.') }}</p>

<p>{{ _('For example, your spreadsheet may include the age of each user. You want users who are under 18 to receive optional content. Use double brackets and ‘??’ to include the optional content.') }}</p>

<div class="panel panel-border-wide">
  <p>
    {{ _('((under18??Please get your application signed by a parent or guardian.))') }}
  </p>
</div>
<p>
    {{ _('For each recipient on your spreadsheet, you must indicate:') }}<br/>
    {{ _('‘yes’ to show optional content') }}<br/>
    {{ _('‘no’ to hide optional content') }}
</p>
