<h1 class='banner-title' data-module="track-error" data-error-type="Trial mode: bad recipients" data-error-label="{{ upload_id }}">
  {{ _('You cannot send to') + ' ' }}
  {%- if count_of_recipients == 1 -%}
    {{ _('this email address') if template_type_label == 'email address' else _('this phone number') }}
  {% else %}
    {{ _('these email addresses') if template_type_label == 'email address' else _('these phone numbers') }}
  {%- endif %}
</h1>
<p>
  {{ _("In trial mode, you can only send to yourself and <a href='{}'>members of your team</a>. To send to more recipients, <a href='{}'>request to go live</a>.")
    .format(
      url_for('main.manage_users', service_id=current_service.id),
      url_for('main.request_to_go_live', service_id=current_service.id)
  ) }}
</p>
