<h1 class='banner-title' data-module="track-error" data-error-type="Trial mode: too many recipients" data-error-label="{{ upload_id }}">
    {{ _('Too many SMS message fragments') }}
</h1>
<p>
  {{ _('You can only send') }} {{ current_service.sms_daily_limit | format_number }} {{ _('text message fragments per day') }}
  {%- if current_service.trial_mode %}
    {{ _("in trial mode. To send more messages, <a href='{}'>request to go live</a>").format(url_for('main.request_to_go_live', service_id=current_service.id)) }}
  {%- else -%}
    {{ _(". To send more messages, <a href='{}'>contact us</a>").format(url_for('main.request_to_go_live', service_id=current_service.id)) }}
  {%- endif -%}
  .
</p>
