{% from "components/links.html" import content_link %}

{% if template.template_type == 'email' %}
  {% set units = _('email messages') %}
{% else %}
  {% set units = _('text messages') %}
{% endif %}

<p data-testid="exceeds-annual">
  {%- if current_service.trial_mode %}
    {{ _("Your service is in trial mode. To send more messages, <a href='{}'>request to go live</a>").format(url_for('main.request_to_go_live', service_id=current_service.id)) }}
  {% else %}
    {% if recipients_remaining_messages > 0 %}
      <p>{{ _('<strong>{}</strong> can only send <strong>{}</strong> more {} until annual limit resets'.format(current_service.name, recipients_remaining_messages, units)) }}</p>
      <p>
        {{ _('To send some of these messages now, edit the spreadsheet to <strong>{}</strong> recipients maximum. '.format(recipients_remaining_messages)) }}
        {{ _('To send to recipients you removed, wait until <strong>April 1, {}</strong> or contact them some other way.'.format(now().year)) }}
      </p>
    {% else %}
      <p>{{ _('<strong>{}</strong> cannot send any more {} until <strong>April 1, {}</strong>'.format(current_service.name, units, now().year)) }}</p>
      <p>{{ _('For more information, visit the <a href={}>usage report for {}</a>.'.format(url_for('.monthly', service_id=current_service.id), current_service.name)) }}</p>
    {% endif %}
  {%- endif -%}
</p>