{% from "components/links.html" import content_link %}

<p>
  {%- if current_service.trial_mode %}
    {{ _("Your service is in trial mode. To send more messages, <a href='{}'>request to go live</a>").format(url_for('main.request_to_go_live', service_id=current_service.id)) }}
  {% else %}
    {% if send_exceeds_annual_limit %}
      {{ _("To request an annual limit above {} emails, {}").format(current_service.email_annual_limit, content_link(_("contact us"), url_for('main.contact'), is_external_link=true)) }}
    {% endif %}
    {% if send_exceeds_daily_limit %}
      {{ _("To request a daily limit above {} emails, {}").format(current_service.message_limit, content_link(_("contact us"), url_for('main.contact'), is_external_link=true)) }}

      <h2 class="heading-medium">{{ _('You cannot send all these email messages today') }}</h2>
      <p>
        {{ _("You can try sending these messages after {} Eastern Time. Check {}.").format(time_to_reset[current_lang],
        content_link(_("your current local time"), _('https://nrc.canada.ca/en/web-clock/'), is_external_link=true))}}
      </p>
    {% endif %}
    
  {%- endif -%}
</p>