{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  {{ _('Text messages') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading heading-large">{{ _('Text messages') }}</h1>
  <p>{{ _('Send thousands of free text messages to Canadian and international numbers with Notification.') }}</p>
  {% if not current_user.is_authenticated %}
  <p><a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('and try Notification for yourself')}}. </p>
  {% endif %}

  <h2 class="heading heading-medium">{{ _('Features') }}</h2>
  <p>{{ _('Notification makes it easy to:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('create reusable text message templates') }}</li>
    <li>{{ _('personalize the content of your texts') }}</li>
    <li>{{ _('send and schedule bulk messages') }}</li></ul>
  <p>{{ _('You can also') }} <a href="{{ url_for('.documentation') }}">{{ _('integrate with our API') }}</a> {{ _('to send text messages automatically') }}.<p>

  <h3 class="heading heading-small">{{ _('Receive text messages') }}</h3>
  <p>{{ _('Users can send messages to your service or reply to your texts.') }}</p>
  <p>{{ _('You can see and reply to the messages you receive, or set up your own automated processes to manage replies.') }}</p>
  <p><a href="{{ url_for('.feedback', ticket_type='ask-question-give-feedback') }}">{{ _('Contact us') }}</a> {{ _('to request a unique number for text message replies.') }}</p>

  <h3 class="heading heading-small">{{ _('Show the sender of your texts') }}</h3>
  <p>{{ _('When you send a text message with Notification, the sender name tells people who it\'s from.') }}</p>
  <p>{{ _('You can change the text message sender name in your service settings.') }}</p>

  <h2 class="heading heading-medium">Pricing<h2>
    <p>Each service you set up has an annual allowance of 25,000 free text messages.</p>

{% endblock %}
