{% extends "content_template.html" %}
{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}

{% block per_page_title %}
  {{ _('Text messages') }}
{% endblock %}

{% block content_column_content %}

  <h1 class="heading heading-large">{{ _('Text messages') }}</h1>
  <p>{{ _('Send thousands of free text messages to Canadian and international numbers with <i>Notify</i>.') }}</p>
  {% if not current_user.is_authenticated %}
  <p><a href="{{ url_for('main.register') }}">{{ _('Create an account') }}</a> {{ _('and try <i>Notify</i> for yourself')}}. </p>
  {% endif %}

  <h2 class="heading heading-medium">{{ _('Product features') }}</h2>
  <p>{{ _('<i>Notify</i> makes it easy to:') }}</p>
  <ul class="list list-bullet">
    <li>{{ _('create reusable text message templates') }}</li>
    <li>{{ _('personalise the content of your texts') }}</li>
    <li>{{ _('send and schedule bulk messages') }}</li></ul>
  <p>{{ _('Your developers can also') }} <a href="{{ url_for('.documentation') }}">{{ _('integrate with our API') }}</a> {{ _('to send text messages automatically') }}.<p>
    <h2 class="heading heading-medium">{{ _('Display your sender name') }}</h2>
    <p>{{ _('When <i>Notify</i> sends your message, the text displays your service name. This shows people that the message is from your service. You can change the text message sender name in your service settings.') }}</p>
    
    <h2 class="heading heading-medium">{{ _('Pricing') }}</h2>
    <p>{{ _('You can send 25,000 free text messages per year from each service you create.') }}</p>
  
{% endblock %}
