<div id="newsletter-section" class="text-white wp-block-cover alignfull is-light">
  <span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#31455C"></span>
  <div class="wp-block-cover__inner-container is-layout-constrained wp-block-cover-is-layout-constrained">
      <h2 class="heading-large mb-4">{{ _("Subscribe to our newsletter") }}</h2>
      <p class="mb-6 text-base">
        {{ _("Get updates on new features, helpful tips and opportunities to improve GC Notify.") }}
      </p>
      
      {% set use_wordpress_styles = True %}
      {% include 'partials/newsletter/subscribe_form.html' %}
    </div>
</div>
