{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Add reply-to address') }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    _('Add reply-to address'),
    back_link=url_for('main.service_email_reply_to', service_id=current_service.id)
  ) }}

  {% call form_wrapper() %}
    {{ textbox(
      form.email_address,
      width='w-full',
      hint=_('This should be a shared inbox managed by your team, not your own email address.'),
      safe_error_message=True,
      autocomplete="email"
    ) }}
    {% if not first_email_address %}
      <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
        {{ checkbox(form.is_default) }}
      </div>
    {% endif %}
    {{ page_footer(_('Add')) }}
  {% endcall %}

{% endblock %}
