<div class="max-w-5xl">
  <div class="py-0 px-0 px-gutterHalf box-border border border-gray-300 overflow-x-auto" id="template_preview">
    {% if '/_email' in request.base_url %}
      <link href="https://fonts.googleapis.com/css?family=Flow+Block&display=swap" rel="stylesheet" />
    {% endif %}
    <template shadowrootmode="open">
      
      <style nonce="{{ request_nonce }}">
        :host(#template_preview) h2, :host(#template_preview) p {
          font-family: "Flow Block", system-ui !important;
          font-weight: 400;
          font-style: normal;
          color: #49535D !important;
        }
      </style>
      <div class="w-full template-container">
        {{ template|safe }}
      </div>
    </template>
  </div>
</div>