{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload_field %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/show-more.html" import show_more %}
{% from "components/textbox.html" import textbox, textbox_localized %}


{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('Request a new logo'),
      back_link='#'
    ) }}

    <div class="grid-row contain-floats">
      <div class="py-0 px-0 px-gutterHalf box-border">
        <form method="post" enctype="multipart/form-data" autocomplete="off" novalidate data-validate-required>
            
            {{ textbox(form.name, hint=_('This will not show in messages. Choose a name that helps team members find the logo'), testid="brand_name", data_error_msg=_("Enter the name of the logo")) }}

            {{ textbox_localized("alt", fields=({"en":form.alt_text_en, "fr":form.alt_text_fr}), legend=_("Alternative text"), hint=_("Provide an accessible description of your logo")) }}
            

            

            <h2 class="heading-medium">{{ _('Prepare your logo') }}</h2>
            <p>
              {{ _('Your logo must be compatible with GC Notify. Check logo is:') }}
            </p>
            <ul class="list list-bullet" id="file-requirements">
              <li class="ml-6">{{ _('In PNG image format') }}</li>
              <li class="ml-6">{{ _('Exactly 108 pixels tall') }}</li>
              <li class="ml-6">{{ _('Maximum 600 pixels wide') }}</li>
            </ul>
            {% call file_upload_field(form.file, accept="image/png", button_class="button-secondary", field_testid="brand_image") %}

            <div class="preview relative" data-testid="brand_fileinfo">
              <div class="relative">
                <div class="img relative"></div>
                <div class="image-placeholder absolute"></div>
              </div>
            </div> 

            {% endcall %}

            <div class="hidden template_preview mb-10 mt-6" data-testid="brand_preview">
              <h2 class="heading-medium mt-0 " tabindex="0" id="preview_heading">{{ _('Logo preview') }}</h2>
              {% include 'views/email-branding/_preview.html' %}
            </div>
            
            <div class="mt-20">
              <div class="js-stick-at-bottom-when-scrolling">
                <div class="flex flex-col-reverse">
                  <div class="mt-10">
                    <div class="flex">
                       {{ _('We’ll implement or request changes to your logo within 2 business days.') }}
                    </div>
                  </div>
                  <div class="" style="min-width: 300px">
                    {{ page_footer(_('Submit request', button_id="brand_request_btn")) }}
                  </div>
                </div>
              </div>      
            </div>
        </form>
      </div>
    </div>
  </div>
  <script nonce="{{ request_nonce }}" src="{{ asset_url('javascripts/branding_request.min.js') }}"></script>
  <script nonce="{{ request_nonce }}" src="{{ asset_url('javascripts/formValidateRequired.min.js') }}"></script>
{% endblock %}
