{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/show-more.html" import show_more %}
{% from "components/textbox.html" import textbox %}


{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('New branding request'),
      back_link='#'
    ) }}

    <div class="grid-row contain-floats">
      <div class="py-0 px-0 px-gutterHalf box-border">
        <form method="post" enctype="multipart/form-data" autocomplete="off" novalidate>
          <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
            {{ textbox(form.name, hint=_('This is a name used internally only')) }}
            
            <label class="file-upload-label" for="{{ form.file.name }}">
              <div id="file-upload-label" class="form-label">
                {{ form.file.label.text }}
              </div>
              {% if hint %}
                <span class="form-hint">
                  {{ hint }}
                </span>
              {% endif %}
              {% if form.file.errors %}
                <span class="error-message">
                  {{ form.file.errors[0] }}
                </span>
              {% endif %}
              {{ form.file(**{ 'class': 'file-upload-field', 'accept': 'image/png'}) }}
              <div aria-hidden="true" id="file-upload-button" class="button button-secondary font-normal"> {{ _('Choose file...') }} </div>
              <div class="mt-6 ml-2 pl-6 border-l-4 border-gray-200 preview font-normal">
              </div>
              
            </label>
            
            <script nonce="{{ request_nonce }}">
              const input = document.querySelector("input.file-upload-field");
              const preview = document.querySelector(".preview");

              input.style.opacity = 0;

              input.addEventListener("change", updateImageDisplay);

              function updateImageDisplay() {
                while (preview.firstChild) {
                  preview.removeChild(preview.firstChild);
                }

                const curFiles = input.files;
                if (curFiles.length === 0) {
                  const para = document.createElement("p");
                  para.textContent = "No files currently selected for upload";
                  preview.appendChild(para);
                } else {
                  for (const file of curFiles) {
                    
                    const span = document.createElement("span");
                    if (validFileType(file)) {
                      span.textContent = `File name: ${file.name}, file size: ${returnFileSize(
                        file.size,
                      )}.`;
                      preview.appendChild(span);
                      const image = document.createElement("img");
                      image.src = URL.createObjectURL(file);
                      image.alt = image.title = file.name;
                      preview.appendChild(image);
                    } else {
                      span.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
                      preview.appendChild(span);
                    }
                  }
                }
              }

                  // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
                  const fileTypes = [
                    "image/png",
                  ];

                  function validFileType(file) {
                    return fileTypes.includes(file.type);
                  }

                  function returnFileSize(number) {
                    if (number < 1024) {
                      return `${number} bytes`;
                    } else if (number >= 1024 && number < 1048576) {
                      return `${(number / 1024).toFixed(1)} KB`;
                    } else if (number >= 1048576) {
                      return `${(number / 1048576).toFixed(1)} MB`;
                    }
                  }

            </script>
            
            <!-- {{ file_upload(form.file, button_text=_('Upload logo')) }} -->
            <div class="mt-10">
              {{ show_more() }}
            </div>
            <!-- <button
              type="submit"
              class="button text-base outline-none focus:shadow-outline"
              id="branding_btn"
            >
              {{- button_text -}}
            </button> -->
            {{ page_footer(_('Save', button_id="brand_request_btn")) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
