{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/show-more.html" import show_more %}
{% from "components/textbox.html" import textbox %}


{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('New branding request'),
      back_link='#'
    ) }}

    <div class="grid-row contain-floats">
      <div class="py-0 px-0 px-gutterHalf box-border">
        <form method="post" enctype="multipart/form-data" autocomplete="off" novalidate>
          <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
            {{ textbox(form.name, hint=_('This is a name used internally only'), testid="brand_name") }}
            
            <label class="file-upload-label" for="{{ form.file.name }}">
              <div id="file-upload-label" class="form-label">
                {{ form.file.label.text }}
              </div>
              {% if hint %}
                <span class="form-hint">
                  {{ hint }}
                </span>
              {% endif %}
              {% if form.file.errors %}
                <span class="error-message">
                  {{ form.file.errors[0] }}
                </span>
              {% endif %}
              {{ form.file(**{ 'class': 'file-upload-field', 'accept': 'image/png', 'data_testid': 'brand_image'}) }}
              <div aria-hidden="true" id="file-upload-button" class="button button-secondary font-normal"> {{ _('Choose file...') }} </div>
              <div class="mt-6 ml-2 pl-6 border-l-4 border-gray-200 preview font-normal relative" data-testid="brand_fileinfo">
                <div class="message relative">No files currently selected</div>
                <div class="relative">
                  <div class="img relative"></div>
                  <div class="image-placeholder absolute"></div>
                </div>
              </div>              
            </label>

            <div class="hidden template_preview mb-10 mt-6" data-testid="brand_preview">
              <h2 class="heading-medium mt-0">Branding preview</h2>
              {% include 'views/email-branding/_preview.html' %}
            </div>
            
            
            <div class="mt-10">
              {{ show_more() }}
            </div>
            <div class="mt-10">
              <div class="js-stick-at-bottom-when-scrolling">
                <div class="flex flex-row-reverse justify-end items-center">
                  <div class="ml-10">
                    <div class="flex justify-end items-center">
                      <i aria-hidden="true" class="mr-4 text-titlelarge fa-solid fa-info-circle text-gray-visiteddark fill-current"></i> {{ _('Processing your branding request can take up to 3 days.  If there are issues with your logo you will be contacted by the GC Notify team.') }}
                    </div>
                  </div>
                  <div class="" style="min-width: 300px">
                    {{ page_footer(_('Submit branding request', button_id="brand_request_btn")) }}
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script nonce="{{ request_nonce }}" type="text/javascript" src="{{ asset_url('javascripts/branding_request.min.js') }}"></script>
{% endblock %}
