{% extends "admin_template.html" %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('Logo preview'),
      back_link='#'
    ) }}

    <div class="py-0 px-0 box-border">
      {% include 'views/email-branding/_preview.html' %}
    </div>
    {% call form_wrapper() %}
    <div class="mt-10">
      {{ page_footer(
        button_text=_('Save'),
        button_name='operation',
      ) }}
    </div>
    {% endcall %}
  </div>
{% endblock %}
