{% extends "admin_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios.html" import radios %}
{% from "components/show-more.html" import show_more %}
{% from "components/empty-list.html" import empty_list  %}

{% block service_page_title %}
  {{ _('Update logo') }}
{% endblock %}

{% block maincolumn_content %}
  <div class="branding">
    {{ page_header(
      _('Select another logo'),
      back_link=url_for('main.edit_branding_settings', service_id=current_service.id),
      id_text='pool_branding-label'
    ) }}
    <div class="grid-row contain-floats">
      <div class="py-0 px-0 px-gutterHalf box-border">
        {% if logos|length == 0 %}
          {{ empty_list(_('There are no other logos yet'), _('To add another logo, make a request'), 'emptyBirdCurious', url_for('main.create_branding_request', service_id=current_service.id), _('Request a new logo'), attributes="data-testid=goto-request") }}
        {% else %}
          {% call form_wrapper() %}
            {{ radios(form.pool_branding, hide_legend=True, testid="pool_branding") }}
            {{ show_more() }}
            <div class="mt-10">
              <div class="js-stick-at-bottom-when-scrolling">
                <div class="flex flex-row-reverse justify-end items-center">
                  <div class="ml-10">
                    {{ _('<a href="{}" data-testid="goto-request">{}</a>').format(url_for('main.create_branding_request', service_id=current_service.id), _('Request a new logo')) }}
                  </div>
                  <div class="">
                    {{ page_footer(_('Preview'), testid="preview") }}
                  </div>
                </div>
              </div>
            </div>
          {% endcall %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
