{% extends "views/platform-admin/_base_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/live-search.html" import live_search %}

{% block per_page_title %}
  {{ _('Email branding') }}
{% endblock %}

{% block platform_admin_content %}

  {{ page_header(_('Email branding'), id_text='email_branding') }}
  {{ live_search(target_selector='.email-brand', show=True, form=search_form) }}
  {% for brand in email_brandings %}
    <p class="email-brand">
      <a href="{{ url_for('.update_email_branding', branding_id=brand.id) }}">
        {{ brand.name or 'Unnamed' }}
      </a>
    </p>
  {% endfor %}
  <div class="js-stick-at-bottom-when-scrolling">
    <a id="create_email_branding" href="{{ url_for('.create_email_branding') }}" class="button button-secondary">{{ _('New branding') }}</a>
  </div>

{% endblock %}
