@layer components {
  /*! purgecss start ignore */
  .api-notifications {
    @apply font-monospace border-0 border-b-1 border-solid border-gray-300;
  }

  .api-notifications-item {
    @apply flex align-baseline gap-2 border-t-1 border-solid border-gray-300 p-0;
  }
  .api-notifications-item::before {
    width: 2ch;
    @apply text-right bg-gray-200 text-gray-800 font-normal p-2 border-0 border-r-1 border-solid border-gray-300;
  }
  .api-notifications-item-title {
    @apply block no-underline text-blue;
  }
  .api-notifications-item-recipient {
    @apply inline;
  }
  .api-notifications-item-meta {
    @apply block text-gray-grey1;
  }
  .api-notifications-item-time {
    @apply text-right;
  }
  .api-notifications-item-key {
    padding-left: 46px !important;
    @apply inline-block;
  }
  .api-notifications-item-data {
    padding-left: 31px;
    @apply text-gray-grey1;
  }
  .api-notifications-item-data-item {
    @apply pb-6 text-black;
  }
  /*! purgecss end ignore */
}
