@layer components {
  /*! purgecss start ignore */
  .dashboard table th {
    @apply text-smaller leading-tight font-normal border-b-0;
  }
  .dashboard table td {
    @apply text-smaller leading-tight font-normal border-0;
  }
  .dashboard > .heading-medium:first-of-type {
    @apply mt-doubleGutter;
  }

  .keyline-block {
    @apply pt-gutterHalf border-solid border-0 border-t-1 border-gray-grey2;
  }

  .spark-bar {
    background: linear-gradient(
      to right,
      theme("colors.gray.300") var(--data),
      transparent 0
    );
    @apply block px-2 py-4 w-full text-black text-left;
  }

  .file-list-filename {
    @apply text-smaller leading-tight font-bold block pt-4 pb-12 border-b-2 border-transparent;
    margin-bottom: -30px;
    margin-top: -10px;
  }
  .file-list-hint {
    max-width: 580px;
    @apply text-small leading-tight font-normal block pointer-events-none text-gray-grey1;
  }

  .failure-highlight {
    @apply text-smaller leading-tight font-bold text-red;
  }

  .template-usage-table {
    @apply mt-4 border-0 border-solid border-gray-grey2 border-t-1 border-b-1 mb-16;
  }
  .template-usage-table .table {
    @apply mb-2;
  }

  .align-with-message-body {
    margin-top: 36px; /* gutter*5/6 */
    @apply block;
  }
  /*! purgecss end ignore */
}
