
.sms-message-sender {
  @include copy-19;
}

.sms-message-recipient {
  @include copy-19;
}

.sms-message-status {
  @include core-16;
  color: $secondary-text-colour;
  margin: -20px $gutter-half 20px $gutter-half;
}

.sms-message-status-outbound {
  text-align: right;
}

.sms-message-row {

  &:focus {
    outline: none;
    padding-top: 120px;
    margin-top: -120px;
  }

}

.sms-message-reply-link {
  text-align: right;
}
