{% from "components/banner.html" import banner %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category in ['cancel', 'delete', 'suspend', 'resume', 'remove', 'revoke this API key', 'block', 'archive', 'reset', 'request'] %}
        {% set category_translations = {'cancel': _('cancel'), 'delete': _('delete'), 'suspend': _('suspend'), 'resume': _('resume'), 'remove': _('remove'), 'revoke this API key': _('revoke this API key'), 'block': _('block'), 'archive': _('archive') ,'reset': _('reset'), 'request': _('request')} %}
        {% set delete_button_text = "{}, {}".format(_('Yes'), category_translations.get(category, category)) %}
      {% elif category == 'try again' %}
        {% set delete_button_text = _('Try again') %}
      {% elif category == 'unblock' %}
        {% set delete_button_text = _('Unblock') %}
        {% set category = 'default_with_tick' %}
      {% else %}
        {% set delete_button_text = None %}
      {% endif %}
      <div class="mb-12 clear-both contain-floats">
        {{ banner(
          message if message is string else message[0],
          'default' if ((category == 'default') or (category == 'default_with_tick')) else 'dangerous',
          delete_button=delete_button_text,
          with_tick=True if category == 'default_with_tick' else False,
          context=message[1] if message is not string
        )}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
