<p>
  Lorsque vous envoyez un message, celui-ci passe par différents états dans GC Notification. 
</p>
<p>
  Vous pouvez consulter le résultat de livraison d’un message pour savoir si son envoi est un succès ou un échec, et vous pouvez faire le suivi en temps réel du nombre de messages envoyés et de leur état dans le tableau de bord.
</p>
<p>Par exemple : </p>

<img />

<p>
  Pour des questions de sécurité, ces renseignements sont seulement disponibles pendant 7 jours après qu’un message a été envoyé. Vous pouvez télécharger un rapport comprenant une liste des messages envoyés pour vos dossiers.
</p>

<h2 class="heading-medium">Types d’états des messages</h2>
<p>
  GC Notification montre les types d’états de livraison des messages suivants : 
</p>

<h3 class="heading-small">Envoi en cours</h3>
<p>
  Cet état signifie que GC Notification a envoyé le message au fournisseur de messagerie ou de téléphonie cellulaire. Si le message texte a été envoyé à l’international, il arrive que certains pays ne fournissent pas d’autres renseignements sur la livraison.
</p>

<h3 class="heading-small">Livraison réussie</h3>
<p>
  Cet état signifie que le message a élé livré avec succès. GC Notification ne vous informera pas si un utilisateur a ouvert ou lu un message.
</p>

<h3 class="heading-small">Échec</h3>
<p>
  Si un message n’arrive pas à être livré, vous pouvez réessayer après 72 heures ou bien essayer de joindre l’utilisateur par un autre moyen. Un message peut échouer pour plusieurs raisons :
</p>

<ul class="list-bullet">
  <li class="pt-4">
    <p class="font-bold" style="margin-bottom: 0">L’adresse courriel ou le numéro de téléphone n’existe pas</p>
    <p>
      Dans un tel cas, le fournisseur n’a pas pu livrer le message puisque l’adresse courriel ou le numéro de téléphone était erroné. Vous devriez supprimer cette adresse courriel de votre base de données. Les messages texte envoyés aux numéros qui n’existent pas pourraient tout de même être facturés.
    </p>
  </li>
  <li class="pt-4">
    <p class="font-bold" style="margin-bottom: 0">Le destinataire n’accepte pas de messages à l’heure actuelle</p>
    <p>
      Dans un tel cas, le fournisseur n’a pas réussi à livrer le message après avoir essayé pendant 72 heures. Cela peut se produire si la boîte de réception du destinatiare est pleine ou si le téléphone du destinataire est éteint. Vous pouvez essayer d’envoyer le message de nouveau. Les messages texte qui ont été envoyés aux numéros qui n’acceptent pas de messages pourraient tout de même être facturés.
    </p>
  </li>
  <li class="pt-4">
    <p class="font-bold" style="margin-bottom: 0">Échec technique</p>
    <p>
      Dans un tel cas, un problème de connexion a eu lieu entre Notification et le fournisseur de messagerie ou de téléphonie cellulaire. Vous devrez essayer d’envoyer vos messages de nouveau. Les messages texte qui sont affectés par une défaillance technique ne vous seront pas facturés.
    </p>
  </li>
</ul>