
      <h1 class="heading-large">French!!</h1>

      <h1 class="heading-large">{{ _('Privacy') }}</h1>
      <p> {{ _('privacy.intro')}} </p>

      <h2 class="heading-medium"> {{ _('Your privacy and the internet')}} </h2>
      <p> {{ _('privacy.section 1')}} </p>

      <h2 class="heading-medium"> {{ _('Communicating with the Canadian Digital Service') }} </h2>
      <p> {{ _('privacy.section 2')}} </p>

      <h2 class="heading-medium"> {{ _('Third-party social media') }} </h2>
      <p> {{ _('privacy.section 3')}} </p>

      <h2 class="heading-medium"> {{ _('Improving your experience on the Canadian Digital Service website') }} </h2>
      
      <h3 class="heading-small"> {{ _('Digital markers (including cookies)') }} </h3>
      <p> {{ _('privacy.section 4')}} </p>

      <h3 class="heading-small"> {{ _('Web analytics') }} </h3>
      <p> {{ _('privacy.section 5')}} </p>

      <h2 class="heading-medium"> {{ _('Protecting the security of Government of Canada websites') }} </h2>
      <p> {{ _('privacy.section 6')}} </p>

      <h2 class="heading-medium"> {{ _('Inquiring about these practices') }} </h2>
      <p> {{ _('privacy.section 7')}} </p>

