* {
  box-sizing: border-box;
  border: 0 solid;
}

img {
  border-style: solid;
}

img,
svg {
  display: block;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}


html {
  font-size: 62.5%;
}


.text-brand i{
  font-family: lato;
  font-weight: 600 !important;
}

@media (min-width: 640rem) {
  .container {
    max-width: 640rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
.bg-white {
  background-color: #fff;
}
.bg-blue-lighter {
  background-color: #b2e3ff;
}
.bg-blue {
  background-color: #26374a;
}
.bg-gray {
  background-color: #eee;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: -webkit-box;
  display: flex;
}
.hide {
  display: none;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}
.justify-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.font-body {
  font-family: Noto Sans;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700;
}
.leading-none {
  line-height: 1;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mr-10 {
  margin-right: 2.5rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mr-20 {
  margin-right: 5rem;
}
.p-5 {
  padding: 1.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.text-white {
  color: #fff !important;
}
.text-blue {
  color: #26374a !important;
}
.text-black {
  color: #000 !important;
}
.text-small {
  font-size: 1.6rem;
}
.text-brand {
  font-size: 2.6rem;
}
.underline {
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}
.hover\:underline:hover {
  text-decoration: underline;
}
.hover\:no-underline:hover {
  text-decoration: none;
}
.w-5\/12 {
  width: 41.666667%;
}
.w-10\/12 {
  width: 83.333333%;
}
.flip {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 2px;
}
.line-under {
  text-underline-position: under;
}
.form-group-error {
  margin-right: 1rem;
  padding-left: 1rem;
  border-left-width: 4px;
  border-color: #b10e1e;
}
.form-control-error {
  border-width: 4px;
  border-color: #b10e1e;
}
.error-message {
  display: block;
  color: #b10e1e;
  font-size: 2rem;
}
.phone {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .lg\:justify-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .lg\:mt-0 {
    margin-top: 0;
  }
  .lg\:mb-0 {
    margin-bottom: 0;
  }
  .lg\:ml-4 {
    margin-left: 1rem;
  }
  .lg\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .lg\:pl-5 {
    padding-left: 1.25rem;
  }
  .lg\:pb-10 {
    padding-bottom: 2.5rem;
  }
  .lg\:pt-16 {
    padding-top: 4rem;
  }
}


.mobile-nav-wrap{
  z-index: 10000;
  border-bottom: 20px solid #26374a !important;
}

.container a:focus {
  background-color: transparent;
  outline: 5px auto -webkit-focus-ring-color;
}
