// Path to assets for use with file-url()
$path: '/static/images/';

// Dependencies from GOV.UK Frontend Toolkit
// https://github.com/alphagov/govuk_frontend_toolkit/

// CDS => copied into this repo to avoid npm dependencies
@import 'toolkit/conditionals';
@import 'toolkit/shims';
@import 'toolkit/measurements';
@import 'toolkit/css3';
@import 'toolkit/colours';
@import 'toolkit/typography';
@import 'toolkit/grid_layout';
@import 'toolkit/helpers';

// Dependencies from GOVU.UK Frontend Toolkit, rewritten for this application


// URL Helpers
// @import 'tookit/url-helpers';
$path: false !default;

// A function which can either output a image-url to be used with the Rails
// Asset Pipeline or Compass or a plain url which is prefixed with a defined
// path variable.

@function file-url($file) {
  $url: '';
  @if $path {
    $url: url($path + $file);
  } @else {
    $url: image-url($file);
  }
  @return $url;
}

// ====================================================

// Dependencies from GOV.UK Elements
// https://github.com/alphagov/govuk_elements

// CDS => copied into this repo to avoid npm dependencies
@import 'elements/helpers';
@import 'elements/reset';
@import 'elements/details';
@import 'elements/elements-typography';
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-validation';
@import 'elements/layout';
@import 'elements/lists';
@import 'elements/panels';

// ====================================================


// Specific to this application
@import 'grids';
@import 'components/placeholder';
@import 'components/navigation';
@import 'components/file-upload';
@import 'components/browse-list';
@import 'components/vendor/previous-next-navigation';
@import 'components/pill';
@import 'components/show-more';
@import 'components/message';
@import 'components/tick-cross';
@import 'components/letter';
@import 'components/stick-at-top-when-scrolling';
@import 'components/task-list';
@import 'components/vendor/govuk-back-link';
@import 'components/loading-indicator';

@import 'views/dashboard';
@import 'views/users';
@import 'views/api';
@import 'views/product-page';
@import 'views/template';
@import 'views/notification';
@import 'views/send';

// TODO: break this up
@import 'app';
