// Path to assets for use with file-url()
$path: '/static/images/';

// Dependencies from GOV.UK Frontend Toolkit
// https://github.com/alphagov/govuk_frontend_toolkit/

// CDS => copied into this repo to avoid npm dependencies
@import 'toolkit/conditionals';
@import 'toolkit/shims';
@import 'toolkit/measurements';
@import 'toolkit/css3';
@import 'toolkit/colours';
@import 'toolkit/typography';
@import 'toolkit/helpers';

// Dependencies from GOVU.UK Frontend Toolkit, rewritten for this application


// URL Helpers
// @import 'tookit/url-helpers';
$path: false !default;

// A function which can either output a image-url to be used with the Rails
// Asset Pipeline or Compass or a plain url which is prefixed with a defined
// path variable.

@function file-url($file) {
  $url: '';
  @if $path {
    $url: url($path + $file);
  } @else {
    $url: image-url($file);
  }
  @return $url;
}

// ====================================================

// Dependencies from GOV.UK Elements
// https://github.com/alphagov/govuk_elements

// CDS => copied into this repo to avoid npm dependencies
@import 'elements/helpers';
@import 'elements/elements-typography';
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-validation';
@import 'elements/layout';

// ====================================================


// Specific to this application
@import 'components/vendor/previous-next-navigation';
