// Path to assets for use with file-url()
$path: '/static/images/';

// Dependencies from GOV.UK Frontend Toolkit
// https://github.com/alphagov/govuk_frontend_toolkit/

// CDS => copied into this repo to avoid npm dependencies
@import 'toolkit/conditionals';
@import 'toolkit/shims';
@import 'toolkit/measurements';
@import 'toolkit/css3';
@import 'toolkit/colours';
@import 'toolkit/typography';
@import 'toolkit/helpers';

// ====================================================

// Dependencies from GOV.UK Elements
// https://github.com/alphagov/govuk_elements

// CDS => copied into this repo to avoid npm dependencies
@import 'elements/helpers';
@import 'elements/elements-typography';

// ====================================================