<h2 class="heading-medium">
  {{ _('Filter content to a subset of recipients') }}
</h2>
<!-- comment to trigger deploy -->
<p>{{ _('Some content may only apply to recipients who meet a condition, for example, recipients within a particular age range.  In the template, you’ll put double brackets around that content. After the opening set of brackets, enter the condition, followed by double question marks. Between the question marks and the closing brackets, show the content for recipients who meet the condition. For example:') }}</p>
<div class="panel-container">
  <div class="panel-input" aria-label="{{ _('An example of the input for conditional text. Double brackets surround conditional text which is preceded by a variable with question marks ((under18??conditional text)).') }}">
    <p>
      {{ _('Hello') }},
    </p>
    <p>
      {{ _('We’re happy to announce that you can now enroll in the program.') }}
    </p>
    <p>
      ((<span class="placeholder-no-brackets">{{ _('under18')}}</span>??{{_('Please get your application signed by a parent or guardian.')}}))
    </p>
  </div>
  <div class="panel-preview" aria-label="{{ _('A preview shows the conditional text for recipients under 18 years of age appearing in the message.') }}">
    <p>
      {{ _('Hello') }},
    </p>
    <p>
      {{ _('We’re happy to announce that you can now enroll in the program.') }}
    </p>
    <p>
      {{ _('Please get your application signed by a parent or guardian.') }}
    </p>
  </div>
</div>
<p>
  {{ _('In a message, you’ll need to insert ’yes’ for recipients who meet the condition, and “no” for those who do not. If there’s only 1 recipient, you can do this manually.<p></p>If there’s a spreadsheet, include a column for the condition, and enter ‘yes’ or ‘no’ for each recipient in the column.  Then GC Notify sends the content only to recipients who meet the condition.') }}
</p>
