<h2 class="heading-medium">
  {{ _('Variables') }}
</h2>
<p>
 {{ _('A “variable” is a place in a template where you’ll include personal content.  In your template, use double brackets to show each variable, such as ((name)) and ((appointment date)).  For example:') }}
</p>
<div class="panel-container">
  <div class="panel-input" aria-label="{{ _('An example of the input for variables. Double brackets surround placeholder text such as ((given name)) or ((appointment date)) to be replaced with recipient information.') }}">
    <p>
      {{ _('Hello') }} ((<span class="placeholder-no-brackets">{{ _('given name')}}</span>)),
    </p>
    <p>
      {{ _('This is a confirmation message for your appointment on') }} ((<span class="placeholder-no-brackets">{{_('appointment date')}}</span>))
    </p>
  </div>
  <div class="panel-preview" aria-label="{{ _('A preview shows the variables filled in with given name placeholder replaced by Anna and the appointment date placeholder replaced by December 11, 2021.') }}">
    <p>
      {{ _('Hello Anna') }},
    </p>
    <p>
      {{ _('This is a confirmation message for your appointment on') }} {{ _('December 11, 2021.') }}
    </p>
  </div>
</div>
<p>
  {{ _('If there’s only 1 recipient, manually insert the personal content into the variables in the message.</p><p>If there’s a list of recipients, upload a spreadsheet with recipient email addresses. Include a column for each variable, listing recipient content for that variable. Then GC Notify enters the personal content into the variable in each message.')}}
</p>
