.rte-tooltip-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.rte-tooltip-box {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(33 38 44 / var(--tw-bg-opacity, 1));
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 1.0625rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.rte-tooltip-label {
  margin-bottom: 4px;
}

.rte-tooltip-label.no-shortcut {
  margin-bottom: 0;
}

.rte-tooltip-shortcut {
  font-size: 0.875rem;
  --tw-text-opacity: 1;
  color: rgb(207 213 221 / var(--tw-text-opacity, 1));
}

.rte-tooltip-caret {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #111827;
  pointer-events: none;
}
