{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ heading }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    heading,
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  <div class="grid-row contain-floats">
    <div class="md:w-3/4 float-left py-0 px-0 px-gutterHalf box-border">

    {% call form_wrapper() %}
      {{ textbox(form.password, autocomplete='current-password') }}
      {{ page_footer(
        _('Confirm'),
        destructive=destructive
      ) }}
    {% endcall %}
    </div>
  </div>

{% endblock %}
