{% extends "withnav_template.html" %}
{% from "components/api-key.html" import api_key %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/table.html" import row_group, row, text_field, edit_field, field, boolean_field, list_table with context %}

{% set txt = _('Reply-to email addresses') %}

{% block service_page_title %}
  {{ txt }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    txt,
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  <div class="user-list">
    {% if not current_service.email_reply_to_addresses %}
      <div class="user-list-item">
        <span class="hint">{{ _('You have not added any reply-to email addresses yet' ) }}</span>
      </div>
    {% endif %}
    {% for item in current_service.email_reply_to_addresses %}
      <div class="user-list-item">
        <h3>
          <span class="heading-small">{{ item.email_address }}</span>&ensp;<span class="hint">
            {%- if item.is_default -%}
              ({{ _('default') }})
            {% endif %}
          </span>
        </h3>
        {% if current_user.has_permissions('manage_service') %}
          <a class="user-list-edit-link" href="{{ url_for('.service_edit_email_reply_to', service_id =current_service.id, reply_to_email_id = item.id) }}">{{ _('Change') }}</a>
        {% endif %}
        {% if current_service.count_email_reply_to_addresses > 1 %}
          {{ api_key(item.id, thing="ID") }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="grid-row contain-floats">
    <div class="w-full float-left py-0 px-0 px-gutterHalf box-border">
      {% if current_user.has_permissions('manage_service') %}
        <div class="js-stick-at-bottom-when-scrolling">
          <a href="{{ url_for('.service_add_email_reply_to', service_id=current_service.id) }}" class="button">{{ _('Add reply-to email address') }}</a>
        </div>
      {% endif %}
    </div>
    <div class="w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
      <p>
        {{ _('You need to add at least one reply-to address so recipients can reply to your messages.') }}
      </p>
      <p>
        {{ _('Emails with a reply-to address:') }}
      </p>
      <ul class="list list-bullet">
        <li>{{ _('are less likely to be labelled as spam') }}</li>
        <li>{{ _('appear more trustworthy') }}</li>
      </ul>
    </div>
  </div>

{% endblock %}
