{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/confirmation-preview.html" import confirmation_preview %}

{% block service_page_title %}
  {{ _('Change your sending email address')  }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    _('Change your sending email address'),
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  <div class="form-group">
    <p>{{ _('Users will see your sending email address in the \'From\' field of the emails you send.') }}</p>
    <p>{{ _('Your sending email address helps build trust with recipients. A good email address is relevant and as concise as possible.') }}</p>
  </div>

  {% call form_wrapper() %}
    {% set save_txt = _('Save') %}
    {% set hint_txt = _('Maximum 64 characters with no spaces. Characters can include letters, numbers, dots, dashes, and underscores.') %}
    {{ textbox(form.email_from, hint=hint_txt) }}
    <div id="preview" class=" mb-gutter" tabindex="0">
      {% call confirmation_preview() %}
      <p class="m-0">{{_("Check that your email address is formatted correctly.")}}</p>
      <p class="m-0">
        {{_("Your service’s email address will be: ")}}
        <b><span id='fixed-email-address'>{{form.email_from.data}}</span>@{{sending_domain}}</b>
      </p>
      {% endcall %}
    </div>
    {{ page_footer(save_txt) }}
  {% endcall %}

{% endblock %}
