{% extends "admin_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% block service_page_title %}
  Preview email branding
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Preview email branding</h1>
  <div class="grid-row contain-floats">
    <div class="w-full float-left py-0 px-0 px-gutterHalf box-border">
      <iframe src="{{ url_for('main.email_template', branding_style=form.branding_style.data) }}" class="branding-preview"></iframe>
      {% call form_wrapper(action=action) %}
        <div class="form-group contain-floats box-border mb-gutterHalf md:mb-gutter">
          {{ form.hidden_tag() }}
          <div class="page-footer">
            <button type="submit" class="button">Save</button>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
