{% extends "admin_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/info-box.html" import info_box %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/task-list.html" import task_list_wrapper, task_list_item with context %}

{% block service_page_title %}
 {{ _("Request to go live") }}
{% endblock %}

{% block maincolumn_content %}
  <div class="grid-row contain-floats">

    <div class="w-full float-left py-0 px-0 px-gutterHalf box-border">
      {{ page_header(
        _('Request to go live'),
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}

      {% if current_service.pending_live %}
        {{ info_box(
            msg=_("We’ll be in touch within 2 business days."),
            header=_('Your request to go live is being reviewed'),
            style='mb-2'
        ) }}
      {% else %}
        <p>
          {{ _("Your service is in trial mode. Trial mode limits your service to sending notifications to yourself and to your team members within GC Notify.") }}
        </p>
        <p class="font-bold">
          {{ _("Complete the following steps to go live and send notifications to more people.") }}
        </p>
      {% endif %}

      {% call task_list_wrapper() %}
        {{ task_list_item(
          current_service.has_submitted_use_case,
          _('Tell us about how you intend to use GC Notify'),
          url_for('main.use_case', service_id=current_service.id),
        ) }}
        {{ task_list_item(
          current_service.has_templates,
          _('Add templates with content you plan on sending'),
          url_for('main.choose_template', service_id=current_service.id),
        ) }}
        {{ task_list_item(
          current_service.has_team_members_status,
          _('Add a team member who can manage settings'),
          url_for('main.manage_users', service_id=current_service.id),
        ) }}
        {{ task_list_item(
          current_service.has_accepted_tos,
          _('Accept the terms of use'),
          url_for('main.terms_of_use', service_id=current_service.id),
        ) }}
      {% endcall %}

      {% if not current_service.go_live_checklist_completed %}
        <p class="font-bold">
          {{ _("Ready to go live?") }}
        </p>
        <p>
          {{ _("Once you complete all the steps, you'll be able to submit your request.") }}
        </p>
        {% call form_wrapper() %}
          {{ page_footer(_('Submit')) }}
        {% endcall %}
      {% elif not current_service.pending_live %}
        <p>
          {{ _("Once you have completed all the steps, submit your request to the GC Notify team. We’ll be in touch within 2 business days.") }}
        </p>
        {% call form_wrapper() %}
          {{ page_footer(_('Submit')) }}
        {% endcall %}
      {% endif %}
    </div>
  </div>
{% endblock %}
