


{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ _('Sending Page') }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(
    _('Sending Domain'),
    back_link=url_for('main.service_settings', service_id=current_service.id)
  ) }}

  {% call form_wrapper() %}
    {{ textbox(
      form.sending_domain,
      width='w-full',
      hint=_('Default {}').format(sending_domain),
      safe_error_message=True
    ) }}

    {% set button_txt = _('Submit') %}
    {{ page_footer(button_txt) }}
  {% endcall %}


{% endblock %}
