{% extends "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% set txt = _('Sign-in method') %}

{% block service_page_title %}
  {{txt}}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="md:w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
      {{ page_header(
        txt,
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      {% if 'email_auth' in current_service.permissions %}
        <p class="heading-small mb-12 clear-both contain-floats">
          {{ _('Email code or text message code') }}
        </p>
        <p>
          {{ _('Your team members can sign in with either a text message code or an email code.') }}
        </p>
        <p>
          {{ _('You can') }} <a href="{{ url_for('.manage_users', service_id=current_service.id) }}">{{ _('set the sign-in method for individual team members') }}</a>.
        </p>
      {% else %}
        <p class="heading-small mb-12 clear-both contain-floats">
          {{ _('Text message code') }}
        </p>
        <p>
          {{ _('Your team members sign in with a text message code.') }}
        </p>
        <p>
          {{ _("Please <a href='{}'>{}</a> if signing in with a text message is a problem for your team.").format(url_for('.contact'), _('contact us')) }}
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
