{% extends "admin_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="md:w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
      {{ page_header(
        title,
        back_link=url_for('.service_settings', service_id=current_service.id)
      ) }}
      {% call form_wrapper() %}
        {{ radios(form.enabled, hide_legend=True) }}
        {{ page_footer(_('Save')) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
