{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}

{% block service_page_title %}
  Send text messages
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="column-five-sixths">
      {{ page_header(
        _('Send text messages'),
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      <p>
        {{ _('You have a free allowance of') }}
        {{ '{:,}'.format(current_service.free_sms_fragment_limit) }} {{ _('text messages each financial year.') }}
      </p>
      {% call form_wrapper() %}
        {{ radios(form.enabled) }}
        {{ page_footer( _('Save') ) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
