{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% set txt = _('Send emails') %}
{% block service_page_title %}
 {{ txt }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">
    <div class="md:w-5/6 float-left py-0 px-0 px-gutterHalf box-border">
      {{ page_header(
        txt,
        back_link=url_for('main.service_settings', service_id=current_service.id)
      ) }}
      <p>
        {{ _('It’s free to send emails through GC Notify.') }}
      </p>
      {% call form_wrapper() %}
        {% set save_txt = _('Save') %}
        {{ radios(form.enabled) }}
        {{ page_footer(save_txt) }}
      {% endcall %}
    </div>
  </div>

{% endblock %}
