{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/radios.html" import radios %}
{% from "components/textbox.html" import textbox %}
{% from "components/checkbox.html" import checkboxes %}

{% block service_page_title %}
 {{ _(page_title) }}
{% endblock %}

{% block maincolumn_content %}
  <div class="grid-row contain-floats">
    <div class="w-full float-left py-0 px-0 px-gutterHalf box-border">

    {{ page_header(
      _(page_title),
      back_link=back_link,
      sub_text=_("Step {} of {}").format(step_hint, total_steps_hint)
    ) }}

    {% call form_wrapper(action=url_for('.use_case', service_id=current_service.id, current_step=current_step), autocomplete=True) %}

      {% if current_step == "about-service" %}
        <p>
          {{ _("This information helps us understand how GC Notify is being used so we can better meet your needs.") }}
        </p>

        {{ textbox(form.department_org_name, width='md:w-2/3') }}
        {{ textbox(form.purpose, width='md:w-2/3', hint='', rows=10) }}
        {{ checkboxes(form.intended_recipients) }}


      {% elif current_step == "about-notifications" %}

        <p>
          {{ _("This information helps us set sending limits and budget accordingly.") }}
        </p>
        {{ checkboxes(form.notification_types) }}
        {{ radios(form.expected_volume) }}

        <!-- Coming from the previous step. If it's not included, checkboxes will be reset -->
        <div class="hidden">
          {{ checkboxes(form.intended_recipients) }}
        </div>
      {% endif %}

      {% if next_step != None %}
        {{ page_footer(
          _('Save and continue'),
          secondary_link=back_link,
          secondary_link_text=_("Skip for now")
        ) }}
      {% else %}
        {{ page_footer(
          _('Save and continue'),
          secondary_link=url_for('main.request_to_go_live', service_id=current_service.id),
          secondary_link_text=_("Skip and go back to list")
        ) }}
      {% endif %}

    {% endcall %}
    </div>
  </div>
{% endblock %}
