{% from "components/table.html" import list_table, field, right_aligned_field_heading, row_heading, notification_status_field, review_address %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/is-problem-email.html" import is_probem_email %}

{% set empty_txt = _('No messages to show') %}
{% set heading_1 = _('Recipient') %}
{% set heading_2 = _('Review Address') %}
{% set heading_3 = right_aligned_field_heading(_('Status')) %}

<div class="ajax-block-container" aria-labelledby='pill-selected-item'>
  {% if job.job_status != 'scheduled' %} 
    <div class="dashboard-table">
      {% call(item, row_number) list_table(
        notifications,
        caption=uploaded_file_name,
        caption_visible=False,
        empty_message=_("No messages to show"),
        field_headings=[heading_1,heading_2,heading_3] if config["FF_BOUNCE_RATE_V1"] else [heading_1, heading_3],
        field_headings_visible=True if config["FF_BOUNCE_RATE_V1"] and notifications else False
      ) %}
        {% call row_heading() %}
          <a class="file-list-filename" href="{{ url_for('.view_notification', service_id=current_service.id, notification_id=item.id, from_job=job.id) }}">{{ item.to }}</a>
          <p class="file-list-hint">
            {{ item.preview_of_content }}
          </p>
        {% endcall %}
        {% if config["FF_BOUNCE_RATE_V1"] %}
          {% call field() %}
            {{ is_probem_email(item) }}
          {% endcall %}
        {% endif %}

        {{ notification_status_field(item) }}
      {% endcall %}
    </div>
    {% if more_than_one_page %}
      <p class="table-show-more-link">
        {{ _('Only showing the first 50 rows') }}
      </p>
    {% endif %}

  {% endif %}
</div>