<div class="ajax-block-container">
  <p class='mb-12 clear-both contain-floats'>
    {% if job.scheduled_for %}
      {% if job.processing_started %}
        {{ _('Sent by') }} {{ job.created_by.name }} {{ _('on') }} <span class="local-datetime-short">{{ job.processing_started}}</span>
        {% if template_type == "letter" %}
          <p id="printing-info">
            {{ letter_print_day }}
          </p>
        {% endif %}
      {% else %}
        {{ _('Uploaded by') }} {{ job.created_by.name }} {{ _('on') }} <span class="local-datetime-short">{{ job.created_at}}</span>
      {% endif %}
    {% else %}
      {{ _('Sent by') }} {{ job.created_by.name }} {{ _('on') }} <span class="local-datetime-short">{{ job.created_at}}</span>
      {% if template_type == "letter" %}
        <p id="printing-info">
          {{ letter_print_day }}
        </p>
      {% endif %}
    {% endif %}
  </p>
</div>
