{% extends "org_template.html" %}
{% from "components/table.html" import mapping_table, optional_text_field, row, text_field, edit_field with context %}

{% block org_page_title %}
  {{ _("Settings") }}
{% endblock %}

{% block org_content %}
  <h1 class="heading-medium">{{ _("Settings") }}</h1>
  <div class="mb-12 clear-both contain-floats settings-table body-copy-table">
    {% call mapping_table(
      caption=_('General'),
      field_headings=[_('Label'), _('Value'), _('Action')],
      field_headings_visible=False,
      caption_visible=False
    ) %}
      {% call row() %}
        {{ text_field(_('Name')) }}
        {{ text_field(current_org.name) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_name', org_id=current_org.id)
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Sector')) }}
        {{ optional_text_field(current_org.organisation_type_label) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_type', org_id=current_org.id)
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Crown organisation')) }}
        {{ optional_text_field(
            {
              True: _('Yes'),
              False: _('No'),
            }.get(current_org.crown),
            default=_('Not sure')
        ) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_crown_status', org_id=current_org.id)
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('GC Notify data sharing and financial agreement')) }}
        {{ text_field(
          {
            True: _('Signed'),
            False: _('Not signed'),
            None: _('Not signed (but we have some service-specific agreements in place)')
          }.get(current_org.agreement_signed)
        ) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_agreement', org_id=current_org.id)
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field('Request to go live notes') }}
        {{ optional_text_field(current_org.request_to_go_live_notes, default='None') }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_go_live_notes', org_id=current_org.id)
          )
        }}
      {% endcall %}
      {% call row() %}
        {{ text_field(_('Default email branding')) }}
        {{ text_field(email_branding) }}
        {{ edit_field(
            _('Change'),
            url_for('.edit_organisation_email_branding', org_id=current_org.id)
          )
        }}
      {% endcall %}
    {% endcall %}
  </div>
{% endblock %}
