@layer components {
  /*! purgecss start ignore */
  .api-key {
    padding-bottom: 38px;
    @apply relative flex;
  }

  .api-key-key {
    padding-bottom: 10px;
    @apply block font-monospace my-auto mx-0 px-0 pt-0;
  }

  .api-key-name {
    margin-bottom: 5px;
    @apply font-bold leading-tight;
  }
  /*! purgecss end ignore */
}