@layer components {
  /*! purgecss start ignore */
  .back-link {
    @apply text-small text-black inline-flex mt-gutterHalf mb-4 no-underline border-b-1 border-solid border-black gap-4;
  }
  .back-link:focus,
  .back-link:focus-visible {
    @apply border-b-1 ring ring-yellow-300
  }
  .back-link:link,
  .back-link:visited {
    @apply text-black;
  }
  .back-link:before {
    content: "";
    @apply border-solid border-transparent;
  }
  .back-link:before {
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    top: -1px;
    bottom: 1px;
    @apply block w-0 h-0 left-0 m-auto;
  }

  /*! purgecss end ignore */
}
