@layer components {
  /*! purgecss start ignore */
  .big-number {
    @apply block;
  }

  .big-number-number {
    @apply block text-48 font-bold leading-none;
  }

  .big-number-dark {
    @apply relative p-gutterHalf text-white bg-blue;
  }

  .big-number-label {
    @apply text-smaller inline-block pb-4;
  }

  .big-number-with-status {
    @apply relative mb-8;
  }

  .big-number-link {
    @apply no-underline mb-2 text-white block bg-blue border-2 border-blue border-solid;
  }
  .big-number-link:hover,
  .big-number-link:hover .big-number {
    @apply text-blue-lightblue25;
  }
  .big-number-link:active,
  .big-number-link:focus {
    @apply outline-yellow bg-blue;
  }
  .big-number-link:hover .big-number-label,
  .big-number-link:active .big-number-label,
  .big-number-link:focus .big-number-label {
    @apply no-underline;
  }

  .big-number-status {
    @apply text-smaller block text-white bg-green-darker;
  }

  .big-number-status-warning {
    @apply text-smaller block text-black bg-yellow;
  }

  .big-number-status-critical {
    @apply text-smaller block text-white bg-red
  }

  .big-number-status-link-warning:link,
  .big-number-status-link-warning:visited,
  .big-number-status-link-warning:active,
  .big-number-status-link-warning:hover {
    @apply text-black;
  }

  .big-number-status-link:link,
  .big-number-status-link:visited,
  .big-number-status-link:active,
  .big-number-status-link:hover {
    @apply text-white;
  }

  .big-number-status-link:active,
  .big-number-status-link:focus {
    background-color: revert;
    box-shadow: none;
    @apply outline-yellow border-0;
  }
  /*! purgecss end ignore */
}
