@layer components {
  /*! purgecss start ignore */
  .big-number {
    @apply block;
  }

  .big-number-number {
    @apply block text-48 font-bold leading-none;
  }

  .big-number-dark {
    @apply relative p-gutterHalf text-white bg-blue;
  }

  .big-number-label {
    @apply text-smaller inline-block pb-4;
  }

  .big-number-status {
    @apply text-smaller block text-white bg-green-darker;
  }

  .big-number-status:hover > div {
    @apply no-underline;
  }

  .big-number-with-status {
    @apply relative mb-8;
  }

  .big-number-link,
  .big-number-with-status > .big-number {
    @apply no-underline text-white block bg-blue border-2 border-blue border-solid;
  }

  .big-number-link-normal {
    @apply no-underline text-white block;
  }

  .big-number-link-warning {
    @apply no-underline text-black block;
  }

  .big-number-link:hover,
  .big-number-link:hover .big-number {
    @apply text-blue-lightblue25;
  }

  .big-number-link:active,
  .big-number-link:focus {
    @apply outline-yellow bg-blue;
  }

  .big-number-link:hover .big-number-label,
  .big-number-link:active .big-number-label,
  .big-number-link:focus .big-number-label,
  .big-number-link:hover span,
  .big-number-link:active span,
  .big-number-link:focus span {
    @apply no-underline;
  }

  .big-number-status-link:link,
  .big-number-status-link:visited,
  .big-number-status-link:active,
  .big-number-status-link:hover {
    @apply text-white;
  }

  .big-number-status-link:active,
  .big-number-status-link:focus {
    background-color: revert;
    box-shadow: none;
    @apply outline-yellow border-0;
  }

  /* Covers -normal, -warn, -critical */
  div[class*="review-email-status-"]:active,
  div[class*="review-email-status-"]:focus {
    @apply outline-yellow;
  }

  div[class*="review-email-status-"]:hover
    div[class~="review-email-label"]
    span,
  div[class*="review-email-status-"]:hover
    div[class~="review-email-link"]
    span {
    @apply no-underline;
  }

  .review-email-label {
    @apply pb-4 text-white no-underline;
  }

  .review-email-status-warning a .review-email-label {
    @apply pb-4 text-black no-underline;
  }

  .review-email-status-normal {
    @apply no-underline text-white block bg-green-darker border-green-darker border-solid;
  }

  .review-email-status-normal .review-email-link {
    @apply text-white bg-green-darker border-green-darker border-solid;
  }

  .review-email-status-warning {
    @apply no-underline text-black block bg-yellow border-yellow border-solid;
  }

  .review-email-status-warning .review-email-link {
    @apply text-black bg-yellow border-yellow border-solid;
  }

  .review-email-status-critical {
    @apply no-underline text-white block bg-red border-red border-solid;
  }

  .review-email-status-critical .review-email-link {
    @apply text-white bg-red border-red border-solid;
  }

  .review-email-status-neutral {
    @apply no-underline text-white block border-solid;
    background: #49535d;
    border-color: #49535d;
  }

  .review-email-status-neutral .review-email-link {
    @apply text-white border-solid;
    background: #49535d;
    border-color: #49535d;
  }

  /*! purgecss end ignore */
}
