@layer components {
  /*! purgecss start ignore */
  .big-number {
    @apply block;
  }

  .big-number-number {
    @apply block text-titlelarge pb-4 font-bold leading-none;
  }

  .big-number-dark {
    @apply block p-gutterHalf text-white bg-blue;
  }

  .big-number-label {
    @apply text-smaller inline-block;
  }

  .big-number-status {
    @apply text-smaller block text-white bg-green-darker;
  }

  .big-number-status:hover > div {
    @apply no-underline;
  }

  .big-number-with-status {
    @apply relative mb-8;
  }

  .big-number-link,
  .big-number-with-status > .big-number {
    @apply no-underline text-white block bg-blue border-2 border-blue border-solid;
  }

  .big-number-link-normal {
    @apply no-underline text-white block;
  }

  .big-number-link-warning {
    @apply no-underline text-black block;
  }

  .big-number-link:hover,
  .big-number-link:hover .big-number {
    @apply text-blue-lightblue25;
  }

  .big-number-link:active,
  .big-number-link:focus {
    @apply outline outline-offset-2 outline-yellow-300 outline-3 shadow-outline bg-blue z-10;
  }

  .big-number-link:hover .big-number-label,
  .big-number-link:active .big-number-label,
  .big-number-link:focus .big-number-label,
  .big-number-link:hover span,
  .big-number-link:active span,
  .big-number-link:focus span {
    @apply no-underline;
  }

  .big-number-status-link:link,
  .big-number-status-link:visited,
  .big-number-status-link:active,
  .big-number-status-link:hover {
    @apply text-white;
  }

  .big-number-status-link:active,
  .big-number-status-link:focus {
    background-color: revert;
    box-shadow: none;
    @apply outline-none shadow-outline;
  }

  /* Covers -normal, -warn, -critical */
  div[class*="review-email-status-"]:active,
  div[class*="review-email-status-"]:focus {
    @apply outline-none shadow-outline;
  }

  div[class*="review-email-status-"]:hover
    div[class~="review-email-label"]
    span,
  div[class*="review-email-status-"]:hover
    div[class~="review-email-link"]
    span {
    @apply no-underline;
  }

  .normal {
    @apply bg-green-darker border-green-darker;
  }

  .critical {
    @apply bg-red border-red;
  }

  .neutral {
    background: #49535d;
    border-color: #49535d;
  }

  /*! purgecss end ignore */
}
