@layer components {
  /* Note: Buttons are <a> sometimes, which is why :link and :visited styles exist */
  /*! purgecss start ignore */
  .button,
  .button:link,
  .button:visited {
    padding: 0.526315em 0.789473em 0.263157em;
    box-shadow: 0 2px 0 theme("colors.blue.border");
    @apply no-underline inline-block text-white text-smaller leading-tight align-top bg-blue;
  }

  .button:hover {
    @apply bg-blue-slightlight;
  }

  .button:focus {
    outline: 3px solid theme("colors.yellow.default");
    @apply border-transparent shadow-outline;
  }

  .button-blue-lighter,
  .button-blue-lighter:link,
  .button-blue-lighter:visited {
    @apply bg-blue-lighter border-b-2 border-white font-bold text-base text-black px-5 py-4;
  }
  .button-blue-lighter-nb,
  .button-blue-lighter-nb:link,
  .button-blue-lighter-nb:visited {
    box-shadow: none;
    @apply bg-blue-lighter border-none font-semibold text-small text-black px-6 py-1;
  }

  .button-red {
    @apply bg-red;
    box-shadow: 0 2px 0 theme("colors.red.border");
  }
  .button-red:hover {
    @apply bg-red-hover;
  }

  .button-secondary,
  .button-secondary:visited,
  .button-secondary:link {
    box-shadow: 0 2px 0 theme("colors.gray.border");
    font-size: 1em;
    @apply text-black bg-gray-button;
  }

  .button-secondary:hover {
    @apply bg-gray-hover;
  }

  .button.disabled {
    @apply opacity-50 cursor-default;
  }
  /*! purgecss end ignore */
}
