@layer components {
  /* Note: Buttons are <a> sometimes, which is why :link and :visited styles exist */
  /*! purgecss start ignore */
  .button,
  a.button,
  a.button:link,
  a.button:visited,
  a.button:active {
    padding: 0.55em 1em 0.45em;
    box-shadow: 0 2px 0 theme("colors.blue.border");
    @apply no-underline inline-flex items-center text-white text-smaller leading-tight align-top bg-blue min-h-target;
  }

  .button:hover,
  a.button:hover {
    @apply bg-blue-slightlight;
  }

  .button:focus,
  a.button:focus {
    outline: 1px solid theme("colors.yellow.default");
    @apply border-transparent shadow-outline;
  }

  .button-blue-lighter,
  a.button-blue-lighter,
  a.button-blue-lighter:link,
  a.button-blue-lighter:visited {
    @apply bg-blue-lighter border-b-2 border-white font-bold text-base text-black px-5 py-4;
  }

  .button-blue-lighter:hover,
  a.button-blue-lighter:hover {
    @apply bg-gray-grey2;
  }

  .button-blue-lighter:focus,
  a.button-blue-lighter:focus {
    box-shadow: 0px;
    @apply bg-yellow outline-none border-transparent outline-none;
  }

  .button-red,
  a.button-red {
    @apply bg-red;
    box-shadow: 0 2px 0 theme("colors.red.border");
  }
  .button-red:hover,
  a.button-red:hover {
    @apply bg-red-hover;
  }

  .button-secondary,
  a.button-secondary,
  a.button-secondary:visited,
  a.button-secondary:link {
    box-shadow: 0 2px 0 theme("colors.gray.border");
    font-size: 1em;
    @apply text-black bg-gray-button;
  }

  .button-secondary:hover,
  a.button-secondary:hover {
    @apply bg-gray-hover;
  }

  .button-secondary:focus,
  a.button-secondary:focus {
    outline: 1px solid theme("colors.yellow.default");
    @apply border-transparent shadow-outline;
  }

  .button.disabled,
  a.button.disabled {
    @apply opacity-50 cursor-default;
  }

  .button-link,
  a.button-link,
  a.button-link:visited,
  a.button-link:link {
    box-shadow: none;
    @apply bg-transparent border-b-2 border-transparent px-5 py-4 underline;
  }
  .button-link:hover,
  a.button-link:hover {
    @apply no-underline;
  }
  .button-link:focus,
  a.button-link:focus {
    @apply bg-yellow text-blue outline-none border-white no-underline;
  }
  /*! purgecss end ignore */
}
