@layer components {
  /*! purgecss start ignore */
  .selection-summary__text--folders {
    background-size: 39px auto;
    background-position: 0px 4px;
    @apply bg-folder bg-no-repeat text-smaller font-normal mb-gutterHalf normal-case pt-4 pr-6 pb-2 pl-20;
  }
  .selection-summary__text--folders:focus {
    @apply outline-none;
  }

  .selection-content .checkboxes-nested {
    @apply mb-0;
  }

  .multiple-choice .conditional {
    padding: 8px 15px 0 12px; /* Match top left and right padding in .multiple-choice > label {...} in form-multiple-choice.css */
    @apply hidden;
  }
  .multiple-choice input:checked ~ .conditional {
    @apply block;
  }

  .select-nested .multiple-choice,
  .multiple-choice .conditional {
    @apply relative float-none border-gray-grey2;
  }
  .select-nested .multiple-choice:before,
  .multiple-choice .conditional:before {
    content: "";
    width: 4px;
    left: 17px;
    @apply bg-gray-grey2 bottom-0 absolute h-full;
  }

  .multiple-choice .conditional:before {
    left: -22px;
  }

  .select-nested .multiple-choice label,
  .multiple-choice .conditional label {
    @apply float-none;
  }

  .radios-nested {
    @apply mb-4;
  }

  .radios-nested .block-label-hint:after,
  .has-conditional input:checked + label .block-label-hint:after {
    content: "";
    top: 45px;
    left: 16px;
    width: 4px;
    height: calc(100% - 45px);
    @apply absolute bg-gray-grey2;
  }

  .select-nested .multiple-choice ul {
    margin-bottom: -5px;
    padding-left: 12px;
    @apply mt-2;
  }

  .select-nested .multiple-choice [type="checkbox"] + label::before,
  .select-nested .multiple-choice [type="radio"] + label::before {
    @apply bg-white;
  }

  [data-module*="collapsible"] button[aria-expanded="true"] {
    @apply mt-8;
  }

  .conditional-radio-panel {
    @apply border-0 border-l-4 border-solid border-gray-grey2;
    margin: -20px 0 0 17px;
    padding: 10px 0 0 28px;
  }

  .multiple-choice {
    z-index: 10;
  }

  .multiple-choice .block-label:before {
    box-shadow: 0 5px 00 #fff;
  }

  .multiple-choice input:disabled + label {
    @apply opacity-100 text-gray-grey1 cursor-default;
  }

  /*! purgecss end ignore */
}
