@layer components {
  /*! purgecss start ignore */

  .bg-empty-state {
    @apply bg-no-repeat bg-contain;
    background-origin: content-box;
    background-size: contain;
    @screen sm {
      background-size: auto 75%;
    }
    @screen lg {
      background-size: contain;
    }
  }
  /*! purgecss end ignore */
}

  span.button-badge {
    @apply gap-2 items-center px-4 py-2 right-0 rounded-full text-xs font-medium bg-blue-100;
    margin-left: -13px;
  }