@layer components {
  /*! purgecss start ignore */

  .bg-empty-state {
    @apply bg-no-repeat bg-contain;
    background-origin: content-box;
    background-size: contain;
    @screen sm {
      background-size: auto 75%;
    }
    @screen lg {
      background-size: contain;
    }
  }

  /* Layout for empty state controls container */
  #nothing_selected .js-stick-at-bottom-when-scrolling {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* When controls are sticky, switch to horizontal layout and remove top margin
     as there is now enough space for the sample library button to fit in a single line
  */
  .js-stick-at-bottom-when-scrolling.content-fixed .indicator-relative,
  .js-stick-at-bottom-when-scrolling.content-fixed__bottom .indicator-relative {
    margin-top: 0;
  }
  .js-stick-at-bottom-when-scrolling.content-fixed,
  .js-stick-at-bottom-when-scrolling.content-fixed__bottom {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  /*! purgecss end ignore */
}
