@layer components {
  /*! purgecss start ignore */

  .file-upload-group:not(.form-group-error) {
    @apply pl-gutterHalf border-l-4 border-gray-300;
  }

  .js-enabled .file-upload-label .error-message {
    @apply p-0;
  }

  .js-enabled .file-upload-label {
    @apply p-0 inline-block;
  }

  .js-enabled .file-upload-field {
    font-size: 0.1px;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 100%;
    z-index: -1;
    @apply absolute opacity-0;
  }

  .js-enabled .file-upload-group:focus-within .file-upload-button {
    @apply outline-none shadow-outline;
  }

  .js-enabled #file-upload-button {
    user-select: none;
    @apply inline-block;
  }

  .js-enabled .file-upload-filename {
    @apply text-smaller leading-tight font-bold inline-block pl-gutterHalf;
  }

  .js-enabled .file-upload-submit {
    @apply hidden;
  }

  .js-enabled .file-upload-alternate-link {
    @apply inline-block leading-loose;
  }
  .js-enabled .file-upload-alternate-link a {
    @apply text-smaller leading-tight font-bold;
  }
  /*! purgecss end ignore */
}
