/* indicator.css - styles for the indicator component */
.indicator-relative {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.indicator-corner {
  position: absolute;
  top: -10px;
  right: -30px;
}

.indicator-middle-right {
  position: absolute;
  right: -35px;
  top: 7px;
}
