@layer components {
  /*! purgecss start ignore */
  .mobile-menu-container {
    width: 20ch;
    @apply text-left max-w-full;
  }

  .mt-3_4 {
    margin-top: 3.3rem;
  }
  :has([data-module="more-menu"]) [data-overflows="true"] {
    display: none;
  }
  #more-menu[data-has-items="true"] {
    display: flex;
    width: auto;
    margin-left: auto;
  }
  #more-menu[data-has-items="false"] {
    display: none;
  }
  #more-menu[aria-expanded="true"] svg {
    @apply transform rotate-180;
  }

  .menu-overlay:not(.hidden) {
    @apply flex flex-col gap-0 items-stretch flex-shrink-0 divide-y divide-gray-300 px-0 z-50 md:bg-white md:border-gray-300 md:border-1 md:px-4;
  }
}
