@layer components {
  /*! purgecss start ignore */
  .message-name {
    @apply m-0 leading-tight font-bold text-title;
  }
  .message-name a {
    margin-bottom: -30px;
    @apply pb-12;
  }
  .message-name a:hover {
    @apply text-blue-lightblue;
  }
  .message-name a:hover .message-name-separator:before {
    @apply border-blue-lightblue;
  }

  .message-name a:focus {
    @apply outline-yellow border-0;
  }
  .message-name a .message-name-separator {
    margin-right: -2px;
    margin-left: -2px;
  }
  .message-name a .message-name-separator:before {
    @apply border-blue-govukblue;
  }

  .message-type {
    @apply m-0 mb-8 pointer-events-none text-gray-grey1;
  }

  #template-list {
    @apply mt-12;
  }
  #template-list.top-gutter-5px {
    @apply mt-2;
  }

  .template-list-item-with-checkbox {
    @apply relative pl-24;
  }
  .template-list-item-with-checkbox .multiple-choice {
    @apply absolute left-0;
  }
  .template-list-item-hidden-by-default {
    @apply hidden;
  }
  .template-list-item-without-ancestors .message-name a,
  .template-list-item-without-ancestors .message-name a:first-child {
    @apply block;
  }
  .template-list-item-without-ancestors .message-name a.template-list-folder:first-child {
    background-position: 0 2px;
    text-indent: 40px;
    @apply pl-0;
  }

  .template-list-folder {
    background-size: auto 20px;
    background-position: 0px 4px;
    @apply inline pl-16 bg-no-repeat bg-folderBluePng bg-folderBlue; /* Overwrite for browsers that support SVG */
  }
  .template-list-folder:hover {
    @apply bg-folderBlueHoverPng bg-folderBlueHover;
  }
  .template-list-template a {
    @apply inline;
  }
  .template-list-empty {
    @apply px-0 pt-gutterHalf pb-4 text-gray-grey1;
  }
  .template-list-selected-counter {
    @apply text-gray-grey1 mx-0 my-gutterHalf;
  }
  @screen lg {
    .template-list-selected-counter {
      top: 29px;
      @apply absolute right-0 m-0;
    }
  }
  .content-fixed .template-list-selected-counter {
    right: 15px;
  }

  .grid-row .folder-heading {
    word-wrap: break-word;
    @apply mx-0 mt-gutterHalf mb-8;
  }
  .folder-heading a,
  .folder-heading-folder {
    background-size: auto 20px;
    background-position: 0px 4px;
    min-height: 30px;
    @apply inline bg-no-repeat align-top text-smaller;
  }
  .folder-heading-folder {
    @apply p-0 pl-16 bg-folderBlackPng bg-folderBlack;
  }
  .folder-heading-folder-truncated {
    @apply w-0 p-0 pl-12 whitespace-no-wrap overflow-hidden;
  }
  .folder-heading-folder-root-truncated {
    max-width: 5em;
    @apply truncate;
  }

  .folder-heading a {
    @apply inline-block align-top;
  }
  .folder-heading a.folder-heading-folder {
    text-overflow: ellipsis;
    background-position: 0px 4px;
    @apply inline overflow-hidden bg-folderBluePng bg-folderBlue;
  }
  .folder-heading a.folder-heading-folder:hover {
    @apply bg-folderBlueHoverPng bg-folderBlueHover;
  }
  .folder-heading a.folder-heading-folder-truncated {
    background-position: 0px 2px;
    @apply inline-block;
  }
  .folder-heading a:hover {
    @apply text-blue-lightblue;
  }
  .folder-heading-manage-link {
    top: -6px;
    @apply block relative text-right p-0 pt-8;
  }

  .message-name-separator,
  .folder-heading-separator {
    @apply inline-block h-12 w-8 align-top relative;
  }
  .message-name-separator:before,
  .folder-heading-separator:before {
    content: "";
    top: -5px;
    bottom: 1px;
    right: 7px;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    @apply block absolute my-auto mx-0 border-solid border-t-2 border-r-2 border-b-0 border-l-0 border-gray-grey1 transform rotate-45;
  }
  /*! purgecss end ignore */
}
