@layer components {
  /*! purgecss start ignore */
  header a:link,
  header a:visited,
  header a:focus:visited {
    @apply no-underline border-transparent text-blue;
  }

  header a:hover {
    @apply underline;
  }

  a:focus #live-banner,
  a:hover #live-banner {
    @apply bg-blue text-white;
  }

  .navigation {
    @apply p-0;
  }

  .navigation-service {
    font-size: 0;
    @apply border-0 border-b-1 border-solid border-gray-grey2 relative m-0 mb-4;
  }

  .navigation-service-name {
    padding-top: 14px;
    padding-bottom: 11px;
    max-width: 50%;
    @apply text-smaller leading-tight font-bold px-0 inline-block truncate
  }

  .navigation-service-switch {
    padding-top: 14px;
    padding-bottom: 11px;
    @apply text-smaller leading-tight font-normal text-right absolute top-0 right-0 pr-0 pl-gutterHalf
  }
  .navigation-service-switch:hover {
    @apply underline text-blue-lightblue;
  }
  .navigation-service-switch:focus {
    @apply outline-none border-b-1 border-solid border-yellow text-black;
    border-left-width: 10px;
    border-right-width: 3px;
    right: -3px;
  }

  .navigation-service-back-to {
    padding-top: 14px;
    padding-bottom: 11px;
    @apply text-smaller leading-tight font-normal pr-gutterHalf pl-0 inline-block no-underline;
  }
  .navigation-service-back-to:hover {
    @apply underline text-blue-lightblue;
  }

  .navigation li {
    @apply text-smaller leading-tight font-normal m-0 list-none;
  }
  .navigation a {
    top: 5px;
    @apply block px-0 py-2 relative;
  }
  .navigation a:link,
  .navigation a:visited {
    @apply no-underline;
  }
  .navigation a:hover {
    @apply underline text-blue-lightblue;
  }
  .navigation a:focus {
    @apply text-black;
  }
  .navigation a.selected {
    /*  These two lines stop the width of the item jumping so much
        between selected and unselected states */
    left: -0.5px;
    letter-spacing: -0.01em;
    @apply text-smaller leading-tight font-bold relative;
  }

  /* https://github.com/alphagov/product-page-example/blob/master/source/stylesheets/modules/_sub-navigation.scss */
  @screen md {
    .sub-navigation {
      margin-top: 45px;
    }
  }

  .sub-navigation ol,
  .sub-navigation ul {
    @apply list-none p-0 m-0;
  }

  .sub-navigation__item {
    @apply text-small leading-tight font-normal border-b-1 border-solid border-gray-button block px-0 py-4;
  }
  .sub-navigation__item a:link {
    @apply no-underline;
  }
  .sub-navigation__item a:hover,
  .sub-navigation__item a:active {
    @apply underline;
  }
  ol ol .sub-navigation__item {
    @apply pl-gutter;
  }

  .sub-navigation__item--active {
    @apply text-small leading-tight font-bold;
  }
  .sub-navigation__item--active a:link,
  .sub-navigation__item--active a:visited {
    @apply text-black;
  }

  .header--active {
    @apply border-b-4;
    @apply border-blue;
  }

  .menu--active {
    @apply font-bold;
  }

  .adminnav--active {
    @apply bg-gray;
    @apply border-l-4;
    @apply border-blue;
    @apply font-extrabold;
  }

  .menu-divider {
    width: 102px;
    height: 1px;
    left: 124px;
    background: #C6C6C6;
  }

  .shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  /*! purgecss end ignore */
}