@layer components {
  /*! purgecss start ignore */
  footer #footer-primary a:link,
  footer #footer-primary a:visited {
    @apply text-white;
  }

  footer #footer-primary a:focus {
    @apply text-blue;
  }

  footer #footer-secondary a:link,
  footer #footer-secondary a:visited {
    @apply text-blue;
  }

  footer #footer-primary a img {
    @apply text-blue;
    content:url("/static/images/external-white.svg");
  }

  footer #footer-primary a:focus img {
    @apply text-blue;
    content:url("/static/images/external.svg");
  }

  .page-footer {
    @apply relative mb-12;
  }

  .page-footer-delete-link {
    @apply ml-6;
  }

  .page-footer-delete-link a:visited, .page-footer-delete-link a:link {
    vertical-align: center;
    @apply p-1 border-2 border-transparent inline-block text-red;
  }
  .page-footer-delete-link a:hover, .page-footer-delete-link a:active {
    @apply text-red-mellow;
  }

  .page-footer-delete-link a:focus {
    @apply border-2 border-red-mellow text-blue;
  }

  .page-footer-delete-link-without-button {
    @apply ml-0 inline-block leading-tight text-smaller;
  }

  .page-footer-secondary-link {
    @apply block mt-gutter w-max-content;
  }

  .page-footer-right-aligned-link {
    top: 10px;
    @apply absolute right-0;
  }

  .page-footer .button {
    @apply mr-4;
  }
  .page-footer .js-cancel {
    @apply m-0;
  }

  @screen md {
    .align-button-with-textbox .button {
      top: 32px;
      left: -30px;
      margin-right: -30px;
      padding-top: 8px;
      @apply relative w-full box-content;
    }
  }
  /*! purgecss end ignore */
}
