@layer components {
  /*! purgecss start ignore */
  .pill li {
    @apply flex-grow text-left w-1/4;
    /*
      For browsers that don’t support flexbox, use float instead.
      Float does not create floating of flex item, and do not take it
      out-of-flow. So this is ignored by browsers that support flexbox.
      See: https://www.w3.org/TR/css-flexbox-1/#flex-containers
    */
    float: left;
  }

  .pill {
    /* pixel nudging for box-shadow border */
    margin-left: 2px;
    margin-right: 2px;
  }

  .pill a,
  .pill-selected-item {
    @apply block float-left shadow-outline2 w-full py-5 no-underline self-center;
  }

  .pill a {
    @apply border-none relative cursor-pointer;
  }
  .pill a .pill-content {
    @apply no-underline;
  }
  .pill a:hover .pill-label {
    @apply underline;
  }
  .pill a:hover {
    @apply bg-blue-lightblue text-white;
  }
  .pill a:active,
  .pill a:focus {
    @apply z-10 bg-yellow text-blue outline-none;
  }

  .pill-selected-item {
    @apply bg-white relative z-10 text-black outline-white;
  }
  .pill-selected-item:focus {
    z-index: 1000;
    @apply outline-yellow;
  }

  .pill-unselected-item {
    @apply bg-blue text-white relative z-10 text-black outline-white;
  }
  .pill-unselected-item:focus {
    z-index: 1000;
    @apply outline-yellow;
  }
  a.pill-unselected-item:link,
  a.pill-unselected-item:visited {
    @apply text-white;
  }
  a.pill-unselected-item:focus,
  a.pill-unselected-item:active {
    @apply bg-yellow text-blue;
  }

  .pill-centered-item {
    @apply text-center;
  }

  .pill-count-item {
    @apply px-3;
  }

  .pill-separate-item {
    @apply block py-4 px-gutterHalf text-center;
  }
  .pill-separate-item:link,
  .pill-separate-item:visited {
    @apply bg-blue text-white underline;
  }
  .pill-separate-item:hover,
  .pill-separate-item:focus,
  .pill-separate-item:link:focus {
    @apply text-blue-lightblue25;
  }
  /*! purgecss end ignore */
}
