@layer components {
  /*! purgecss start ignore */
  .pill li {
    @apply flex-grow text-left w-1/4;
    /*
      For browsers that don’t support flexbox, use float instead.
      Float does not create floating of flex item, and do not take it
      out-of-flow. So this is ignored by browsers that support flexbox.
      See: https://www.w3.org/TR/css-flexbox-1/#flex-containers
    */
    float: left;
  }

  .pill {
    @apply bg-blue border-2 border-blue;
  }

  .pill > a + a {
    @apply border-l-2 border-blue;
  }

  .pill a,
  .pill-selected-item {
    @apply block float-left w-full py-5 self-center no-underline;
  }

  .pill a {
    @apply border-b-0 relative cursor-pointer;
  }
  .pill a .pill-content {
    @apply no-underline;
    display: block;
  }
  .pill a:hover .pill-label {
    @apply underline;
  }
  .pill a:active,
  .pill a:focus {
    @apply z-10 bg-yellow text-blue outline-none;
  }

  a.pill-selected-item {
    @apply relative z-10 bg-gray-100 outline-white;
  }
  a.pill-selected-item:hover {
    @apply bg-blue-700 text-white;
  }
  a.pill-selected-item:focus {
    z-index: 1000;
    @apply outline-yellow;
  }

  a.pill-unselected-item {
    @apply relative z-10 outline-white;
  }
  /* LVHA-order: :link — :visited — :hover — :active */
  a.pill-unselected-item:link,
  a.pill-unselected-item:visited {
    @apply bg-blue text-white;
  }
  a.pill-unselected-item:hover {
    @apply bg-blue-700;
  }
  a.pill-unselected-item:focus,
  a.pill-unselected-item:active {
    @apply bg-yellow text-blue;
  }
  a.pill-unselected-item:focus {
    z-index: 1000;
    @apply outline-yellow;
  }

  .pill-centered-item {
    @apply text-center;
  }

  .pill-count-item {
    @apply px-3;
  }

  .pill-separate-item {
    @apply block py-4 px-gutterHalf text-center;
  }
  .pill-separate-item:link,
  .pill-separate-item:visited {
    @apply bg-blue text-white underline;
  }
  .pill-separate-item:hover,
  .pill-separate-item:focus,
  .pill-separate-item:link:focus {
    @apply bg-yellow text-blue;
  }
  /*! purgecss end ignore */
}
