@layer components {
  .previous-and-next-navigation {
    margin-left: -15px;
    margin-right: 15px;
    @apply block my-gutter;
  }
  
  .previous-and-next-navigation ul {
    @apply m-0 p-0;
  }
  
  .previous-and-next-navigation li {
    @apply text-small leading-tight font-normal float-left text-right list-none m-0 p-0 w-1/2;
  }

  .previous-and-next-navigation li a {
    @apply block p-gutterHalf no-underline;
  }
  .previous-and-next-navigation li a:visited {
    @apply text-blue-govukblue;
  }
  .previous-and-next-navigation li a:hover,
  .previous-and-next-navigation li a:active {
    @apply bg-gray-grey4;
  }

  .previous-and-next-navigation .pagination-icon {
    margin-bottom: 1px;
    height: .482em;
    width: .63em;
    @apply inline-block;
  }

  .previous-and-next-navigation .pagination-label {
    margin-top: 0.1em;
    @apply inline-block underline;
  }
  .previous-and-next-navigation .pagination-label:empty {
    @apply hidden;
  }

  @screen xs {
    .previous-and-next-navigation .next-page a {
      @apply text-right;
    }
  }
}