@layer components {
  .previous-and-next-navigation {
    @apply block my-gutter -mx-gutterHalf;
  }

  .previous-and-next-navigation .group {
    @apply m-0 p-0;
  }

  .previous-and-next-navigation .page {
    @apply text-small leading-tight font-normal list-none m-0 p-0 w-1/2;
  }

  .previous-and-next-navigation .page a {
    @apply flex p-gutterHalf  no-underline;
  }
  .previous-and-next-navigation .pagination-part-title {
    @apply block text-titlelarge leading-tight font-bold ml-gutterHalf;
  }
  .previous-and-next-navigation .page a:visited {
    @apply text-blue;
  }
  .previous-and-next-navigation .page a:hover,
  .previous-and-next-navigation .page a:active {
    @apply bg-gray-grey4;
  }

  .previous-and-next-navigation .pagination-icon {
    margin-top: 0.684em;
    height: 0.684em;
    width: 0.894em;
    @apply inline-block;
  }

  .previous-and-next-navigation .pagination-label {
    margin-top: 0.1em;
    @apply block underline;
  }
  .previous-and-next-navigation .pagination-label:empty {
    @apply hidden;
  }

  @screen sm {
    .previous-and-next-navigation .next-page {
      @apply ml-auto;
    }
    .previous-and-next-navigation .next-page a {
      @apply justify-end;
    }
    .previous-and-next-navigation .next-page .pagination-part-title {
      @apply ml-0 mr-gutterHalf;
    }
  }
}
