@layer components {
  
  .show-more,
  .show-more-empty {
    @apply text-small leading-tight font-normal block p-0 mx-0 mt-gutterHalf mb-gutter text-center border-t-1 border-solid border-gray-grey2;
  }
  .show-more:focus,
  .show-more-empty:focus {
    @apply outline-none border-yellow text-black;
    /* theme yellow */
    box-shadow: 0 -10px 0 0 #ffbf47;
  }
  .show-more:focus span,
  .show-more-empty:focus span {
    @apply bg-yellow outline-none border-black
  }
  .show-more span,
  .show-more-empty span {
    top: -11px;
    outline: 10px solid white;
    @apply relative bg-white inline-block border-b-1 border-solid border-blue-lightblue;
  }

  .show-more-empty {
    margin-top: -10px;
  }

}