@layer components {
  /*! purgecss start ignore */
  .show-more,
  .show-more-empty {
    @apply text-small leading-tight font-normal block p-0 mx-0 mt-gutterHalf mb-gutter text-center border-t-1 border-solid border-gray-grey2 border-b-0;
  }
  .show-more:focus,
  .show-more-empty:focus {
    @apply outline-none bg-transparent mb-gutter border-gray-grey2 border-b-0;
  }
  .show-more:focus span,
  .show-more-empty:focus span {
    @apply bg-yellow outline-none border-b-1 border-blue;
  }
  .show-more span,
  .show-more-empty span {
    top: -11px;
    outline: 10px solid white;
    @apply relative bg-white inline-block border-b-1 border-solid border-blue-lightblue;
  }

  .show-more-empty {
    margin-top: -10px;
  }
  /*! purgecss end ignore */
}
