@layer components {
  /*! purgecss start ignore */

  dialog {
    @apply text-smaller;
  }

  .dialog-content:focus {
    @apply focus-ring;
  }

  .dialog-sticky-footer {
    @apply font-bold mx-gutter p-4 border-4 border-blue-700 bg-white text-blue-700 sticky bottom-gutterHalf;
  }

  #tou-dialog:not([open]) {
    display: none;
  }

  ::backdrop {
    @apply bg-gray-900;
    opacity: 0.85;
  }

  #tou-dialog {
    margin: 0;
    max-height: 100vh;

    @variant lg {
      margin: auto;
      max-height: calc(100vh - 6rem);
    }
  }

  button#tou-dialog-trigger:focus-visible {
    @apply focus-bg border-b-2 border-blue;
    width: 100%;
  }
  /*! purgecss end ignore */
}
