@layer components {
  /*! purgecss start ignore */

  body:has(#tou-dialog) {
    background: #f9f9f9;
  }

  #tou-terms ul li:before {
    content: "✓";
    @apply text-green-300;
    margin-right: 1rem;
  }
  /*! purgecss end ignore */
}
