@layer components {
  /*! purgecss start ignore */
  main {
    @apply text-base leading-snug font-normal font-body antialiased;
  }

  p {
    @apply max-w-80ch leading-text
  }
  p + p {
    @apply mt-gutterHalf
  }
  p + :where(ul, ol, blockquote, figure, img) {
    @apply mt-gutter
  }
  .page-content :where(p, ul, ol, blockquote, figure, img) + :where(h2, h3) {
    @apply mt-doubleGutter
  }

  a {
    @apply underline border-b-2 border-transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }

  a:visited,
  a:link {
    @apply text-blue;
  }

  a:focus {
    @apply bg-yellow border-b-2 border-blue outline-none no-underline outline-offset-0 shadow-outline;
  }

  a:link:focus {
    @apply text-blue;
  }

  a[target="_blank"]::after {
    content: var(--opens-in-new-tab);
    @apply sr-only;
  }

  [class*="delete-link"] a:visited,
  [class*="delete-link"] a:link {
    @apply text-red;
  }

  [class*="delete-link"] a:hover,
  [class*="delete-link"] a:active {
    @apply text-red-mellow;
  }

  [class*="delete-link"] a:focus {
    @apply border-red-mellow text-blue;
  }

  .page-content h3,
  .heading-small {
    @apply font-heading font-bold block text-h3-mobile leading-h3-mobile md:text-h3 md:leading-h3 mb-gutterHalf;
  }

  .page-content h2,
  .heading-medium {
    @apply font-heading font-bold block text-h2-mobile leading-h2-mobile md:text-h2 md:leading-h2 mb-gutterHalf;
  }

  .page-content h1,
  .page-content.home h2,
  .heading-large {
    @apply font-heading font-bold block text-h1-mobile leading-h1-mobile md:text-h1 md:leading-h1 mb-gutterAndAHalf;
  }

  main {
    @apply font-sans
  }

  hr {
    height: 1px;
    @apply block bg-gray-grey2 border-0 my-gutter p-0;
  }

  b,
  strong {
    @apply font-bold
  }

  /*! purgecss end ignore */
}
