@layer components {
  /*! purgecss start ignore */
  main {
    @apply text-smaller leading-snug font-normal font-body antialiased;
  }

  p {
    margin-top: 0.3125em;
    margin-bottom: 1.25em;
    max-width: 80ch;
    line-height: 1.5em;
  }
  p + p {
    margin-top: 2.25em;
  }
  @screen sm {
    p {
      margin-top: 0.0658em;
      margin-bottom: 1.0526em;
    }
  }

  a {
    @apply underline text-smaller border-b-2 border-transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }

  a:visited,
  a:link {
    @apply text-blue;
  }

  a:focus {
    @apply bg-yellow border-b-2 border-blue outline-none no-underline;
  }

  a:link:focus {
    @apply text-blue;
  }

  .page-content h3,
  .heading-small {
    margin-top: 2.3684em;
    margin-bottom: 1.0526em;
    @apply font-sans text-smaller leading-tight font-bold block;
  }
  @screen md {
    .page-content h3,
    .heading-small {
      margin-top: 2.3684em;
      max-width: 80ch;
    }
  }

  .page-content h2,
  .heading-medium {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    @apply font-sans text-base leading-tight font-bold mt-gutter block;
  }
  @screen sm {
    .page-content h2,
    .heading-medium {
      margin-top: 1.875em;
      margin-bottom: 0.8333em;
      @apply text-title;
    }
  }

  .page-content h1,
  .page-content.home h2,
  .heading-large {
    line-height: 1.111;
    margin-top: 0.2em;
    margin-bottom: 0.4167em;
    @apply font-sans text-lg font-bold block;
  }
  .heading-large .heading-secondary {
    padding-top: 9px;
    padding-bottom: 6px;
    @apply block text-gray-grey1 text-title leading-tight;
  }
  @screen md {
    .page-content h1,
    .page-content.home h2,
    .heading-large {
      margin-top: 0.25em;
      margin-bottom: 0.5556em;
    }
    .heading-large .heading-secondary {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }

  .heading-xlarge {
    @apply mb-8;
  }

  .heading-upcoming-jobs {
    @apply mt-gutterHalf;
  }

  main {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .product-page-intro h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  hr {
    height: 1px;
    @apply block bg-gray-grey2 border-0 my-gutter p-0;
  }

  b,
  strong {
    font-weight: bold;
  }

  .w-max-content {
    width: max-content;
  }

  /*! purgecss end ignore */
}
