<!-- mobile menu dropdown -->
<style>
  .modal {
    transition: opacity 0.25s ease;
  }
  
  .modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }
</style>

<div class="md:hidden">
  <div id="account-icon">
    <img
      aria-hidden="false" 
      src="{{ asset_url('images/account-icon.svg') }}" 
      class="float-right w-12 h-12" />
  </div>
  <!-- class="opacity-0" -->
  <div id="account-menu"
      class="modal z-50 opacity-0 pointer-events-none fixed flex w-full h-full top-0 left-0 items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-white opacity-95"></div>

    <div class="modal-container fixed w-full h-full z-50 overflow-y-auto p-5">

      <div id="account-close"
        class="modal-close absolute top-0 right-0 cursor-pointer block items-center mt-4 mr-4 text-black text-sm z-50">
        <img
          aria-hidden="false" 
          src="{{ asset_url('images/close.svg') }}" 
          class="float-right w-12 h-12" />
        {{ _('close') }}
      </div>

      <div class="modal-content block container mx-auto h-auto text-left p-4">
        <div class="block">
          <img
            aria-hidden="false" 
            src="{{ asset_url('images/account-icon.svg') }}" 
            class="float-right w-12 h-12" />
        </div>
        <div class="block">
          <ul>
            <li>{{ _('Admin panel') }}</li>
            <li>{{ _('Account Settings') }}</li>
            <li>{{ _('Sign out') }}</li>
          </ul>
        </div>
      </div>

    </div>
    
  </div>
</div>
<!-- mobile menu dropdown END -->