{% extends "main_template.html" %}
{% from "components/banner.html" import banner %}
{% block head %}
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <!--<![endif]-->
  <style>
      #global-header-bar { background-color: {{header_colour}} }
  </style>
  <!--[if IE 6]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie6.css') }}" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie7.css') }}" />
  <![endif]-->
  <!--[if IE 8]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie8.css') }}" />
  <![endif]-->
  {% block meta %}
  {% endblock %}
{% endblock %}

{% block page_title %}
   {% block per_page_title %}{% endblock %} – {{ _('Notify') }}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

<!-- -->
{% block proposition_header %}
<!-- -->
<!--


  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">{{ _('Menu') }}</a>
      <nav id="proposition-menu">
        <ul id="proposition-links">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.documentation') }}" {{ header_navigation.is_selected('documentation') }}>{{ _('Technical documentation') }}</a></li>
            <li><a href="{{ url_for('main.user_profile') }}" {{ header_navigation.is_selected('user-profile') }}>{{ current_user.name }}</a></li>
            {% if current_user.platform_admin %}
              <li><a href="{{ url_for('main.platform_admin') }}" {{ header_navigation.is_selected('platform-admin') }}>{{ _('Platform admin') }}</a></li>
            {% endif %}
            <li><a href="{{ url_for('main.set_lang')}}?from={{request.path}}">
              {% if session["userlang"] == "en" %}
                Français
              {% else %}
                English
              {% endif %}
            </a></li>
            <li><a href="{{ url_for('main.sign_out')}}">{{ _('Sign out') }}</a></li>
          {% else %}
            <li>
              <a href="{{ url_for('main.set_lang')}}?from={{request.path}}">
              {% if session["userlang"] == "en" %}
                Français
              {% else %}
                English
              {% endif %}
            </a></li>
            <li><a href="{{ url_for('main.documentation') }}" {{ header_navigation.is_selected('documentation') }}>{{ _('Technical documentation') }}</a></li>
            <li><a href="{{ url_for('main.sign_in' )}}" {{ header_navigation.is_selected('sign-in') }}>{{ _('Sign in') }}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  -->
{% endblock %}
{% set notification_txt = _('Notification') %}
{% set global_header_text = "<span id='product-name'>Notification</span>"|safe %}
{% set homepage_url = url_for('main.show_accounts_or_dashboard') %}

{% block content %}
  {% block fullwidth_content %}{% endblock %}
{% endblock %}

{% block footer_top %}
  <div class="footer-categories">
    <div class="footer-categories-wrapper">
      <div class="grid-row">
        <div class="column-one-quarter">
          <ul> 
            <li>
              <a href="{{ url_for("main.terms") }}">{{ _('Terms of Use') }}</a>
            </li>
            <li>
              <a href="{{ url_for("main.message_status") }}">{{ _('Message status') }}</a>
            </li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <ul>
            <li>
                <a href="{{ url_for("main.privacy") }}">{{ _('Privacy') }}</a>
              </li>
              <li>
                <a href="{{ url_for("main.security") }}">{{ _('Security') }}</a>
              </li>
          </ul>
        </div>
        <div class="column-one-quarter">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer_support_links %}
  <nav class="footer-nav">
    <a href="{{ url_for("main.privacy") }}">{{ _('Privacy') }}</a>
    {% if current_service and current_service.research_mode %}
    <span id="research-mode" class="research-mode">{{ _('research mode') }}</span>
    {% endif %}
  </nav>
{% endblock %}
{% block body_end %}
  <script src="{{ asset_path }}javascripts/main.min.js"></script>
  <script type="text/javascript" src="{{ asset_url('javascripts/all.min.js') }}"></script>
{% endblock %}
