{% extends "main_template.html" %}
{% from "components/banner.html" import banner %}
{% block head %}
  {% block meta %}
  {% endblock %}
{% endblock %}

{% block page_title %}
  {% block per_page_title %}{% endblock %} – {{ _('Notify') }}
{% endblock %}

{% block content %}
  {% block fullwidth_content %}{% endblock %}
{% endblock %}

{% block body_end %}
  <script src="{{ asset_path }}javascripts/main.min.js"></script>
  <script type="text/javascript" src="{{ asset_url('javascripts/all.min.js') }}"></script>
{% endblock %}
