{% extends "withoutnav_template.html" %}
{% from "components/sub-navigation.html" import sub_navigation %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  {{ content_page_title }}
{% endblock %}

{% block maincolumn_content %}

  <div class="grid-row contain-floats">

    {% if navigation_links %}
      <div class="w-1/4 float-left py-0 px-0 px-gutterHalf box-border">
        {{ sub_navigation(navigation_links) }}
      </div>
      <div class="w-5/8 float-left py-0 px-0 px-gutterHalf box-border">
    {% else %}
      <div class="w-2/3 float-left py-0 px-0 px-gutterHalf box-border">
    {% endif %}

    {% block content_column_content %}
    {% endblock %}

    </div>
  </div>

{% endblock %}
