{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ current_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html
  lang="{{ current_lang|default('en') }}"
><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Notification{% endblock %}</title>

    <link
      rel="stylesheet"
      media="screen"
      href="{{ asset_path }}stylesheets/index.css"
    />


    <link
      rel="shortcut icon"
      href="{{ asset_path }}images/favicon.ico?0.24.2"
      type="image/x-icon"
    />

    <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
    rel="stylesheet"
   />
   <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap"
    rel="stylesheet"
   />
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:image"
      content="{{ admin_base_url }}/static/images/product/notify-main.jpg"
    />
    <script>
      window.APP_LANG = "{{ current_lang }}";
      window.APP_PHRASES = {
        now: "{{ _('Now') }}",
        done: "{{ _('Done') }}",
        new_template_button: "{{ _('New template') }}",
        copy_template_button: "{{ _('Copy template') }}",
        new_folder_button: "{{ _('New folder') }}",
        nothing_selected: "{{ _('Nothing selected') }}",
        selection: "{{ _('selection') }}",
        selections: "{{ _('selections') }}",
        chosen_time_button: "{{ _('Choose a different time') }}",
        clear_button: "{{ _('Clear') }}",
        cancel_button: "{{ _('Cancel') }}",
        add_to_new_folder: "{{ _('Add to new folder') }}",
        move: "{{ _('Move') }}",
        am: "{{ _('AM')}}",
        pm: "{{ _('PM')}}",
        today: "{{_('Today')}}",
        tomorrow: "{{_('Tomorrow')}}",
        monday: "{{_('Monday')}}",
        tuesday: "{{_('Tuesday')}}",
        wednesday: "{{_('Wednesday')}}",
        thursday: "{{_('Thursday')}}",
        friday: "{{_('Friday')}}",
        saturday: "{{_('Saturday')}}",
        sunday: "{{_('Sunday')}}",
        o_clock: "{{_('o_clock')}}",
        hour_to_send: "{{ _('Hour to send') }}",
        copied_to_clipboard: "{{ _('Copied to clipboard') }}",
        show: "{{ _('Show') }}",
        copy: "{{ _('Copy') }}",
        to_clipboard: "{{ _('to clipboard') }}",
        add_another: "{{ _('Add another') }}",
        number: "{{ _('number') }}",
        remaining: "{{ _('remaining') }}",
        remove: "{{ _('Remove') }}",
        folder: "{{ _('folder') }}",
        folders: "{{ _('folders') }}",
        all_folders: "{{ _('All folders') }}",
        choose_folders: "{{ _('Choose folders') }}",
        "all_team members" : "{{ _('All team members') }}",
        "choose_team members" : "{{ _('Choose team members') }}",
        "cancel_upload": "{{ _('Cancel upload') }}",
        "choose_arbitrary things": "{{ _('Choose arbitrary things') }}",
        send_now: "{{ _('Send now') }}",
        send_later: "{{ _('Schedule') }}",
        never: "{{ _('Never') }}"
      };

    </script>
    {% block head %}{% endblock %}
  </head>

  <body class="{% block body_classes %}{% endblock %}">
    <script>
      document.body.className = document.body.className
        ? document.body.className + " js-enabled"
        : "js-enabled";
    </script>

    {% block body_start %}{% endblock %}

    <div id="skiplink-container">
      <div>
        <a
          href="#content"
          class="skiplink"
          >{{ _('Skip to main content') }}</a
        >
      </div>
    </div>

    <!-- start header -->
    <header>
      <div class="container px-10">
        <!-- start sub nav -->
        <div
          class="flex flex-col flex-col-reverse lg:flex-row py-5 lg:pt-16 lg:pb-10 lg:justify-between"
        >
          <div class="flex flex-col lg:flex-row">

            <div class="lg:py-1">
            {% if session["userlang"] == "en" %}
              <a href="/">
                <img
                  alt="Government of Canada / Gouvernement du Canada"
                  width="250"
                  class=""
                  src="{{ asset_s3_url('gov-canada-en.svg') }}"
                />
              </a>
            {% else %}
              <a href="/">
                <img
                  alt="Gouvernement du Canada / Government of Canada"
                  width="250"
                  class=""
                  src="{{ asset_s3_url('gov-canada-fr.svg') }}"
                />
              </a>
            {% endif %}
            </div>
            <a href="/" class="no-underline text-black visited:text-black">
            <div class="product-title flex mt-10 mb-5 lg:mt-0 lg:mb-0">
                <div
                  class="leading-none lg:ml-4 mr-5 lg:pl-5 font-semibold inline-block top-0 text-brand pb-0"
                >
                {{ _("Notify") }}
                </div>
            </div>
            </a>
          </a>
          </div>
          <!-- start sub nav -->
          <nav aria-label="{{ _('language and sign-in') }}" class="flex pt-4 mb-10 lg:mb-0">
            <a
              class="mr-10 line-under leading-none inline-block text-blue visited:text-blue link:text-blue text-small underline hover:no-underline"
              href="{{ url_for('main.set_lang')}}?from={{request.path}}"
            >
            {% if session["userlang"] == "en" %}
              Français
            {% else %}
              English
            {% endif %}
            </a>

            {% if current_user.is_authenticated %}
              <a href="{{ url_for('main.user_profile') }}" class="mr-10 line-under leading-none inline-block text-blue visited:text-blue link:text-blue text-small pl-5 underline hover:no-underline">{{ current_user.name }}</a>
            {% endif %}

            {% if current_user.is_authenticated %}
            <a
              href="{{ url_for('main.sign_out')}}"
              class="line-under leading-none inline-block text-blue visited:text-blue link:text-blue text-small pl-5 underline hover:no-underline"
              >
              {{ _('Sign out') }}
            </a>

            {% else %}
            <a
            href="{{ url_for('main.sign_in' )}}"
            class="line-under leading-none inline-block text-blue visited:text-blue link:text-blue text-small pl-5 underline hover:no-underline"
            >{{ _('Sign in') }}
            </a>


            {% endif %}
          </nav>
          <!-- end sub nav -->
        </div>
      </div>

      <!-- start main nav -->
      <nav class="bg-gray py-5" aria-label="{{ _('main navigation') }}">
        <div class="container px-10">
          <div class="lg:hidden">
            <a
              href="#"
              id="menu"
              class="px-2 text-small text-blue visited:text-blue link:text-blue mr-5 font-bold no-underline hover:underline"
            >
              {{ _('Menu') }}

              <img
                alt=""
                class="inline-block mobile-arrow ml-2"
                src="data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='960px' height='560px' viewBox='0 0 960 560' enable-background='new 0 0 960 560' xml:space='preserve'%3E %3Cg id='Rounded_Rectangle_33_copy_4_1_'%3E %3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z'/%3E %3C/g%3E %3C/svg%3E"
                width="20"
              />
            </a>
          </div>
          <!-- TODO refactor after "hidden" class is ported to tailwind -->
          <div id="proposition-links" class="lg:block xs:hidden sm:hidden md:hidden">

            {% if current_user.platform_admin %}
            <a href="{{ url_for('main.live_services') }}"
            class="text-small text-blue visited:text-blue link:text-blue mr-10 font-bold no-underline hover:underline {{ header_navigation.is_selected('platform-admin') }}"
            >{{ _('Platform admin') }}</a>
            {% endif %}

            <a href="{{ url_for('main.why-notify') }}"
              class="text-small text-blue visited:text-blue link:text-blue mr-10 font-bold no-underline hover:underline"
              >{{ _('Why GC Notify') }}</a>
            <a href="{{ url_for('main.features') }}"
              class="text-small text-blue visited:text-blue link:text-blue mr-10 font-bold no-underline hover:underline"
              >{{ _('Features') }}</a>
            <a
              href="{{ url_for('main.documentation') }}"
              class="text-small text-blue visited:text-blue link:text-blue mr-10 font-bold no-underline hover:underline {{ header_navigation.is_selected('documentation') }}"
              >{{ _('Technical documentation') }}</a>
            <a
              href="{{ url_for('main.contact') }}"
              class="text-small text-blue visited:text-blue link:text-blue mr-10 font-bold no-underline hover:underline"
              >{{ _('Contact us') }}
            </a>
          </div>
        </div>
      </nav>

      <!--  start mobile navigation -->
      <div class="mobile-nav container px-10 hidden lg:hidden">
        <div class="absolute z-50 bg-gray p-5 border-b-8">
          <ul class="pt-2">
            {% if current_user.platform_admin %}
            <li>
              <a href="{{ url_for('main.live_services') }}"
              class="text-blue visited:text-blue link:text-blue font-bold block text-small mb-5 no-underline hover:underline"
              >{{ _('Platform admin') }}</a>
            </li>
            {% endif %}

            <li>
              <a
                class="text-blue visited:text-blue link:text-blue font-bold block text-small mb-5 no-underline hover:underline"
                href="{{ url_for('main.why-notify') }}"
                >{{ _('Why GC Notify') }}</a>
            </li>
            <li>
              <a
                class="text-blue visited:text-blue link:text-blue font-bold block text-small mb-5 no-underline hover:underline"
                href="{{ url_for('main.features') }}"
                >{{ _('Features') }}</a>
            </li>
            <li>
              <a
                class="text-blue visited:text-blue link:text-blue font-bold block text-small mb-5 no-underline hover:underline"
                href="{{ url_for('main.documentation') }}"
                >{{ _('Technical documentation') }}</a>
            </li>
            <li>
              <a
                class="text-blue visited:text-blue link:text-blue font-bold block text-small mb-5 no-underline hover:underline"
                href="{{ url_for('main.contact') }}"
                >{{ _('Contact us') }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!--  end mobile navigation -->
      <!-- end main nav -->
    </header>
    <!-- end header -->


    {% block after_header %}{% endblock %}



    {% block content %}{% endblock %}
    <div id="global-app-error" class="app-error hidden"></div>

    <!-- start section 9 -->
    <footer aria-label="{{ _('footer menu') }}">
      <div class="bg-blue">
        <div class="container px-10 py-24">
          <nav class="flex aria-label="footer links">
            <div class="block mr-20">
            <div class="block">
              <a
              href="{{ url_for('main.privacy') }}"
              class="line-under text-white visited:text-white link:text-white text-small block mb-10 underline hover:no-underline"
              >{{ _("Privacy") }}</a
              >
              <a
              href="{{ url_for('main.security') }}"
                class="line-under text-white visited:text-white link:text-white text-small block mb-10 underline hover:no-underline"
                >{{ _("Security") }}</a
              >
              <a
              href="{{ url_for('main.terms') }}"
                class="line-under text-white visited:text-white link:text-white text-small block mb-10 underline hover:no-underline"
                >{{ _("Terms of use") }}</a
              >
              <a
              href="{{ url_for('main.activity') }}"
                class="line-under text-white visited:text-white link:text-white text-small block underline hover:no-underline"
                >{{ _("Activity dashboard") }}</a
              >
            </div>
          </nav>
        </div>
      </div>

      <!-- start section 9 -->
      <div class="bg-gray" >
        <div class="container px-10">
          <div class="flex py-10 justify-end">
            <img
              alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada"
              src="{{ asset_s3_url('goc--footer-logo.svg') }}"
              width="150"
            />
          </div>
        </div>
      </div>
    </footer>




    {% block body_end %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-102484926-14"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-102484926-14", { anonymize_ip: true });
    </script>
    <script>
      if (typeof window.GOVUK === "undefined")
        document.body.className = document.body.className.replace(
          "js-enabled",
          ""
        );
    </script>

    <script>
      function classToggle() {
        const nav = document.querySelector(".mobile-nav");
        const arrow = document.querySelector(".mobile-arrow");
        nav.classList.toggle("hidden");
        arrow.classList.toggle("flip");
      }
      document.querySelector("#menu").addEventListener("click", classToggle);
    </script>

    {% block page_script %}{% endblock %}
  </body>
</html>
