{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ current_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="bg-white"
  lang="{{ current_lang|default('en') }}"
><!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>{% block page_title %}Notification{% endblock %}</title>
  {% include 'partials/google-tag-manager-head.html' %}

  <link
    rel="stylesheet"
    media="screen"
    href="{{ asset_url('stylesheets/index.css') }}"
  />

  <link
    rel="shortcut icon"
    href="{{ asset_url('images/favicon.ico') }}"
    type="image/x-icon"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap"
    rel="stylesheet"
  />
  <meta name="theme-color" content="#0b0c0c"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta
    property="og:image"
    content="{{ asset_url('images/product/notify-main.jpg') }}"
  />
  <script>
    window.APP_LANG = "{{ current_lang }}"
    window.APP_PHRASES = {
      now: "{{ _('Now') }}",
      done: "{{ _('Done') }}",
      new_template_button: "{{ _('Create template') }}",
      copy_template_button: "{{ _('Copy template') }}",
      new_folder_button: "{{ _('New folder') }}",
      nothing_selected: "{{ _('Nothing selected') }}",
      selection: "{{ _('selection') }}",
      selections: "{{ _('selections') }}",
      chosen_time_button: "{{ _('Choose a different time') }}",
      clear_button: "{{ _('Clear') }}",
      cancel_button: "{{ _('Cancel') }}",
      add_to_new_folder: "{{ _('Add to new folder') }}",
      move: "{{ _('Move') }}",
      am: "{{ _('AM')}}",
      pm: "{{ _('PM')}}",
      today: "{{_('Today')}}",
      tomorrow: "{{_('Tomorrow')}}",
      monday: "{{_('Monday')}}",
      tuesday: "{{_('Tuesday')}}",
      wednesday: "{{_('Wednesday')}}",
      thursday: "{{_('Thursday')}}",
      friday: "{{_('Friday')}}",
      saturday: "{{_('Saturday')}}",
      sunday: "{{_('Sunday')}}",
      o_clock: "{{_('o_clock')}}",
      hour_to_send: "{{ _('Hour to send') }}",
      copied_to_clipboard: "{{ _('Copied to clipboard') }}",
      show: "{{ _('Show') }}",
      copy: "{{ _('Copy') }}",
      to_clipboard: "{{ _('to clipboard') }}",
      add_another: "{{ _('Add another') }}",
      number: "{{ _('number') }}",
      remaining: "{{ _('remaining') }}",
      remove: "{{ _('Remove') }}",
      folder: "{{ _('folder') }}",
      folders: "{{ _('folders') }}",
      all_folders: "{{ _('All folders') }}",
      choose_folders: "{{ _('Choose folders') }}",
      "choosing folders": "{{ _('choosing folders') }}",
      "choosing team members": "{{ _('choosing team members') }}",
      no_folders_only_outside_folder: "{{ _('No folders (only templates outside a folder)') }}",
      no_team_member_only_you: "{{ _('No team members (only you)') }}",
      "selection_of_total_folder": "{{ _('{selection} of {total} folders').format(selection='%{smart_count}',total='%{total}') }} |||| {{ _('many {selection} of {total} folders').format(selection='%{smart_count}',total='%{total}') }}",
      "selection_of_total_team member": "{{ _('{selection} of {total} team members').format(selection='%{smart_count}',total='%{total}') }} |||| {{ _('many {selection} of {total} team members').format(selection='%{smart_count}',total='%{total}') }}",      
      no_fields: "{{ _('No {field}s').format(field='%{field}') }}",
      "all_team members": "{{ _('All team members') }}",
      "choose_team members": "{{ _('Choose team members') }}",
      "cancel_upload": "{{ _('Cancel upload') }}",
      "choose_arbitrary things": "{{ _('Choose arbitrary things') }}",
      never: "{{ _('Never') }}"
    }

  </script>
  {% block head %}{% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %} flex flex-col min-h-screen">
{% include 'partials/google-tag-manager-body.html' %}
<script>
  document.body.className = document.body.className
    ? document.body.className + " js-enabled"
    : "js-enabled";
</script>

{% block body_start %}{% endblock %}

<div id="skiplink-container">
  <div>
    <a
      href="#main_content"
      class="skiplink"
    >{{ _('Skip to main content') }}</a>
  </div>
</div>
{% block gc_header %}

{% if g.preview_url %}
  <div class="preview-fullpage-border"></div>
{% endif %}

<header>

{% if g.preview_url %}
  {% include 'components/preview-banner.html' %}
{% endif %}

{% include 'partials/nav/gc_header.html' %}

{% include 'partials/nav/gc_header_nav.html' %}

</header>
{% endblock %}


{% block after_header %}{% endblock %}


{% block content %}{% endblock %}
<div id="global-app-error" class="app-error hidden"></div>

<!-- start section 9 -->
{% include 'partials/nav/footer.html' %}

{% block body_end %}{% endblock %}

{% include 'partials/google-analytics.html' %}

{% block page_script %}
<script nonce="{{ request_nonce }}" type="text/javascript" src="{{ asset_url('javascripts/main.min.js') }}"></script>
<script nonce="{{ request_nonce }}" type="text/javascript" src="{{ asset_url('javascripts/all.min.js') }}"></script>
{% endblock %}
</body>
</html>
