{% extends "admin_template.html" %}
{% set withnav = True %}
{% if current_service.name %}
  {% block per_page_title %}
    {% block service_page_title %}{% endblock %} – {{ current_service.name }}
  {% endblock %}
{% endif %}

{% block fullwidth_content %}
  <div class="container contain-floats flex-grow">
    <div class="grid-row contain-floats">
      <main role="main" class="md:w-full float-left py-0 px-10 px-gutterHalf box-border column-main">
        {% include 'flash_messages.html' %}
        {% block maincolumn_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
