on:
  push:
  schedule:
    - cron: '1 0-12,20-23 * * 1-5'
    - cron: '1 * * * 0,6'
name: Continuous Integration Testing
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.9'
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: /bin/bash -c "scripts/bootstrap.sh && make test"
      env:
        A11Y_TRACKER_KEY: ${{ secrets.A11Y_TRACKER_KEY }}

    - name: The job has failed
      if: ${{ failure() }}
      run: |
        json="{'text':'<\!here> CI is failing in <https://github.com/cds-snc/notification-admin/|notification-admin> !'}"
        curl -X POST -H 'Content-type: application/json' --data "$json" ${{ secrets.SLACK_WEBHOOK }}
