name: Delete unused PR review environments

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *" # Nightly at 4am

env:
  AWS_DEFAULT_REGION: ca-central-1
  DELETE_AFTER_DAYS: 21
  FUNCTION_PREFIX: "notify-admin-pr"
  IMAGE: notify/admin
  ACCOUNT_ID: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  delete-unused-test-admin:
    runs-on: ubuntu-latest
    steps:
      - name: Configure credentials to Notify using OIDC
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: arn:aws:iam::${{env.ACCOUNT_ID}}:role/notification-admin-apply
          role-session-name: NotifyAdminApply
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Delete old PR review environments
        run: |
          IFS=$'\n\t'
          DELETE_DATE_EPOCH=$(date -d "-${{ env.DELETE_AFTER_DAYS }} days" +%s)
          PR_REVIEW_ENVS="$(aws lambda list-functions --query 'Functions[?starts_with(FunctionName, `${{ env.FUNCTION_PREFIX }}`) == `true`]' | jq -c -r '.[]')"

          for ENV in $PR_REVIEW_ENVS; do
              FUNCTION_NAME="$(jq -r '.FunctionName' <<< $ENV)"
              LAST_MODIFIED="$(jq -r '.LastModified' <<< $ENV)"
              LAST_MODIFIED_EPOCH="$(date -d $LAST_MODIFIED +%s)"

              if [ $LAST_MODIFIED_EPOCH -lt $DELETE_DATE_EPOCH ]; then
                  echo "Deleting $FUNCTION_NAME"
                  PR_NUMBER="${FUNCTION_NAME##*-}"
                  aws lambda delete-function-url-config --function-name ${{ env.FUNCTION_PREFIX }}-$PR_NUMBER
                  aws lambda delete-function --function-name ${{ env.FUNCTION_PREFIX }}-$PR_NUMBER
                  aws logs delete-log-group --log-group-name /aws/lambda/${{ env.FUNCTION_PREFIX }}-$PR_NUMBER
                  aws ecr batch-delete-image --repository-name $IMAGE --image-ids imageTag=$PR_NUMBER
              fi
          done