on:
  push:
  schedule:
    - cron: '1 0-12,20-23 * * 1-5'
    - cron: '1 * * * 0,6'
name: Continuous Integration Testing
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - name: Install poetry
      env:
        POETRY_VERSION: "1.3.0"
      run: pipx install poetry
    - uses: actions/setup-python@152ba7c4dd6521b8e9c93f72d362ce03bf6c4f20 # v1.2.3
      with:
        python-version: '3.10'
    - name: Install Dependencies
    - run: poetry install
    - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
      with:
        node-version: '14.x'
    - uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # v3.0.11
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # v3.0.11
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: /bin/bash -c "scripts/bootstrap.sh && poetry make test"
      env:
        A11Y_TRACKER_KEY: ${{ secrets.A11Y_TRACKER_KEY }}
        MIXPANEL_PROJECT_TOKEN: <project_token>
    - name: Check for missing translations
      run: make test-translations
    - name: Notify Slack channel if this job failed in default branch
      if: ${{ failure() && github.ref == 'refs/heads/main' }}
      run: |
        json="{'text':'<!here> CI is failing in <https://github.com/cds-snc/notification-admin/|notification-admin> !'}"
        curl -X POST -H 'Content-type: application/json' --data "$json"  ${{ secrets.SLACK_WEBHOOK }}
