name: Remove test admin deployment

on:
  pull_request:
    branches:
      - main  
    types:
      - closed

env:
  AWS_DEFAULT_REGION: ca-central-1
  FUNCTION_NAME: "notify-admin-pr"
  GITHUB_SHA: ${{ github.sha }}
  IMAGE: notify/admin
  REGISTRY: 239043911459.dkr.ecr.ca-central-1.amazonaws.com
  ACCOUNT_ID: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  remove-test-admin:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'Renovate') }}
    runs-on: ubuntu-latest
    steps:
      - name: Set envs
        run: echo "PR_NUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")" >> $GITHUB_ENV

      - name: Configure credentials to Notify using OIDC
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: arn:aws:iam::${{env.ACCOUNT_ID}}:role/notification-admin-apply
          role-session-name: NotifyAdminApply
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Delete lambda function resources
        run: |
          aws lambda wait function-active --function-name $FUNCTION_NAME-$PR_NUMBER
          aws lambda delete-function-url-config --function-name $FUNCTION_NAME-$PR_NUMBER
          aws lambda delete-function --function-name $FUNCTION_NAME-$PR_NUMBER
          aws logs delete-log-group --log-group-name /aws/lambda/$FUNCTION_NAME-$PR_NUMBER
          aws ecr batch-delete-image --repository-name $IMAGE --image-ids imageTag=$PR_NUMBER
        